	<div class="page-header">
		<div class="page-header-container">
			<h1>Support</h1>
			<h5>Where to look when you can't find an answer in the documentation.</h5>
		</div>
	</div>
	<div class="main-container">
		<ul class="link-list">

      <!-- IRC CHANNEL DIRECTIONS -->
      <a class="irc-link" ng-click="intent.loadSubSection('irc')">
        <li>
          <img class="icon" src="images/img_irc@2x.png"/>
          <div class="description">
              <h2>IRC Channel</h2>
              <p>Grab your favorite irc chat client and join us in #sailsjs!</p>
        </li>
      </a>

	<a class="sails101-link" href="https://github.com/sails101">
		<li>
			<img class="icon" src="images/img_guides.png"/>
			<div class="description">
				<h2>Sails101</h2>
				<p>Example code for common Sails.js use cases.</p>
			</div>
		</li>
	</a>

    </ul>


	</div>
	<div class="github-message">
		<a href="https://github.com/balderdashy/sails-wiki">View our GitHub</a>
		<p>Please visit the Sails wiki on GitHub to view documentation on your mobile device.</p>
	</div>