	<div class="page-header">
		<div class="page-header-container">
			<h1>Support</h1>
			<h5>Where to look when you can't find an answer in the documentation.</h5>
		</div>
	</div>
	<div class="main-container">
		<ul class="link-list">

      <!-- IRC CHANNEL DIRECTIONS -->
      <a class="irc-link" href="#/irc">
        <li>
          <img class="icon" src="images/img_irc@2x.png"/>
          <div class="description">
              <h2>IRC Channel</h2>
              <p>Grab your favorite irc chat client and join us in #sailsjs!</p>
        </li>
      </a>

	<a class="sails101-link" href="https://github.com/sails101">
		<li>
			<img class="icon" src="images/img_guides.png"/>
			<div class="description">
				<h2>Sails101</h2>
				<p>Example code for common Sails.js use cases.</p>
			</div>
		</li>
	</a>

	<a class="sails101-link" href="https://groups.google.com/forum/#!forum/sailsjs">
		<li>
			<img class="icon" src="images/icon_circlechart.png"/>
			<div class="description">
				<h2>Google Group</h2>
				<p>Sails.js Google group.  These guys keep it tight.</p>
			</div>
		</li>
	</a>

	<a class="sails101-link" href="http://stackoverflow.com/questions/tagged/sails.js">
		<li>
			<img class="icon" src="images/icon_stackoverflow@2x.png"/>
			<div class="description">
				<h2>Stack Overflow</h2>
				<p>Your question has probably been answered here.</p>
			</div>
		</li>
	</a>


    </ul>



    <!-- RIGHT SIDE VERSION NOTES -->
		<div class="version-notes-links">
			<h3>Version Notes</h3>
			<h5>0.10.x</h5>
			<ul>
				<li><a href="#/documentation/reference/Upgrading">0.9 -> 0.10 Migration Guide</a></li>
				<li><a href="">0.10 Changelog</a></li>
			</ul>
			<h5>0.9.x</h5>
			<ul>
				<li><a href="#/documentation/changelog/0.9.16">0.9.16 Changelog (latest stable)</a></li>
				<li><a href="#/documentation/changelog/0.9.7">0.9.7 Changelog</a></li>
				<li><a href="#/documentation/changelog/0.9.4">0.9.4 Changelog</a></li>
				<li><a href="#/documentation/changelog/0.9.0">0.9.0 Changelog</a></li>
			</ul>
			<h5>0.8.x</h5>
				<ul>
					<li><a href="#/documentation/changelog/0.8.9">0.8.9 Changelog</a></li>
					<li><a href="#/documentation/changelog/0.8.8x">0.8.8x Changelog</a></li>
					<li><a href="#/documentation/changelog/0.8.7x">0.8.7x Changelog</a></li>
					<li><a href="#/documentation/changelog/pre-0.8.77">Pre-0.8.77</a></li>
				</ul>
			<!-- <h5>Roadmap</h5>
			<ul>
				<li><a href="https://trello.com/b/cGzNVE0b/sails-js-feature-requests">Feature Requests</a></li>
			</ul> -->
		</div>


	</div>
