<div class="documentation-main-page" ng-controller="SupportCtrl">
	<div class="documentation-section-content">
    <div class="page-header">
      <div class="page-header-container">
        <h1>Support</h1>
        <h5>(where to look when you can't find an answer in the documentation)</h5>
      </div>
    </div>
    <div class="main-container">
      <ul class="link-list">

        <a class="manning-book-link" target="_blank" href="http://www.manning.com/mcneil/">
          <li>
            <img class="icon" ng-src="images/icon_book.png"/>
            <div class="description">
              <h2>Sails.js In Action</h2>
              <p>We wrote a book. Get early access
with the code <span>mcneildoc</span>.</p>
            </div>
          </li>
        </a>

        <!-- IRC CHANNEL DIRECTIONS -->
        <a class="irc-link" href="#!/support/about-irc">
          <li>
            <img class="icon" ng-src="images/img_irc.png"/>
            <div class="description">
                <h2>IRC Channel</h2>
                <p>Grab your favorite irc chat client and join us in #sailsjs!</p>
          </li>
        </a>

        <a class="sails101-link" target="_blank" href="https://github.com/sails101">
          <li>
            <img class="icon" ng-src="images/img_guides.png"/>
            <div class="description">
              <h2>Sails101</h2>
              <p>Example code for common Sails.js use cases.</p>
            </div>
          </li>
        </a>

        <a class="google-group-link" href="https://groups.google.com/forum/#!forum/sailsjs">
          <li>
            <img class="icon" ng-src="images/icon_circlechart.png"/>
            <div class="description">
              <h2>Google Group</h2>
              <p>Sails.js Google group.  These guys keep it tight.</p>
            </div>
          </li>
        </a>

        <a class="so-link" target="_blank" href="http://stackoverflow.com/questions/tagged/sails.js">
          <li>
            <img class="icon" ng-src="images/icon_stackoverflow.png"/>
            <div class="description">
              <h2>Stack Overflow</h2>
              <p>Your question has probably been answered here.</p>
            </div>
          </li>
        </a>

      </ul>



      <!-- RIGHT SIDE VERSION NOTES -->
      <div class="version-notes-links">
        <h3>Version Notes</h3>
        <h5>0.11.x</h5>
        <ul>
          <li>
            <strong>
              <a href="#!/documentation/changelog/0.11">0.10 -> 0.11 Migration Guide</a>
            </strong>
          </li>
        </ul>
        <h5>0.10.x</h5>
        <ul>
          <li>
            <strong>
              <a href="#!/documentation/changelog/0.10">0.10.0 Migration Guide</a>
            </strong>
          </li>
          <li><a target="_blank" href="https://github.com/balderdashy/sails/releases/tag/v0.10.0-rc9">0.10.0-rc9 Changelog</a></li>
        </ul>
        <h5>0.9.x</h5>
        <ul>
          <li><a href="#!/documentation/changelog/0.9.16">0.9.16 Changelog</a></li>
          <li><a href="#!/documentation/changelog/0.9.7">0.9.7 Changelog</a></li>
          <li><a href="#!/documentation/changelog/0.9.4">0.9.4 Changelog</a></li>
          <li><a href="#!/documentation/changelog/0.9.0">0.9.0 Changelog</a></li>
        </ul>
        <h5>0.8.x</h5>
          <ul>
            <li><a href="#!/documentation/changelog/0.8.9">0.8.9 Changelog</a></li>
            <li><a href="#!/documentation/changelog/0.8.8x">0.8.8x Changelog</a></li>
            <li><a href="#!/documentation/changelog/0.8.7x">0.8.7x Changelog</a></li>
            <li><a href="#!/documentation/changelog/pre-0.8.77">Pre-0.8.77</a></li>
          </ul>
        <!-- <h5>Roadmap</h5>
        <ul>
          <li><a href="https://trello.com/b/cGzNVE0b/sails-js-feature-requests">Feature Requests</a></li>
        </ul> -->
      </div>
    </div>
	</div>
</div>
