<!-- <div class="documentation-section" ng-controller="SupportCtrl">
	<div class="page-header">
		<div class="page-header-container">
			<h1>Documentation</h1>
			<h5>Official manual and API reference, plus examples, version information, and community modules.</h5>
		</div>
	</div>
	<div class="documentation-section-header">
		<div class="header-container">
			<h1 class="header-title">Support</h1>
		</div>
	</div>

	<div class="documentation-section-content"
		ng-include src="support.sectionTemplate">
	</div>

	<div class="github-message">
		<img src="images/image_devInTub.png"/>
		<a href="https://github.com/balderdashy/sails-wiki">View our GitHub</a>
		<p>Please visit the Sails wiki on GitHub to view documentation on your mobile device.</p>
	</div>
</div>
 -->

 <div class="documentation-main-page" ng-controller="SupportCtrl">
	<div class="documentation-section-content"
		ng-include src="support.sectionTemplate">
	</div>
</div>
