<h1>コントローラを生成する</h1>
<p>以下のようにタイプすることで<a href="http://sailsjs.jp/documentation/reference/cli">Sailsコマンドラインツール</a>を使ってお手軽にコントローラを生成することが出来ます:</p>
<pre><code class="language-sh">$ sails generate controller &lt;controller name&gt; [action names separated by spaces...]</code></pre>
<p>例えば以下のコマンドを実行すると:</p>
<pre><code class="language-sh">$ sails generate controller comment create destroy tag like
info: Generated a new controller `comment` at api/controllers/CommentController.js!</code></pre>
<p>Sailsは<code>api/controllers/CommentController.js</code>を生成します:</p>
<pre><code class="language-javascript">/**
 * CommentController.js
 *
 * @description :: Server-side logic for managing comments.
 */

module.exports = {

  /**
   * CommentController.create()
   */
  create: function (req, res) {
    return res.json({
      todo: 'Not implemented yet!'
    });
  },

  /**
   * CommentController.destroy()
   */
  destroy: function (req, res) {
    return res.json({
      todo: 'Not implemented yet!'
    });
  },

  /**
   * CommentController.tag()
   */
  tag: function (req, res) {
    return res.json({
      todo: 'Not implemented yet!'
    });
  },

  /**
   * CommentController.like()
   */
  like: function (req, res) {
    return res.json({
      todo: 'Not implemented yet!'
    });
  }
};</code></pre>
<docmeta name="displayName" value="Generating Controllers">