<h2>コードカバレッジ</h2>
<p>コードをテストするのに人気のもう一つの方法は<a href="http://en.wikipedia.org/wiki/Code_coverage">Code Coverage</a>です。</p>
<p><a href="http://visionmedia.github.io/mocha/">mocha</a>と<a href="https://github.com/gotwarlost/istanbul">istanbul</a>を使うことで、コードをテストし、様々なコードカバレッジレポートを用意し、<a href="http://jenkins-ci.org">Jenkins</a>のような継続的CIサービスで利用することが出来ます。</p>
<p>コードをテストしてシンプルなHTMLレポートを生成するには以下のコマンドを使います。:</p>
<pre><code class="language-bash">istanbul cover -x "**/config/**" _mocha -- --timeout 5000
istanbul report html</code></pre>
<docmeta name="displayName" value="Code Coverage">