<h1 id="myapp-views-home-index-ejs">myApp/views/home/index.ejs</h1>
<h3 id="purpose">Purpose</h3>
<p>This is the actual template that is rendered by default when a user visits the base URL of your lifted app.  Notice the file extension?  It stands for <a href="http://embeddedjs.com/">Embedded JavaScript</a>.  EJS is what Sails uses by default to render server side HTML views.  This can be changed in <code>myApp/config/views.js</code>.</p>
<p>If a new view you&#39;ve created isn&#39;t rendering, make sure you&#39;ve hooked it up in your <code>myApp/config/routes.js</code>.</p>
<p>If you&#39;re used to putting all your HTML in a single file, this might look funny.  You might be thinking &quot;Where are the head and body tags&quot;?  The answer is, <code>myApp/views/layout.ejs</code>.</p>
