<h1 id="waterline-orm-">Waterline (ORM)</h1>
<p>By default, Sails comes bundled with an ORM called Waterline (implemented in the <a href="https://github.com/balderdashy/sails/tree/master/lib/hooks/orm" target="_blank">orm hook</a>.)</p>
<p><docmeta name="uniqueID" value="Waterline537291"></docmeta></p>
<docmeta name="displayName" value="Waterline (ORM)">

</docmeta>