<h1>Waterline (ORM)</h1>
<p>SailsにはデフォルトでWaterlineと呼ばれるORMが組み込まれています（<a href="https://github.com/balderdashy/sails/tree/master/lib/hooks/orm">orm hook</a>に実装されています）。</p>
<docmeta name="uniqueID" value="Waterline537291">
<docmeta name="displayName" value="Waterline (ORM)">