<div class="tweets-wrapper">
    <div class="tweet active">
        <h2><a target="_blank" href="https://twitter.com/androolloyd">@androolloyd</a>:</h2>
        <p>
            <a target="_blank" href="https://twitter.com/sailsjs">@sailsjs</a> you&apos;ll be happy to know there is a hackathon this weekend and I chose you to power my mad creation.
        </p>
        <p>
            PS, Can you have my babies? <3
        </p>
    </div>
    <div class="tweet">
        <h2><a target="_blank" href="https://twitter.com/cbmeeks">@cbmeeks</a>:</h2>
        <p>
        OMG I&apos;ve been using <a target="_blank" href="https://twitter.com/search?q=%23sailsjs&amp;src=typd">#sailsjs</a> and I am in friggin love!!  Where have you been all my life?
        </p>
    </div>
    <div class="tweet">
        <h2><a target="_blank" href="https://twitter.com/dylanized">@dylanized</a>:</h2>
        <p>
            Rails is omakase; <a target="_blank" href="https://twitter.com/sailsjs">@SailsJS</a> is a buffet
        </p>
    </div>
    <div class="tweet">
        <h2><a target="_blank" href="https://twitter.com/FeedJoelPie">@FeedJoelPie</a>:</h2>
        <p>
        Very excited to try <a target="_blank" href="https://twitter.com/sailsjs">@sailsjs</a>. 1st Railsy framework in <a target="_blank" href="https://twitter.com/nodejs">@nodejs</a> that didn&apos;t make me yell "STOP TRYING TO BUILD RAILS IN NODE!" at my computer.
        </p>
    </div>
    <div class="tweet">
        <h2><a target="_blank" href="https://twitter.com/infil00p">@infil00p</a>:</h2>
        <p>
        Looks like I&apos;m going to be using a lot of <a target="_blank" href="https://twitter.com/sailsjs">@sailsjs</a> in the near future.  I don&apos;t know why I haven&apos;t heard of this earlier.
        </p>
    </div>
    <div class="tweet">
        <h2><a target="_blank" href="https://twitter.com/JohnnyReading">@JohnnyReading</a>:</h2>
        <p>
            Oh wow, <a target="_blank" href="https://twitter.com/search?q=%23sailsjs&amp;src=typd">#sailsjs</a>. Not using node.js excuses getting thin. <a target="_blank" href="https://sailsjs.org">sailsjs.org</a>
        </p>
    </div>
    <div class="tweet">
        <h2><a target="_blank" href="https://twitter.com/lorefnon">@lorefnon</a>:</h2>
        <p>
            Exploring <a target="_blank" href="https://twitter.com/search?q=%23sailsjs&amp;src=typd">#sailsjs</a>.  - awesome realtime framework for node.js. Hassle free quckstart, Great docs, nice ORM, Rails inspired.
        </p>
    </div>
    <div class="tweet">
        <h2><a target="_blank" href="https://twitter.com/rauchg">@rauchg</a>:</h2>
        <p>
        Wow <a target="_blank" href="http://balderdashy.github.com/sails/">http://balderdashy.github.com/sails/</a>
        </p>
    </div>
</div>