<h1 id="myapp-config-locales-en-json">myApp/config/locales/en.json</h1>
<p><docmeta name="uniqueID" value="enjson226521"></docmeta></p>
<docmeta name="displayName" value="en.json">

<pre><code data-language="javascript">{
  &quot;Welcome&quot;: &quot;Welcome&quot;
}
</code></pre><!-- __LANG=%%__ -->
</docmeta>