<h1>myApp/config/locales/fr.json</h1>
<h3>目的</h3>
<p>このファイルはフランスのブラウザのセクシーなことをJSONで伝えます。</p>
<docmeta name="uniqueID" value="frjson25047">
<docmeta name="displayName" value="fr.json">

```
{
  "Welcome": "Bienvenue"
}

```