<h1>myApp/config/locales</h1>
<h3>目的</h3>
<p>このフォルダには異なる<a href="http://en.wikipedia.org/wiki/Locale">ロケール</a>で訪れるクライアントをサポートするための情報が含まれます。</p>
<docmeta name="uniqueID" value="localesmd383129">
<docmeta name="displayName" value="locales">