// header styles
.h1(@color) {
	color: @color;
	font-family: @headerFont;
	font-weight: 300;
	font-size: 36px;
}

// sub-header styles
.sub-header() {
  font-style: italic;
  font-size: 1.2em;
  font-weight: 400;
  color: @black;
}

// blue header styles (sub-sections)
.sub-section-header {
  font-size: 1.3em;
  font-weight: 400;
  color: @turquoise;
  padding-bottom: 0px;
}