.how-to-page {
	.page-header {
		.pageHeader();
		.page-header-container {
			padding: 50px 0;
		}
	}
	div.step {
		.clearfix();
		img.step-number {
			float: left;
			padding-right: 25px;
		}
		div.instructions-column {
			float: left;
		}
		div.example-column {
			float: left;
		}
	}
}