.how-to-page {
	font-family: @nav-font-family;
	.page-header {
		.pageHeader();
		.page-header-container {
			padding: 100px 0 50px;
			.clearfix();
			div.left-column {
				.borderBox();
				float: left;
				width: 50%;
				padding-right: 25px;
				h1 {
					padding-top: 50px;
				}
			}
			>img {
				.borderBox();
				width: 50%;
				padding-left: 25px;
			}
		}
	}
	div.step {
		.clearfix();
		.container();
		padding: 50px 0;
		&:first-child {
			padding-top: 100px;
		}
		&:last-child {
			padding-bottom: 150px;
		}
		div.instructions-column {
			.borderBox();
			width: 40%;
			position: relative;
			float: left;
			padding-left: 75px;
			img.step-number {
				position: absolute;
				left: 0px;
				top: 5px;
				width: 35px;
				height: 35px;
			}
			h2 {
				font-size: 1.6em;
				font-weight: 300;
				color: @turquoise;
				padding-bottom: 10px;
			}
			p {
				font-size: 1em;
				line-height: 1.7em;
			}
		}
		div.example-column {
			.borderBox();
			padding-left: 50px;
			float: left;
			width: 60%;
			pre {
				.docs_codeblock();
				code {
					.docs_code();
				}
			}
		}
	}
	@media screen and (max-width: 800px) {
		div.step {
			padding: 0px 0 25px;
			&:first-child {
				padding-top: 50px;
			}
			&:last-child {
				padding-bottom: 50px;
			}
			div.instructions-column {
				float: none;
				width: 100%;
				padding-left: 60px;
			}
			div.example-column {
				width: 100%;
				padding-left: 60px;
				margin-top: 25px;
			}
		}
	}
	@media screen and (max-width: 480px) {
		div.step {
			div.instructions-column {
				padding-left: 0px;
			}
			img.step-number {
				display: none;
			}
		}
		div.example-column {
			padding-left: 0px!important;
		}
	}
}