<div class="docs-main-nav" ng-controller="HeaderCtrl">
  <div class="nav-container">
    <div class="nav-content">
      <h1 class="header-title"><%= sectionTitle %></h1>
      <ul class="docs-header-nav">
        <a href="/documentation/anatomy">
          <li ng-class="{current: getIsCurrentDocSection('anatomy')}">Anatomy</li>
        </a>
        <a href="/documentation/reference/">
          <li ng-class="{current: getIsCurrentDocSection('reference')}">Reference</li>
        </a>
        <a href="/documentation/concepts/">
          <li ng-class="{current: getIsCurrentDocSection('concepts')}">Concepts</li>
        </a>
      </ul>
    </div>
  </div>
</div>
<div class="docs-github-message">
  <img src="/images/image_devInTub.png"/>
  <a href="https://github.com/balderdashy/sails-docs">View our GitHub</a>
  <p>Please visit sails-docs on GitHub to view documentation on your mobile device.</p>
</div>
