<div class="docs-main-header" ng-controller="HeaderCtrl">
  <div class="nav-container">
    <div class="nav-content">
      <span class="header-title"><%= sectionTitle %></span>
      <ul class="docs-header-nav">
        <a href="/documentation/anatomy">
          <li ng-class="{current: getIsCurrentDocSection('anatomy')}">Anatomy</li>
        </a>
        <a href="/documentation/reference/">
          <li ng-class="{current: getIsCurrentDocSection('reference')}">Reference</li>
        </a>
        <a href="/documentation/concepts/">
          <li ng-class="{current: getIsCurrentDocSection('concepts')}">Concepts</li>
        </a>
      </ul>
    </div>
  </div>
  <div class="mobile-sub-nav-wrapper">
    <div class="mobile-sub-nav">
      <ul>
      <% _.each( templateList, function(navItem) {
        if( _.contains(data.expandedItems, navItem.path) ) {
            navItem.isInitiallyExpanded = true;
          }
          else navItem.isInitiallyExpanded = false;

          // Only show top-level nav items initially
          // (Except for the ones that don't have children, because those are
          // the wierd ones that aren't really part of the docs.
          if(!navItem.isChild &&  navItem.children && navItem.children.length) { %>

          <li class="mobile-nav-item <%= navItem.isInitiallyExpanded && !navItem.isParent ? 'expanded' : navItem.isInitiallyExpanded && navItem.isParent ? 'expanded current-parent' : '' %>" ng-class="{'current': getIsCurrent('<%= navItem.slug %>')}">
            <%- partial('../partials/nav-item', {navItem: navItem, navItems: data.templateList, section: data.section, expandedItems: data.expandedItems}) %>
          </li>
       <% }
      }) %>
      </ul>
    </div>
  </div>
</div>
<div class="docs-github-message">
  <img src="/images/image_devInTub.png"/>
  <a href="https://github.com/balderdashy/sails-docs">View our GitHub</a>
  <p>Please visit sails-docs on GitHub to view documentation on your mobile device.</p>
</div>
