<div class="sails-footer" ng-class="{'animating-in': animatingIn, 'animating-out': animatingOut}">
  <div class="navigation-footer">
    <div class="bottom-waves">
      <img class="waves-left" alt="Cartoon waves" src="images/image_wavesBottomLeft.png"/>
      <img class="waves-right" alt="A cartoon squid tentacle popping out of some waves; above is a speech bubble with a heart inside" src="images/image_wavesBottomRight.png"/>
    </div>
    <div class="built">
      <h1><img alt="A heart icon" src="/images/icon_heart.png"/>開発者より愛をこめて</h1>
      <p>
      Sailsフレームワークは<a target="_blank" href="https://treeline.io">Treeline</a>と<a target="_blank" href="http://balderdash.co">Balderdash</a>のサポートの下、<a target="blank" href="https://twitter.com/mikermcneil">Mike McNeil</a> によって開発されました。我々は十分な解決策のない中、大いなる不満を抱えながらリアルタイムのWebサービスを開発してきましたが、SailsはそういうNode.jsプロジェクトを手助けするために作られました。我々はごく自然にこれをオープンソース化しました。これが皆様の日々に少しでもお役にたれれば幸いです。
      </p>
      <p class="license-info">&copy; 2012-2015 Mike McNeil. All Rights Reserved.
        <br/>
        SailsはMITライセンスのもと無料提供されています。
        <br/>
        コンテンツ中で挙げられた各商標はそれぞれの商標所有者の所有物です。
      </p>
      <div class="logos">
        <a target="_blank" alt="The Treeline logo" href="https://treeline.io"><img class="treeline-logo" src="/images/logo_treeline_white.png"/></a>
        <a target="_blank" alt="The Balderdash logo" href="http://balderdash.co"><img class="balderdash-logo" src="/images/logo_balderdash_white.png"/></a>
      </div>
    </div>
    <ul class="footer-nav">
    <li><a class="balloon" href="/">ホーム</a></li>
    <li><a class="balloon" href="/get-started">Sailsを始める</a></li>
    <li><a class="balloon" href="/documentation">ドキュメント</a></li>
    <li><a class="balloon" href="/features">機能</a></li>
    <li><a class="balloon" href="/resources">リソース</a></li>
    <li><a class="balloon" target="_blank" href="http://michaelmcneil.com">ブログ</a></li>
    <li><a target="_blank" href="http://sails.mit-license.org/"><span>ライセンス</span></a></li>
    </ul>
    <span class="license-info-mobile">&copy; 2012-2015 Mike McNeil. All Rights Reserved. <br/> <a target="_blank" href="http://sails.mit-license.org/"><span>License</span></a></span>
  </div>
</div>
