<!--'What's Next?' section with links to get started page and docs-->
<div class="sails-next-steps">
  <div class="container">
    <h1>これからどうすればいいでしょう</h1>
    <p>
    <a href="/get-started">新しいSailsプロジェクトを作成</a>したり、
    <a id="doc" href="/documentation">ドキュメント</a>を読んでみたり、<a href="https://github.com/balderdashy/sails">Github</a>上のコミュニティに参加したり、<a href="http://stackoverflow.com/questions/tagged/sails.js">StackOverflow</a>や<a href="https://groups.google.com/forum/?fromgroups#!forum/sailsjs">Google Groups</a>、<a href="http://webchat.freenode.net/">#sailsjs</a>もあります。.
    </p>
    <div class="calls-to-action">
      <a href="/get-started" class="button">まずは始める</a>
      <a class="doc" href="/documentation">ドキュメント</a>
    </div>
  </div>
</div>
