<!--'What's Next?' section with links to get started page and docs-->
<div class="sails-next-steps">
  <div class="container">
    <h1>What's Next?</h1>
    <p>
    Generate a <a href="/get-started">new Sails project</a>, read the
    <a id="doc" href="/documentation">documentation</a>, or join the active community on <a href="https://github.com/balderdashy/sails">Github</a>, <a href="http://stackoverflow.com/questions/tagged/sails.js">StackOverflow</a>, <a href="https://groups.google.com/forum/?fromgroups#!forum/sailsjs">Google Groups</a>, and <a href="http://webchat.freenode.net/">#sailsjs</a>.
    </p>
    <div class="calls-to-action">
      <a href="/get-started" class="button">Get started</a>
      <a class="doc" href="/documentation">Documentation</a>
    </div>
  </div>
</div>
