.header {
  .borderBox();
  .clearfix();
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;

  background-color: @black;
  width: 100%;
  z-index: 100;
  height: 60px;
  // position: relative;

  .nav-container {
    .container();
    >a {
      cursor: pointer;
    }
  }

  .branding {
    width: 165px;
    float: left;
    cursor: pointer;
    .logo {
      height: 31px;
      padding: 14px 0;
      float: left;
    }

    .version {
      display: inline-block;
      float: left;
      color: @white;
      font-family: @headerFont;
      opacity: 0.7;
      font-size: 12px;
      padding-top: 35px;
      padding-left: 3px;
    }
  }

  .menu {
    .borderBox();
    .clearfix();
    .disableSelection();
    height: 60px;
    display: none;
    height: 100% !important;
    float: right;
    padding: 12px;

    .menu-icon {
      width: 35px;
    }
  }

  .nav {
    float: right;

    li {
      float: left;

      a {
        color: white;
        display: block;
        font-family: @mainFont;
        font-size: 14px;
        font-weight: @semibold;
        margin: 22px 17px 0px;
        padding: 0px 3px 5px;
        cursor: pointer;

        &.current {
          border-bottom: 4px solid @turquoise;
        }


        &:hover {
          color: @turquoise;
          .transition(all 0.25s);
        }
      }
      &.mobile-only {
        display: none;
      }
    }
  }

  @media screen and (max-width: 768px) {

    .menu {
      display: block !important;
      visibility: visible;
      &.menu-open {
        visibility: hidden;
      }
    }

    .nav {
      .transition(500ms);
      .boxShadow(-3px 0px 0px 0px rgba(0,0,0,0.2));
      width: 190px;
      position: fixed;
      // background-color: @dkestGray;
      background-color: rgba(33,44,46, 0.95);
      padding: 0px;
      right: -193px;
      top: 0px;
      height: 100%;
      li {
        float: none;
        border-bottom: 1px solid @black;
        font-size: 25px;
        height: 60px;
        line-height: 60px;
        vertical-align: middle;
        &.mobile-only {
          display: block;
        }
        &.no-mobile {
          display: none;
        }
        a {
          .borderBox();
          height: 60px;
          padding-left: 25px;
          padding-right: 25px;
          display: block;
          width: 100%;
          margin: 0;
          color: @white;
          font-weight: @normal;
          font-family: @headerFont;
          &.current {
            border-bottom: none;
            color: @brightBlue;
          }
        }
      }
      &.menu-open {
        .translateX(-193px);
      }
    }

    .logo {
      height: 40px;
      margin-left: 5%;
      padding-top: 3px;
    }

    .active {
      background-color: @turquoise;
    }

    .inactive {
      background-color: @black;
    }
  }
}
