<h1 id="myapp-tasks-config-coffee-js">myApp/tasks/config/coffee.js</h1>
<p><docmeta name="uniqueID" value="coffeejs932693"></docmeta></p>
<docmeta name="displayName" value="coffee.js">

<pre><code data-language="javascript">/**
 * Compile CoffeeScript files to JavaScript.
 *
 * ---------------------------------------------------------------
 *
 * Compiles coffeeScript files from `assest/js` into Javascript and places them into
 * `.tmp/public/js` directory.
 *
 * For usage docs see:
 *         https://github.com/gruntjs/grunt-contrib-coffee
 */
module.exports = function(grunt) {

    grunt.config.set(&apos;coffee&apos;, {
        dev: {
            options: {
                bare: true,
                sourceMap: true,
                sourceRoot: &apos;./&apos;
            },
            files: [{
                expand: true,
                cwd: &apos;assets/js/&apos;,
                src: [&apos;**/*.coffee&apos;],
                dest: &apos;.tmp/public/js/&apos;,
                ext: &apos;.js&apos;
            }, {
                expand: true,
                cwd: &apos;assets/js/&apos;,
                src: [&apos;**/*.coffee&apos;],
                dest: &apos;.tmp/public/js/&apos;,
                ext: &apos;.js&apos;
            }]
        }
    });

    grunt.loadNpmTasks(&apos;grunt-contrib-coffee&apos;);
};
</code></pre><!-- __LANG=%%__ -->
</docmeta>