<h1 id="myapp-tasks-config-copy-js">myApp/tasks/config/copy.js</h1>
<p><docmeta name="uniqueID" value="copyjs846396"></docmeta></p>
<docmeta name="displayName" value="copy.js">

<pre><code data-language="javascript">/**
 * Copy files and folders.
 *
 * ---------------------------------------------------------------
 *
 * # dev task config
 * Copies all directories and files, exept coffeescript and less fiels, from the sails
 * assets folder into the .tmp/public directory.
 *
 * # build task config
 * Copies all directories nd files from the .tmp/public directory into a www directory.
 *
 * For usage docs see:
 *         https://github.com/gruntjs/grunt-contrib-copy
 */
module.exports = function(grunt) {

    grunt.config.set(&apos;copy&apos;, {
        dev: {
            files: [{
                expand: true,
                cwd: &apos;./assets&apos;,
                src: [&apos;**/*.!(coffee|less)&apos;],
                dest: &apos;.tmp/public&apos;
            }]
        },
        build: {
            files: [{
                expand: true,
                cwd: &apos;.tmp/public&apos;,
                src: [&apos;**/*&apos;],
                dest: &apos;www&apos;
            }]
        }
    });

    grunt.loadNpmTasks(&apos;grunt-contrib-copy&apos;);
};
</code></pre><!-- __LANG=%%__ -->
</docmeta>