<h1 id="myapp-tasks-config-sync-js">myApp/tasks/config/sync.js</h1>
<p><docmeta name="uniqueID" value="syncjs116962"></docmeta></p>
<docmeta name="displayName" value="sync.js">

<pre><code data-language="javascript">/**
 * A grunt task to keep directories in sync. It is very similar to grunt-contrib-copy
 * but tries to copy only those files that has actually changed.
 *
 * ---------------------------------------------------------------
 *
 * Synchronize files from the `assets` folder to `.tmp/public`,
 * smashing anything that&apos;s already there.
 *
 * For usage docs see:
 *         https://github.com/tomusdrw/grunt-sync
 *
 */
module.exports = function(grunt) {

    grunt.config.set(&apos;sync&apos;, {
        dev: {
            files: [{
                cwd: &apos;./assets&apos;,
                src: [&apos;**/*.!(coffee)&apos;],
                dest: &apos;.tmp/public&apos;
            }]
        }
    });

    grunt.loadNpmTasks(&apos;grunt-sync&apos;);
};
</code></pre><!-- __LANG=%%__ -->
</docmeta>