<h1 id="to-v0-11">To v0.11</h1>
<p>v0.11 comes with many minor improvements, as well as some internal cleanup in core. The biggest change is that Sails core is now using Socket.io v1.</p>
<p>Almost none of this should affect the existing code in project, but there are a few important differences and new features to be aware of. See the <a href="https://github.com/balderdashy/sails/blob/master/0.11-migration-guide.md" target="_blank">full migration guide</a> for details on how to upgrade.</p>
<docmeta name="displayName" value="To v0.11">
</docmeta>