<h1>v0.11へ</h1>
<p>v0.11はコアコードを内部的に綺麗にしたりするような小規模な改善からなります。最も大きな変化はSailsのコアがSocket.io v1を採用するようになったことです。</p>
<p>プロジェクトの中の既存のコードに影響をあたえることはほとんどありませんが、幾つかの新機能や重要な変更があります。アップグレード方法の詳細に関しては<a href="https://github.com/balderdashy/sails/blob/master/0.11-migration-guide.md">full migration guide</a>をご覧ください。</p>
<docmeta name="displayName" value="To v0.11">