<h1>アップグレード</h1>
<p>Sails v0.11.xへのアップグレードは<a href="http://sailsjs.org/documentation/concepts/upgrading/to-v-0-11">the migration guide</a>をご覧ください。</p>
<docmeta name="uniqueID" value="Upgrading509472">
<docmeta name="displayName" value="Upgrading">