<h1 id="upgrading">Upgrading</h1>
<p>See <a href="/!/documentation/changelog/0.11">the migration guide</a> for details on upgrading to Sails v0.11.x!</p>
<p><docmeta name="uniqueID" value="Upgrading509472"></docmeta></p>
<docmeta name="displayName" value="Upgrading">

</docmeta>