<h1 id="sails-js-documentation-core-concepts">Sails.js Documentation &gt; Core Concepts</h1>
<h3 id="table-of-contents" permalink="table-of-contents">Table of Contents</h3>
<ol>
<li><strong>Assets</strong><ol>
<li>Default Tasks</li>
<li>Disabling Grunt</li>
<li>Task Automation</li>
</ol>
</li>
<li><strong>Configuration</strong><ol>
<li>Using <code>.sailsrc</code> Files</li>
</ol>
</li>
<li><strong>Controllers</strong></li>
<li><strong>Custom Responses</strong></li>
<li><strong>Deployment</strong><ol>
<li>FAQ</li>
<li>Hosting</li>
<li>Scaling</li>
</ol>
</li>
<li><strong>File Uploads</strong></li>
<li><strong>Globals</strong></li>
<li><strong>Internationalization</strong></li>
<li><strong>Logging</strong><ol>
<li><code>sails.log()</code></li>
</ol>
</li>
<li><strong>Middleware</strong></li>
<li><strong>Models</strong><ol>
<li>Associations</li>
<li>Dominance</li>
<li>Many-to-Many</li>
<li>One Way Association</li>
<li>One-to-Many</li>
<li>One-to-One</li>
<li>Through Associations</li>
<li>Accessing Join Tables</li>
<li>Attributes</li>
<li>Lifecycle callbacks</li>
<li>Models</li>
<li>Query language</li>
<li>Validations</li>
<li>Model Settings</li>
</ol>
</li>
<li><strong>Policies</strong></li>
<li><strong>Routes</strong><ol>
<li>Custom Routes</li>
<li>URL Slugs</li>
</ol>
</li>
<li><strong>Security</strong><ol>
<li>CORS</li>
<li>CSRF</li>
<li>Clickjacking</li>
<li>Content Security Policy</li>
<li>DDOS</li>
<li>P3P</li>
<li>Socket Hijacking</li>
<li>Strict Transport Security</li>
<li>XSS</li>
</ol>
</li>
<li><strong>Services</strong></li>
<li><strong>Testing</strong></li>
<li><strong>Upgrading</strong></li>
<li><strong>Views</strong><ol>
<li>Layouts</li>
<li>Locals</li>
<li>Partials</li>
<li>View Engines</li>
</ol>
</li>
<li>Extending Sails<ol>
<li>Adapters</li>
<li>Generators</li>
<li>Hooks</li>
</ol>
</li>
</ol>
<p><docmeta name="uniqueID" value="home198259"></docmeta></p>
<docmeta name="displayName" value="--">
</docmeta>