<h1>Sails.js Documentation &gt; Core Concepts</h1>
<h3>目次</h3>
<ol>
<li><strong>アセット</strong>
<ol>
<li>既定のタスク</li>
<li>Gruntを無効化する</li>
<li>タスクの自動化</li>
</ol></li>
<li><strong>設定</strong>
<ol>
<li><code>.sailsrc</code>ファイルを使う</li>
</ol></li>
<li><strong>コントローラ</strong></li>
<li><strong>カスタムレスポンス</strong></li>
<li><strong>デプロイ</strong>
<ol>
<li>FAQ</li>
<li>ホスティング</li>
<li>スケーリング</li>
</ol></li>
<li><strong>File Uploads</strong></li>
<li><strong>グローバル</strong></li>
<li><strong>国際化（i18n）</strong></li>
<li><strong>ロギング</strong>
<ol>
<li>sails.log</li>
</ol></li>
<li><strong>ミドルウエア</strong></li>
<li><strong>モデル</strong>
<ol>
<li>Associations</li>
<li>Dominance</li>
<li>Many-to-Many</li>
<li>One Way Association</li>
<li>One-to-Many</li>
<li>One-to-One</li>
<li>Through Associations</li>
<li>Accessing Join Tables</li>
<li>Attributes</li>
<li>Lifecycle callbacks</li>
<li>Models</li>
<li>Query language</li>
<li>Validations</li>
<li>Model Settings</li>
</ol></li>
<li><strong>ポリシー</strong></li>
<li><strong>ルート</strong>
<ol>
<li>カスタムルート</li>
<li>URLスラグ</li>
</ol></li>
<li><strong>セキュリティ</strong>
<ol>
<li>CORS</li>
<li>CSRF</li>
<li>Clickjacking</li>
<li>Content Security Policy</li>
<li>DDOS</li>
<li>P3P</li>
<li>Socket Hijacking</li>
<li>Strict Transport Security</li>
<li>XSS</li>
</ol></li>
<li><strong>サービス</strong></li>
<li><strong>テスト</strong></li>
<li><strong>アップグレード</strong></li>
<li><strong>ビュー</strong>
<ol>
<li>Layouts</li>
<li>Locals</li>
<li>Partials</li>
<li>View Engines</li>
</ol></li>
<li>Extending Sails
<ol>
<li>Adapters</li>
<li>Generators</li>
<li>Hooks</li>
</ol></li>
</ol>
<docmeta name="displayName" value="Concepts: Table of Contents">