<h1>req.options.values.where</h1>
<p>blueprintの<a href="http://sailsjs.jp/documentation/reference/blueprint-api/Find.html"><code>find</code></a>と<a href="http://sailsjs.jp/documentation/reference/blueprint-api/Update.html"><code>update</code></a> アクションの「where条件の」デフォルト値です。</p>
<blockquote>
<p>備考:　<code>req.options.where</code>を使う前にそれが存在するかを確認し、必要に応じて作成して下さい。</p>
</blockquote>
<h3>例</h3>
<p><code>userId</code>がログイン済ユーザのidに一致するもののみ取り出すのをデフォルトにするには:</p>
<pre><code class="language-javascript">// In config/policies/filterByUser.js
module.exports = function filterByUser (req, res, next) {

  if (req.session.user) {

    // Use existing req.options.where, or initialize it to an empty object
    req.options.where = req.options.where || {};

    // Set the default `userId` for "find" and "update" blueprints
    req.options.where.userId = req.session.user.id;

  }

  return next();

}</code></pre>
<p>そして、目的のblueprintアクションに<a href="http://sailsjs.jp/documentation/concepts/Policies?q=to-apply-a-policy-to-a-specific-controller-action">このポリシーを適用</a>して下さい。</p>
<docmeta name="displayName" value="req.options.where">