<h1>req.options.values</h1>
<p>blueprintの<a href="http://sailsjs.jp/documentation/reference/blueprint-api/Create.html"><code>create</code></a>と<a href="http://sailsjs.jp/documentation/reference/blueprint-api/Update.html"><code>update</code></a> アクションのデフォルト値です。</p>
<blockquote>
<p>備考: <code>req.options.value</code>を使う前にそれが存在するかを確認し、必要に応じて作成して下さい。</p>
</blockquote>
<h3>例</h3>
<p>新しいレコードを作る際にログインしているユーザの名前を使うことをデフォルトにするには:</p>
<pre><code class="language-javascript">// In config/policies/createWithUserName.js
module.exports = function createWithUserName (req, res, next) {

  if (req.session.user) {

    // Use existing req.options.values, or initialize it to an empty object
    req.options.values = req.options.values || {};

    // Set the default `name` for "create" and "updates" blueprints
    req.options.values.name = req.session.user.name;

  }

  return next();

}</code></pre>
<p>そして、目的のblueprintアクションに<a href="http://sailsjs.jp/documentation/concepts/Policies?q=to-apply-a-policy-to-a-specific-controller-action">このポリシーを適用</a>して下さい。</p>
<docmeta name="displayName" value="req.options.values">