<% /* Expose latestCommit data to make it accessible to client-side javascript */ %>
<script>
window.LATESTCOMMIT_DATA = <%- JSON.stringify(latestCommit) %>;
</script>

<div class="page home-page" ng-controller="HomepageCtrl" scrollng>
  <!--Top Section with Mr. Squiddy-->
  <div class="banner home">
    <div class="banner-container">
      <div class="tagline">
        <h2>The web framework of your dreams.</h2>
        <h3>Built for developers by <%= nauticalAuthor || 'developers'%>.</h3>
        <a href="/get-started" class="button">Get started</a>
      </div>
      <img class="light" src="/images/bkgd_light.png"/>
      <img class="squid" src="/images/bkgd_squiddy.png"/>
    </div>
  </div>
  <!-- White bar with github updates & social media -->
  <%- partial ('partials/news-banner.ejs') %>

  <!--'What is Sails?' section with video-->
  <div class="sails-about">
    <div class="about-container">
      <div class="what-is-sails">
        <h1>What Is Sails.js?</h1>
        <p>
        Sails makes it easy to build custom, enterprise-grade Node.js apps. It is designed to emulate the familiar MVC pattern of frameworks like Ruby on Rails, but with support for the requirements of modern apps: data-driven APIs with a scalable, service-oriented architecture. It's especially good for building chat, realtime dashboards, or multiplayer games; but you can use it for any web application project - top to bottom.
        </p>
      </div>
      <div class="video-link">
        <h2>Watch the original screencast
        <a href="http://www.youtube.com/watch?v=GK-tFvpIR7c&amp;feature=player_embedded">here</a>.
        </h2>
      </div>
      <div class="video">
        <iframe id="homepage-video" src="http://www.youtube.com/embed/GK-tFvpIR7c" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <!--Features list-->
  <div class="sails-features">
    <div class="features-container">
      <div class="features">
        <h1>Features</h1>
        <p>
        Sails is the most popular MVC framework for Node.js.  It is designed for building practical, production-ready Node.js apps in a matter of weeks - not months.
        </p>
      </div>
      <div class="feature-list">
        <ul>
          <li class="javascript">
            <img class="icon" src="images/icon_js_large.png"/>
            <h5>100% JavaScript</h5>
            <p>
              Building on top of Sails means your app is written entirely in JavaScript, the language you and your team are already using in the browser.
            </p>
          </li>
          <li class="database">
            <img class="icon" src="images/icon_database.png"/>
            <h5>Any database</h5>
            <p>
              Sails bundles a powerful ORM, Waterline, which provides a simple data access layer that just works, no matter what database you're using.
            </p>
          </li>
          <li class="associations">
            <img class="icon" src="images/icon_associations.png"/>
            <h5>Powerful associations</h5>
            <p>
              Sails offers a new take on the familiar relational model, aimed at making data modeling more practical.
            </p>
          </li>
          <li class="api">
            <img class="icon" src="images/icon_api.png"/>
            <h5>Auto-generate REST APIs</h5>
            <p>
              Sails comes with <em>blueprints</em> that help jumpstart your app's backend without writing any code.
            </p>
          </li>
          <li class="realtime">
            <img class="icon" src="images/icon_websocket.png"/>
            <h5>Easy WebSocket Support</h5>
            <p>
              Sails translates incoming socket messages for you, they're automatically compatible with every route in your Sails app.
            </p>
          </li>
          <li class="security">
            <img class="icon" src="images/icon_security.png"/>
            <h5>Reusable security policies</h5>
            <p>
              Sails provides basic security and role-based access control by default.
            </p>
          </li>

          <li class="frontend">
            <img class="icon" src="images/icon_frontend.png"/>
            <h5>Front-end agnostic</h5>
            <p>
              Sails is designed to be compatible with any front-end strategy; whether it's Angular, Backbone, iOS/ObjC, Android/Java, Windows Phone, or something else entirely.
            </p>
          </li>

          <li class="asset">
            <img class="icon" src="images/icon_asset.png"/>
            <h5>Flexible asset pipeline</h5>
            <p>
              Sails ships with Grunt- which means your entire front-end asset workflow is completely customizable, and supports all of the great Grunt modules which are already out there.
            </p>
          </li>

          <li class="foundation">
            <img class="icon" src="images/icon_foundation.png"/>
            <h5>Rock-solid foundation</h5>
            <p>
              Sails is built on <a href="http://nodejs.org">Node.js</a>, uses <a href="https://github.com/dougwilson">Express</a> for handling HTTP requests, and wraps <a href="http://socket.io">socket.io</a> for managing WebSockets.
            </p>
          </li>
        </ul>
        <div class="features-link-wrapper">
          <a href="/features">
            <span class="long">Learn more about Sails's Features</span>
            <span class="short">Learn More</span>
          </a>
        </div>
        <div class="book-banner-wrapper">
          <div class="book-banner">
            <img class="meap-cover" src="/images/bookCover.png"/>
            <h3>We wrote a book!</h3>
            <p>Get early access to half the book<br/> with promotion code: <span>mcneildoc</span></p>
            <a class="book-link" target="_blank" href="http://www.manning.com/mcneil/">Get the Book</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Section with tweets-->
  <div class="sails-social">
      <!-- <h1>What do users say about Sails?</h1> -->
      <div class="sails-reviews">
        <!-- (switch out this template for different tweets)-->
        <ul class="tweets-wrapper">
          <li ng-class="{active: activeTweet === '@androolloyd'}"
            class="tweet">
            <h2><a target="_blank" href="https://twitter.com/androolloyd">@androolloyd</a></h2>
            <p><i style="font-size: 45px" class="fa fa-quote-left"></i> @sailsjs you&apos;ll be happy to know there is a hackathon this weekend and I chose you to power my mad creation. PS, Can you have my babies? &#60;3</p>
          </li>
          <li ng-class="{active: activeTweet === '@cbmeeks'}"
            class="tweet">
            <h2><a target="_blank" href="https://twitter.com/cbmeeks">@cbmeeks</a></h2>
            <p>OMG I&apos;ve been using #sailsjs and I am in friggin love!!  Where have you been all my life?</p>
          </li>
          <li ng-class="{active: activeTweet === '@dylanized'}"
            class="tweet">
            <h2><a target="_blank" href="https://twitter.com/dylanized">@dylanized</a></h2>
            <p>Rails is omakase; @SailsJS is a buffet</p>
          </li>
          <li ng-class="{active: activeTweet === '@FeedJoelPie'}"
            class="tweet">
            <h2><a target="_blank" href="https://twitter.com/FeedJoelPie">@FeedJoelPie</a></h2>
            <p>Very excited to try @sailsjs. 1st Railsy framework in @nodejs that didn&apos;t make me yell &quot;STOP TRYING TO BUILD RAILS IN NODE!&quot; at my computer.</p>
          </li>
          <li ng-class="{active: activeTweet === '@infil00p'}"
            class="tweet">
            <h2><a target="_blank" href="https://twitter.com/infil00p">@infil00p</a></h2>
            <p>Looks like I&apos;m going to be using a lot of @sailsjs in the near future.  I don&apos;t know why I haven&apos;t heard of this earlier.</p>
          </li>
          <li ng-class="{active: activeTweet === '@JohnnyReading'}"
            class="tweet">
            <h2><a target="_blank" href="https://twitter.com/JohnnyReading">@JohnnyReading</a></h2>
            <p>Oh wow, #sailsjs. Not using node.js excuses getting thin.</p>
          </li>
          <li ng-class="{active: activeTweet === '@lorefnon'}"
            class="tweet">
            <h2><a target="_blank" href="https://twitter.com/lorefnon">@lorefnon</a></h2>
            <p>Exploring #sailsjs.  - awesome realtime framework for node.js. Hassle free quckstart, Great docs, nice ORM, Rails inspired.</p>
          </li>
          <li ng-class="{active: activeTweet === '@rauchg'}"
            class="tweet">
            <h2><a target="_blank" href="https://twitter.com/rauchg">@rauchg</a></h2>
            <p>Wow http://balderdashy.github.com/sails/</p>
          </li>
        </ul>

        <h3>There's a party going on, and you're invited.</h3>
        <div class="follow-buttons">
          <a target="_blank" href="https://github.com/balderdashy/sails">
            <div class="github follow-button">
              <span>
                <img src="images/icon_octocat.png"/>
                Star the repo
              </span>
            </div>
          </a>
          <a target="_blank" href="https://twitter.com/sailsjs">
            <div class="twitter follow-button">
              <span>
                <img src="images/icon_twitter.png"/>
                Follow on twitter
              </span>
            </div>
          </a>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="sails-footer-wrapper">
  <%- partial ('partials/footer.ejs')%>
</div>
