<% /* Expose latestCommit data to make it accessible to client-side javascript */ %>
<script>
// window.LATESTCOMMIT_DATA = <%- JSON.stringify(data.latestCommit) %>;
</script>

<div class="page home-page" ng-controller="HomepageCtrl" scrollng>
  <!--Top Section with Mr. Squiddy-->
  <div class="banner home">
    <div class="banner-container">
      <div class="tagline">
        <h2>夢のWebフレームワーク</h2>
        <h3><%= data.nauticalAuthor || 'developers'%>が開発者のために作りました</h3>
        <a href="/get-started" class="button">始めよう！</a>
      </div>
      <img class="light" alt="Beams of light" src="/images/bkgd_light.png"/>
      <img class="squid" alt="A cartoon squid holding a tablet, phone, keyboard, and taped-up glasses in his tentacles" src="/images/bkgd_squiddy.png"/>
    </div>
  </div>
  <!-- White bar with github updates & social media -->
  <%- partial ('partials/news-banner.ejs') %>

  <!--'What is Sails?' section with video-->
  <div class="sails-about">
    <div class="about-container">
      <div class="what-is-sails">
        <h1>Sails.jsとは何でしょう</h1>
        <p>
        Sailsは業務用レベルのカスタムアプリケーションをnode.jsで開発するのを簡単にするために作られました。SailsはRuby on Railsのようなよく知られたMVCパターンを踏襲していますが、同時にスケーラブルなデータドリブンAPIやサービス指向の構造などモダンなアプリケーションに必要な要求を満たしています。Sailsは特にチャットやリアルタイムダッシュボード、マルチプレーやゲームを作るのに特に適していますが、ありとあらゆる種類のWebアプリケーション開発に使うことが出来ます。
        </p>
      </div>
      <div class="video-link">
        <h2>オリジナルのスクリーンショットは
        <a href="http://www.youtube.com/watch?v=GK-tFvpIR7c&amp;feature=player_embedded">こちら</a>でご覧になります。
        </h2>
      </div>
      <div class="video">
        <iframe id="homepage-video" src="http://www.youtube.com/embed/GK-tFvpIR7c" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <!--Features list-->
  <div class="sails-features">
    <div class="features-container">
      <div class="features">
        <h1>機能</h1>
        <p>
        SailsはNode.js向けの最もポピュラーなMVCフレームワークです。これは実践的で商用レベルのアプリケーションを数週間（数ヶ月でなく）レベルで構築するために作られています。
        </p>
      </div>
      <div class="feature-list">
        <ul>
          <li class="javascript">
            <a href="/features#?javascript">
              <img class="icon" alt="Icon that says JS" src="images/icon_js_large.png"/>
              <h5>100% JavaScript</h5>
            </a>
            <p>
              Sailsで開発をするということはアプリケーションの全てが、すでに開発チームがブラウザ上で使っているJavaScriptで書かれるということです。
            </p>
          </li>
          <li class="database">
            <a href="/features#?database">
              <img class="icon" alt="Database icon" src="images/icon_database.png"/>
              <h5>どんなデータベースでも</h5>
            </a>
            <p>
              SailsにはWaterlineと呼ばれるパワフルなORMが含まれているため、利用しているデータベースが何かにかかわらず簡単な操作でデータにアクセスすることが出来ます。
            </p>
          </li>
          <li class="associations">
            <a href="/features#?associations">
              <img class="icon" alt="Icon of dots mapped together" src="images/icon_associations.png"/>
              <h5>強力なリレーション</h5>
            </a>
            <p>
              Sailsはより実践的なデータモデルを実現する新しいリレーショナルモデルを採用しています。
            </p>
          </li>
          <li class="api">
            <a href="/features#?rest">
              <img class="icon" alt="Icon with text: API" src="images/icon_api.png"/>
              <h5>REST APIを自動生成</h5>
            </api>
            <p>
              Sailsは<em>blueprints</em>と呼ばれるバックエンドをコーディングなしに構築できる機能を持っています。
            </p>
          </li>
          <li class="realtime">
            <a href="/features#?websocket">
              <img class="icon" alt="Icon with the websocket logo" src="images/icon_websocket.png"/>
              <h5>簡単なWebSocketサポート</h5>
            </a>
            <p>
              Sailsは受信したWebSocketメッセージを処理し、Sailsアプリケーション上の任意のルートに変換します。
            </p>
          </li>
          <li class="security">
            <a href="/features#?security">
              <img class="icon" alt="Lock icon" src="images/icon_security.png"/>
              <h5>再利用可能なセキュリティポリシー</h5>
            </a>
            <p>
              Sailsはロールベースアクセス管理を含む基礎的なセキュリティ機能を標準搭載しています。
            </p>
          </li>

          <li class="frontend">
            <a href="/features#?front-end">
              <img class="icon" alt="Icon with stack of files with a code symbol on it" src="images/icon_frontend.png"/>
              <h5>フロントエンドは何でも</h5>
            </a>
            <p>
              Sailsはあらゆるフロントエンド戦略に適応するように作られています。それがAngularでもBackboneでも、あるいはiOS/ObjCやAndroid/Java、Windows Phoneでも、またその他のフレームワークでも構いません。
            </p>
          </li>

          <li class="asset">
            <a href="/features#?asset-pipeline">
              <img class="icon" alt="Grunt logo icon" src="images/icon_asset.png"/>
              <h5>フレキシブルなアセットパイプライン</h5>
            </a>
            <p>
              SailsはGruntを組み込んでいます。つまりフロントエンドアセットのワークフローが完全にカスタマイズ可能であり、現在世の中に出ている、全ての素晴らしいGruntモジュールをサポートしているということです。
            </p>
          </li>

          <li class="foundation">
            <a href="/features#?solid-foundation">
              <img class="icon" alt="Icon with the Node.js logo" src="images/icon_foundation.png"/>
              <h5>堅牢な基礎技術</h5>
            </a>
            <p>
              Sailsは<a href="http://nodejs.org">Node.js</a>上で構築されており、HTTPリクエストの処理には<a href="https://github.com/dougwilson">Express</a>を採用し、WebSocketsの管理には<a href="http://socket.io">socket.io</a>を使っています。
            </p>
          </li>
        </ul>
        <div class="features-link-wrapper">
          <a href="/features">
            <span class="long">Sailsの機能をもっと詳しく見る</span>
            <span class="short">もっと詳しく</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Section with tweets-->
  <div class="sails-social">
      <!-- <h1>Sailsに関する評判</h1> -->
      <div class="sails-reviews">
        <!-- (switch out this template for different tweets)-->
        <ul class="tweets-wrapper">
          <li ng-class="{active: activeTweet === '@androolloyd'}"
            class="tweet">
            <h2><a target="_blank" href="https://twitter.com/androolloyd">@androolloyd</a></h2>
            <p><i style="font-size: 45px" class="fa fa-quote-left"></i> @sailsjs 今週末のハッカソンで私の開発作業をパワーアップするためにSailsを使うよ。PS. その間、子守してくれない？</p>
          </li>
          <li ng-class="{active: activeTweet === '@cbmeeks'}"
            class="tweet">
            <h2><a target="_blank" href="https://twitter.com/cbmeeks">@cbmeeks</a></h2>
            <p>#sailsjsを使っているんだけど、完全に恋に落ちちゃった感じ。もっと早く出会いたかった！</p>
          </li>
          <li ng-class="{active: activeTweet === '@dylanized'}"
            class="tweet">
            <h2><a target="_blank" href="https://twitter.com/dylanized">@dylanized</a></h2>
            <p>Railsは「おまかせコース」、@SailsJS は「ビュッフェ」</p>
          </li>
          <li ng-class="{active: activeTweet === '@FeedJoelPie'}"
            class="tweet">
            <h2><a target="_blank" href="https://twitter.com/FeedJoelPie">@FeedJoelPie</a></h2>
            <p>@sailsjs を試してみたけど、すごくエキサイティング。「もうJavaScriptでRailsを作るのをやめろよ！」って叫ばなくてもいい、Rails風のフレームワークは初めて。</p>
          </li>
          <li ng-class="{active: activeTweet === '@infil00p'}"
            class="tweet">
            <h2><a target="_blank" href="https://twitter.com/infil00p">@infil00p</a></h2>
            <p>近い将来、もっと @sailsjs を使う機会が増えるね。もっと前に評判を聞いていなかったのが不思議なくらい。</p>
          </li>
          <li ng-class="{active: activeTweet === '@JohnnyReading'}"
            class="tweet">
            <h2><a target="_blank" href="https://twitter.com/JohnnyReading">@JohnnyReading</a></h2>
            <p>もうびっくりだよ #sailsjs 。node.jsを使わない言い訳はどんどん少なくなってく気がする。</p>
          </li>
          <li ng-class="{active: activeTweet === '@lorefnon'}"
            class="tweet">
            <h2><a target="_blank" href="https://twitter.com/lorefnon">@lorefnon</a></h2>
            <p>#sailsjs を見ているのですが、これは本当に良いnode.js向けのリアルタイムフレームワークフレームワークですよ。簡単に始められて、良いドキュメントとORMがあるRailsっぽいです。</p>
          </li>
          <li ng-class="{active: activeTweet === '@rauchg'}"
            class="tweet">
            <h2><a target="_blank" href="https://twitter.com/rauchg">@rauchg</a></h2>
            <p>びっくり！ http://balderdashy.github.com/sails/</p>
          </li>
        </ul>

        <h3>あなたも早速、パーティーに参加しましょう。</h3>
        <div class="follow-buttons">
          <a target="_blank" href="https://github.com/balderdashy/sails">
            <div class="github follow-button">
              <span>
                <img src="images/icon_github.png"/>
                スターを付ける
              </span>
            </div>
          </a>
          <a target="_blank" href="https://twitter.com/sailsjs">
            <div class="twitter follow-button">
              <span>
                <img src="images/icon_twitter.png"/>
                フォローする
              </span>
            </div>
          </a>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="sails-footer-wrapper">
  <%- partial ('partials/footer.ejs')%>
</div>
