<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/fonts.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/dependencies/jquery.js"></script>
    <script src="/dependencies/lodash.js"></script>
    <script src="/dependencies/angular.min.js"></script>
    <script src="/dependencies/angular-route.min.js"></script>
    <script src="/dependencies/angular-animate.min.js"></script>
    <script src="/dependencies/directive.stopPropagation.js"></script>
    <script src="/dependencies/JSON2.js"></script>
    <script src="/dependencies/angular-scroll.min.js"></script>
    <script src="/dependencies/moment.min.js"></script>
    <script src="/dependencies/rainbow.js"></script>
    <script src="/dependencies/retina.min.js"></script>
    <script src="/dependencies/sails.io.js"></script>
    <script src="/js/SinglePage.js"></script>
    <script src="/js/controls/AppCtrl.js"></script>
    <script src="/js/controls/SearchCtrl.js"></script>
    <script src="/js/controls/SupportCtrl.js"></script>
    <script src="/js/controls/TweetCtrl.js"></script>
    <script src="/js/directives/directive.anatomyBoilerplate.js"></script>
    <script src="/js/directives/directive.bubble.js"></script>
    <script src="/js/directives/directive.clickOutside.js"></script>
    <script src="/js/directives/directive.lastUpdatedBanner.js"></script>
    <script src="/js/directives/directive.newsBanner.js"></script>
    <script src="/js/directives/open-links-to-external-urls-in-new-tab.directive.js"></script>
    <script src="/js/directives/permalink.directive.js"></script>
    <script src="/js/redirect-hashbang-routes.js"></script>
    <script src="/js/routes.js"></script>
    <script src="/js/services/MenuModel.js"></script>
    <script src="/js/services/getRepoCommits.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
