<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= typeof title !== 'undefined' ? title : 'Sails.js | Realtime MVC Framework for Node.js' %></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>
    <meta name="google-site-verification" content="6HnJJqAkInT-Kv8bSMvtGDpaaCgKLmukQqrzJUqPAZg" />

    <% if (typeof description !== 'undefined') { %>
    <meta name="description" content="<%= description %>" />
    <% } %>
    <meta name="author" content="Mike McNeil and contributors" />

    <% /* GOOGLE ANALYTICS */ %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64534106-1', 'auto');
      ga('send', 'pageview');
    </script>


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <!-- setup for FB like buttons -->
    <script>(function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
      _fbq.push(['addPixelId', '600838656713699']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=600838656713699&amp;ev=PixelInitialized" /></noscript>
  </head>

  <body ng-app="SailsWebsite">
    <div class="header" ng-controller="HeaderCtrl">

      <!--Mobile menu button-->
      <div class="menu"
        ng-click="intent.showMenu()"
        ng-class="{'menu-open': menu.visible}">
       <img class="menu-icon" src="/images/icon_menu.png"/>
      </div>

      <!--Navigation list-->
      <div class="nav-container">
        <div class="branding">
          <a href="/">
            <img class="logo" src="/images/logo_sails.png" alt="Sails logo" />
          </a>
          <span class="version">v0.11</span>
        </div>
        <div class="nav-overlay" ng-class="{'menu-open': menu.visible}">
          <div class="veil" ng-click="intent.hideMenu()"></div>
        </div>
        <ul class="nav" ng-class="{'menu-open': menu.visible}"
        ng-swipe-right="intent.hideMenu()">
          <li class="mobile-only">
            <a class="sails-site"
              ng-click="intent.goTo('/')"
              ng-class="{current: getIsCurrentPage('')}"
              href="/">Home</a>
          </li>
          <li>
            <a class="sails-site"
              ng-click="intent.goTo('/get-started')"
              ng-class="{current: getIsCurrentPage('get-started')}"
              href="/get-started">Get Started</a>
          </li>
          <li>
            <a class="sails-site"
              ng-click="intent.goTo('/features')"
              ng-class="{current: getIsCurrentPage('features')}"
              href="/features">Features</a>
          </li>
          <li>
            <a class="sails-site"
              ng-click="intent.goTo('/documentation')"
              ng-class="{current: getIsDocumentationPage()}"
              href="/documentation">Documentation</a>
          </li>
          <li>
            <a class="sails-site"
              ng-click="intent.goTo('/support')"
              ng-class="{current: getIsSupportPage()}"
              href="/support">Support</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="wrap">
      <%- body %>
      <div id="push"></div>
    </div>
    <div class="bottom" ng-controller="HeaderCtrl" ng-class="{'docs-footer': getIsDocumentationPage()}">
      <div class="sharing-footer clearfix">
        <div class="star">
          <iframe src="http://ghbtns.com/github-btn.html?user=balderdashy&amp;repo=sails&amp;type=watch&amp;count=true"
          allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
          </div>

          <div>
          <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fsailsjs&amp;width=75&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:86px; height:21px;" allowTransparency="true"></iframe>
          </div>

          <a href="https://twitter.com/share" class="twitter-share-button" data-text="#sailsjs, the realtime MVC framework for Node.js:" data-url="http://sailsjs.org" data-lang="en"></a>

          <a href="https://twitter.com/sailsjs" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @sailsjs</a>

          <a class="small-button" href="/get-started">Get started</a>
      </div>
    </div>


    <!--SCRIPTS-->
    <script src="/dependencies/jquery.js"></script>
    <script src="/dependencies/angular.js"></script>
    <script src="/dependencies/JSON2.js"></script>
    <script src="/dependencies/angular-touch.js"></script>
    <script src="/dependencies/directive.stopPropagation.js"></script>
    <script src="/dependencies/lodash.js"></script>
    <script src="/dependencies/moment.min.js"></script>
    <script src="/dependencies/rainbow.js"></script>
    <script src="/dependencies/retina.min.js"></script>
    <script src="/js/App.js"></script>
    <script src="/js/controls/AboutIrcCtrl.js"></script>
    <script src="/js/controls/DocsCtrl.js"></script>
    <script src="/js/controls/FeaturesCtrl.js"></script>
    <script src="/js/controls/GetStartedCtrl.js"></script>
    <script src="/js/controls/HeaderCtrl.js"></script>
    <script src="/js/controls/HomepageCtrl.js"></script>
    <script src="/js/controls/SecurityPolicyCtrl.js"></script>
    <script src="/js/controls/VersionNotesCtrl.js"></script>
    <script src="/js/directives/directive.anatomyBoilerplate.js"></script>
    <script src="/js/directives/directive.bubble.js"></script>
    <script src="/js/directives/directive.scrollng.js"></script>
    <script src="/js/directives/open-links-to-external-urls-in-new-tab.directive.js"></script>
    <script src="/js/directives/permalink.directive.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
