<div class="page projects-page">
  <div class="page-header">
    <div class="page-header-container">
      <h1>Built with Sails.js</h1>
      <h5>Cool projects made with Sails.
      </h5>
    </div>
  </div>
  <div class="projects-container">
    <div class="project-list">
      <div class="project-wrapper">
        <div class="project">
          <a href="http://omfgdogs.com">
            <img src="http://placeponi.es/300/200">
            <h2>My Pony App</h2>
            <p>Dr Hooves Lyra Pumpkin Cake sun Prince Blueblood Featherweight unicorns kindness magic Shadowbolts Sunset Shimmer waterfall wing. Peewee Mr. Cake Big McIntosh Spitfire. Flank waterfall Trenderhoof Cheerilee. You're going to love me!</p>
          </a>
        </div>
      </div>
      <div class="project-wrapper">
        <div class="project">
          <a href="http://omfgdogs.com">
            <img src="http://placeponi.es/600/400">
            <h2>Another Pony App</h2>
            <p>Dr Hooves Lyra Pumpkin Cake sun Prince Blueblood Featherweight unicorns kindness magic Shadowbolts Sunset Shimmer waterfall wing. Peewee Mr. Cake Big McIntosh Spitfire. Flank waterfall Trenderhoof Cheerilee. You're going to love me!</p>
          </a>
        </div>
      </div>
      <div class="project-wrapper">
        <div class="project">
          <a href="http://omfgdogs.com">
            <img src="http://placeponi.es/300/200">
            <h2>My Pony App</h2>
            <p>Dr Hooves Lyra Pumpkin Cake sun Prince Blueblood Featherweight unicorns kindness magic Shadowbolts Sunset Shimmer waterfall wing. Peewee Mr. Cake Big McIntosh Spitfire. Flank waterfall Trenderhoof Cheerilee. You're going to love me!</p>
          </a>
        </div>
      </div>
      <div class="project-wrapper">
        <div class="project">
          <a href="http://omfgdogs.com">
            <img src="http://placeponi.es/600/400">
            <h2>Another Pony App</h2>
            <p>Dr Hooves Lyra Pumpkin Cake sun Prince Blueblood Featherweight unicorns kindness magic Shadowbolts Sunset Shimmer waterfall wing. Peewee Mr. Cake Big McIntosh Spitfire. Flank waterfall Trenderhoof Cheerilee. You're going to love me!</p>
          </a>
        </div>
      </div>
    </div>
    <div class="contribution-message">
      <h4>Want your app featured on this page?</h4>
      <p>Learn how to submit a project <a href="https://github.com/balderdashy/sails-docs/tree/master/projects/template.md">here</a>.</p>
    </div>
  </div>
</div>
