<div class="page logo-page">
  <div class="page-header">
    <div class="page-header-container">
      <h1>Resources</h1>
      <h5>(Sails.js logo files and styleguide)</h5>
    </div>
  </div>
  <div class="logos-section png-section">
    <h2>Logo PNG Images (transparent backgrounds)</h2>
    <!-- <p>You can also download the Sails style guide .pdf <a target="_blank" href="">here</a>.</p> -->
    <div class="preview-image-row">
      <a target="_blank" href="/images/logos/sails-logo_ltBg_ltBlue.png" target="_blank">
        <div class="logo-left logo-light">
          <img src="/images/logos/sails-logo_ltBg_ltBlue.png"/>
          <p>Light blue for light background</p>
        </div>
      </a>
      <a target="_blank" href="/images/logos/sails-logo_dkBg_ltBlue.png" target="_blank">
        <div class="logo-right logo-dark">
          <img src="/images/logos/sails-logo_dkBg_ltBlue.png"/>
          <p>Light blue for dark background</p>
        </div>
      </a>
    </div>
    <div class="preview-image-row">
      <a target="_blank" href="/images/logos/sails-logo_dkBg_dkBlue.png" target="_blank">
        <div class="logo-left logo-dark">
          <img src="/images/logos/sails-logo_dkBg_dkBlue.png"/>
          <p>Dark blue for dark background</p>
        </div>
      </a>
      <a target="_blank" href="/images/logos/sails-logo_ltBg_dkBlue" target="_blank">
        <div class="logo-right logo-light">
          <img src="/images/logos/sails-logo_ltBg_dkBlue.png"/>
          <p>Dark blue for light background</p>
        </div>
      </a>
    </div>
  </div>
  <hr/>
  <div class="logos-section">
    <h2>Logo EPS Downloads</h2>
    <!-- <p>You can also download the Sails style guide .pdf <a href="">here</a>.</p> -->
    <div class="preview-image-row">
      <a target="_blank" href="/images/sailsLogoDark.eps" target="_blank">
        <div class="logo-left">
          <img src="/images/img_sailsLogo_dark.png"/>
          <p>Sails.js Dark EPS</p>
        </div>
      </a>
      <a target="_blank" href="/images/sailsLogoGray.eps" target="_blank">
        <div class="logo-right">
          <img src="/images/img_sailsLogo_gray.png"/>
          <p>Sails.js Gray EPS</p>
        </div>
      </a>
    </div>
    <div class="preview-image-row">
      <a target="_blank" href="/images/sailsLogoWhite.eps" target="_blank">
        <div class="logo-left logo-white">
          <img src="/images/img_sailsLogo_white.png"/>
          <p>Sails.js White EPS</p>
        </div>
      </a>
      <a target="_blank" href="/images/sailsLogoBlue.eps" target="_blank">
      <div class="logo-right logo-blue">
        <img src="/images/img_sailsLogo_blue.png"/>
        <p>Sails.js Blue EPS</p>
      </div>
      </a>
    </div>
  </div>
  <hr/>
  <div class="logos-section styleguide-section">
    <h2>Styleguide</h2>
    <div class="styleguide-row">
      <a target="_blank" href="/images/logos/Sails-Style-Guide.pdf">
        <img src="/images/logos/sails-style-guide.png"/>
        <p>Download the styleguide</p>
      </a>
    </div>
  </div>


  <!--
  TODO: make these smaller, and actually start downloading .png files when you choose one.
  Commenting this out for now.
  ~Mike
  -->
  <!-- <div class="powered-by-section">
    <h2>Powered By Sails</h2>
    <p>Want to show your love for Sails? Download one of these 'Powered by' images to display on your Sails app!</p>
    <div class="preview-image-row">
      <div>
        <img src="/images/img_poweredBySails_dark.png"/>
        <p><a href="">Powered By Sails.js Dark</a></p>
      </div>
      <div>
        <img src="/images/img_poweredBySails_gray.png"/>
        <p><a href="">Powered By Sails.js Gray</a></p>
      </div>
    </div>
    <div class="preview-image-row">
      <div>
        <img src="/images/img_poweredBySails_white.png"/>
        <p><a href="">Powered By Sails.js White</a></p>
      </div>
      <div>
        <img src="/images/img_poweredBySails_blue.png"/>
        <p><a href="">Powered By Sails.js Blue</a></p>
      </div>
    </div>
  </div>-->
  <!--TODO: Add desktop backgrounds-->
  <!-- <div class="desktop-section">
    <h2>Desktop Background</h2>
    <br/>
    <img class="desktop" src="/images/img_sailsDesktopBackground.png">
    <p>
      <a href="">1024 x 768</a> |
      <a href="">1280 x 1024</a> |
      <a href="">1440 x 900</a> |
      <a href="">1920 x 1200</a> |
      <a href="">2650 x 1440</a>
    </p>
  </div> -->
</div>
