<div class="page security-policy" ng-controller="SecurityPolicyCtrl">
  <div class="page-header">
    <div class="page-header-container">
      <h1>セキュリティポリシー</h1>
      <h5>(Sailsに脆弱性を見つけた時には。。。)</h5>
    </div>
  </div>
  <div class="vulnerability-disclosure">
    <%- partial('partials/doc-templates/security/SAILS-SECURITY-POLICY.ejs') %>
  </div>


</div>
