<div class="page security-policy" ng-controller="SecurityPolicyCtrl">
  <div class="page-header">
    <div class="page-header-container">
      <h1>Security Policy</h1>
      <h5>(What to do if you find a vulnerability in Sails.)</h5>
    </div>
  </div>
  <div class="vulnerability-disclosure">
    <%- partial('partials/doc-templates/security/SAILS-SECURITY-POLICY.ejs') %>
  </div>


</div>
