<div class="support">
  <div class="documentation-section-content">
    <div class="page-header">
      <div class="page-header-container">
        <h1>Support</h1>
        <h5>(where to look when you can't find an answer in the documentation)</h5>
      </div>
    </div>
    <div class="main-container">
      <ul class="link-list">

        <a class="manning-book-link" target="_blank" href="http://www.manning.com/mcneil/">
          <li>
            <img class="icon" alt="Book icon" ng-src="images/icon_book.png"/>
            <div class="description">
              <h2>Sails.js In Action</h2>
              <p>We wrote a book. Get early access
with the code <span>mcneildoc</span>.</p>
            </div>
          </li>
        </a>

        <!-- IRC CHANNEL DIRECTIONS -->
        <a class="irc-link" href="/support/about-irc">
          <li>
            <img class="icon" alt="Icon of a speech bubble with a heart inside" ng-src="images/img_irc.png"/>
            <div class="description">
                <h2>IRC Channel</h2>
                <p>Grab your favorite irc chat client and join us in #sailsjs!</p>
          </li>
        </a>

        <a class="sails101-link" target="_blank" href="https://github.com/sails101">
          <li>
            <img class="icon" alt="Stick figure hiking icon" ng-src="images/img_guides.png"/>
            <div class="description">
              <h2>Sails101</h2>
              <p>Example code for common Sails.js use cases.</p>
            </div>
          </li>
        </a>

        <a class="google-group-link" href="https://groups.google.com/forum/#!forum/sailsjs">
          <li>
            <img class="icon" alt="Chart icon" ng-src="images/icon_circlechart.png"/>
            <div class="description">
              <h2>Google Group</h2>
              <p>Sails.js Google group.  These guys keep it tight.</p>
            </div>
          </li>
        </a>

        <a class="so-link" target="_blank" href="http://stackoverflow.com/questions/tagged/sails.js">
          <li>
            <img class="icon" alt="Chain link icon" ng-src="images/icon_stackoverflow.png"/>
            <div class="description">
              <h2>Stack Overflow</h2>
              <p>Your question has probably been answered here.</p>
            </div>
          </li>
        </a>

        <a class="so-link" href="/resources">
          <li>
            <img class="icon" alt="Chain link icon" ng-src="images/icon_resources.png"/>
            <div class="description">
              <h2>Logo Resources</h2>
              <p>Images, EPS files, and the Sails.js styleguide.</p>
            </div>
          </li>
        </a>

      </ul>



      <!-- RIGHT SIDE VERSION NOTES -->
      <div class="version-notes-links">
        <h3>Version Notes</h3>
        <% _.each(menuItems, function(menuItem) {
        if(!menuItem.isChild) { %>
          <h5><%= menuItem.displayName %></h5>
          <ul>
            <%
            var populatedChildren = _.where(menuItems, function (potentialChild) {
              if (_.contains(menuItem.children, potentialChild.path.toLowerCase())) {
                return true;
              }
            });
            _.each(populatedChildren, function(child) { %>
              <li>
                <strong>
                  <a href="/version-notes/<%= child.displayNameSlug %>"><%= child.displayName %> </a>
                </strong>
              </li>
             <% }); %>
          </ul>

        <% }
        }); %>
      </div>
    </div>
  </div>
</div>

