<!--
Template for a 'how-to' page.

The only page with this style for now is the Angular & Sails page, but keeping class names generic in case we add other pages with the same sort of layout.
-->

<div class="how-to-page sails-angular">
	<div class="page-header">
		<div class="left-column">
			<h1>AngularJS &amp; Sails</h1>
			<h5>Store and sync your AngularJS App's data in milliseconds.</h5>
			<h5>Sails is a realtime backend for your Angular app.</h5>
		</div>
		<img src="http://placeponi.es/500/300"/>
	</div>
	<div class="page-content">
		<div class="step">
			<img class="step-number" src="http://placeponi.es/40/40"/>
			<div class="instructions-column">
				<h2>Include Sails</h2>
				<p>Hello, I am a paragraph. I am a thing that you may read, if you are literate. If you're not, I still look kind of cool and you can just look at the pictures and make things up.</p>
			</div>
			<div class="example-column">
				<img src="http://placeponi.es/400/250"/>
			</div>
		</div>
		<div class="step">
			<img class="step-number" src="http://placeponi.es/40/40"/>
			<div class="instructions-column">
				<h2>Try AngularSails</h2>
				<p>Hello, I am a paragraph. I am a thing that you may read, if you are literate. If you're not, I still look kind of cool and you can just look at the pictures and make things up.</p>
			</div>
			<div class="example-column">
				<img src="http://placeponi.es/400/250"/>
			</div>
		</div>
		<div class="step">
			<img class="step-number" src="http://placeponi.es/40/40"/>
			<div class="instructions-column">
				<h2>Modify Data</h2>
				<p>Hello, I am a paragraph. I am a thing that you may read, if you are literate. If you're not, I still look kind of cool and you can just look at the pictures and make things up.</p>
			</div>
			<div class="example-column">
				<img src="http://placeponi.es/400/250"/>
			</div>
		</div>
		<div class="step">
			<img class="step-number" src="http://placeponi.es/40/40"/>
			<div class="instructions-column">
				<h2>Easily Authenticate Users</h2>
				<p>Hello, I am a paragraph. I am a thing that you may read, if you are literate. If you're not, I still look kind of cool and you can just look at the pictures and make things up.</p>
			</div>
			<div class="example-column">
				<img src="http://placeponi.es/400/250"/>
			</div>
		</div>
	</div>
</div>