<div class="page irc-page">

  <div class="irc-container">
    <!-- <h1 class="page-header">IRC Channel</h1> -->
    <a name="the-top"></a>
    <!-- Left-side navigation -->
    <!-- <div class="navigation">
      <ul>
        <li><a data-ng-click="scrollTo('irc')">Sails on IRC</a></li>
        <li><a data-ng-click="scrollTo('grab-client')">Grab a Client</a></li>
        <li><a data-ng-click="scrollTo('config')">Configuration</a></li>
        <li><a data-ng-click="scrollTo('sails-troll')"></a>Sails Troll</li>
      </ul>
    </div> -->

    <!-- IMAGES -->
    <!--     <div class="bubbles one">
        <img src="/images/bkgd_bubbles02.png"/>
      </div>
      <div class="bubbles two">
        <img src="/images/bkgd_bubbles02.png"/>
      </div>
      <div class="bubbles three">
        <img src="/images/bkgd_bubbles02.png"/>
      </div>
      <div class="bubbles four">
        <img src="/images/bkgd_bubbles02.png"/>
      </div> -->

    <div class="documentation-style-guide irc-content">
      <a name="irc"></a>
      <div ng-include src="'templates/irc/irc.html'"></div>
      <div class="section-divider left">
        <img class="bubbles" src="/images/bkgd_bubbles01.png"/>
        <img class="squid" src="/images/squidford_swimming@2x.png"/>
      </div>
      <!-- <a class="return-top" data-ng-click="scrollTo('the-top')">back to top</a> -->
      <a name="grab-client"></a>
      <div ng-include src="'templates/irc/grabClient.html'"></div>
      <div class="section-divider right">
        <img class="bubbles" src="/images/bkgd_bubbles01.png"/>
      </div>
      <!-- <a class="return-top" data-ng-click="scrollTo('the-top')">back to top</a> -->
      <a name="config"></a>
      <div ng-include src="'templates/irc/configuringClient.html'"></div>
      <div class="section-divider middle">
        <img class="bubbles" src="/images/bkgd_bubbles01.png"/>
      </div>
      <!-- <a class="return-top" data-ng-click="scrollTo('the-top')">back to top</a> -->
      <a name="sails-troll"></a>
      <!--  <div ng-include src="'templates/irc/sailsTroll.html'"></div>
      <a class="return-top" data-ng-click="scrollTo('the-top')">back to top</a> -->
    </div>

    <div class="login">
      <div class="login-container">
        <h4>Get started</h4>
        <div class="input-container">
          <input type="text" placeholder="Grab a nickname">
          <button class="arrow-button"><img class="arrow" src="/images/icon_arrow.png"/></button>
        </div>
      </div>
    </div>

    <div class="sails-footer-wrapper get-started-wrapper irc-wrapper" id="footer-target">
      <div skrollr style="position:relative;" data-bottom-top="top:0px;" data-center-top="top:-60px">
        <div class="footer-image-container">
          <img class="sea-floor" id="target" src="/images/bkgd_seaScene.png"/>
        </div>
        <div ng-include src="'templates/Footer.html'"></div>
      </div>
    </div>
  </div>
</div>
