<div class="page logo-page">
	<div class="left-column">
		<h1>Sails Logos</h1>
		<br/>
		<br/>


		<!--
		TODO:
		this doesn't seem to work- we should make it work or remove it.  I don't think it looks particularly great at the moment, so commenting it out.

		~mike
		-->

		<!-- <ul>
			<li><a href="">EPS Logos</a></li>
			<li><a href="">Powered By Sails</a></li>
			<li><a href="">Desktop Backgrounds</a></li>
		</ul> -->
		<img src="/images/image_devInTub.png"/>
	</div>
	<div class="right-column">
		<div class="logos-section">
			<h2>Downloads</h2>
			<!-- <p>You can also download the Sails style guide .pdf <a href="">here</a>.</p> -->
			<div class="preview-image-row">
				<div>
					<img src="/images/img_sailsLogo_dark@2x.png"/>
					<p><a href="/images/sailsLogoDark.eps" target="_blank">Sails.js Dark EPS</a></p>
				</div>
				<div>
					<img src="/images/img_sailsLogo_gray@2x.png"/>
					<p><a href="/images/sailsLogoGray.eps" target="_blank">Sails.js Gray EPS</a></p>
				</div>
			</div>
			<div class="preview-image-row">
				<div>
					<img src="/images/img_sailsLogo_white@2x.png"/>
					<p><a href="/images/sailsLogoWhite.eps" target="_blank">Sails.js White EPS</a></p>
				</div>
				<div>
					<img src="/images/img_sailsLogo_blue@2x.png"/>
					<p><a href="/images/sailsLogoBlue.eps" target="_blank">Sails.js Blue EPS</a></p>
				</div>
			</div>

		</div>


		<!--
		TODO: make these smaller, and actually start downloading .png files when you choose one.
		Commenting this out for now.
		~Mike
		-->
		<!-- <div class="powered-by-section">
			<h2>Powered By Sails</h2>	
			<p>Want to show your love for Sails? Download one of these 'Powered by' images to display on your Sails app!</p>
			<div class="preview-image-row">
				<div>
					<img src="/images/img_poweredBySails_dark@2x.png"/>
					<p><a href="">Powered By Sails.js Dark</a></p>
				</div>
				<div>
					<img src="/images/img_poweredBySails_gray@2x.png"/>
					<p><a href="">Powered By Sails.js Gray</a></p>
				</div>
			</div>
			<div class="preview-image-row">
				<div>
					<img src="/images/img_poweredBySails_white@2x.png"/>
					<p><a href="">Powered By Sails.js White</a></p>
				</div>
				<div>
					<img src="/images/img_poweredBySails_blue@2x.png"/>
					<p><a href="">Powered By Sails.js Blue</a></p>
				</div>
			</div> 
		</div>-->
		<!--TODO: Add desktop backgrounds-->
		<!-- <div class="desktop-section">
			<h2>Desktop Background</h2>
			<br/>
			<img class="desktop" src="/images/img_sailsDesktopBackground@2x.png">
			<p>
				<a href="">1024 x 768</a> |
				<a href="">1280 x 1024</a> |
				<a href="">1440 x 900</a> |
				<a href="">1920 x 1200</a> |
				<a href="">2650 x 1440</a>
			</p>
		</div> -->
	</div>
</div>