<h1 id="grab-an-irc-client" permalink="rab-n--lient">Grab An IRC Client</h1>
<p>Below you&apos;ll find some of the more popular IRC Clients. </p>
<h2 id="linux" permalink="inux">Linux</h2>
<ul>
<li><a href="http://xchat.org" target="_blank">xChat</a></li>
<li><a href="http://irssi.org" target="_blank">irssi</a></li>
<li><a href="http://www.weechat.org" target="_blank">weeChat]</a></li>
</ul>
<h4 id="using-apt-package-manager-for-ubuntu-debian" permalink="sing-apt-package-manager-for-buntuebian">Using apt package manager for Ubuntu/Debian</h4>
<pre><code>sudo apt-get install weechat</code></pre>
<h2 id="osx" permalink="">OSX</h2>
<ul>
<li><a href="http://irssi.org" target="_blank">irssi</a></li>
</ul>
<pre><code>sudo steveJobsPM --prettyPlease install -m &apos;is this okay?&apos; irssi</code></pre>
<h2 id="windows" permalink="indows">Windows</h2>
<ul>
<li><a href="http://xchat.org" target="_blank">xChat</a></li>
<li><a href="http://www.hydrairc.com/content/downloads" target="_blank">hydra IRC</a></li>
</ul>
<p><docmeta name="uniqueID" value="ircClient82219"></docmeta></p>
<docmeta name="displayName" value="Grab A Client">
</docmeta>