<h1 id="getting-help-on-irc" permalink="getting-help-on-irc">Getting help on IRC</h1>
<h2 id="-sailsjs-on-irc-freenode-net" permalink="#sailsjs-on-ircfreenodenet"><code data-language="javascript">#sailsjs</code> on irc.freenode.net</h2>
<p>If you are looking for a quick answer and you can&apos;t find what you&apos;re looking for in the docs, come ask in our IRC chat room.  While there is typically somebody there who can answer your question, please remember that #sailsjs is 100% community maintained. That means that help is given at the discretion of the community.  For best results, be polite and to the point.  </p>
<p>If you&apos;ve never been on IRC, now is the perfect time.  Getting started is easy.  </p>
<p><docmeta name="uniqueID" value="irc77272"></docmeta></p>
<docmeta name="displayName" value="#sailsjs on IRC">
</docmeta>