<h1>myApp/api/controllers</h1>
<h3>目的</h3>
<p>このフォルダはコントローラの保存場所です。Sailsではコントローラはモデルとやり取りをし適切なビューをレンダーするためのロジックを含むjavascriptファイルです。</p>
<p>あなたのプロジェクトのルートディレクトリでコマンドラインから<code>sails generate api cats</code>を実行した時、Sailsは該当するモデルとともに<code>myApp/api/controllers/CatsController.js</code>を生成します。</p>
<docmeta name="uniqueID" value="controllersmd841616">
<docmeta name="displayName" value="controllers">