<h1>myApp/api/controllers/UserController.js</h1>
<h3>目的</h3>
<p>このファイルは'sails generate api User'を実行した時に生成されます。ここには'User'と呼ばれるモデルの全てのコントローラロジックが含まれます。</p>
<p>ここはクライアントに情報を送信し、データを表示するビューをレンダーする「コントローラアクション」を書くところです。</p>
<docmeta name="uniqueID" value="UserControllerjs867576">
<docmeta name="displayName" value="UserController.js">

```
/**
 * UserController
 *
 * @description :: Server-side logic for managing users
 * @help        :: See http://sailsjs.org/documentation/concepts/Controllers
 */

module.exports = {

};

```