<h1 id="myapp-api-controllers-usercontroller-js">myApp/api/controllers/UserController.js</h1>
<h3 id="purposes" permalink="purposes">Purposes</h3>
<p>This file was created when you ran &apos;sails generate api User&apos;.  It contains all of the controller logic for the model called &apos;User&apos;. </p>
<p>This is where you will put &quot;controller actions&quot; that send data to your clients and render the views which display that data.</p>
<p><docmeta name="uniqueID" value="UserControllerjs867576"></docmeta></p>
<docmeta name="displayName" value="UserController.js">

<pre><code data-language="javascript">/**
 * UserController
 *
 * @description :: Server-side logic for managing users
 * @help        :: See http://sailsjs.org/documentation/concepts/Controllers
 */

module.exports = {

};
</code></pre><!-- __LANG=%%__ -->
</docmeta>