<h1>myApp/assets</h1>
<h3>目的</h3>
<p>これはアセットフォルダです。アプリケーションがホストしたい全ての静的ファイルはここに保管されます。ここには自由に自分のフォルダを作成してください。サーバを立ち上げた際、<code>myApp/assets/newFolder/data.txt</code>のファイルは<code>http://localhost:1337/newFolder/data.txt</code>としてアクセス可能です。</p>
<docmeta name="uniqueID" value="assetsmd466929">
<docmeta name="displayName" value="assets">