<h1>myApp/assets/favicon.ico</h1>
<h3>目的</h3>
<p>このファイルはアプリケーションの<a href="http://en.wikipedia.org/wiki/Favicon">Favicon</a>です。</p>
<h3>さらなる情報</h3>
<docmeta name="uniqueID" value="favicon738321">
<docmeta name="displayName" value="favicon.ico">