<h1>myApp/assets/robots.txt</h1>
<h3>目的</h3>
<p>このファイルはWebクローラやサーチボットにアプリケーションに関してのことを伝えます。ここにはどのようにインデックスして欲しいかやどのようなコンテンツが期待できるかをそれらに伝えます。</p>
<p>robots.txt に対する完全な情報は<a href="http://www.robotstxt.org/robotstxt.html">こちら</a>をご覧ください。</p>
<docmeta name="uniqueID" value="robotstxt863673">
<docmeta name="displayName" value="robots.txt">

```
# The robots.txt file is used to control how search engines index your live URLs.
# See http://www.robotstxt.org/wc/norobots.html for more information.

# To prevent search engines from seeing the site altogether, uncomment the next two lines:
# User-Agent: *
# Disallow: /

```