<h1 id="myapp-assets-robots-txt">myApp/assets/robots.txt</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This file tells web crawlers and search bots about your app.  It tells them what kind of content to expect as well as how to index it.</p>
<p>Learn all about robots.txt <a href="http://www.robotstxt.org/robotstxt.html" target="_blank">right here</a>.</p>
<p><docmeta name="uniqueID" value="robotstxt863673"></docmeta></p>
<docmeta name="displayName" value="robots.txt">

<pre><code data-language="javascript"># The robots.txt file is used to control how search engines index your live URLs.
# See http://www.robotstxt.org/wc/norobots.html for more information.



# To prevent search engines from seeing the site altogether, uncomment the next two lines:
# User-Agent: *
# Disallow: /
</code></pre><!-- __LANG=%%__ -->
</docmeta>