<h1>Gruntを無効化する</h1>
<p>Gruntタスクの組み込みを無効にするためには、Gruntfile(と場合によっては<a href="http://sailsjs.jp/documentation/anatomy/myApp/tasks"><code>tasks/</code></a>フォルダーのこともあります)を削除するだけで大丈夫です。同様にGrunt hookの無効化も出来ます。これをやるには<code>.sailsrc</code>のhooksで以下のように<code>grunt</code>を<code>false</code>にするだけで出来ます:</p>
<pre><code class="language-json">{
    "hooks": {
        "grunt": false
    }
}</code></pre>
<h3>これをSASSやAngular、クライアントサイドJadeテンプレートなどのためにカスタマイズできますか。</h3>
<p>もちろん！あなたのプロジェクトファイルの<code>tasks/</code>ディレクトリにある関係するタスクを書き換えるだけでできますし、例えば<a href="https://github.com/sails101/using-sass">SASS</a>のように新しいものを作ることでも実現できます。</p>
<p>もしもGruntを使いたいけれどもデフォルトのフロントエンドのを使いたくない場合はあなたのプロジェクトのアセットフォルダーを削除して関連するフロントエンド関連のタスクを<code>grunt/register/</code>と<code>grunt/config/</code>から削除してください。また、<code>sails new myCoolApi --no-frontend</code>を実行することでアセットフォルダーやフロントエンド関連のGruntタスクを将来のプロジェクトのために省略することも出来ます。 さらに<code>sails-generate-frontend</code>モジュールを別のサードパーティの物に変えたり<a href="https://github.com/balderdashy/sails-generate-generator">自分で開発する</a>ことも出来ます。これをすることでネイティブのiOSアプリやAndroidアプリ、CordovaアプリSteroidsJSアプリをSailsで開発できる新たなboilerplateを<code>sails new</code>で作ることが出来ます。</p>
<docmeta name="uniqueID" value="DisablingGrunt970874">
<docmeta name="displayName" value="Disabling Grunt">