<h1>Sails + Passportで認証、認可する</h1>
<p>PassportはSailsとの組み合わせでも見事に動作します。一般的な話として、SailsはConnect/ExpressをコアにしていますのであらゆるConnect/Expressオリエンテッドなものはうまく動作します。実際にSaisはsocket.ioと一緒に動作するほとんどのExpressミドルウエアに関してプログラム解釈に関連する問題は起きていません。</p>
<h4>passport.jsを利用するコミュニティサポートのSails拡張</h4>
<ul>
<li><a href="https://www.npmjs.com/package/sails-auth">sails-auth</a>: Basic Authを内蔵したPassportベースの認証拡張</li>
<li><a href="https://www.npmjs.com/package/sails-permissions">sails-permissions</a>: sails.js向けのパーミッションと権限認可システム: passport.jsを用いた認証と、ロールベースのパーミッション管理、オブジェクトの所有権管理、行ごとのセキュリティをサポートします。</li>
<li><a href="https://www.npmjs.com/package/sails-generate-auth">sails-generate-auth</a>: Sailsアプリケーションに認証レイヤーを生成します</li>
<li><a href="http://www.geektantra.com/2013/08/implement-passport-js-authentication-with-sails-js/">sails.jsへのpassport.jsを実装方法のチュートリアル</a>.</li>
<li><a href="http://waterlock.ninja/">Waterlock</a>: Sails向けに作られた包括的な認証およびJSON Webトークン管理ツール</li>
</ul>
<docmeta name="uniqueID" value="Policies766425">
<docmeta name="displayName" value="Sails + Passport">