<h3 id="authentication-and-permissioning-with-sails-passport" permalink="authentication-and-permissioning-with-sails-+-passport">Authentication and Permissioning with Sails + Passport</h3>
<p>Passport works great with Sails!  In general, since Sails uses Connect/Express at its core, all of the Connect/Express-oriented things work pretty well.  In fact, Sails has no problem interpreting most Express middleware to work with socket.io.</p>
<h4 id="community-supported-sails-extensions-using-passport-js" permalink="communitysupported-sails-extensions-using-passportjs">Community-supported Sails extensions using passport.js</h4>
<ul>
<li><a href="https://www.npmjs.com/package/sails-auth" target="_blank">sails-auth</a>: Passport-based Authentication Extension, including Basic Auth</li>
<li><a href="https://www.npmjs.com/package/sails-permissions" target="_blank">sails-permissions</a>: Permissions and Entitlements system for sails.js: supports user authentication with passport.js, role-based permissioning, object ownership, and row-level security.</li>
<li><a href="https://www.npmjs.com/package/sails-generate-auth" target="_blank">sails-generate-auth</a>: Generate a Passport.js authentication layer for your Sails app</li>
<li><a href="http://www.geektantra.com/2013/08/implement-passport-js-authentication-with-sails-js/" target="_blank">Tutorial on how to implement passport.js with sails.js</a>.</li>
</ul>
<p><docmeta name="uniqueID" value="Policies766425"></docmeta></p>
<docmeta name="displayName" value="Sails + Passport">
</docmeta>