<h1 id="middleware">Middleware</h1>
<p>Sails is fully compatible with Express / Connect middleware - in fact, it&apos;s all over the place!  Much of the code you&apos;ll write in Sails is effectively middleware; most notably <a href="http://sailsjs.org/documentation/concepts/Controllers?q=actions" target="_blank">controller actions</a> and <a href="http://sailsjs.org/documentation/concepts/Policies" target="_blank">policies</a>.</p>
<h3 id="http-middleware" permalink="http-middleware">HTTP Middleware</h3>
<p>Sails also utilizes an additional <a href="http://sailsjs.org/documentation/concepts/Middleware?q=adding-or-overriding-http-middleware" target="_blank">configurable middleware stack</a> just for handling HTTP requests.  Each time your app receives an HTTP request, the configured HTTP middleware stack runs in order.</p>
<blockquote>
<p>Note that this HTTP middleware stack is only used for &quot;true&quot; HTTP requests-- it is ignored for <strong>virtual requests</strong> (e.g. requests from a live Socket.io connection.)</p>
</blockquote>
<h6 id="legend-">Legend:</h6>
<ul>
<li><code>*</code> - The middleware with an asterisk (*) above should <em>almost never</em> need to be modified or removed. Please only do so if you really understand what you&apos;re doing.</li>
</ul>
<h4 id="adding-or-overriding-http-middleware" permalink="adding-or-overriding-http-middleware">Adding or Overriding HTTP Middleware</h4>
<p>To configure a custom HTTP middleware function, define a new HTTP key <code>sails.config.http.middleware.FOO</code> and set it to the configured middleware function, then add the string name (&quot;FOO&quot;) to your <code>sails.config.http.middleware.order</code> array wherever you&apos;d like it to run in the middleware chain (a good place to put it might be right before &quot;cookieParser&quot;):</p>
<p>E.g. in <code>config/http.js</code>:</p>
<pre><code data-language="javascript">// ...
  middleware: {

    // Define a custom HTTP middleware fn with the key `foobar`:
    foobar: function (req,res,next) { /*...*/ next(); },

    // Define another couple of custom HTTP middleware fns with keys `passportInit` and `passportSession`
    // (notice that this time we&apos;re using an existing middleware library from npm)
    passportInit    : require(&apos;passport&apos;).initialize(),
    passportSession : require(&apos;passport&apos;).session(),

    // Override the conventional cookie parser:
    cookieParser: function (req, res, next) { /*...*/ next(); },


    // Now configure the order/arrangement of our HTTP middleware
    order: [
      &apos;startRequestTimer&apos;,
      &apos;cookieParser&apos;,
      &apos;session&apos;,
      &apos;passportInit&apos;,            // &lt;==== passport HTTP middleware should run after &quot;session&quot;
      &apos;passportSession&apos;,         // &lt;==== (see https://github.com/jaredhanson/passport#middleware)
      &apos;bodyParser&apos;,
      &apos;compress&apos;,
      &apos;foobar&apos;,                  // &lt;==== we can put this stuff wherever we want
      &apos;methodOverride&apos;,
      &apos;poweredBy&apos;,
      &apos;$custom&apos;,
      &apos;router&apos;,
      &apos;www&apos;,
      &apos;favicon&apos;,
      &apos;404&apos;,
      &apos;500&apos;
    ]
  },

  customMiddleware: function(app){
     //Intended for other middleware that doesn&apos;t follow &apos;app.use(middleware)&apos; convention
     require(&apos;other-middleware&apos;).initialize(app);
  }
  // ...
</code></pre><!-- __LANG=%%__ -->
<h3 id="express-middleware-in-sails" permalink="express-middleware-in-sails">Express Middleware In Sails</h3>
<p>One of the really nice things about Sails apps is that they can take advantage of the wealth of already-existing Express/Connect middleware out there.  But a common question that arises when people <em>actually</em> try to do this is:</p>
<blockquote>
<p><em>&quot;Where do I <code>app.use()</code> this thing?&quot;</em>.</p>
</blockquote>
<p>In most cases, the answer is to install the Express middleware as a custom HTTP middleware in <a href="http://sailsjs.org/documentation/reference/sails.config/sails.config.http.html" target="_blank"><code>sails.config.http.middleware</code></a>.  This will trigger it for ALL HTTP requests to your Sails app, and allow you to configure the order in which it runs in relation to other HTTP middleware.</p>
<h3 id="express-routing-middleware-in-sails" permalink="express-routing-middleware-in-sails">Express Routing Middleware In Sails</h3>
<p>You can also include Express middleware as a policy- just configure it in <a href="http://sailsjs.org/documentation/reference/sails.config/sails.config.policies.html" target="_blank"><code>config/policies.js</code></a>.  You can either require and setup the middleware in an actual wrapper policy (usually a good idea) or just require it directly in your policies.js file.  The following example uses the latter strategy for brevity:</p>
<pre><code data-language="javascript">{
  &apos;*&apos;: true,

  ProductController: {

    // Prevent end users from doing CRUD operations on products reserved for admins
    // (uses HTTP basic auth)
    &apos;*&apos;: require(&apos;http-auth&apos;)({
      realm: &apos;admin area&apos;
    }, function customAuthMethod (username, password, onwards) {
      return onwards(username === &quot;Tina&quot; &amp;&amp; password === &quot;Bullock&quot;);
    }),

    // Everyone can view product pages
    show: true
  }
}
</code></pre><!-- __LANG=%%__ -->
<!--

  TODO:

### Advanced Express Middleware In Sails

You can actually do this in a few different ways, depending on your needs.



Generally, the following best-practices apply:

If you want a middleware function

+ If you want a piece of middleware to run only when your app's explicit or blueprint routes are matched, you should include it as a policy.
+ this will run passport for all incoming http requests, including images, css, etc.

If you want a middleware function to run for all you should include it at the top of your `config/routes.js` as a wildcard route.  for your controller (both HTTP and virtual) requests
-->
<p><docmeta name="uniqueID" value="middleware198259"></docmeta></p>
<docmeta name="displayName" value="Middleware">
</docmeta>