<h1 id="myapp-config-env-development-js">myApp/config/env/development.js</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This file will be loaded when Sails is running in <code>development</code> mode. Sails runs in <code>development</code> mode by default if no other environment is specified.</p>
<p><docmeta name="uniqueID" value="developmentjs874591"></docmeta></p>
<docmeta name="displayName" value="development.js">

<pre><code data-language="javascript">/**
 * Development environment settings
 *
 * This file can include shared settings for a development team,
 * such as API keys or remote database passwords.  If you&apos;re using
 * a version control solution for your Sails app, this file will
 * be committed to your repository unless you add it to your .gitignore
 * file.  If your repository will be publicly viewable, don&apos;t add
 * any private information to this file!
 *
 */

module.exports = {

  /***************************************************************************
   * Set the default database connection for models in the development       *
   * environment (see config/connections.js and config/models.js )           *
   ***************************************************************************/

  // models: {
  //   connection: &apos;someMongodbServer&apos;
  // }

};
</code></pre></docmeta>