<h1>myApp/config/env</h1>
<h3>目的</h3>
<p>このフォルダにはAPIキーやデータベースパスワードなど様々な環境設定が含まれます。どの環境ファイルが使われるのかはSailsが実行されている環境によって決まります。Sailsは<code>sails.config.environment</code>グローバルオブジェクトに設定を読み込みます。異なる環境間を切り替えるには<a href="http://sailsjs.jp/documentation/reference/cli/sailslift.html">Sails CLI ドキュメント</a>をご覧ください。</p>
<docmeta name="uniqueID" value="envmd458963">
<docmeta name="displayName" value="env">