<h1 id="myapp-config-env">myApp/config/env</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This folder contains various environment settings such as API keys or remote database passwords. The environment file used is determined by the environment Sails is going to be running in. Sails loads environments settings into the <code>sails.config.environment</code> global object. To switch between different environments, see the <a href="http://sailsjs.org/#/documentation/reference/cli/sailslift.html" target="_blank">Sails CLI docs</a>.</p>
<p><docmeta name="uniqueID" value="envmd458963"></docmeta></p>
<docmeta name="displayName" value="env">
</docmeta>