<h1 id="myapp-tasks-register-build-js">myApp/tasks/register/build.js</h1>
<p><docmeta name="uniqueID" value="buildjs920895"></docmeta></p>
<docmeta name="displayName" value="build.js">

<pre><code data-language="javascript">module.exports = function (grunt) {
    grunt.registerTask(&apos;build&apos;, [
        &apos;compileAssets&apos;,
        &apos;linkAssetsBuild&apos;,
        &apos;clean:build&apos;,
        &apos;copy:build&apos;
    ]);
};
</code></pre><!-- __LANG=%%__ -->
</docmeta>