<h1 id="myapp-tasks-register-compileassets-js">myApp/tasks/register/compileAssets.js</h1>
<p><docmeta name="uniqueID" value="compileAssetsjs631033"></docmeta></p>
<docmeta name="displayName" value="compileAssets.js">

<pre><code data-language="javascript">module.exports = function (grunt) {
    grunt.registerTask(&apos;compileAssets&apos;, [
        &apos;clean:dev&apos;,
        &apos;jst:dev&apos;,
        &apos;less:dev&apos;,
        &apos;copy:dev&apos;,
        &apos;coffee:dev&apos;
    ]);
};
</code></pre><!-- __LANG=%%__ -->
</docmeta>