<h1>myApp/tasks/register/linkAssets.js</h1>
<docmeta name="uniqueID" value="linkAssetsjs43498">
<docmeta name="displayName" value="linkAssets.js">

```
module.exports = function (grunt) {
    grunt.registerTask('linkAssets', [
        'sails-linker:devJs',
        'sails-linker:devStyles',
        'sails-linker:devTpl',
        'sails-linker:devJsJade',
        'sails-linker:devStylesJade',
        'sails-linker:devTplJade'
    ]);
};

```