<h1 id="myapp-tasks-register-linkassetsbuildprod-js">myApp/tasks/register/linkAssetsBuildProd.js</h1>
<p><docmeta name="uniqueID" value="linkAssetsBuildProdjs100842"></docmeta></p>
<docmeta name="displayName" value="linkAssetsBuildProd.js">

<pre><code data-language="javascript">module.exports = function (grunt) {
    grunt.registerTask(&apos;linkAssetsBuildProd&apos;, [
        &apos;sails-linker:prodJsRelative&apos;,
        &apos;sails-linker:prodStylesRelative&apos;,
        &apos;sails-linker:devTpl&apos;,
        &apos;sails-linker:prodJsRelativeJade&apos;,
        &apos;sails-linker:prodStylesRelativeJade&apos;,
        &apos;sails-linker:devTplJade&apos;
    ]);
};
</code></pre><!-- __LANG=%%__ -->
</docmeta>