<h1 id="myapp-tasks-register-linkassets-js">myApp/tasks/register/linkAssets.js</h1>
<p><docmeta name="uniqueID" value="linkAssetsjs43498"></docmeta></p>
<docmeta name="displayName" value="linkAssets.js">

<pre><code data-language="javascript">module.exports = function (grunt) {
    grunt.registerTask(&apos;linkAssets&apos;, [
        &apos;sails-linker:devJs&apos;,
        &apos;sails-linker:devStyles&apos;,
        &apos;sails-linker:devTpl&apos;,
        &apos;sails-linker:devJsJade&apos;,
        &apos;sails-linker:devStylesJade&apos;,
        &apos;sails-linker:devTplJade&apos;
    ]);
};
</code></pre><!-- __LANG=%%__ -->
</docmeta>