<h1>register</h1>
<h3>目的</h3>
<p>助けてください。情報が必要です。このファイルの改善にご協力ください。</p>
<p>カスタムのタスクリストを作成するにはこのディレクトリにファイルを作成し、ファイル名と一致するNODE_ENVを設定してくだい。例えば、NODE_ENVがQAなら、Sailsはtasks/register/QA.jsが存在すれば実行します。</p>
<docmeta name="uniqueID" value="registermd221221">
<docmeta name="displayName" value="register">