<h1 id="register">register</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>Halp!  Make this document better!!</p>
<p>To run a custom task list, create a file in this directory and set NODE_ENV to match this file name.  For example, if NODE_ENV is QA, sails will run tasks/register/QA.js if it exists.</p>
<p><docmeta name="uniqueID" value="registermd221221"></docmeta></p>
<docmeta name="displayName" value="register">

</docmeta>