<h1>サービス</h1>
<p>サービスはアプリケーションの中の多くの場所で使いたいような機能を含むライブラリのようなものです。例えば、デフォルトのメール送信のボイラーテンプレートをラップするようなEmailServiceをアプリケーションの中の多くの場所で使いたい場合です。Sailsでサービスを使う主な利点はこれらは <em>グローバル化</em> されていることです。つまりアクセスするのに<code>require()</code>を使う必要がありません。</p>
<docmeta name="displayName" value="Services">