<h1>コマンドライン・インタフェース (CLI)</h1>
<h3>概要</h3>
<p>Sailsはアプリケーションを素早くスキャフォールドして実行できる便利なコマンドライン・インタフェースを持っています。</p>
<docmeta name="uniqueID" value="cli83196">
<docmeta name="displayName" value="Command Line Interface">
<docmeta name="stabilityIndex" value="3">