<h1 id="sails-new">sails new</h1>
<p><code>sails new &lt;appName&gt;</code> creates a new Sails project in a folder called <strong>appName</strong>.</p>
<h5 id="options-" permalink="options">Options:</h5>
<ul>
<li><code>--no-linker</code> Disable automatic asset linking in your view and static HTML files (the relevant grunt tasks will not be created)</li>
<li><code>--no-frontend</code> Disable the generation of the <code>assets</code> folder and files. Views will be created with hardcopied linked resources  off of sailsjs.org.</li>
<li><code>--template=[template language]</code> Use a different template language than the default (e.g. <code>jade</code>).  Requires that a views generator for that language (e.g. <code>sails-generate-views-jade</code>) be installed in your global node path (e.g. <code>~/node_modules/</code> works).</li>
</ul>
<blockquote>
<p><code>sails new</code> is really just a special <a href="http://beta.sailsjs.org/#/documentation/concepts/extending-sails/Generators" target="_blank">generator</a> which runs <a href="http://github.com/balderdashy/sails-generate-new" target="_blank"><code>sails-generate-new</code></a>.  In other words, running <code>sails new foo</code> is an alias for running <code>sails generate new foo</code>, and like any Sails generator, the actual generator module which gets run can be overridden in your global <code>~/.sailsrc</code> file.</p>
</blockquote>
<p><docmeta name="uniqueID" value="sailsnew912235"></docmeta></p>
<docmeta name="displayName" value="sails new">

</docmeta>