<h1 id="sails-version">sails version</h1>
<p>Get the current globally installed Sails version.</p>
<h3 id="example" permalink="example">Example</h3>
<pre><code data-language="javascript">$ sails version
0.10.0-rc5
</code></pre><!-- __LANG=%%__ -->
<p><docmeta name="uniqueID" value="sailsversion892721"></docmeta></p>
<docmeta name="displayName" value="sails version">

</docmeta>