<h1>sails generate</h1>
<p>Sailsには幾つかの<em>ジェネレータ</em>があり、新しいプロジェクトをスキャッフォールドするのに有用です。また、 よく行う作業のために<a href="http://sailsjs.jp/documentation/concepts/extending-sails/Generators/customGenerators.html">自分のジェネレータを作成</a>したり、機能を追加したり（例えば<a href="https://github.com/balderdashy/sails-generate-views-jade">好きなテンプレート言語</a>のためにビューファイルを出力したり）することが出来ます。</p>
<p>Sailsには以下のジェネレータがあります:</p>
<h4><code>sails generate new &lt;appName&gt;</code></h4>
<p><strong>appName</strong>と名づけられたフォルダにSailsプロジェクトを新規作成します。使い方のオプション日刊しては<a href="http://sailsjs.jp/documentation/reference/cli/sailsnew.html"><code>sails new</code></a>をご覧ください。</p>
<h4><code>sails generate api &lt;foo&gt;</code></h4>
<p><strong>api/models/Foo.js</strong> と <strong>api/controllers/FooController.js</strong> を生成します。</p>
<h4><code>sails generate model &lt;foo&gt; [attribute1:type1, attribute2:type2 ... ]</code></h4>
<p><strong>api/models/Foo.js</strong> を生成し、オプションとして属性を指定した型とともに含むことが出来ます。</p>
<h4><code>sails generate controller &lt;foo&gt; [action1, action2, ...]</code></h4>
<p><strong>api/controllers/FooController.js</strong> を生成し、オプションとしてアクションをを指定した名前とともに含むことが出来ます。</p>
<h4><code>sails generate adapter &lt;foo&gt;</code></h4>
<p><strong>api/adapters/foo</strong> フォルダを新しいアダプタを作成するのに必要なファイルとともに生成します。</p>
<h4><code>sails generate generator &lt;foo&gt;</code></h4>
<p><strong>foo</strong> フォルダを新しいジェネレータを作成するのに必要なファイルとともに生成します。</p>
<docmeta name="uniqueID" value="sailsgenerate197041">
<docmeta name="displayName" value="sails generate">