<h1>sails version</h1>
<p>現在グローバルにインストールされているSailsのバージョンを取得します。</p>
<h3>例</h3>
<pre><code class="language-sh">$ sails version
0.10.0-rc5</code></pre>
<docmeta name="uniqueID" value="sailsversion892721">
<docmeta name="displayName" value="sails version">