<h1>sails debug</h1>
<p>nodeデバッガを接続した状態でSailsアプリケーションを起動します。<code>node --debug app.js</code>と似ています。<code>sails lift</code>の用意幾つかのオプションを取ります。これから<a href="https://github.com/node-inspector/node-inspector">node-inspector</a>を使ってアプリケーションが動くのをデバッグできます。</p>
<h3>例</h3>
<pre><code class="language-sh">$ sails debug

info: Running node-inspector on this app...
info: If you don't know what to do next, type `help`
info: Or check out the docs:
info: http://nodejs.org/api/debugger.html

info: ( to exit, type &lt;CTRL&gt;+&lt;C&gt; )

debugger listening on port 5858</code></pre>
<blockquote>
<p>通常の（コマンドラインの）nodeデバッガをSailsで使うには常に<code>node debug app.js</code>を単に実行するだけで事足ります。</p>
</blockquote>
<docmeta name="uniqueID" value="sailsdebug521538">
<docmeta name="displayName" value="sails debug">