<h1>sails lift</h1>
<p>カレントディレクトリ（もし<code>node_modules/sails</code>があればグローバルにインストールされたSailsの代わりに利用します。）でSailsアプリケーションを実行します。</p>
<h5>オプション:</h5>
<ul>
<li><code>--dev</code> - 開発環境（デフォルト）で実行します。 開発環境ではSailsでは<code>/assets</code>フォルダを監視するのに <em>grunt-watch</em> を使います。もし何かを変更（たとえばcss-filesのどれかなど）して、ブラウザをリロードした場合、Sailsは自動的に変更を表示します。同様に、ビューはキャッシュされませんのでSailsを再起動することなくアセットのようなビューファイルを変更することが出来ます。</li>
<li><code>--prod</code> - 本番環境で実行します。</li>
<li><code>--port &lt;portNum&gt;</code> - デフォルトの(1337)ポートに変えて<code>portNum</code>で指定されたポート上で実行します。</li>
<li><code>--verbose</code> - 多めにログをとります。</li>
<li><code>--silly</code> - 異常なほど多めにログをとります。</li>
</ul>
<h3>例</h3>
<pre><code class="language-sh">$ sails lift

info: Starting app...

info: 
info: 
info:    Sails              &lt;|
info:    v0.10.3             |\
info:                       /|.\
info:                      / || \
info:                    ,'  |'  \
info:                 .-'.-==|/_--'
info:                 `--'-------' 
info:    __---___--___---___--___---___--___
info:  ____---___--___---___--___---___--___-__
info: 
info: Server lifted in `/Users/mikermcneil/code/sandbox/second`
info: To see your app, visit http://localhost:1337
info: To shut down Sails, press &lt;CTRL&gt; + C at any time.

debug: --------------------------------------------------------
debug: :: Sat Apr 05 2014 17:03:39 GMT-0500 (CDT)

debug: Environment : development
debug: Port        : 1337
debug: --------------------------------------------------------</code></pre>
<docmeta name="uniqueID" value="sailslift482554">
<docmeta name="displayName" value="sails lift">