<h1 id="sails-debug">sails debug</h1>
<p>Attach the node debugger and lift the sails app; similar to running <code>node --debug app.js</code>.  Takes the same options as <code>sails lift</code>.  You can then use <a href="https://github.com/node-inspector/node-inspector" target="_blank">node-inspector</a> to debug your app as it runs.</p>
<h3 id="example" permalink="example">Example</h3>
<pre><code data-language="javascript">$ sails debug

info: Running node-inspector on this app...
info: If you don&apos;t know what to do next, type `help`
info: Or check out the docs:
info: http://nodejs.org/api/debugger.html

info: ( to exit, type &lt;CTRL&gt;+&lt;C&gt; )

debugger listening on port 5858
</code></pre><!-- __LANG=%%__ -->
<blockquote>
<p>To use the standard (command-line) node debugger with sails, you can always just run <code>node debug app.js</code>.</p>
</blockquote>
<p><docmeta name="uniqueID" value="sailsdebug521538"></docmeta></p>
<docmeta name="displayName" value="sails debug">

</docmeta>