<h1>sails new</h1>
<p><code>sails new &lt;appName&gt;</code>は <strong>appName</strong> と命名されたフォルダにSailsプロジェクトを新規作成します。</p>
<h5>オプション:</h5>
<ul>
<li><code>--no-linker</code> 静的なHTMLファイルに対するアセットリンクを無効化します。（関連するGruntタスクは生成されません）</li>
<li><code>--no-frontend</code> <code>assets</code>フォルダとファイルの生成を無効化します。ビューはsailsjs.orgにあるリソースにハードコードでリンクされます。</li>
<li><code>--template=[template language]</code> デフォルト以外のテンプレート言語(例:<code>jade</code>)を使います。その言語向けのビュージェネレータ(例:<code>sails-generate-views-jade</code>) がグローバルなnodeパスに(例えば<code>~/node_modules/</code>でもいいです).インストールされている必要があります。 </li>
</ul>
<blockquote>
<p><code>sails new</code> は単に<a href="http://github.com/balderdashy/sails-generate-new"><code>sails-generate-new</code></a>を実行する特別な<a href="http://sailsjs.jp/documentation/concepts/extending-sails/Generators">ジェネレータ</a> です。別の言い方をすれば<code>sails new foo</code>を実行することは<code>sails generate new foo</code>のエイリアスを実行することであり、ほかのジェネレータを同じように実際に実行されるモジュールは<code>~/.sailsrc</code>で上書きできます。</p>
</blockquote>
<docmeta name="uniqueID" value="sailsnew912235">
<docmeta name="displayName" value="sails new">