<h1>アソシエーション</h1>
<p>SailsとWaterineを使えば複数のデータストアの間でモデルをアソシエートさせることが出来ます。つまりこれはユーザのデータが<a href="http://www.postgresql.org/">PostgreSQL</a>にあってその写真が<a href="http://www.mongodb.com/">MongoDB</a>にあってもそれらのデータがあたかもひとつのデータベースにあるように扱えるのです。同様に異なるコネクション <a href="http://sailsjs.org/documentation/reference/sails.config/sails.config.connections.html">connections</a>(すなわちデータストアやデータベース)をまたがるデータも同一のアダプタを使ってアソシエート出来ます。これは例えばあなたのアプリケーションがレガシーなやり方で会社のデータセンタ内の<a href="http://www.mysql.com/">MySQL</a>データベースに大したアクセス・アップデートする必要があり、他方でクラウド上に設置された全く新しいMySQLデータベースに保存・読出しなければならない時に便利です。</p>
<docmeta name="uniqueID" value="Associations913185">
<docmeta name="displayName" value="Associations">