<h1 id="direct-access-to-join-tables">Direct Access to Join Tables</h1>
<h3 id="danger-danger-" permalink="danger-danger">DANGER DANGER!!</h3>
<p>You can use waterline for low level access to join tables.  Unless you know what youre doing, DONT DO THIS!</p>
<p>TODO</p>
<p><docmeta name="uniqueID" value="joinTables33382"></docmeta></p>
<docmeta name="displayName" value="Accessing Join Tables">
</docmeta>