<h1 id="many-to-many">Many-to-Many</h1>
<h3 id="overview" permalink="overview">Overview</h3>
<p>A many-to-many association states that a model can be associated with many other models and vice-versa.
Because both models can have many related models a new join table will need to be created to keep track
of these relations.</p>
<p>Waterline will look at your models and if it finds that two models both have collection attributes that
point to each other, it will automatically build up a join table for you.</p>
<p>Because you may want a model to have multiple many-to-many associations on another model a <code>via</code> key
is needed on the <code>collection</code> attribute. This states which <code>model</code> attribute on the one side of the
association is used to populate the records.</p>
<p>Using the <code>User</code> and <code>Pet</code> example lets look at how to build a schema where a <code>User</code> may have many
<code>Pet</code> records and a <code>Pet</code> may have multiple owners.</p>
<h3 id="many-to-many-example" permalink="manytomany-example">Many-to-Many Example</h3>
<p>In this example, we will start with an array of users and an array of pets.  We will create records for each element in each array then associate all of the <code>Pets</code> with all of the <code>Users</code>.  If everything worked properly, we should be able to query any <code>User</code> and see that they &apos;own&apos; all of the <code>Pets</code>.  Furthermore, we should be able to query any <code>Pet</code> and see that it is &apos;owned&apos; by every <code>User</code>.</p>
<p><code>myApp/api/models/pet.js</code></p>
<pre><code data-language="javascript">module.exports = {

    attributes: {
        name:&apos;STRING&apos;,
        color:&apos;STRING&apos;,

        // Add a reference to User
        owners: {
            collection: &apos;user&apos;,
            via: &apos;pets&apos;
        }
    }
}
</code></pre><!-- __LANG=%%__ -->
<p><code>myApp/api/models/user.js</code></p>
<pre><code data-language="javascript">module.exports = {

    attributes: {
        name:&apos;STRING&apos;,
        age:&apos;INTEGER&apos;,

        // Add a reference to Pet
        pets:{
            collection: &apos;pet&apos;,
            via: &apos;owners&apos;
        }
    }

}
</code></pre><!-- __LANG=%%__ -->
<p><code>myApp/config/bootstrap.js</code></p>
<pre><code data-language="javascript">module.exports.bootstrap = function (cb) {

// After we create our users, we will store them here to associate with our pets
var storeUsers = []; 

var users = [{name:&apos;Mike&apos;,age:&apos;16&apos;},{name:&apos;Cody&apos;,age:&apos;25&apos;},{name:&apos;Gabe&apos;,age:&apos;107&apos;}];
var ponys = [{ name: &apos;Pinkie Pie&apos;, color: &apos;pink&apos;},{ name: &apos;Rainbow Dash&apos;,color: &apos;blue&apos;},{ name: &apos;Applejack&apos;, color: &apos;orange&apos;}]

// This does the actual associating.
// It takes one Pet then iterates through the array of newly created Users, adding each one to it&apos;s join table
var associate = function(onePony,cb){
  var thisPony = onePony;
  var callback = cb;

  storeUsers.forEach(function(thisUser,index){
    console.log(&apos;Associating &apos;,thisPony.name,&apos;with&apos;,thisUser.name);
    thisUser.pets.add(thisPony.id);
    thisUser.save(console.log);

    if (index === storeUsers.length-1)
      return callback(thisPony.name);
  })
};


// This callback is run after all of the Pets are created.
// It sends each new pet to &apos;associate&apos; with our Users  
var afterPony = function(err,newPonys){
  while (newPonys.length){
    var thisPony = newPonys.pop();
    var callback = function(ponyID){
      console.log(&apos;Done with pony &apos;,ponyID)
    }
    associate(thisPony,callback)
  }
  console.log(&apos;Everyone belongs to everyone!! Exiting.&apos;);

  // This callback lets us leave bootstrap.js and continue lifting our app!
  return cb()
};

// This callback is run after all of our Users are created.
// It takes the returned User and stores it in our storeUsers array for later.
var afterUser = function(err,newUsers){
  while (newUsers.length)
    storeUsers.push(newUsers.pop())

  Pet.create(ponys).exec(afterPony)
};


User.create(users).exec(afterUser)

};
</code></pre><!-- __LANG=%%__ -->
<p>Lifting our app with <code>sails console</code></p>
<pre><code data-language="javascript">dude@littleDude:~/node/myApp$ sails console

info: Starting app in interactive mode...

Associating  Applejack with Gabe
Associating  Applejack with Cody
Associating  Applejack with Mike
Done with pony  Applejack
Associating  Rainbow Dash with Gabe
Associating  Rainbow Dash with Cody
Associating  Rainbow Dash with Mike
Done with pony  Rainbow Dash
Associating  Pinkie Pie with Gabe
Associating  Pinkie Pie with Cody
Associating  Pinkie Pie with Mike
Done with pony  Pinkie Pie
Everyone belongs to everyone!! Exiting.
info: Welcome to the Sails console.
info: ( to exit, type &lt;CTRL&gt;+&lt;C&gt; )

sails&gt; null { name: &apos;Gabe&apos;,
  age: 107,
  createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  id: 9 }
null { name: &apos;Cody&apos;,
  age: 25,
  createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  id: 8 }
null { name: &apos;Mike&apos;,
  age: 16,
  createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  id: 7 }
null { name: &apos;Gabe&apos;,
  age: 107,
  createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  id: 9 }
null { name: &apos;Cody&apos;,
  age: 25,
  createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  id: 8 }
null { name: &apos;Mike&apos;,
  age: 16,
  createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  id: 7 }
null { name: &apos;Gabe&apos;,
  age: 107,
  createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  id: 9 }
null { name: &apos;Cody&apos;,
  age: 25,
  createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  id: 8 }
null { name: &apos;Mike&apos;,
  age: 16,
  createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  id: 7 }
sails&gt; Pet.find().populate(&apos;owners&apos;).exec(function(e,r){while(r.length){var thisPet=r.pop();console.log(thisPet.toJSON())}});
{ owners: 
   [ { name: &apos;Mike&apos;,
       age: 16,
       id: 7,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) },
     { name: &apos;Cody&apos;,
       age: 25,
       id: 8,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) },
     { name: &apos;Gabe&apos;,
       age: 107,
       id: 9,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) } ],
  name: &apos;Applejack&apos;,
  color: &apos;orange&apos;,
  createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  id: 9 }
{ owners: 
   [ { name: &apos;Mike&apos;,
       age: 16,
       id: 7,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) },
     { name: &apos;Cody&apos;,
       age: 25,
       id: 8,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) },
     { name: &apos;Gabe&apos;,
       age: 107,
       id: 9,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) } ],
  name: &apos;Rainbow Dash&apos;,
  color: &apos;blue&apos;,
  createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  id: 8 }
{ owners: 
   [ { name: &apos;Mike&apos;,
       age: 16,
       id: 7,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) },
     { name: &apos;Cody&apos;,
       age: 25,
       id: 8,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) },
     { name: &apos;Gabe&apos;,
       age: 107,
       id: 9,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) } ],
  name: &apos;Pinkie Pie&apos;,
  color: &apos;pink&apos;,
  createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  id: 7 }
sails&gt; User.find().populate(&apos;pets&apos;).exec(function(e,r){while(r.length){var thisUser=r.pop();console.log(thisUser.toJSON())}});
{ pets: 
   [ { name: &apos;Pinkie Pie&apos;,
       color: &apos;pink&apos;,
       id: 7,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) },
     { name: &apos;Rainbow Dash&apos;,
       color: &apos;blue&apos;,
       id: 8,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) },
     { name: &apos;Applejack&apos;,
       color: &apos;orange&apos;,
       id: 9,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) } ],
  name: &apos;Gabe&apos;,
  age: 107,
  createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  id: 9 }
{ pets: 
   [ { name: &apos;Pinkie Pie&apos;,
       color: &apos;pink&apos;,
       id: 7,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) },
     { name: &apos;Rainbow Dash&apos;,
       color: &apos;blue&apos;,
       id: 8,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) },
     { name: &apos;Applejack&apos;,
       color: &apos;orange&apos;,
       id: 9,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) } ],
  name: &apos;Cody&apos;,
  age: 25,
  createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  id: 8 }
{ pets: 
   [ { name: &apos;Pinkie Pie&apos;,
       color: &apos;pink&apos;,
       id: 7,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) },
     { name: &apos;Rainbow Dash&apos;,
       color: &apos;blue&apos;,
       id: 8,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) },
     { name: &apos;Applejack&apos;,
       color: &apos;orange&apos;,
       id: 9,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) } ],
  name: &apos;Mike&apos;,
  age: 16,
  createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  id: 7 }
</code></pre><!-- __LANG=%%__ -->
<h3 id="notes" permalink="notes">Notes</h3>
<blockquote>
<p>For a more detailed description of this type of association, see the <a href="https://github.com/balderdashy/waterline-docs/blob/master/associations.md" target="_blank">Waterline Docs</a></p>
</blockquote>
<p><docmeta name="uniqueID" value="ManytoMany276455"></docmeta></p>
<docmeta name="displayName" value="Many-to-Many">

</docmeta>