<h1>1対多</h1>
<h3>概要</h3>
<p>1対他のアソシエーションはあるモデルが複数の別のモデルに属する状態を言います。
このアソシエーションを構築するためには<code>collection</code>を使っ仮想的なアトリビュートを作ります。
1対他のアソシエーションにおいては片方が<code>collection</code>アトリビュートを持ち、もう一方では<code>model</code>アトリビュートをもつ必要があります。
これにとって「多」側で<code>populate</code>が利用された際にどのレコードを取得すべきかわかることが出来ます。</p>
<p>モデルが別のモデルと複数の多対多のアソシエーションを持つこともあるため<code>collection</code>アトリビュートには
<code>via</code>キーが必要です。
これでアソシエーションの一方のどの<code>model</code>アトリビュートがレコードを埋めるために使われるかが示されます。</p>
<h3>1対多の例</h3>
<p><code>myApp/api/models/pet.js</code></p>
<pre><code class="language-javascript">
module.exports = {

    attributes: {
        name:'STRING',
        color:'STRING',
        owner:{
            model:'user'
        }
    }

}
</code></pre>
<p><code>myApp/api/models/user.js</code></p>
<pre><code class="language-javascript">
module.exports = {

    attributes: {
        name:'STRING',
        age:'INTEGER',
        pets:{
            collection: 'pet',
            via: 'owner'
        }
    }

}
</code></pre>
<p>Using <code>sails console</code></p>
<pre><code class="language-sh">
sails&gt; User.create({name:'Mike',age:'21'}).exec(console.log)
null { pets: [Getter/Setter],
  name: 'Mike',
  age: 21,
  createdAt: Tue Feb 11 2014 17:49:04 GMT-0600 (CST),
  updatedAt: Tue Feb 11 2014 17:49:04 GMT-0600 (CST),
  id: 1 }

sails&gt; Pet.create({name:'Pinkie Pie',color:'pink',owner:1}).exec(console.log)
null { name: 'Pinkie Pie',
    color: 'pink',
    owner: 1,
    createdAt: Tue Feb 11 2014 17:58:04 GMT-0600 (CST),
    updatedAt: Tue Feb 11 2014 17:58:04 GMT-0600 (CST),
    id: 2 }

sails&gt; Pet.create({name:'Applejack',color:'orange',owner:1}).exec(console.log)
null { name: 'Applejack',
    color: 'orange',
    owner: 1,
    createdAt: Tue Feb 11 2014 18:02:58 GMT-0600 (CST),
    updatedAt: Tue Feb 11 2014 18:02:58 GMT-0600 (CST),
    id: 4 }

sails&gt; User.find().populate('pets').exec(function(err,r){console.log(r[0].toJSON())});
{ pets: 
   [ { name: 'Pinkie Pie',
       color: 'pink',
       id: 2,
       createdAt: Tue Feb 11 2014 17:58:04 GMT-0600 (CST),
       updatedAt: Tue Feb 11 2014 17:58:04 GMT-0600 (CST),
       owner: 1 },
     { name: 'Applejack',
       color: 'orange',
       id: 4,
       createdAt: Tue Feb 11 2014 18:02:58 GMT-0600 (CST),
       updatedAt: Tue Feb 11 2014 18:02:58 GMT-0600 (CST),
       owner: 1 } ],
  name: 'Mike',
  age: 21,
  createdAt: Tue Feb 11 2014 17:49:04 GMT-0600 (CST),
  updatedAt: Tue Feb 11 2014 17:49:04 GMT-0600 (CST),
  id: 1 }

sails&gt; Pet.find(4).populate('owner').exec(console.log)
null [ { name: 'Applejack',
    color: 'orange',
    owner: 
     { pets: [Getter/Setter],
       name: 'Mike',
       age: 21,
       id: 1,
       createdAt: Tue Feb 11 2014 17:49:04 GMT-0600 (CST),
       updatedAt: Tue Feb 11 2014 17:49:04 GMT-0600 (CST) },
    createdAt: Tue Feb 11 2014 18:02:58 GMT-0600 (CST),
    updatedAt: Tue Feb 11 2014 18:02:58 GMT-0600 (CST),
    id: 4 } ]
</code></pre>
<h3>備考</h3>
<blockquote>
<p>このタイプのアソシエーションに関するさらに詳細な説明は<a href="https://github.com/balderdashy/waterline-docs/blob/master/models/associations/associations.md">Waterline Docs</a>をご覧ください。</p>
</blockquote>
<docmeta name="uniqueID" value="OnetoMany478093">
<docmeta name="displayName" value="One-to-Many">