<h1 id="one-to-one">One-to-One</h1>
<h3 id="overview" permalink="overview">Overview</h3>
<p>A one-to-one association states that a model may only be associated with one other model. In order
for the model to know which other model it is associated with, a foreign key must be included in the
record.</p>
<h3 id="one-to-one-example" permalink="onetoone-example">One-to-One Example</h3>
<p>In this example, we are associating a <code>Pet</code> with a <code>User</code>. The <code>User</code> may only have one <code>Pet</code> and viceversa, a <code>Pet</code> can only have one <code>User</code>. However, in order to query this association from both sides, you will have to create/update both models.</p>
<p><code>myApp/api/models/pet.js</code></p>
<pre><code data-language="javascript">module.exports = {

    attributes: {
        name:&apos;STRING&apos;,
        color:&apos;STRING&apos;,
        owner:{
            model:&apos;user&apos;
        }
    }

}
</code></pre><!-- __LANG=%%__ -->
<p><code>myApp/api/models/user.js</code></p>
<pre><code data-language="javascript">module.exports = {

    attributes: {
        name:&apos;STRING&apos;,
        age:&apos;INTEGER&apos;,
        pony:{
            model: &apos;pet&apos;
        }
    }

}
</code></pre><!-- __LANG=%%__ -->
<p>Using <code>sails console</code></p>
<pre><code data-language="javascript">sails&gt; User.create({ name: &apos;Mike&apos;, age: 21}).exec(console.log);
null { name: &apos;Mike&apos;,
  age: 21,
  createdAt: Thu Feb 20 2014 17:12:18 GMT-0600 (CST),
  updatedAt: Thu Feb 20 2014 17:12:18 GMT-0600 (CST),
  id: 1 }

sails&gt; Pet.create({ name: &apos;Pinkie Pie&apos;, color: &apos;pink&apos;, owner: 1}).exec(console.log)
null { name: &apos;Pinkie Pie&apos;,
    color: &apos;pink&apos;,
    owner: 1,
    createdAt: Thu Feb 20 2014 17:26:16 GMT-0600 (CST),
    updatedAt: Thu Feb 20 2014 17:26:16 GMT-0600 (CST),
    id: 2 }

sails&gt; Pet.find().populate(&apos;owner&apos;).exec(console.log)
null [ { name: &apos;Pinkie Pie&apos;,
    color: &apos;pink&apos;,
    owner: 
     { name: &apos;Mike&apos;,
       age: 21,
       id: 1,
       createdAt: Thu Feb 20 2014 17:12:18 GMT-0600 (CST),
       updatedAt: Thu Feb 20 2014 17:12:18 GMT-0600 (CST) },
    createdAt: Thu Feb 20 2014 17:26:16 GMT-0600 (CST),
    updatedAt: Thu Feb 20 2014 17:26:16 GMT-0600 (CST),
    id: 2 } ]

sails&gt; User.find().populate(&apos;pony&apos;).exec(console.log)
null [ { name: &apos;Mike&apos;,
    age: 21,
    createdAt: Thu Feb 20 2014 18:11:15 GMT-0600 (CST),
    updatedAt: Thu Feb 20 2014 18:11:15 GMT-0600 (CST),
    id: 2,
    pony: undefined } ]

sails&gt; User.update({name:&apos;Mike&apos;},{pony:2}).exec(console.log)
null [ { name: &apos;Mike&apos;,
    age: 21,
    createdAt: Thu Feb 20 2014 17:12:18 GMT-0600 (CST),
    updatedAt: Thu Feb 20 2014 17:30:58 GMT-0600 (CST),
    id: 1,
    pony: 2 } ]

sails&gt; User.findOne(1).populate(&apos;pony&apos;).exec(console.log)
null { name: &apos;Mike&apos;,
  age: 21,
  createdAt: Thu Feb 20 2014 17:12:18 GMT-0600 (CST),
  updatedAt: Thu Feb 20 2014 17:30:58 GMT-0600 (CST),
  id: 1,
  pony: 
   { name: &apos;Pinkie Pie&apos;,
     color: &apos;pink&apos;,
     id: 2,
     createdAt: Thu Feb 20 2014 17:26:16 GMT-0600 (CST),
     updatedAt: Thu Feb 20 2014 17:26:16 GMT-0600 (CST),
     owner: 1 } }
</code></pre><!-- __LANG=%%__ -->
<h3 id="notes" permalink="notes">Notes</h3>
<blockquote>
<p>For a more detailed description of this type of association, see the <a href="https://github.com/balderdashy/waterline-docs/blob/master/associations.md" target="_blank">Waterline Docs</a></p>
</blockquote>
<p><docmeta name="uniqueID" value="OnetoOne169258"></docmeta></p>
<docmeta name="displayName" value="One-to-One">

</docmeta>