<h1>1対1</h1>
<h3>概要</h3>
<p>1対1アソシエーションはあるモデルが一つの別のモデルにのみ関連付けられている状態を言います。
一方のモデルが度の一方のモデルに関連付けられているかを知るためにレコードには外部キーが含まれている
必要があります。</p>
<h3>1対1の例</h3>
<p>この例では<code>Pet</code>と<code>User</code>を関連付けます。このケースでは<code>User</code>は一つだけの<code>Pet</code>を持つことできますが、<code>Pet</code>は一つだけの<code>User</code>によって所有されているわけではありません。しかしながら両側からアソシエーションの問い合わせを行う必要があるので両方のモデルをcreate/updateしなければいけません。</p>
<p><code>myApp/api/models/pet.js</code></p>
<pre><code class="language-javascript">
module.exports = {

    attributes: {
        name:'STRING',
        color:'STRING',
        owner:{
            model:'user'
        }
    }

}
</code></pre>
<p><code>myApp/api/models/user.js</code></p>
<pre><code class="language-javascript">
module.exports = {

    attributes: {
        name:'STRING',
        age:'INTEGER',
        pony:{
            model: 'pet'
        }
    }

}</code></pre>
<p><code>sails console</code>を利用します。</p>
<pre><code class="language-sh">
sails&gt; User.create({ name: 'Mike', age: 21}).exec(console.log);
null { name: 'Mike',
  age: 21,
  createdAt: Thu Feb 20 2014 17:12:18 GMT-0600 (CST),
  updatedAt: Thu Feb 20 2014 17:12:18 GMT-0600 (CST),
  id: 1 }

sails&gt; Pet.create({ name: 'Pinkie Pie', color: 'pink', owner: 1}).exec(console.log)
null { name: 'Pinkie Pie',
    color: 'pink',
    owner: 1,
    createdAt: Thu Feb 20 2014 17:26:16 GMT-0600 (CST),
    updatedAt: Thu Feb 20 2014 17:26:16 GMT-0600 (CST),
    id: 2 }

sails&gt; Pet.find().populate('owner').exec(console.log)
null [ { name: 'Pinkie Pie',
    color: 'pink',
    owner: 
     { name: 'Mike',
       age: 21,
       id: 1,
       createdAt: Thu Feb 20 2014 17:12:18 GMT-0600 (CST),
       updatedAt: Thu Feb 20 2014 17:12:18 GMT-0600 (CST) },
    createdAt: Thu Feb 20 2014 17:26:16 GMT-0600 (CST),
    updatedAt: Thu Feb 20 2014 17:26:16 GMT-0600 (CST),
    id: 2 } ]

sails&gt; User.find().populate('pony').exec(console.log)
null [ { name: 'Mike',
    age: 21,
    createdAt: Thu Feb 20 2014 18:11:15 GMT-0600 (CST),
    updatedAt: Thu Feb 20 2014 18:11:15 GMT-0600 (CST),
    id: 2,
    pony: undefined } ]

sails&gt; User.update({name:'Mike'},{pony:2}).exec(console.log)
null [ { name: 'Mike',
    age: 21,
    createdAt: Thu Feb 20 2014 17:12:18 GMT-0600 (CST),
    updatedAt: Thu Feb 20 2014 17:30:58 GMT-0600 (CST),
    id: 1,
    pony: 2 } ]

sails&gt; User.findOne(1).populate('pony').exec(console.log)
null { name: 'Mike',
  age: 21,
  createdAt: Thu Feb 20 2014 17:12:18 GMT-0600 (CST),
  updatedAt: Thu Feb 20 2014 17:30:58 GMT-0600 (CST),
  id: 1,
  pony: 
   { name: 'Pinkie Pie',
     color: 'pink',
     id: 2,
     createdAt: Thu Feb 20 2014 17:26:16 GMT-0600 (CST),
     updatedAt: Thu Feb 20 2014 17:26:16 GMT-0600 (CST),
     owner: 1 } }
</code></pre>
<h3>備考</h3>
<blockquote>
<p>このタイプのアソシエーションに関するさらに詳細な説明は<a href="https://github.com/balderdashy/waterline-docs/blob/master/models/associations/one-to-one.md">Waterline Docs</a>をご覧ください。</p>
</blockquote>
<docmeta name="uniqueID" value="OnetoOne169258">
<docmeta name="displayName" value="One-to-One">