<h1>片方向のアソシエーション</h1>
<h3>概要</h3>
<p>片方向のアソシエーションはモデルが別のモデルに関連付けられている状態を言います。この状態ではあるモデルを問い合わせることで関連するモデルを取得することができます。</p>
<h3>片方向のアソシエーションの例</h3>
<p>この例では<code>User</code>に<code>Pet</code>を関連付けますが<code>Pet</code>に<code>User</code>を関連付けることはしません。</p>
<p><code>myApp/api/models/pet.js</code></p>
<pre><code class="language-javascript">
module.exports = {

    attributes: {
        name:'STRING',
        color:'STRING'
    }

}
</code></pre>
<p><code>myApp/api/models/user.js</code></p>
<pre><code class="language-javascript">
module.exports = {

    attributes: {
        name:'STRING',
        age:'INTEGER',
        pony:{
            model: 'pet'
        }
    }

}
</code></pre>
<p>Using <code>sails console</code></p>
<pre><code class="language-sh">
sails&gt; Pet.create({name:'Pinkie Pie',color:'pink'}).exec(console.log)
null { name: 'Pinkie Pie',
  color: 'pink',
  createdAt: Tue Feb 11 2014 15:45:33 GMT-0600 (CST),
  updatedAt: Tue Feb 11 2014 15:45:33 GMT-0600 (CST),
  id: 5 }

sails&gt; User.create({name:'Mike',age:21,pony:5}).exec(console.log);
null { name: 'Mike',
  age: 21,
  pony: 5,
  createdAt: Tue Feb 11 2014 15:48:53 GMT-0600 (CST),
  updatedAt: Tue Feb 11 2014 15:48:53 GMT-0600 (CST),
  id: 1 }

sails&gt; User.find({name:'Mike'}).populate('pony').exec(console.log);
null [ { name: 'Mike',
    age: 21,
    pony: 
     { name: 'Pinkie Pie',
       color: 'pink',
       id: 5,
       createdAt: Tue Feb 11 2014 15:45:33 GMT-0600 (CST),
       updatedAt: Tue Feb 11 2014 15:45:33 GMT-0600 (CST) },
    createdAt: Tue Feb 11 2014 15:48:53 GMT-0600 (CST),
    updatedAt: Tue Feb 11 2014 15:48:53 GMT-0600 (CST),
    id: 1 } ]
</code></pre>
<h3>備考</h3>
<blockquote>
<p>このタイプのアソシエーションに関するさらに詳細な説明は<a href="https://github.com/balderdashy/waterline-docs/blob/master/models/associations/associations.md">Waterline Docs</a>をご覧ください。</p>
<p>片側のモデルだけにアソシエーションを設定したため、<code>Pet</code>がいくつの<code>User</code>に関連付けられるかの制約はありません。もしそれを行いたい場合は<code>Pet</code>を厳密に一人の<code>User</code>に関連付けたり<code>User</code>を厳密に一つの<code>Pet</code>に関連付けるようにアソシエーションを編集することができます。 </p>
</blockquote>
<docmeta name="uniqueID" value="OneWayAssociation708096">
<docmeta name="displayName" value="One Way Association">