<h1 id="through-associations">Through Associations</h1>
<h3 id="overview" permalink="overview">Overview</h3>
<p>Many-to-Many through associations behave the same way as many-to-many associations with the exception
of the join table being automatically created for you. This allows you to attach additional attributes
onto the relationship inside of the join table.</p>
<p>Unfortunately, they are not supported yet.  Don&apos;t worry though, there&apos;s an easy workaround.</p>
<p>You can accomplish this by using an additional model as an intermediary.  Instead of a many-to-many association between two models, you can use multiple one-to-many associations through the intermediary model.</p>
<p><docmeta name="uniqueID" value="ThroughAssociations740718"></docmeta></p>
<docmeta name="displayName" value="Through Associations">

</docmeta>