<h1>res.type()</h1>
<p>レスポンスの&quot;Content-Type&quot;ヘッダーに指定された<code>type</code>をセットします。</p>
<p>このメソッドは非常に寛容（下記の例を御覧ください）ですが、<code>type</code>が<code>"/"</code>を含んでいた場合、これはMINEタイプだとみなし、そのまま解釈します。</p>
<h3>使い方</h3>
<pre><code class="language-javascript">res.type(type);</code></pre>
<h3>例</h3>
<pre><code class="language-javascript">res.type('.html');
res.type('html');
res.type('json');
res.type('application/json');
res.type('png');</code></pre>
<docmeta name="uniqueID" value="restype43929">
<docmeta name="displayName" value="res.type()">