<h1>res.serverError()</h1>
<p>このメソッドは<a href="http://en.wikipedia.org/wiki/List_of_HTTP_status_codes#5xx_Server_Error">500</a> (&quot;Server Error&quot;)をレスポンスすることでクライアントに何らかのサーバエラーが起こったことを通知するものです。</p>
<h3>使い方</h3>
<pre><code class="language-js">return res.serverError();</code></pre>
<p><em>あるいは:</em></p>
<ul>
<li><code>return res.serverError(data);</code></li>
<li><code>return res.serverError(data, pathToView);</code></li>
</ul>
<h3>詳細</h3>
<p>ほかのカスタムレスポンスモジュールと同じようにこのメソッドはカスタマイズ可能です。</p>
<p>デフォルトでこれは以下のように動作します:</p>
<ul>
<li>リクエストが&quot;<a href="http://sailsjs.jp/documentation/reference/req/req.wantsJSON.html">JSONを望んでいる</a>&quot;場合（例えはリクエストがAJAXやWebSocketsその他cURLなどのRESTクライアントからのものである場合）、Sailsは与えられたエラーの<code>data</code>をJSONで返します。もし何の<code>data</code>も与えられていない時はデフォルトのレスポンスボディ（文字列の<code>"Server Error"</code>）が送信されます。</li>
<li>リクエストがJSONを望んで <em>いない場合</em> （例:URLがブラウザに打ち込まれた場合）、Sailsはビューのうち1つを返そうとします。
<ul>
<li>特定の<code>pathToView</code>が与えられているときはSailsはそのビューを返そうとします。</li>
<li>そうではなく<code>pathToView</code>が与えられて_いない時_Sailsは適切なviewを推測しようとします。（<a href="http://sailsjs.jp/documentation/anatomy/myApp/views/500.ejs.html"><code>views/500.ejs</code></a>にあるビュー）、もし適切なビューを見つけられない時Sailsは単にJSONを返します。</li>
<li>Sailsがビューを返すとき、<code>data</code>引数は<a href="http://sailsjs.jp/documentation/concepts/Views/Locals.html">view local</a>: <code>data</code>としてアクセス可能です。</li>
</ul></li>
</ul>
<h3>例</h3>
<p>デフォルトのビューを使って:</p>
<pre><code class="language-javascript">return res.serverError('Salesforce could not be reached');</code></pre>
<p>カスタムビューで:</p>
<pre><code class="language-javascript">return res.serverError(
  'Salesforce could not be reached',
  'salesforce/leads/edit'
);</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li>このメソッドは <strong>ターミナル</strong>であり、リクエストを処理するための一般的に最後の1行であるべきです。（そのためこれらのドキュメントの使用方法では<code>return</code>を使うと考えるべきです。）。</li>
<li><code>res.serverError()</code>は（ほかのユーザ側のレスポンスメソッドと同様に）編集や上書きが可能です。<code>/responses/serverError.js</code>で定義されたレスポンスメソッドが実行されますが、これはSailsアプリケーションを生成する際に自動的に作成されます。<code>serverError.js</code>が無いときはSailsは暗黙でデフォルトの振る舞いを利用します。</li>
<li><code>pathToView</code>がっ存在しないビューを示している場合、このメソッドはリクエストが「JSONを望んでいる」ように振る舞います。
+　デフォルトではアプリケーションが本番環境で実行されている時(すなわち<code>process.env.NODE_ENV === 'production'</code>)に於いては特定のエラー(<code>err</code>)は除外されます。</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="resserverError551750">
<docmeta name="displayName" value="res.serverError()">