<h1>res.set()</h1>
<p>特定のレスポンスヘッダ(<code>header</code>) に特定の値(<code>value</code>)をセットします</p>
<p>代わりに、キーをフィールド名、値を設定したい値にする形の複数のヘッダフィールドを含む一つオブジェクトの引数(<code>headers</code>)を渡すことも可能です。</p>
<h3>使い方</h3>
<pre><code class="language-js">res.set(header, value);</code></pre>
<p>-または-</p>
<pre><code class="language-js">res.set(headers);</code></pre>
<h3>例</h3>
<pre><code class="language-javascript">
res.set('Content-Type', 'text/plain');

res.set({
  'Content-Type': 'text/plain',
  'Content-Length': '123',
  'ETag': '12345'
})
</code></pre>
<docmeta name="uniqueID" value="resset167965">
<docmeta name="displayName" value="res.set()">