<h1>res.attachment()</h1>
<p>現在のリクエストの &quot;Content-Disposition&quot;に&quot;attachment&quot;をセットします。<code>filename</code>が与えられていれば&quot;Content-Type&quot;はファイル名の拡張子(<code>.jpg</code>または<code>.html</code>など)から自動的に推測されてセットされ&quot;Content-Disposition&quot;ヘッダーには&quot;filename=<code>filename</code>&quot;がセットされます。</p>
<h3>使い方</h3>
<pre><code class="language-javascript">res.attachment([filename]);</code></pre>
<h3>例</h3>
<pre><code class="language-javascript">res.attachment();
// -&gt; response header will contain:
//   Content-Disposition: attachment

res.attachment('path/to/logo.png');
// -&gt; response header will contain:
//   Content-Disposition: attachment; filename="logo.png"
//   Content-Type: image/png</code></pre>
<docmeta name="uniqueID" value="resattachment107506">
<docmeta name="displayName" value="res.attachment()">