<h1>res.negotiate()</h1>
<p>クライアントに対して適切なエラー(<code>err</code>)を返します。<a href="http://sailsjs.jp/documentation/reference/waterline/models/create.html">Model.create()</a>や<a href="http://sailsjs.jp/documentation/reference/waterline/models/update.html">Model.update()</a>からのエラーの可能性のあるものに対応するのに特に便利です。</p>
<h3>使い方</h3>
<pre><code class="language-js">return res.negotiate(err);</code></pre>
<h3>詳細</h3>
<p>ほかのカスタムレスポンスモジュールと同じように。このメソッドの振る舞いはカスタマイズ可能です。</p>
<p><code>res.negotiate()</code>は与えられたエラー(<code>err</code>)に対して適切なエラーハンドリングの振る舞いを以下のメソッドのうちから決定します:</p>
<ul>
<li><a href="http://sailsjs.jp/documentation/anatomy/myApp/api/responses/badRequest.js.html"><code>res.badRequest()</code></a>   (400)</li>
<li><a href="http://sailsjs.jp/documentation/anatomy/myApp/api/responses/forbidden.js.html"><code>res.forbidden()</code></a>    (403)</li>
<li><a href="http://sailsjs.jp/documentation/anatomy/myApp/api/responses/notFound.js.html"><code>res.notFound()</code></a>     (404)</li>
<li><a href="http://sailsjs.jp/documentation/anatomy/myApp/api/responses/serverError.js.html"><code>res.serverError()</code></a>  (500)</li>
</ul>
<p>判断は<code>err</code>の&quot;status&quot;プロパティから判断されます。詳細な診断ができない場合(&quot;status&quot;プロパティが存在しない、または文字列の場合）、Sailsは<code>res.serverError()</code>をデフォルトで選択します。</p>
<h3>例</h3>
<pre><code class="language-javascript">// Add Fido's birthday to the database:
Pet.update({name: 'fido'})
  .set({birthday: new Date('01/01/2010')})
  .exec(function (err, fido) {
    if (err) return res.negotiate(err);
    return res.ok(fido);
   });</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li>このメソッドは <strong>ターミナル</strong>であり、リクエストを処理するための一般的に最後の1行であるべきです。（そのためこれらのドキュメントの使用方法では<code>return</code>を使うと考えるべきです。）。</li>
<li><code>res.negotiate()</code>は（ほかのユーザー側のレスポンスメソッドと同じように）編集い、上書きが可能です。単にレスポンスモジュール(<code>/responses/negotiate.js</code>)を定義しファンクションの定義をexportして下さい。</li>
<li>このメソッドはcatch出来ないエラーに対するSailsのデフォルトのハンドラーです。これはつまり<em> イベントループの最初以外の全ての </em>　場所でエラーがハンドラーコードに投げ込まれた時自動的に呼びだされます。非同期のコードから上げられる全てのcallbacks/promisesに関して常にエラーハンドリングを特定すべきです。</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="resnegotiate730536">
<docmeta name="displayName" value="res.negotiate()">