<h1>res.cookie()</h1>
<p>レスポンスに加えて (<code>name</code>)の名前と(<code>value</code>)の値を持つクッキーをセットするよう送信します。</p>
<h3>使い方</h3>
<pre><code class="language-js">res.cookie(name, value [,options]);</code></pre>
<h3>詳細</h3>
<p>&quot;path&quot;オプションのデフォルトは&quot;/&quot;です。</p>
<p>&quot;maxAge&quot;オプションは「有効期限」を現在時刻との相対値で設定する便利なオプションです。以下の例は上記の例と同じ意味です。</p>
<pre><code class="language-javascript">res.cookie('rememberme', '1', { maxAge: 900000, httpOnly: true })</code></pre>
<p>オブジェクトはシリアライズされたJSONで渡すことが出来、bodyParser()によって自動的にパースされます。</p>
<pre><code class="language-javascript">res.cookie('cart', { items: [1,2,3] });
res.cookie('cart', { items: [1,2,3] }, { maxAge: 900000 });</code></pre>
<p>このメソッドではサイン済みのクッキーもサポートされています。単にsignedオプションを追加して下さい。express.cookieParser(secret)で渡された秘密鍵を使ってres.cookie()が値にサインをします。</p>
<pre><code class="language-javascript">res.cookie('name', 'tobi', { signed: true });</code></pre>
<h3>例</h3>
<pre><code class="language-javascript">res.cookie('name', 'tobi', {
  domain: '.example.com',
  path: '/admin',
  secure: true
});

res.cookie('rememberme', '1', {
  expires: new Date(Date.now() + 900000),
  httpOnly: true
});</code></pre>
<docmeta name="uniqueID" value="rescookie624994">
<docmeta name="displayName" value="res.cookie()">