<h1>res.get()</h1>
<p>指定されたレスポンスヘッダ―(<code>header</code>)の現在の値を返します。</p>
<h3>使い方</h3>
<pre><code class="language-js">res.get(header);</code></pre>
<h3>例</h3>
<pre><code class="language-javascript">res.get('Content-Type');
// -&gt; "text/plain"</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li><code>header</code>引数は大文字小文字を区別しません。
+レスポンスヘッダーはレスポンスが送信される前に変更が可能です。<a href="http://sailsjs.jp/documentation/reference/res/res.set.html"><code>res.set()</code></a>を御覧ください。</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="resget697790">
<docmeta name="displayName" value="res.get()">