<h1>res.location()</h1>
<p>与えられたURL(<code>url</code>)のエクスプレッションに&quot;Location&quot;レスポンスヘッダーを設定します。</p>
<h3>使い方</h3>
<p>res.location(url);</p>
<h3>例</h3>
<pre><code class="language-javascript">res.location('/foo/bar');
res.location('foo/bar');
res.location('http://example.com');
res.location('../login');
res.location('back');</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li>res.redirect()と同じURL表記を使えます。</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="reslocation779137">
<docmeta name="displayName" value="res.location()">