<h1>res.clearCookie()</h1>
<p>レスポンス中のクッキー(<code>name</code>)を削除する。</p>
<h3>使い方</h3>
<pre><code class="language-js">res.clearCookie(name [,options]);</code></pre>
<h3>詳細</h3>
<p>パスのオプションのデフォルトは&quot;/&quot;です。</p>
<h3>例</h3>
<pre><code class="language-javascript">res.cookie('name', 'tobi', { path: '/admin' });
res.clearCookie('name', { path: '/admin' });</code></pre>
<docmeta name="uniqueID" value="resclearCookie314533">
<docmeta name="displayName" value="res.clearCookie()">