<h1>myApp/api/policies</h1>
<h3>目的</h3>
<p>ここは<code>policy</code>ファイルを格納するフォルダです。ポリシーファイルはアプリケーションの中のコントローラアクションに対するアクセス認可をexpressのミドルウエアが行うために必須の.jsファイルです。</p>
<p>もし、<code>http://prism.gov/rick1983</code>には<code>rick1983</code>というユーザのみがアクセスできるようにしたいときは、このファイルがそのロジックを置く場所です。</p>
<docmeta name="uniqueID" value="policiesmd630211">
<docmeta name="displayName" value="policies">