<h1 id="internationalization">Internationalization</h1>
<h3 id="overview" permalink="overview">Overview</h3>
<p>If your app will touch people or systems from all over the world, internationalization and localization (i18n) may be an important part of your international strategy.  Sails provides built-in support for detecting user language preferences and translating static words/sentences thanks to <a href="https://github.com/mashpie/i18n-node" target="_blank">i18n-node</a>. (<a href="https://www.npmjs.org/package/i18n" target="_blank">npm</a>).</p>
<!--
  Potentially cover this:
  *(but it might be obvious and not useful/necessary to include, not sure- could also be more confusing than helpful)*
Note that this built-in support is for **dynamically-rendered** (but otherwise **static**) content.  You can only use it in responses which are pre-processed on the server.  In other words, you can use these translations in your views, controller actions, and policies, but stuff in your assets folder.)

we do not recommend translating strings in the front-end of your application (e.g. the browser or an iOS app) for a variety of reasons, the most obvious being SEO, but also fragmentation. You can of course still do so- just don't use this built-in support from the i18n hook.
-->
<h3 id="usage" permalink="usage">Usage</h3>
<p>In a view:</p>
<pre><code data-language="ejs">&lt;h1&gt; &lt;%= __(&apos;Hello&apos;) %&gt; &lt;/h1&gt;
&lt;h1&gt; &lt;%= __(&apos;Hello %s, how are you today?&apos;, &apos;Mike&apos;) %&gt; &lt;/h1&gt;
&lt;p&gt; &lt;%= i18n(&apos;That\&apos;s right-- you can use either i18n() or __()&apos;) %&gt; &lt;/p&gt;
</code></pre><!-- __LANG=%%__ -->
<p>In a controller or policy:</p>
<pre><code data-language="javascript">req.__(&apos;Hello&apos;); // =&gt; Hola
req.__(&apos;Hello %s&apos;, &apos;Marcus&apos;); // =&gt; Hola Marcus
req.__(&apos;Hello {{name}}&apos;, { name: &apos;Marcus&apos; }); // =&gt; Hola Marcus
</code></pre><!-- __LANG=%%__ -->
<p>Or if you already know the locale id, you can translate from anywhere in your application using <code>sails.__</code>:</p>
<pre><code data-language="javascript">sails.__({
  phrase: &apos;Hello&apos;,
  locale: &apos;es&apos;
});
// =&gt; &apos;Hola!&apos;
</code></pre><!-- __LANG=%%__ -->
<h3 id="locales" permalink="locales">Locales</h3>
<p>The i18n hook reads JSON-formatted translation files from your project&apos;s &quot;locales&quot; directory (<code>config/locales</code> by default).  Each file corresponds with a <a href="http://en.wikipedia.org/wiki/Locale" target="_blank">locale</a> (usually a language) that your Sails backend will support.</p>
<p>These files contain locale-specific strings (as JSON key-value pairs) that you can use in your views, controllers, etc.</p>
<p>Here is an example locale file (<code>config/locales/es.json</code>):</p>
<pre><code data-language="json">{
    &quot;Hello!&quot;: &quot;Hola!&quot;,
    &quot;Hello %s, how are you today?&quot;: &quot;&#xBF;Hola %s, como estas?&quot;,
}
</code></pre><!-- __LANG=%%__ -->
<p>Note that the keys in your stringfiles (e.g. &quot;Hello %s, how are you today?&quot;) are <strong>case sensitive</strong> and require exact matches.  There are a few different schools of thought on the best approach here, and it really depends on who/how often you&apos;ll be editing the stringfiles vs. HTML in the future.  Especially if you&apos;ll be editing the translations by hand, simpler, all-lowercase key names may be preferable for maintainability.</p>
<p>For example, here&apos;s another pass at <code>config/locales/es.json</code>:</p>
<pre><code data-language="json">{
    &quot;hello&quot;: &quot;Hola!&quot;,
    &quot;hello-how-are-you-today&quot;: &quot;Hola %s, &#xBF;c&#xF3;mo est&#xE1;s?&quot;,
}
</code></pre><!-- __LANG=%%__ -->
<p>And here&apos;s <code>config/locales/en.json</code>:</p>
<pre><code data-language="json">{
    &quot;hello&quot;: &quot;Hello!&quot;,
    &quot;hello-how-are-you-today&quot;: &quot;Hello, how are you today?&quot;,
}
</code></pre><!-- __LANG=%%__ -->
<p>You can also nest locale strings. But a better approach would be to use <code>.</code> to represent nested strings. For example, here&apos;s the list of labels for the index page of a user controller:</p>
<pre><code class="lang-json">{
    &quot;user.index.label.id&quot;: &quot;User ID&quot;,
    &quot;user.index.label.name&quot;: &quot;User Name&quot;
}
</code></pre>
<!-- __LANG=%%__ -->
<h3 id="detecting-and-or-overriding-the-desired-locale-for-a-request" permalink="detecting-and/or-overriding-the-desired-locale-for-a-request">Detecting and/or overriding the desired locale for a request</h3>
<p>To override the auto-detected language/localization preference for a request, use <a href="https://github.com/mashpie/i18n-node#setlocale" target="_blank"><code>req.setLocale()</code></a>, calling it with the unique code for the new locale, e.g.:</p>
<pre><code data-language="javascript">// Force the language to German for the remainder of the request:
req.setLocale(&apos;de&apos;);
// (this will use the strings located in `config/locales/de.json` for translation)
</code></pre><!-- __LANG=%%__ -->
<p>By default, node-i18n will detect the desired language of a request by examining its language headers.  Language headers are set in your users&apos; browser settings, and while they&apos;re correct most of the time, you may need the flexibility to override this detected locale and provide your own.</p>
<p>For instance, if your app allows users to pick their preferred language, you might create a <a href="http://beta.sailsjs.org/#/documentation/concepts/Policies" target="_blank">policy</a> which checks for a custom language in the user&apos;s session, and if one exists, sets the appropriate locale for use in subsequent policies, controller actions, and views:</p>
<pre><code data-language="javascript">// api/policies/localize.js
module.exports = function(req, res, next) {
  req.setLocale(req.session.languagePreference);
  next();
};
</code></pre><!-- __LANG=%%__ -->
<!--

  Alternatively, here's another extended example:
  (todo: at the very least pull this into a separate guide)

```
<!-- __LANG=%js%__ -->
<p>// config/routes.js
module.export.routes = {
  &apos;/:lang/&apos;: &apos;MyController.index&apos;,
  &apos;/:lang/help&apos;: &apos;MyController.help&apos;,
  &apos;/:lang/contact&apos;: &apos;MyController.contact&apos;,
  // ...etc...
}</p>
<p>// config/policies.js
module.exports.policies = {
  &apos;*&apos; : &apos;localize&apos;
}</p>
<p>// api/policies/localize.js
module.exports = function(req, res, next) {
   req.setLocale(req.param(&apos;lang&apos;));
   next();
};</p>
<pre><code data-language="javascript">--&gt;



### Translating Dynamic Content

If your backend is storing interlingual data (e.g. product data is entered in multiple languages via a CMS), you shouldn&apos;t rely on simple JSON locale files unless you&apos;re somehow planning on editing your locale translations dynamically.  One option is to edit the locale translations programatically, either with a custom implementation or through a translation service.  Sails/node-i18n JSON stringfiles are compatible with the format used by [webtranslateit.com](https://webtranslateit.com/en).

On the other hand you might opt to store these types of dynamic translated strings in a database.  If so, just make sure and build your data model accordingly so you can store and retrieve the relevant dynamic data by locale id (e.g. &quot;en&quot;, &quot;es&quot;, &quot;de&quot;, etc)  That way, you can leverage the [`req.getLocale()`](https://github.com/mashpie/i18n-node#getlocale) method to help you figure out which translated content to use in any given response, and keep consistent with the conventions used elsewhere in your app.



### Additional Options

Settings for localization/internationalization may be configured in [`sails.config.i18n`](http://beta.sailsjs.org/#/documentation/reference/sails.config/sails.config.i18n.html).  The most common reason you&apos;ll need to modify these settings is to edit the list of your app&apos;s supported locales and/or the location of your translation stringfiles:
</code></pre><!-- __LANG=%javascript%__ -->
<p>// Which locales are supported?
locales: [&apos;en&apos;, &apos;es&apos;],</p>
<p>// Where are your locale translations located?
localesDirectory: &apos;/config/locales&apos;
```
<!-- __LANG=%%__ --></p>
<h3 id="disabling-or-customizating-sails-default-internationalization-support" permalink="disabling-or-customizating-sails-default-internationalization-support">Disabling or customizating Sails&apos; default internationalization support</h3>
<p>Of course you can always <code>require()</code> any Node modules you like, anywhere in your project, and use any internationalization strategy you want.</p>
<p>But worth noting is that since Sails implements <a href="https://github.com/mashpie/i18n-node" target="_blank">node-i18n</a> integration in the <a href="http://beta.sailsjs.org/#/documentation/concepts/Internationalization" target="_blank">i18n hook</a>, you can completely disable or override it using the <a href="https://github.com/balderdashy/sails-docs/blob/master/PAGE_NEEDED.md" target="_blank"><code>loadHooks</code></a> and/or <a href="https://github.com/balderdashy/sails-docs/blob/master/PAGE_NEEDED.md" target="_blank"><code>hooks</code></a> configuration options.</p>
<h3 id="what-about-i18n-on-the-client-" permalink="what-about-i18n-on-the-client">What About i18n on the client?</h3>
<p>The above technique works great out of the box for server-side views. But what about rich client apps that serve static HTML templates from a CDN or static host? (e.g. performance-obsessed SPAs or PhoneGap apps/Chrome extensions)</p>
<p>You can actually reuse Sails&apos; i18n support to help you get your translated templates to the browser.  If you want to use Sails to internationalize your <em>client-side templates</em>, put your front-end templates in a subdirectory of your app&apos;s <code>/views</code> folder.</p>
<ul>
<li>In development mode, you should retranslate and precompile your templates each time the relevant stringfile or template changes using grunt-contrib-watch, which is already installed by default in new Sails projects.</li>
<li>In production mode, you&apos;ll want to translate and precompile all templates on lift(). In loadtime-critical scenarios (e.g. mobile web apps) you can even upload your translated, precompiled, minified templates to a CDN like Cloudfront for further performance gains.</li>
</ul>
<p><docmeta name="uniqueID" value="internationalization245343"></docmeta></p>
<docmeta name="displayName" value="Internationalization">

</docmeta>