<h3>動的コンテンツを翻訳する</h3>
<p>もしあなたバックエンドが複数言語のデータを保している場合、（例えば、商品名がCMSから複数の言語で入力されているなど）（何らかの方法でローカルの翻訳ファイルを動的に編集することを意図しないかぎりは）シンプルなJSONロケールファイルに依存するべきではないでしょう。ここで取りうる一つの方法は翻訳サービスのカスタムな実装またはtranslationサービスによってロケールファイルをプログラム的に編集する方法です。Sails/node-i18nのJSON文字列ファイルは<a href="https://webtranslateit.com/en">webtranslateit.com</a>で利用されるフォーマットと互換性があります。</p>
<p>一方で、データベースに保管されたこれらの動的翻訳文字列を利用したいこともあるでしょう。もしそうなら、それに従ったデータモデルを作成し、ロケールID(例えば&quot;en&quot;, &quot;es&quot;, &quot;de&quot;など)によって関連するデータを動的に取得する方法を用意しなければいけません。こうすることで、<a href="https://github.com/mashpie/i18n-node#getlocale"><code>req.getLocale()</code></a> メソッドを利用してそれぞれのレスポンスで使うべき翻訳ファイルを取得することができ、アプリケーションの中の他の場所で使われるやり方との整合性を保つことが出来るでしょう。</p>
<docmeta name="displayName" value="Translating Dynamic Content">