<h1 id="sails-js-documentation-api-reference">Sails.js Documentation &gt; API Reference</h1>
<h3 id="table-of-contents" permalink="table-of-contents">Table of Contents</h3>
<ol>
<li><strong>Blueprint API</strong><ol>
<li>Create a Record</li>
<li>Destroy a Record</li>
<li>Find Records</li>
<li>Find One Record</li>
<li>Update a Record</li>
</ol>
</li>
<li><strong>Command Line Interface</strong><ol>
<li>sails console</li>
<li>sails debug</li>
<li>sails generate</li>
<li>sails lift</li>
<li>sails new</li>
<li>sails version</li>
</ol>
</li>
<li><strong>Request</strong> (<code>req</code>)<ol>
<li>req.is()</li>
<li>req.accepted()</li>
<li>req.acceptedLanguages()</li>
<li>req.accepts()</li>
<li>req.acceptsCharset()</li>
<li>req.acceptsLanguage()</li>
<li>req.allParams()</li>
<li>req.body</li>
<li>req.cookies</li>
<li>req.file()</li>
<li>req.fresh</li>
<li>req.get()</li>
<li>req.host()</li>
<li>req.ip</li>
<li>req.ips</li>
<li>req.acceptedCharsets</li>
<li>req.isSocket</li>
<li>req.method</li>
<li>req.param()</li>
<li>req.params</li>
<li>req.path</li>
<li>req.protocol</li>
<li>req.query</li>
<li>req.secure</li>
<li>req.signedCookies</li>
<li>req.socket</li>
<li>req.subdomains</li>
<li>req.url</li>
<li>req.wantsJSON</li>
<li>req.xhr</li>
</ol>
</li>
<li><strong>Response</strong> (<code>res</code>)<ol>
<li>res.negotiate()</li>
<li>res.attachment()</li>
<li>res.clearCookie()</li>
<li>res.cookie()</li>
<li>res.forbidden()</li>
<li>res.get()</li>
<li>res.json()</li>
<li>res.jsonp()</li>
<li>res.location()</li>
<li>res.badRequest()</li>
<li>res.notFound()</li>
<li>res.ok()</li>
<li>res.redirect()</li>
<li>res.send()</li>
<li>res.serverError()</li>
<li>res.set()</li>
<li>res.status()</li>
<li>res.type()</li>
<li>res.view()</li>
</ol>
</li>
<li><strong>Configuration</strong><ol>
<li>sails.config.i18n</li>
<li>sails.config.blueprints</li>
<li>sails.config.connections</li>
<li>sails.config.cors</li>
<li>sails.config.csrf</li>
<li>sails.config.globals</li>
<li>sails.config.http</li>
<li>sails.config.bootstrap</li>
<li>sails.config.local</li>
<li>sails.config.log</li>
<li>sails.config.policies</li>
<li>sails.config.routes</li>
<li>sails.config.session</li>
<li>sails.config.sockets</li>
<li>sails.config.views</li>
</ol>
</li>
<li><strong>Socket Client</strong><ol>
<li>io.socket.on()</li>
<li>io.socket.delete()</li>
<li>io.socket.get()</li>
<li>io.socket.post()</li>
<li>io.socket.put()</li>
<li>io.socket.request()</li>
</ol>
</li>
<li><strong>sails.sockets</strong><ol>
<li>sails.sockets.leave()</li>
<li>sails.sockets.blast()</li>
<li>sails.sockets.emit()</li>
<li>sails.sockets.id()</li>
<li>sails.sockets.join()</li>
<li>sails.sockets.broadcast()</li>
<li>sails.sockets.rooms()</li>
<li>sails.sockets.socketRooms()</li>
<li>sails.sockets.subscribeToFirehose()</li>
<li>sails.sockets.subscribers()</li>
<li>sails.sockets.unsubscribeFromFirehose()</li>
</ol>
</li>
</ol>
<docmeta name="displayName" value="Reference: Table of Contents">
</docmeta>