<h1>sails.sockets.id()</h1>
<p>Gets the ID of a request socket object.</p>
<pre><code class="language-javascript">sails.sockets.id(socket);</code></pre>
<h3>Usage</h3>
<table>
<thead>
<tr>
<th></th>
<th>Argument</th>
<th>Type</th>
<th>Details</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>socket</td>
<td>((Socket))</td>
<td>A request socket (WebSocket/Socket.io) object <br/> e.g. <code>req.socket</code>.</td>
</tr>
</tbody>
</table>
<p>Once acquired, the socket object's ID can be used to send direct messages to that socket (see <a href="http://sailsjs.jp/documentation/reference/websockets/sails.sockets/sails.sockets.emit.html">sails.sockets.emit</a>) or get information about the rooms that the socket is subscribed to (see <a href="http://sailsjs.jp/documentation/reference/websockets/sails.sockets/sails.sockets.rooms.html">sails.sockets.socketRooms</a>).</p>
<h3>Example</h3>
<pre><code class="language-javascript">// Controller action

getSocketID: function(req, res) {
  if (!req.isSocket) return res.badRequest();

  var socketId = sails.sockets.id(req.socket);
  // =&gt; "BetX2G-2889Bg22xi-jy"

  return res.ok('My socket ID is: ' + socketId);
}</code></pre>
<h3>Notes</h3>
<blockquote>
<ul>
<li>The phrase &quot;request socket&quot; here refers to an application-layer WebSocket/Socket.io connection.  <code>req.socket</code> also exists for HTTP requests, but it refers to the underlying TCP socket at the transport layer, which is different.  Be sure and ensure <code>req.isSocket == true</code> before using <code>req.socket</code> with this method.</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="sailssocketsid240053">
<docmeta name="displayName" value="sails.sockets.id()">