<h1 id="sails-sockets-subscribers-">sails.sockets.subscribers()</h1>
<p>Get the IDs of all sockets subscribed to a room.</p>
<pre><code data-language="javascript">sails.sockets.subscribers(roomName);
</code></pre><!-- __LANG=%%__ -->
<h3 id="usage" permalink="usage">Usage</h3>
<table>
<thead>
<tr>
<th></th>
<th>Argument</th>
<th>Type</th>
<th>Details</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>roomName</td>
<td><bubble type="string" colors="true"></bubble></td>
<td>The name of the room whose socket ids should be retrieved. <br> e.g. <code>&apos;supportchat&apos;</code></td>
</tr>
</tbody>
</table>
<h3 id="example" permalink="example">Example</h3>
<pre><code data-language="javascript">sails.sockets.subscribers(&apos;supportchat&apos;);
// =&gt; [&apos;BetX2G-2889Bg22xi-jy&apos;, &apos;BTA4G-8126Kr32bi-za&apos;]
</code></pre><!-- __LANG=%%__ -->
<!--

  Wrote this, then took this out because it's needlessly complex.
  See sails101/low-level-sockets for more like it.
  ~mike

```
<!-- __LANG=%javascript%__ -->
<p>// Controller action</p>
<p>getRoomSubscribers: function(req, res) {
  if (!req.isSocket) return res.badRequest();
  if (!req.param(&apos;room&apos;)) return res.badRequest(&apos;No <code>room</code> specified- please specify the name of the room whose subscribers you want to look up.&apos;);</p>
<p>  var subscribers = sails.sockets.subscribers(room);
  return res.ok(require(&apos;util&apos;).format(
    &apos;The &quot;%s&quot; room currently has %d subscribers: &apos;,
    req.param(&apos;room&apos;),
    subscribers.length,
    subscribers
  ));
}
```
<!-- __LANG=%%__ -->
--&gt;</p>
<p><docmeta name="uniqueID" value="sailssocketssubscribers65666"></docmeta></p>
<docmeta name="displayName" value="sails.sockets.subscribers()">

</docmeta>