<h1 id="sails-sockets-leave-socket-roomname-">sails.sockets.leave( <code>socket</code>, <code>roomName</code> )</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>Unsubscribe a socket from a generic room.</p>
<h3 id="overview" permalink="overview">Overview</h3>
<h4 id="parameters" permalink="parameters">Parameters</h4>
<table>
<thead>
<tr>
<th></th>
<th>Description</th>
<th>Accepted Data Types</th>
<th>Required ?</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Socket object</td>
<td><code>object</code></td>
<td>Yes</td>
</tr>
<tr>
<td>2</td>
<td>Room Name</td>
<td><code>string</code></td>
<td>Yes</td>
</tr>
</tbody>
</table>
<h3 id="example-usage" permalink="example-usage">Example Usage</h3>
<pre><code data-language="javascript">// Controller action

leaveFunRoom: function(req, res) {
    var roomName = req.param(&apos;roomName&apos;);
    sails.sockets.leave(req.socket, roomName);
    res.json({
      message: &apos;Left a fun room called &apos;+roomName+&apos;!&apos;
    });
}
</code></pre><!-- __LANG=%%__ -->
<p><em>Note: <code>req.socket</code> is only valid if the action is triggered via a socket request, e.g. <code>socket.get(&apos;/leaveFunRoom/someRoomName&apos;)</code></em></p>
<h3 id="notes" permalink="notes">Notes</h3>
<blockquote>
<ul>
<li>The phrase &quot;request socket&quot; here refers to an application-layer WebSocket/Socket.io connection.  <code>req.socket</code> also exists for HTTP requests, but it refers to the underlying TCP socket at the transport layer, which is different.  Be sure and ensure <code>req.isSocket == true</code> before using <code>req.socket</code> with this method.</li>
</ul>
</blockquote>
<p><docmeta name="uniqueID" value="sailssocketsleave425459"></docmeta></p>
<docmeta name="displayName" value="sails.sockets.leave()">

</docmeta>