<h1>sails.sockets.leave( <code>socket</code>, <code>roomName</code> )</h1>
<h3>目的</h3>
<p>一般的なroomからのサブスクライブ解除をします。</p>
<h3>概要</h3>
<h4>パタメータ</h4>
<table>
<thead>
<tr>
<th></th>
<th>説明</th>
<th>受け入れ可能なデータ型</th>
<th>必須か</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>ソケットオブジェクト</td>
<td><code>object</code></td>
<td>はい</td>
</tr>
<tr>
<td>2</td>
<td>room名</td>
<td><code>string</code></td>
<td>はい</td>
</tr>
</tbody>
</table>
<h3>使用例</h3>
<pre><code class="language-javascript">// Controller action

leaveFunRoom: function(req, res) {
    var roomName = req.param('roomName');
    sails.sockets.leave(req.socket, roomName);
    res.json({
      message: 'Left a fun room called '+roomName+'!'
    });
}</code></pre>
<p><em>備考:<code>req.socket</code>はアクションがソケットリクエストによってトリガーされた時にのみ有効です。例：<code>socket.get('/subscribeToFunRoom/someRoomName')</code></em></p>
<h3>備考</h3>
<blockquote>
<ul>
<li>ここでの&quot;request socket&quot;はアプリケーションレイヤーのWebSocket/Socket.ioコネクションを意味します。<code>req.socket</code>はHTTPリクエストにも存在しますが、これはその下のトランスポートレイヤーに存在するTCPソケットを表すものでこれとは違います。この方法で<code>req.socket</code>を使う前に<code>req.isSocket == true</code>であることを確認して下さい。</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="sailssocketsleave425459">
<docmeta name="displayName" value="sails.sockets.leave()">