<h1>sails.sockets.broadcast( <code>roomName</code>, [<code>event</code>], <code>data</code>, [<code>socketToOmit</code>] )</h1>
<p>Broadcast a message to a room.</p>
<pre><code class="language-javascript">sails.sockets.broadcast(roomName, data);</code></pre>
<p><em>Or:</em></p>
<ul>
<li><code>sails.sockets.broadcast(roomName, eventName, data);</code></li>
<li><code>sails.sockets.broadcast(roomName, data, socketToOmit);</code></li>
<li><code>sails.sockets.broadcast(roomName, eventName, data, socketToOmit);</code></li>
</ul>
<h3>Usage</h3>
<table>
<thead>
<tr>
<th></th>
<th>Argument</th>
<th>Type</th>
<th>Details</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>roomName</td>
<td>((string))</td>
<td>The room to broadcast a message in (see <a href="http://sailsjs.jp/documentation/reference/websockets/sails.sockets/sails.sockets.join.html">sails.sockets.join</a>)</td>
</tr>
<tr>
<td>2</td>
<td>eventName</td>
<td>((string))</td>
<td>Optional. Defaults to <code>'message'</code>.</td>
</tr>
<tr>
<td>3</td>
<td>data</td>
<td>((object))</td>
<td>The data to send in the message.</td>
</tr>
<tr>
<td>4</td>
<td>socketToOmit</td>
<td>((Socket))</td>
<td>Optional. If provided, that socket will <em>not</em> receive the message.  This is useful if you trigger the broadcast from a client, but don't want that client to receive the message itself (for example, sending a message to everybody else in a chat room).</td>
</tr>
</tbody>
</table>
<h3>Example</h3>
<pre><code class="language-javascript">sails.sockets.broadcast('artsAndEntertainment', { msg: 'Hi there!' });</code></pre>
<h3>Notes</h3>
<blockquote>
<ul>
<li>The phrase &quot;request socket&quot; here refers to an application-layer WebSocket/Socket.io connection.  <code>req.socket</code> also exists for HTTP requests, but it refers to the underlying TCP socket at the transport layer, which is different.  Be sure and ensure <code>req.isSocket == true</code> before using <code>req.socket</code> with this method.</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="sailssocketsbroadcast253997">
<docmeta name="displayName" value="sails.sockets.broadcast()">