<h1>sails.sockets.subscribers()</h1>
<p>Get the IDs of all sockets subscribed to a room.</p>
<pre><code class="language-javascript">sails.sockets.subscribers(roomName);</code></pre>
<h3>Usage</h3>
<table>
<thead>
<tr>
<th></th>
<th>Argument</th>
<th>Type</th>
<th>Details</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>roomName</td>
<td>((string))</td>
<td>The name of the room whose socket ids should be retrieved. <br/> e.g. <code>'supportchat'</code></td>
</tr>
</tbody>
</table>
<h3>Example</h3>
<pre><code class="language-javascript">sails.sockets.subscribers('supportchat');
// =&gt; ['BetX2G-2889Bg22xi-jy', 'BTA4G-8126Kr32bi-za']</code></pre>
<!--
  Wrote this, then took this out because it's needlessly complex.
  See sails101/low-level-sockets for more like it.
  ~mike
```javascript
// Controller action
getRoomSubscribers: function(req, res) {
  if (!req.isSocket) return res.badRequest();
  if (!req.param('room')) return res.badRequest('No `room` specified- please specify the name of the room whose subscribers you want to look up.');
  var subscribers = sails.sockets.subscribers(room);
  return res.ok(require('util').format(
    'The "%s" room currently has %d subscribers: ',
    req.param('room'),
    subscribers.length,
    subscribers
  ));
}
```
-->
<docmeta name="uniqueID" value="sailssocketssubscribers65666">
<docmeta name="displayName" value="sails.sockets.subscribers()">