<h1>sails.sockets.broadcast( <code>roomName</code>, [<code>event</code>], <code>data</code>, [<code>socketToOmit</code>] )</h1>
<p>roomに対してメッセージをブロードキャストします。</p>
<pre><code class="language-javascript">sails.sockets.broadcast(roomName, data);</code></pre>
<p><em>あるいは:</em></p>
<ul>
<li><code>sails.sockets.broadcast(roomName, eventName, data);</code></li>
<li><code>sails.sockets.broadcast(roomName, data, socketToOmit);</code></li>
<li><code>sails.sockets.broadcast(roomName, eventName, data, socketToOmit);</code></li>
</ul>
<h3>使い方</h3>
<table>
<thead>
<tr>
<th></th>
<th>引数</th>
<th>型</th>
<th>詳細</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>roomName</td>
<td>((string))</td>
<td>メッセージをブロードキャストするroom(<a href="http://sailsjs.jp/documentation/reference/websockets/sails.sockets/sails.sockets.join.html">sails.sockets.join</a>を御覧ください)</td>
</tr>
<tr>
<td>2</td>
<td>eventName</td>
<td>((string))</td>
<td>オプション。デフォルトでは<code>'message'</code>。</td>
</tr>
<tr>
<td>3</td>
<td>data</td>
<td>((object))</td>
<td>メッセージとして送信されるデータ。</td>
</tr>
<tr>
<td>4</td>
<td>socketToOmit</td>
<td>((Socket))</td>
<td>オプション。存在する場合、そのソケットはメッセージを受信<em>しません</em>。ブロードキャストがクライアントから発信されるものの、そのクライアント自身はそのメッセージを受信したくない時に便利です。（例えば、チャットルームの自分以外に対してメッセージを送信する場合など）</td>
</tr>
</tbody>
</table>
<h3>使用例</h3>
<pre><code class="language-javascript">sails.sockets.broadcast('artsAndEntertainment', { msg: 'Hi there!' });</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li>ここでの&quot;request socket&quot;はアプリケーションレイヤーのWebSocket/Socket.ioコネクションを意味します。<code>req.socket</code>はHTTPリクエストにも存在しますが、これはその下のトランスポートレイヤーに存在するTCPソケットを表すものでこれとは違います。この方法で<code>req.socket</code>を使う前に<code>req.isSocket == true</code>であることを確認して下さい。</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="sailssocketsbroadcast253997">
<docmeta name="displayName" value="sails.sockets.broadcast()">