<h1>sails.sockets.leave( <code>socket</code>, <code>roomName</code> )</h1>
<h3>Purpose</h3>
<p>Unsubscribe a socket from a generic room.</p>
<h3>Overview</h3>
<h4>Parameters</h4>
<table>
<thead>
<tr>
<th></th>
<th>Description</th>
<th>Accepted Data Types</th>
<th>Required ?</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Socket object</td>
<td><code>object</code></td>
<td>Yes</td>
</tr>
<tr>
<td>2</td>
<td>Room Name</td>
<td><code>string</code></td>
<td>Yes</td>
</tr>
</tbody>
</table>
<h3>Example Usage</h3>
<pre><code class="language-javascript">// Controller action

leaveFunRoom: function(req, res) {
    var roomName = req.param('roomName');
    sails.sockets.leave(req.socket, roomName);
    res.json({
      message: 'Left a fun room called '+roomName+'!'
    });
}</code></pre>
<p><em>Note: <code>req.socket</code> is only valid if the action is triggered via a socket request, e.g. <code>socket.get('/leaveFunRoom/someRoomName')</code></em></p>
<h3>Notes</h3>
<blockquote>
<ul>
<li>The phrase &quot;request socket&quot; here refers to an application-layer WebSocket/Socket.io connection.  <code>req.socket</code> also exists for HTTP requests, but it refers to the underlying TCP socket at the transport layer, which is different.  Be sure and ensure <code>req.isSocket == true</code> before using <code>req.socket</code> with this method.</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="sailssocketsleave425459">
<docmeta name="displayName" value="sails.sockets.leave()">