<h1 id="sails-sockets-join-">sails.sockets.join()</h1>
<p>Subscribes a socket to a generic room.</p>
<h3 id="usage" permalink="usage">Usage</h3>
<pre><code data-language="javascript">sails.sockets.join(socket, roomName);
</code></pre><!-- __LANG=%%__ -->
<table>
<thead>
<tr>
<th></th>
<th>Argument</th>
<th style="text-align:center">Type</th>
<th>Details</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td><code>socket</code></td>
<td style="text-align:center"><bubble type="string" colors="true"></bubble> -or- <bubble type="socket" colors="true"></bubble></td>
<td>The socket to be subscribed.  May be specified by the socket&apos;s id or a raw socket object.</td>
</tr>
<tr>
<td>2</td>
<td><code>roomName</code></td>
<td style="text-align:center"><bubble type="string" colors="true"></bubble></td>
<td>The name of the room to which the socket will be subscribed.  If the room does not exist yet, it will be created.</td>
</tr>
</tbody>
</table>
<h3 id="example" permalink="example">Example</h3>
<p>In a controller action:</p>
<pre><code data-language="javascript">subscribeToFunRoom: function(req, res) {
  var roomName = req.param(&apos;roomName&apos;);
  sails.sockets.join(req.socket, roomName);
  res.json({
    message: &apos;Subscribed to a fun room called &apos;+roomName+&apos;!&apos;
  });
}
</code></pre><!-- __LANG=%%__ -->
<p><em>Note: <code>req.socket</code> is only valid if the action is triggered via a socket request, e.g. <code>socket.get(&apos;/subscribeToFunRoom/someRoomName&apos;)</code></em></p>
<h3 id="notes" permalink="notes">Notes</h3>
<blockquote>
<ul>
<li>The phrase &quot;request socket&quot; here refers to an application-layer WebSocket/Socket.io connection.  <code>req.socket</code> also exists for HTTP requests, but it refers to the underlying TCP socket at the transport layer, which is different.  Be sure and ensure <code>req.isSocket == true</code> before using <code>req.socket</code> with this method.</li>
</ul>
</blockquote>
<p><docmeta name="uniqueID" value="sailssocketsjoin958690"></docmeta></p>
<docmeta name="displayName" value="sails.sockets.join()">

</docmeta>