<h1>sails.sockets.rooms()</h1>
<h3>目的</h3>
<p>現在の全てのソケットroomの一覧を取得します。</p>
<h3>概要</h3>
<h4>パラメータ</h4>
<p>なし。</p>
<h3>使用例</h3>
<pre><code class="language-javascript">// コントローラアクション

getRoomsList: function(req, res) {
    var roomNames = JSON.stringify(sails.sockets.rooms());
    res.json({
      message: 'A list of all the rooms: '+roomNames
    });
}</code></pre>
<p><em>備考：Socket.ioでは全てのソケットが自動的に空白の名前('')と名付けられたグローバルなroomをサブスクライブします。このroomは<code>sails.sockets.rooms</code>で返される配列には含まれません</em> </p>
<docmeta name="uniqueID" value="sailssocketsrooms183984">
<docmeta name="displayName" value="sails.sockets.rooms()">