<h1>sails.sockets.id()</h1>
<p>リクエストのソケットオブジェクトのIDを取得します。</p>
<pre><code class="language-javascript">sails.sockets.id(socket);</code></pre>
<h3>使い方</h3>
<table>
<thead>
<tr>
<th></th>
<th>引数</th>
<th>型</th>
<th>詳細</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>socket</td>
<td>((Socket))</td>
<td>リクエストのソケット(WebSocket/Socket.io)オブジェクト<br/> 例: <code>req.socket</code>.</td>
</tr>
</tbody>
</table>
<p>ソケットオブジェクトのIDを一旦取得すると、それを使ってそのソケットへのダイレクトメッセージを送信（<a href="http://sailsjs.jp/documentation/reference/websockets/sails.sockets/sails.sockets.emit.html">sails.sockets.emit</a>を御覧ください）したり、そのソケットがサブスクライブしているルームの情報を取得（(see <a href="http://sailsjs.jp/documentation/reference/websockets/sails.sockets/sails.sockets.rooms.html">sails.sockets.socketRooms</a>を御覧ください）できます。</p>
<h3>使用例</h3>
<pre><code class="language-javascript">// Controller action

getSocketID: function(req, res) {
  if (!req.isSocket) return res.badRequest();

  var socketId = sails.sockets.id(req.socket);
  // =&gt; "BetX2G-2889Bg22xi-jy"

  return res.ok('My socket ID is: ' + socketId);
}</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li>ここでの&quot;request socket&quot;はアプリケーションレイヤーのWebSocket/Socket.ioコネクションを意味します。<code>req.socket</code>はHTTPリクエストにも存在しますが、これはその下のトランスポートレイヤーに存在するTCPソケットを表すものでこれとは違います。この方法で<code>req.socket</code>を使う前に<code>req.isSocket == true</code>であることを確認して下さい。</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="sailssocketsid240053">
<docmeta name="displayName" value="sails.sockets.id()">