<h1 id="sails-sockets-broadcast-roomname-event-data-sockettoomit-">sails.sockets.broadcast( <code>roomName</code>, [<code>event</code>], <code>data</code>, [<code>socketToOmit</code>] )</h1>
<p>Broadcast a message to a room.</p>
<pre><code data-language="javascript">sails.sockets.broadcast(roomName, data);
</code></pre><!-- __LANG=%%__ -->
<p><em>Or:</em></p>
<ul>
<li><code>sails.sockets.broadcast(roomName, eventName, data);</code></li>
<li><code>sails.sockets.broadcast(roomName, data, socketToOmit);</code></li>
<li><code>sails.sockets.broadcast(roomName, eventName, data, socketToOmit);</code></li>
</ul>
<h3 id="usage" permalink="usage">Usage</h3>
<table>
<thead>
<tr>
<th></th>
<th>Argument</th>
<th>Type</th>
<th>Details</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>roomName</td>
<td><bubble type="string" colors="true"></bubble></td>
<td>The room to broadcast a message in (see <a href="http://beta.sailsjs.org/#/documentation/reference/websockets/sails.sockets/sails.sockets.join.html" target="_blank">sails.sockets.join</a>)</td>
</tr>
<tr>
<td>2</td>
<td>eventName</td>
<td><bubble type="string" colors="true"></bubble></td>
<td>Optional. Defaults to <code>&apos;message&apos;</code>.</td>
</tr>
<tr>
<td>3</td>
<td>data</td>
<td><bubble type="object" colors="true"></bubble></td>
<td>The data to send in the message.</td>
</tr>
<tr>
<td>4</td>
<td>socketToOmit</td>
<td><bubble type="Socket" colors="true"></bubble></td>
<td>Optional. If provided, that socket will <em>not</em> receive the message.  This is useful if you trigger the broadcast from a client, but don&apos;t want that client to receive the message itself (for example, sending a message to everybody else in a chat room).</td>
</tr>
</tbody>
</table>
<h3 id="example" permalink="example">Example</h3>
<pre><code data-language="javascript">sails.sockets.broadcast(&apos;artsAndEntertainment&apos;, { msg: &apos;Hi there!&apos; });
</code></pre><!-- __LANG=%%__ -->
<h3 id="notes" permalink="notes">Notes</h3>
<blockquote>
<ul>
<li>The phrase &quot;request socket&quot; here refers to an application-layer WebSocket/Socket.io connection.  <code>req.socket</code> also exists for HTTP requests, but it refers to the underlying TCP socket at the transport layer, which is different.  Be sure and ensure <code>req.isSocket == true</code> before using <code>req.socket</code> with this method.</li>
</ul>
</blockquote>
<p><docmeta name="uniqueID" value="sailssocketsbroadcast253997"></docmeta></p>
<docmeta name="displayName" value="sails.sockets.broadcast()">

</docmeta>