<h1 id="setting-up-your-client">Setting Up Your Client</h1>
<h2 id="registering-on-freenode" permalink="registering-on-freenode">Registering On Freenode</h2>
<p>Our chat room is on the Freenode network.  Freenode does not require that you register your <code>nick</code> name.  You do have the option to though.  If you want to do this, read about how to do it <a href="https://freenode.net/faq.shtml#registering" target="_blank">on the freenode website</a></p>
<h2 id="getting-on-freenode" permalink="getting-on-freenode">Getting on Freenode</h2>
<p>Each IRC Client is a little different to configure.  All of the ones we have recommended have very straight forward configuration process.  If your client provides a list of available servers, look for the one called Freenode.</p>
<p>Make sure to put in a <code>nick</code> to go by.</p>
<p>Upon connecting to the Freenode network, join us by typing <code>/join #sailsjs</code>.</p>
<p>If you registered a nick, you can identify yourself with <code>/msg nickserv identify &lt;password&gt;</code></p>
<p><docmeta name="uniqueID" value="ircClientConfig271113"></docmeta></p>
<docmeta name="displayName" value="Setting Up Your Client">
</docmeta>