<h1>* .add( <code>primary key</code> )</h1>
<h3>目的</h3>
<p>多対多のアソシエーションにおいて自動的に生成されたジョインテーブルに対してレコードを追加するのに使います。これはモデルインスタンスの主キー（デフォルトではレコードのID）と作成し、アソシエートしたい新規レコード（オブジェクト）でも受け入れることが出来ます。</p>
<h3>概要</h3>
<h4>パラメータ</h4>
<table>
<thead>
<tr>
<th>#</th>
<th>説明</th>
<th>受け入れられるデータ型</th>
<th>必須か</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>レコード</td>
<td><code>{}</code>, <code>string</code>, <code>int</code></td>
<td>はい</td>
</tr>
</tbody>
</table>
<h3>使用例</h3>
<pre><code class="language-javascript">User.find({name:'Mike'}).populate('pets').exec(function(e,r){
  r[0].pets.add(7);
  r[0].save(function(err,res){
    console.log(res);
  }
});

/*

{ pets:
   [ { name: 'Pinkie Pie',
       color: 'pink',
       id: 7,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) },
     { name: 'Rainbow Dash',
       color: 'blue',
       id: 8,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) },
     { name: 'Applejack',
       color: 'orange',
       id: 9,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) } ],
  name: 'Mike',
  age: 16,
  createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  updatedAt: Wed Feb 12 2014 19:30:54 GMT-0600 (CST),
  id: 7 }

*/
</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li>.add()は配列を受け入れられません。試さないで下さい。</li>
<li>全ての文字列引数はレコードのIDである必要があります。</li>
<li><code>.add()</code>だけではアソシエーションに対する変更のデータベースへの永続化をしません。<code>.add()</code>や<code>.remove()</code>のあとに<code>.save()</code>を行って下さい。</li>
<li>すでに存在するアソシエーションの追加はエラーになります。<a href="https://github.com/balderdashy/waterline/issues/352">こちらの例を御覧ください</a></li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="add574043">
<docmeta name="methodType" value="instance">
<docmeta name="importance" value="undefined">
<docmeta name="displayName" value=".add()">