<h1>myApp/assets/templates</h1>
<h3>目的 - クライアントサイドテンプレート</h3>
<p>HTMLテンプレートはモダンなリッチクライアントアプリケーションにとっての必須の機能です。
それらの魔法を使ってBackbone、Angular、Ember、Knockoutといったフレームワークを使うには
それらのテンプレートクライアントサイドに読み込まなければいけません。</p>
<p>デフォルトでGruntfileファイルは<code>assets/templates</code>クライアントサイドのJSTテンプレートを
自動的に読み込み、プレコンパイルし、その後
自動的にここに（TEMPLATESとTEMPLATES ENDの間に）読み込みます。</p>
<pre><code>&lt;!--TEMPLATES--&gt;

&lt;!--TEMPLATES END--&gt;</code></pre>
<p>この振る舞いを必要に応じて変えるには単にGruntfileをご覧ください。
例えば、以下が出来ることの一部です:</p>
<ul>
<li>別のディレクトリからテンプレートを読み込む</li>
<li>別のテンプレートエンジンを使う(handlebars、jade、dustなど)</li>
<li>サーバサイドのstringfileを使ってクライアントサイドコードを提供前に国際化する</li>
</ul>
<docmeta name="uniqueID" value="templatesmd846667">
<docmeta name="displayName" value="templates">