<h1>Sailsをはじめる</h1>
<h2>インストール</h2>
<p>コマンドラインツールを使って最新の安定版のリリースをインストインストールするには:</p>
<pre><code>sudo npm -g install sails</code></pre>
<p>Windows(かMac OSとHomebrew)ではsudoする必要はありません:</p>
<pre><code>npm -g install sails</code></pre>
<h2>新しいSailsプロジェクトを作成する</h2>
<p>新しいアプリケーションを作成する:</p>
<pre><code>sails new testProject</code></pre>
<p>そして、サーバを立ち上げます。:</p>
<pre><code>cd testProject
sails lift</code></pre>
<p>この時点で(<a href="http://localhost:1337/">http://localhost:1337/</a>)アクセスするとデフォルトのホームページを見ることが出来ます。</p>
<p>それではSailsを使ってクールなものを作る作業を始めましょう。</p>
<docmeta name="displayName" value="Getting Started">