<h1 id="getting-started">Getting Started</h1>
<h2 id="installation" permalink="installation">Installation</h2>
<p>To install the latest stable release with the command-line tool:</p>
<pre><code>sudo npm -g install sails
</code></pre><p>On Windows (or Mac OS with Homebrew), you don&apos;t need sudo:</p>
<pre><code>npm -g install sails
</code></pre><h2 id="creating-a-new-sails-project" permalink="creating-a-new-sails-project">Creating a New Sails Project</h2>
<p>Create a new app:</p>
<pre><code>sails new testProject
</code></pre><p>Now lift the server:</p>
<pre><code>cd testProject
sails lift
</code></pre><p>At this point, if you visit (<a href="http://localhost:1337/" target="_blank">http://localhost:1337/</a>) you will see the default home page.</p>
<p>Now, let&apos;s get Sails to do cool stuff.</p>
<docmeta name="displayName" value="Installation">
</docmeta>