<h1><a href="https://soundcloud.com/marak/marak-the-node-js-rap">Node.js</a>を使うのが初めてですか?</h1>
<p>大丈夫です。我々がちゃんと説明します。</p>
<p><a href="http://nodejs.org">nodejs.org</a>に関して:</p>
<blockquote>
<p>&quot;Node.jsはChromeのJavaScriptランタイムの上に構築された高速でスケーラブルなネットワークアプリケーションです。Node.jsはイベントドリブンでノンブロッキングI/Oモデルを採用しているので、とても軽量で効率的で、分散端末環境下でのデータインテンシブなリアルタイムのアプリケーションに最適です。&quot;</p>
</blockquote>
<p>もっと簡単に言うとNode.jsはJavascript簡単かつ効率的にブラウザの外で動作させることができ、これによってフロントエンドとバックエンドを同じ言語で書くことが出来るのです。</p>
<h2>どんなOSを使わなければなりませんか?</h2>
<p>Node.jsは多くのメジャーなOSにインストールすることが出来ます。MacOSXや多くのLinux、Windowsがサポートされています。 </p>
<p>それでは、どのOSを使っているかを確認して、書くOSに対する以下のNode.jsセットアップガイドに進んでください。:</p>
<p><a href="http://sailsjs.org/get-started#?install-on-osx-">Mac OSX</a>を使っています。</p>
<p><a href="http://sailsjs.org/get-started#?install-on-linux-">Linux</a>を使っています。</p>
<p><a href="http://sailsjs.org/get-started#?install-on-windows-">Windows</a>を使っています。</p>
<h2>
<a id="install-on-osx" name="/getStarted?q=--install-on-osx-" class="anchor" href="http://sailsjs.org/getStarted?q=--install-on-osx-"><span class="mini-icon mini-icon-link"></span></a>
OSXにインストールする
</h2>
<p><a href="http://nodejs.org/download/">パッケージ</a>を使う:</p>
<p><em>単に<a href="http://nodejs.org/download/">download Macintosh Installer</a>を使って</em></p>
<p><a href="https://github.com/mxcl/homebrew">homebrew</a>を使って:</p>
<pre><code>brew install node</code></pre>
<p><a href="http://www.macports.org/">macports</a>を使って:</p>
<pre><code>port install nodejs  </code></pre>
<h2>
<a id="install-on-linux" name="/getStarted?q=--install-on-linux-" class="anchor" href="http://sailsjs.org/getStarted?--install-on-linux-"><span class="mini-icon mini-icon-link"></span></a>
Linuxにインストールする
</h2>
<h3>Ubuntu, Mint</h3>
<p>インストール例:</p>
<pre><code>sudo apt-get install python-software-properties python g++ make
sudo add-apt-repository ppa:chris-lea/node.js
sudo apt-get update
sudo apt-get install nodejs</code></pre>
<p>現在StableのUbuntuでは以上のコマンドで現在のStableのNodeをインストールできます。Quantal (12.10) のユーザーは <code>add-apt-repository</code> コマンドを動作させるために<em>software-properties-common</em>パッケージをインストールする必要があるかもしれません。: <code>sudo apt-get install software-properties-common</code></p>
<p>Node.js v0.10.0からは<a href="https://chrislea.com/2013/03/15/upgrading-from-node-js-0-8-x-to-0-10-0-from-my-ppa/">Chris Lea</a>レポジトリのnodejsにはnpmとnodejs-devの両方が含まれるようになりました。</p>
<p>nodeパッケージに名前の競合があり (Amateur Packet Radio Node Program)、nodejsのバイナリは <code>node</code>から<code>nodejs</code>に改名されました。競合を防ぐためにはAmateur Packet Radio Node Programをアンインストールするか<code>/usr/bin/node</code>を<code>/usr/bin/nodejs</code> にシンボリックリンクをする必要があります。</p>
<h3>Fedora</h3>
<p>Fedra18以降では<a href="https://apps.fedoraproject.org/packages/nodejs">Node.js</a> and <a href="https://apps.fedoraproject.org/packages/npm">npm</a>が利用可能です。お好きなGUIのパッケージマネージャーや以下のコマンドでnpmとnodeの両方をインストールしてください。:</p>
<pre><code>sudo yum install npm</code></pre>
<h3>RHEL/CentOS/Scientific Linux 6</h3>
<p>Node.jsとnpm<a href="https://fedoraproject.org/wiki/EPEL">Fedora Extra Packages for Enterprise Linux (EPEL)</a> の<em>テスト</em> レポジトリから利用可能です。もしも行っていない場合は最初に<a href="https://fedoraproject.org/wiki/EPEL#How_can_I_use_these_extra_packages.3F">EPELを有効化</a>してから以下のコマンドを実行してnpmとnodeの両方をインストールしてください:</p>
<pre><code>su -c 'yum --enablerepo=epel-testing install npm'</code></pre>
<h3>Arch Linux</h3>
<p>Node.jsはコミュニティレポジトリで利用可能です。</p>
<pre><code>pacman -S nodejs</code></pre>
<h3>Gentoo</h3>
<p>Node.jsはオフィシャルのgentooパッケージツリーで利用可能です。以下の部分をコメント解除する必要があります。</p>
<pre><code># emerge -aqv --autounmask-write nodejs
# etc-update
# emerge -aqv nodejs</code></pre>
<h3>Debian, LMDE</h3>
<p><em>Debian sid (unstable)</em>では <a href="http://packages.debian.org/search?searchon=names&amp;keywords=nodejs">Node.jsはオフィシャルレポジトリでサポートされています</a>.</p>
<p><em>Debian Wheezy (stable)</em>では, <a href="http://packages.debian.org/wheezy-backports/nodejs">Node.jsはwheezy-backportsでサポートされています。</a>. <a href="http://backports.debian.org/Instructions/">backports</a>をインストールするには、以下をsources.list (<code>/etc/apt/sources.list</code>)に追加してください。:</p>
<pre><code>deb http://YOURMIRROR.debian.org/debian wheezy-backports main</code></pre>
<p>そして、以下を実行してください。:</p>
<pre><code>apt-get update
apt-get install nodejs</code></pre>
<p><em>Debian Squeeze (oldstable)</em>では、(<code>root</code>で)nodeを自分でコンパイルするのがよいでしょう 。:</p>
<pre><code>apt-get install python g++ make
mkdir ~/nodejs &amp;&amp; cd $_
wget -N http://nodejs.org/dist/node-latest.tar.gz
tar xzvf node-latest.tar.gz &amp;&amp; cd `ls -rd node-v*`
./configure
make install</code></pre>
<h3>openSUSE &amp; SLE</h3>
<p><a href="https://build.opensuse.org/package/show?package=nodejs&amp;project=devel%3Alanguages%3Anodejs">Node.js stable repos list</a>. 同様に、node.jsはopenSUSE:Factoryレポジトリでも利用可能です。</p>
<p>Available RPM packages for: openSUSE 11.4, 12.1, Factory and Tumbleweed; SLE 11 (with SP1 and SP2 variations).</p>
<p>openSUSE 12.1にインストールする方法の例:</p>
<pre><code>sudo zypper ar http://download.opensuse.org/repositories/devel:/languages:/nodejs/openSUSE_12.1/ NodeJSBuildService
sudo zypper in nodejs nodejs-devel</code></pre>
<h3>FreeBSDとOpenBSD</h3>
<p>Node.jsはports systemを通じてインストール可能です。</p>
<pre><code>/usr/ports/www/node</code></pre>
<p>開発版も同様にports systemを通じてインストール可能です。</p>
<pre><code>cd /usr/ports/www/node-devel/ &amp;&amp; make install clean</code></pre>
<p>あるいはFreeBSDのパッケージから </p>
<pre><code>pkg_add -r node-devel</code></pre>
<p>FreeBSDでのデフォルトにはNode Package Managerがインストールされませんが開発と依存のインストールには必要です。</p>
<pre><code>/usr/ports/www/npm</code></pre>
<p>clangを使っているFreeBSD 10ではnode-gypを使っているビルドスクリプトでコンフリクトが起こります(gccと示しています)が、環境変数を設定することで回避できます。</p>
<pre><code>CXX=c++</code></pre>
<h2>
<a id="install-on-windows" name="/getStarted?q=--install-on-windows-" class="anchor" href="http://sailsjs.org/getStarted?q=--install-on-windows-"><span class="mini-icon mini-icon-link"></span></a>
Windowsにインストールする
</h2>
<p><a href="http://nodejs.org/download/">パッケージ</a>を使う:</p>
<p>単に<a href="http://nodejs.org/download/">Windows Installerをダウンロード</a>._する</p>
<p><a href="http://chocolatey.org">chocolatey</a>を使って<a href="http://chocolatey.org/packages/nodejs">Node</a>をインストールする:</p>
<pre><code>cinst nodejs</code></pre>
<p>あるいは<a href="http://chocolatey.org/packages/nodejs.install">NPMでフルインストールする</a>:</p>
<pre><code>cinst nodejs.install</code></pre>
<h2>Sails.jsのインストールに進む</h2>
<p>Node.jsがお使いのシステムにインストールされたら<a href="http://sailsjs.org/get-started#?getting-started-installation">Sailsのインストール</a>に進めます。</p>
<h2>さらなる手助け</h2>
<p>時々、物事は予定通りに進まないものです。もしそれでも問題があるときはNode.jsの<a href="irc://irc.freenode.net/node.js">IRC Channel</a>や我々の<a href="irc://irc.freenode.net/sailsjs">IRC Channel</a>を訪ねてください。</p>
<docmeta name="uniqueID" value="NewToNode748472">