<h1 id="new-to-node-js-https-soundcloud-com-marak-marak-the-node-js-rap-">New to <a href="https://soundcloud.com/marak/marak-the-node-js-rap" target="_blank">Node.js</a>?</h1>
<p>That&apos;s okay!  We&apos;ll get you pointed in the right direction.</p>
<p>Per <a href="http://nodejs.org" target="_blank">nodejs.org</a>:</p>
<blockquote>
<p>&quot;Node.js is a platform built on Chrome&apos;s JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.&quot;</p>
</blockquote>
<p>More simply put, Node.js is an http server built to run quickly and efficiently while allowing you to use the same language on both the frontend and the backend.</p>
<h2 id="what-os-do-i-need-" permalink="what-os-do-i-need">What OS do I need?</h2>
<p>Node.js will install on most major Operating systems.  MacOSX, many flavors of Linux, and Windows are supported.  </p>
<p>Now, lets take a look at what OS you have.  Please choose from the following for instructions on setting up Node.js:</p>
<p>I have <a href="#!/getStarted?q=--install-on-osx-">Mac OSX</a></p>
<p>I have <a href="#!/getStarted?q=--install-on-linux-">Linux</a></p>
<p>I have <a href="#!/getStarted?q=--install-on-windows-">Windows</a></p>
<h2 permalink="--install-on-osx-">
<a id="install-on-osx" name="/getStarted?q=--install-on-osx-" class="anchor" href="#!/getStarted?q=--install-on-osx-"><span class="mini-icon mini-icon-link"></span></a>
Install on OSX
</h2>

<p>Using <a href="http://nodejs.org/download/" target="_blank">a package</a>:</p>
<p><em>Simply <a href="http://nodejs.org/download/" target="_blank">download Macintosh Installer</a>.</em></p>
<p>Using <a href="https://github.com/mxcl/homebrew" target="_blank">homebrew</a>:</p>
<pre><code>brew install node
</code></pre><p>Using <a href="http://www.macports.org/" target="_blank">macports</a>:</p>
<pre><code>port install nodejs  
</code></pre><h2 permalink="--install-on-linux-">
<a id="install-on-linux" name="/getStarted?q=--install-on-linux-" class="anchor" href="#!/getStarted?--install-on-linux-"><span class="mini-icon mini-icon-link"></span></a>
Install on Linux
</h2>

<h3 id="ubuntu-mint" permalink="ubuntu,-mint">Ubuntu, Mint</h3>
<p>Example install:</p>
<pre><code>sudo apt-get install python-software-properties python g++ make
sudo add-apt-repository ppa:chris-lea/node.js
sudo apt-get update
sudo apt-get install nodejs
</code></pre><p>It installs current stable Node on the current stable Ubuntu. Quantal (12.10) users may need to install the <em>software-properties-common</em> package for the <code>add-apt-repository</code> command to work: <code>sudo apt-get install software-properties-common</code></p>
<p>As of Node.js v0.10.0, the nodejs package from <a href="https://chrislea.com/2013/03/15/upgrading-from-node-js-0-8-x-to-0-10-0-from-my-ppa/" target="_blank">Chris Lea</a>&apos;s repo includes both npm and nodejs-dev.</p>
<p>There is a naming conflict with the node package (Amateur Packet Radio Node Program), and the nodejs binary has been renamed from <code>node</code> to <code>nodejs</code>. You&apos;ll need to symlink <code>/usr/bin/node</code> to <code>/usr/bin/nodejs</code> or you could uninstall the Amateur Packet Radio Node Program to avoid that conflict.</p>
<h3 id="fedora" permalink="fedora">Fedora</h3>
<p><a href="https://apps.fedoraproject.org/packages/nodejs" target="_blank">Node.js</a> and <a href="https://apps.fedoraproject.org/packages/npm" target="_blank">npm</a> are available in Fedora 18 and later.  Just use your favorite graphical package manager or run this on a terminal to install both npm and node:</p>
<pre><code>sudo yum install npm
</code></pre><h3 id="rhel-centos-scientific-linux-6" permalink="rhel/centos/scientific-linux-6">RHEL/CentOS/Scientific Linux 6</h3>
<p>Node.js and npm are available from the <a href="https://fedoraproject.org/wiki/EPEL" target="_blank">Fedora Extra Packages for Enterprise Linux (EPEL)</a> <em>testing</em> repository.  If you haven&apos;t already done so, first <a href="https://fedoraproject.org/wiki/EPEL#How_can_I_use_these_extra_packages.3F" target="_blank">enable EPEL</a> and then run the following command to install node and npm:</p>
<pre><code>su -c &apos;yum --enablerepo=epel-testing install npm&apos;
</code></pre><h3 id="arch-linux" permalink="arch-linux">Arch Linux</h3>
<p>Node.js is available in the Community Repository.</p>
<pre><code>pacman -S nodejs
</code></pre><h3 id="gentoo" permalink="gentoo">Gentoo</h3>
<p>Node.js is available in official gentoo portage tree. You have to unmask it.</p>
<pre><code># emerge -aqv --autounmask-write nodejs
# etc-update
# emerge -aqv nodejs
</code></pre><h3 id="debian-lmde" permalink="debian,-lmde">Debian, LMDE</h3>
<p>For <em>Debian sid (unstable)</em>, <a href="http://packages.debian.org/search?searchon=names&amp;keywords=nodejs" target="_blank">Node.js is available in the official repo</a>.</p>
<p>For <em>Debian Wheezy (stable)</em>, <a href="http://packages.debian.org/wheezy-backports/nodejs" target="_blank">Node.js is available in wheezy-backports</a>. To install <a href="http://backports.debian.org/Instructions/" target="_blank">backports</a>, add this to your sources.list (<code>/etc/apt/sources.list</code>):</p>
<pre><code>deb http://YOURMIRROR.debian.org/debian wheezy-backports main
</code></pre><p>Then run:</p>
<pre><code>apt-get update
apt-get install nodejs
</code></pre><p>For <em>Debian Squeeze (oldstable)</em>, your best bet is to compile node by yourself (as <code>root</code>):</p>
<pre><code>apt-get install python g++ make
mkdir ~/nodejs &amp;&amp; cd $_
wget -N http://nodejs.org/dist/node-latest.tar.gz
tar xzvf node-latest.tar.gz &amp;&amp; cd `ls -rd node-v*`
./configure
make install
</code></pre><h3 id="opensuse-sle" permalink="opensuse-&amp;-sle">openSUSE &amp; SLE</h3>
<p><a href="https://build.opensuse.org/package/show?package=nodejs&amp;project=devel%3Alanguages%3Anodejs" target="_blank">Node.js stable repos list</a>. Also node.js is available in openSUSE:Factory repository.</p>
<p>Available RPM packages for: openSUSE 11.4, 12.1, Factory and Tumbleweed; SLE 11 (with SP1 and SP2 variations).</p>
<p>Example install on openSUSE 12.1:</p>
<pre><code>sudo zypper ar http://download.opensuse.org/repositories/devel:/languages:/nodejs/openSUSE_12.1/ NodeJSBuildService 
sudo zypper in nodejs nodejs-devel
</code></pre><h3 id="freebsd-and-openbsd" permalink="freebsd-and-openbsd">FreeBSD and OpenBSD</h3>
<p>Node.js is available through the ports system.</p>
<pre><code>/usr/ports/www/node
</code></pre><p>Development versions are also available using ports </p>
<pre><code>cd /usr/ports/www/node-devel/ &amp;&amp; make install clean
</code></pre><p>or packages on FreeBSD</p>
<pre><code>pkg_add -r node-devel
</code></pre><p>The Node Package Manager is not installed along with Node.js by default on FreeBSD and will be needed for development and installing dependencies.</p>
<pre><code>/usr/ports/www/npm
</code></pre><p>Also note that FreeBSD 10 using clang will conflict with the occasional build scrpt (which assumes gcc) using node-gyp, and can be resolved by setting an envvar.</p>
<pre><code>CXX=c++
</code></pre><h2 permalink="--install-on-windows-">
<a id="install-on-windows" name="/getStarted?q=--install-on-windows-" class="anchor" href="#!/getStarted?q=--install-on-windows-"><span class="mini-icon mini-icon-link"></span></a>
Install on Windows
</h2>

<p>Using <a href="http://nodejs.org/download/" target="_blank">a package</a>:</p>
<p><em>Simply <a href="http://nodejs.org/download/" target="_blank">download Windows Installer</a>.</em></p>
<p>Using <a href="http://chocolatey.org" target="_blank">chocolatey</a> to install <a href="http://chocolatey.org/packages/nodejs" target="_blank">Node</a>:  </p>
<pre><code>cinst nodejs  
</code></pre><p>or for <a href="http://chocolatey.org/packages/nodejs.install" target="_blank">full install with NPM</a>:  </p>
<pre><code>cinst nodejs.install
</code></pre><h2 id="on-to-sails-js" permalink="on-to-sailsjs">On to Sails.js</h2>
<p>Now that Node.js is installed on your system, we can move on to Sails.js.</p>
<p>Click <a href="https://github.com/balderdashy/sails-docs/blob/master/getting-started/getting-started.md" target="_blank">here</a> to continue.</p>
<h2 id="further-help-" permalink="further-help">Further help!</h2>
<p>We know that sometimes things don&apos;t go as planned. If you still have any issue with this, please feel free to visit Node.js&apos;s <a href="irc://irc.freenode.net/node.js">IRC Channel</a> or our own <a href="irc://irc.freenode.net/sailsjs">IRC Channel</a>.</p>
<p><docmeta name="uniqueID" value="NewToNode748472"></docmeta></p>
<docmeta name="displayName" value="New To Node">
</docmeta>