<h1>sails.config.views</h1>
<p>Configuration for your app's server-side <a href="http://sailsjs.jp/documentation/concepts/Views">views</a>.  The options are conventionally specified in the <a href="http://sailsjs.jp/documentation/anatomy/myApp/config/views.js.html"><code>config/views.js</code></a> configuration file.</p>
<h3>Properties</h3>
<table>
<thead>
<tr>
<th>Property</th>
<th style="text-align: center;">Type</th>
<th>Default</th>
<th>Details</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>layout</code></td>
<td style="text-align: center;">((string)) -or- ((boolean))</td>
<td><code>"layout"</code></td>
<td>Set the default <a href="http://sailsjs.jp/documentation/concepts/Views/Layouts.html">layout</a> for your app by specifying the relative path to the desired layout file from your views folder (i.e. <code>views/</code>.)  Or disable layout support altogether with <code>false</code>.</td>
</tr>
<tr>
<td><code>engine</code></td>
<td style="text-align: center;">((string))</td>
<td><code>"ejs"</code></td>
<td>The <a href="http://sailsjs.jp/documentation/concepts/Views/ViewEngines.html">view engine</a> your app will use to compile server-side markup into HTML.</td>
</tr>
<tr>
<td><code>extension</code></td>
<td style="text-align: center;">((string))</td>
<td>Same as <code>engine</code></td>
<td>The file extension for view files.</td>
</tr>
<tr>
<td><code>locals</code></td>
<td style="text-align: center;">((object))</td>
<td><code>{}</code></td>
<td>Default data to be included as <a href="http://sailsjs.jp/documentation/concepts/Views/Locals.html">view locals</a> every time a server-side view is compiled anywhere in this app.</td>
</tr>
</tbody>
</table>
<h3>Notes</h3>
<blockquote>
<ul>
<li>If your app is NOT using <code>ejs</code> (the default view engine) Sails will function as if the <code>layout</code> option was set to <code>false</code>.  To take advantage of layouts when using a custom view engine like Jade or Handlebars, check out <a href="http://sailsjs.jp/documentation/concepts/Views/ViewEngines.html">that view engine's documentation</a> to find the appropriate syntax.</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="sailsconfigviews588825">
<docmeta name="displayName" value="sails.config.views">