<h1>sails.config.bootstrap</h1>
<h3>What is this?</h3>
<p>This is an asynchronous boostrap function that runs before your Sails app gets lifted (i.e. starts up). This gives you an opportunity to set up your data model, run jobs, or perform some special logic.</p>
<h3>Description</h3>
<pre><code class="language-javascript">module.exports.bootstrap = function (cb) {

  // It's very important to trigger this callback method when you are finished
  // with the bootstrap!  (otherwise your server will never lift, since it's waiting on the bootstrap)
  cb();
};</code></pre>
<docmeta name="uniqueID" value="Bootstrap85232">
<docmeta name="displayName" value="sails.config.bootstrap">