<h1 id="sails-config-routes">sails.config.routes</h1>
<p>Configuration for custom (aka &quot;explicit&quot;) routes.  <code>sails.config.routes</code> consists of a single Javascript object whose keys are URL paths (the &quot;address&quot;) and whose values are one of several types of route handler configurations (the &quot;target&quot;), for example:</p>
<pre><code data-language="javascript">module.exports.routes = {

    &quot;GET /&quot;: {view: &quot;homepage&quot;},
    &quot;POST /foo/bar&quot;: {controller: &quot;FooController&quot;, action: &quot;bar&quot;}

}
</code></pre><!-- __LANG=%%__ -->
<p>Please see the <a href="/documentation/concepts/Routes">routes concept overview</a> for a full discussion of Sails routes, and the <a href="/documentation/concepts/Routes/RouteTargetSyntax">custom routes documentation</a> for a detailed description of the available configurations for both the route address and target.</p>
<p><docmeta name="uniqueID" value="sailsconfigroutes141736"></docmeta></p>
<docmeta name="displayName" value="sails.config.routes">

</docmeta>