<h1 id="sails-config-models">sails.config.models</h1>
<p>Your default project-wide <strong>model settings</strong>. Can also be overridden on a per-model basis by providing a top-level property with the same name in that model definition.  For more details, see the conceptual docs on <a href="/documentation/concepts/ORM/model-settings">Model Settings</a>.  These options are conventionally specified in the <a href="/documentation/anatomy/myApp/config/models.js">config/models.js</a> configuration file.</p>
<pre><code data-language="javascript">sails.config.models;
</code></pre><!-- __LANG=%%__ -->
<h3 id="properties" permalink="properties">Properties</h3>
<table>
<thead>
<tr>
<th>Property</th>
<th style="text-align:center">Type</th>
<th>Default</th>
<th>Details</th>
</tr>
</thead>
<tbody>
<tr>
<td> <code>attributes</code></td>
<td style="text-align:center"><bubble type="object" colors="true"></bubble></td>
<td><code>{}</code></td>
<td>The basic pieces of information to store about a model. See <a href="">Attributes</a>.</td>
</tr>
<tr>
<td> <code>migrate</code></td>
<td style="text-align:center"><bubble type="string" colors="true"></bubble></td>
<td><em>see <a href="/documentation/concepts/ORM/model-settings">Model Settings</a></em></td>
<td>How &amp; whether Sails will attempt to automatically rebuild the tables/collections/etc. in your schema</td>
</tr>
<tr>
<td> <code>connection</code></td>
<td style="text-align:center"><bubble type="string" colors="true"></bubble></td>
<td><code>&quot;localDiskDb&quot;</code></td>
<td>The default database <a href="http://beta.sailsjs.org/#/documentation/reference/sails.config/sails.config.connections.html" target="_blank">connection</a> any given model will use without a configured override</td>
</tr>
<tr>
<td> <code>autoPK</code></td>
<td style="text-align:center"><bubble type="boolean" colors="true"></bubble></td>
<td><code>true</code></td>
<td>Toggle the automatic definition of a primary key in your model</td>
</tr>
<tr>
<td> <code>autoCreatedAt</code></td>
<td style="text-align:center"><bubble type="boolean" colors="true"></bubble></td>
<td><code>true</code></td>
<td>Toggle the automatic definition of a property createdAt in your model</td>
</tr>
<tr>
<td> <code>autoUpdatedAt</code></td>
<td style="text-align:center"><bubble type="boolean" colors="true"></bubble></td>
<td><code>true</code></td>
<td>Toggle the automatic definition of a property updatedAt in your model</td>
</tr>
<tr>
<td> <code>tableName</code></td>
<td style="text-align:center"><bubble type="string" colors="true"></bubble></td>
<td><em>identity</em></td>
<td>Used to specify database table name for the model</td>
</tr>
<tr>
<td> <code>dynamicFinders</code></td>
<td style="text-align:center"><bubble type="boolean" colors="true"></bubble></td>
<td><code>true</code></td>
<td>Toggle the automatic creation of Dynamic Finders </td>
</tr>
</tbody>
</table>
<p><docmeta name="uniqueID" value="sailsconfigmodels258825"></docmeta></p>
<p><docmeta name="displayName" value="sails.config.models"></docmeta></p>
<docmeta name="stabilityIndex" value="3">
</docmeta>