<h1>sails.config.log</h1>
<p>Configuration for the instance of the <a href="http://sailsjs.jp/documentation/concepts/logging">Sails logger</a> (<code>sails.log</code>) used in your Sails app. The options are conventionally specified in the <a href="http://sailsjs.jp/documentation/anatomy/myApp/config/log.js.html">config/log.js</a> configuration file.</p>
<h3>Properties</h3>
<table>
<thead>
<tr>
<th>Property</th>
<th style="text-align: center;">Type</th>
<th>Default</th>
<th>Details</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>level</code></td>
<td style="text-align: center;">((string))</td>
<td><code>'info'</code></td>
<td>Set the level of detail to be shown in your app's log</td>
</tr>
</tbody>
</table>
<!--
### Notes
> +. ...
-->
<!--
### What is this?
The logger file configures the log level for your app, as well as the transport.
### Description
The logger file configures the log level for your app, as well as the transport.
*(Underneath the covers, Sails uses Winston for logging, which allows for some pretty neat custom transports/adapters for log messages)*
#### There are 5 different levels to the log:
+ **'error'** : Display calls to `.error()`
+ **'warn'**    : Display calls from `.error()` to `.warn()`
+ **'debug'** : Display calls from `.error()`, `.warn()` to `.debug()`
+ **'info'**  : Display calls from `.error()`, `.warn()`, `.debug()` to `.info()`
+ **'verbose'**: Display calls from `.error()`, `.warn()`, `.debug()`, `.info()` to `.verbose()`
By default, the level is set to `info`.
-->
<docmeta name="uniqueID" value="sailsconfiglog812909">
<docmeta name="displayName" value="sails.config.log">