<h1>sails.config.models</h1>
<p>Your default project-wide <strong>model settings</strong>. Can also be overridden on a per-model basis by providing a top-level property with the same name in that model definition.  For more details, see the conceptual docs on <a href="http://sailsjs.jp/documentation/concepts/ORM/model-settings.html">Model Settings</a>.  These options are conventionally specified in the <a href="http://sailsjs.jp/documentation/anatomy/myApp/config/models.js.html">config/models.js</a> configuration file.</p>
<pre><code class="language-js">sails.config.models;</code></pre>
<h3>Properties</h3>
<table>
<thead>
<tr>
<th>Property</th>
<th style="text-align: center;">Type</th>
<th>Default</th>
<th>Details</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>attributes</code></td>
<td style="text-align: center;">((object))</td>
<td><code>{}</code></td>
<td>The basic pieces of information to store about a model. See <a href="http://sailsjs.jp/documentation/concepts/models-and-orm/attributes">Attributes</a>.</td>
</tr>
<tr>
<td><code>migrate</code></td>
<td style="text-align: center;">((string))</td>
<td><em>see <a href="http://sailsjs.jp/documentation/concepts/ORM/model-settings.html">Model Settings</a></em></td>
<td>How &amp; whether Sails will attempt to automatically rebuild the tables/collections/etc. in your schema</td>
</tr>
<tr>
<td><code>connection</code></td>
<td style="text-align: center;">((string))</td>
<td><code>"localDiskDb"</code></td>
<td>The default database <a href="http://sailsjs.jp/documentation/reference/sails.config/sails.config.connections.html">connection</a> any given model will use without a configured override</td>
</tr>
<tr>
<td><code>autoPK</code></td>
<td style="text-align: center;">((boolean))</td>
<td><code>true</code></td>
<td>Toggle the automatic definition of a primary key in your model</td>
</tr>
<tr>
<td><code>autoCreatedAt</code></td>
<td style="text-align: center;">((boolean))</td>
<td><code>true</code></td>
<td>Toggle the automatic definition of a property createdAt in your model</td>
</tr>
<tr>
<td><code>autoUpdatedAt</code></td>
<td style="text-align: center;">((boolean))</td>
<td><code>true</code></td>
<td>Toggle the automatic definition of a property updatedAt in your model</td>
</tr>
<tr>
<td><code>tableName</code></td>
<td style="text-align: center;">((string))</td>
<td><em>identity</em></td>
<td>Used to specify database table name for the model</td>
</tr>
<tr>
<td><code>dynamicFinders</code></td>
<td style="text-align: center;">((boolean))</td>
<td><code>true</code></td>
<td>Toggle the automatic creation of Dynamic Finders</td>
</tr>
</tbody>
</table>
<docmeta name="uniqueID" value="sailsconfigmodels258825">
<docmeta name="displayName" value="sails.config.models">
<docmeta name="stabilityIndex" value="3">