<h1 id="sails-config-i18n">sails.config.i18n</h1>
<p>Configuration for Sails&apos; built-in internationalization &amp; localization features.  For more information see the <a href="http://beta.sailsjs.org/#/documentation/concepts/Internationalization" target="_blank">concepts section on internationalization</a>.</p>
<h3 id="properties" permalink="properties">Properties</h3>
<table>
<thead>
<tr>
<th>Property</th>
<th style="text-align:center">Type</th>
<th>Default</th>
<th>Details</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>locales</code></td>
<td style="text-align:center"><bubble type="array" colors="true"></bubble></td>
<td>[&apos;en&apos;,&apos;es&apos;,&apos;fr&apos;,&apos;de&apos;]</td>
<td>List of supported <a href="http://en.wikipedia.org/wiki/BCP_47" target="_blank">locale codes</a></td>
</tr>
<tr>
<td><code>localesDirectory</code></td>
<td style="text-align:center"><bubble type="string" colors="true"></bubble></td>
<td>&apos;/config/locales&apos;</td>
<td>The project-relative path to the folder containing your locale translations (i.e. stringfiles)</td>
</tr>
<tr>
<td><code>defaultLocale</code></td>
<td style="text-align:center"><bubble type="string" colors="true"></bubble></td>
<td>&apos;en&apos;</td>
<td>The default locale for the site. Note that this setting will be overridden for any request that sends an &quot;Accept-Language&quot; header (i.e. most browsers), but it&apos;s still useful if you need to localize the response for requests made by non-browser clients (e.g. cURL).</td>
</tr>
<tr>
<td><code>updateFiles</code></td>
<td style="text-align:center"><bubble type="boolean" colors="true"></bubble></td>
<td>false</td>
<td>Whether to automatically add new keys to locale (translation) files when they are encountered during a request.</td>
</tr>
</tbody>
</table>
<p><docmeta name="uniqueID" value="sailsconfigi18n588825999999"></docmeta></p>
<docmeta name="displayName" value="sails.config.i18n">

</docmeta>