<h1>.count( [<code>criteria</code>, ] <code>callback</code> )</h1>
<h3>目的</h3>
<p>データベースの中に与えられた検索条件を満たすレコードが何件あるかを返します。</p>
<h3>概要</h3>
<h4>パラメータ</h4>
<table>
<thead>
<tr>
<th>#</th>
<th>説明</th>
<th>受け入れられるデータ型</th>
<th>必須か</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>検索条件</td>
<td><code>{}</code>,<code>[{}]</code>, <code>string</code>, <code>int</code></td>
<td>いいえ</td>
</tr>
<tr>
<td>2</td>
<td>コールバック</td>
<td><code>function</code></td>
<td>いいえ</td>
</tr>
</tbody>
</table>
<h4>コールバックパラメータ</h4>
<table>
<thead>
<tr>
<th>#</th>
<th>説明</th>
<th>想定されるデータ型</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>エラー</td>
<td><code>Error</code></td>
</tr>
<tr>
<td>2</td>
<td>レコード数</td>
<td><code>int</code></td>
</tr>
</tbody>
</table>
<h3></h3>
<pre><code class="language-javascript">User.count({name:'Flynn'}).exec(function countCB(error, found) {
  console.log('There are ' + found + ' users called "Flynn"');

  // There are 1 users called 'Flynn'
  // Don't forget to handle your errors
});
</code></pre>
<h3>備考</h3>
<blockquote>
<p>全ての文字列引数はレコードのIDである必要があります。</p>
</blockquote>
<docmeta name="uniqueID" value="count42579">
<docmeta name="methodType" value="mcm">
<docmeta name="importance" value="undefined">
<docmeta name="displayName" value=".count()">