<h1 id="-create-values-callback-">.create( <code>values</code>, [<code>callback</code>] )</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>Creates a new instance of this model in the database.</p>
<h3 id="overview" permalink="overview">Overview</h3>
<h4 id="parameters" permalink="parameters">Parameters</h4>
<table>
<thead>
<tr>
<th></th>
<th>Description</th>
<th>Accepted Data Types</th>
<th>Required ?</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Record(s) to Create</td>
<td><code>{}</code>, <code>[{}]</code></td>
<td>Yes</td>
</tr>
<tr>
<td>2</td>
<td>Callback</td>
<td><code>function</code></td>
<td>No</td>
</tr>
</tbody>
</table>
<h4 id="callback-parameters" permalink="callback-parameters">Callback Parameters</h4>
<table>
<thead>
<tr>
<th></th>
<th>Description</th>
<th>Possible Data Types</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Error</td>
<td><code>Error</code></td>
</tr>
<tr>
<td>2</td>
<td>Records Created</td>
<td><code>{}</code>, <code>[{}]</code></td>
</tr>
</tbody>
</table>
<h3 id="example-usage" permalink="example-usage">Example Usage</h3>
<pre><code data-language="javascript">// create a new record with name &apos;Walter Jr&apos;

User.create({name:&apos;Walter Jr&apos;}).exec(function createCB(err, created){
  console.log(&apos;Created user with name &apos; + created.name);
});

// Created user with name Walter Jr
// Don&apos;t forget to handle your errors and abide by the rules you defined in your model
</code></pre><!-- __LANG=%%__ -->
<p><docmeta name="uniqueID" value="create312605"></docmeta></p>
<p><docmeta name="methodType" value="mcm"></docmeta></p>
<p><docmeta name="importance" value="undefined"></docmeta></p>
<docmeta name="displayName" value=".create()">

</docmeta>