<h1>.destroy( <code>criteria</code> , [<code>callback</code>] )</h1>
<h3>目的</h3>
<p>与えられた条件式に合う、データベース中にある全てのレコードを削除します。</p>
<h3>概要</h3>
<h4>パラメータ</h4>
<table>
<thead>
<tr>
<th>#</th>
<th>説明</th>
<th>受け入れられるデータ型</th>
<th>必須か</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>検索条件</td>
<td><code>{}</code>,<code>[{}]</code>, <code>string</code>, <code>int</code></td>
<td>はい</td>
</tr>
<tr>
<td>2</td>
<td>コールバック</td>
<td><code>function</code></td>
<td>いいえ</td>
</tr>
</tbody>
</table>
<h4>コールバックパラメータ</h4>
<table>
<thead>
<tr>
<th>#</th>
<th>説明</th>
<th>想定されるデータ型</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>エラー</td>
<td><code>Error</code></td>
</tr>
<tr>
<td>2</td>
<td>削除されたレコード</td>
<td><code>[{}]</code></td>
</tr>
</tbody>
</table>
<h3>使用例</h3>
<pre><code class="language-javascript">User.destroy({name:'Flynn'}).exec(function deleteCB(err){
  console.log('The record has been deleted');
});

// Or if there are multiple records to delete

User.destroy({id:['id1', 'id2']}).exec(function deleteCB(err){
  console.log('The record has been deleted');
});

// If the record existed, then it has been deleted
// Don't forget to handle your errors
</code></pre>
<h3>備考</h3>
<blockquote>
<p>削除する前にデータが存在することを確認する必要がありますので、先にfind()しなければいけません。
全ての文字列引数はレコードのIDである必要があります。</p>
</blockquote>
<docmeta name="uniqueID" value="destroy398816">
<docmeta name="methodType" value="instance">
<docmeta name="importance" value="undefined">
<docmeta name="displayName" value=".destroy()">