<h1 id="-findorcreate-criteria-record-callback-">.findOrCreate( <code>criteria</code> , <code>record</code> , [<code>callback</code>] )</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>Checks for the existence of the record in the first parameter.  If it can&apos;t be found, the record in the second parameter is created.</p>
<h3 id="overview" permalink="overview">Overview</h3>
<h4 id="parameters" permalink="parameters">Parameters</h4>
<table>
<thead>
<tr>
<th></th>
<th>Description</th>
<th>Accepted Data Types</th>
<th>Required ?</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Find Criteria</td>
<td><code>{}</code>,<code>[{}]</code>, <code>string</code>, <code>int</code></td>
<td>Yes</td>
</tr>
<tr>
<td>2</td>
<td>Records to Create</td>
<td><code>{}</code>,<code>[{}]</code></td>
<td>Yes</td>
</tr>
<tr>
<td>2</td>
<td>Callback</td>
<td><code>function</code></td>
<td>No</td>
</tr>
</tbody>
</table>
<h4 id="callback-parameters" permalink="callback-parameters">Callback Parameters</h4>
<table>
<thead>
<tr>
<th></th>
<th>Description</th>
<th>Possible Data Types</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Error</td>
<td><code>Error</code></td>
</tr>
<tr>
<td>2</td>
<td>Records Created</td>
<td><code>{}</code>, <code>[{}]</code></td>
</tr>
</tbody>
</table>
<h3 id="example-usage" permalink="example-usage">Example Usage</h3>
<pre><code data-language="javascript">User.findOrCreate({name:&apos;Walter&apos;}, {name:&apos;Jessie&apos;}).exec(function createFindCB(err, record){
  console.log(&apos;What\&apos;s cookin\&apos; &apos;+record.name+&apos;?&apos;);
});

// What&apos;s cookin&apos; Jessie?
// Don&apos;t forget to handle your errors and abide by the rules you defined in your model
</code></pre><!-- __LANG=%%__ -->
<h3 id="notes" permalink="notes">Notes</h3>
<blockquote>
<p>Any string arguments passed must be the ID of the record.
If you are trying to find an attribute that is an array, you must wrap it in an additional set of brackets otherwise Waterline will think you want to perform an inQuery.</p>
</blockquote>
<p><docmeta name="uniqueID" value="findOrCreate760631"></docmeta></p>
<p><docmeta name="methodType" value="mcm"></docmeta></p>
<p><docmeta name="importance" value="undefined"></docmeta></p>
<docmeta name="displayName" value=".findOrCreate()">

</docmeta>