<h1>.query()</h1>
<p><code>.query()</code>はSails/WaterlineをSQLデータベース（PostgreSQLとmySQL）と使っている時のみ利用可能です。この目的は生のSQLクエリを実行することです。</p>
<h3>例</h3>
<pre><code class="language-js">Pet.query('SELECT pet.name FROM pet', function(err, results) {
  if (err) return res.serverError(err);
  return res.ok(results.rows);
});</code></pre>
<h3>備考</h3>
<blockquote>
<p>このメソッドはPostgreSQLとmySQLにのみ利用可能です。Mongoには.native()をご利用下さい。</p>
</blockquote>
<docmeta name="uniqueID" value="query546204">
<docmeta name="methodType" value="mcm">
<docmeta name="importance" value="undefined">
<docmeta name="displayName" value=".query()">