<h1 id="-query-">.query()</h1>
<p><code>.query()</code> is only available on Sails/Waterline models using a SQL database (PostgreSQL and mySQL) adapter.  Its purpose is to perform raw SQL queries.</p>
<h3 id="example" permalink="example">Example</h3>
<pre><code data-language="javascript">Pet.query(&apos;SELECT pet.name FROM pet&apos;, function(err, results) {
  if (err) return res.serverError(err);
  return res.ok(results);
});
</code></pre><!-- __LANG=%%__ -->
<h3 id="notes" permalink="notes">Notes</h3>
<blockquote>
<p>This method only works with PostgreSQL and mySQL! use .native() for Mongo.</p>
</blockquote>
<p><docmeta name="uniqueID" value="query546204"></docmeta></p>
<p><docmeta name="methodType" value="mcm"></docmeta></p>
<p><docmeta name="importance" value="undefined"></docmeta></p>
<docmeta name="displayName" value=".query()">

</docmeta>