<h1 id="myapp-config-globals-js">myApp/config/globals.js</h1>
<p><docmeta name="uniqueID" value="globalsjs86282"></docmeta></p>
<docmeta name="displayName" value="globals.js">

<pre><code data-language="javascript">/**
 * Global Variable Configuration
 * (sails.config.globals)
 *
 * Configure which global variables which will be exposed
 * automatically by Sails.
 *
 * For more information on configuration, check out:
 * http://sailsjs.org/documentation/concepts/globals
 */
module.exports.globals = {
    _: true,
    async: true,
    sails: true,
    services: true,
    models: true
};
</code></pre><!-- __LANG=%%__ -->
</docmeta>