<h1 id="myapp-api-services-gitkeep">myApp/api/services/.gitkeep</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>Ignore this file.  It only exists because <code>git</code> refuses to push empty directories to a remote server.  <code>.gitkeep</code> is an unofficial convention that has emerged as a workaround for people who don&apos;t discriminate against empty directories.</p>
<p><docmeta name="uniqueID" value="gitkeep306979"></docmeta></p>
<docmeta name="displayName" value=".gitkeep">
</docmeta>