<h1>myApp/api/services</h1>
<h3>目的</h3>
<p>このフォルダはサービスを格納するところです。「サービス」はコントローラと似ていますが、通常はユーザがリクエストを送り、サーバがレスポンスを返すという流れの間で発生する必要が必ずしも無いものに関して使われます。<code>.req()</code>と<code>.res()</code>に依存しない全てのロジックは特段の理由がない限りはサービスに変換することが出来、コントローラを綺麗に、メンテナンス性高く保つことが出来ます。</p>
<p>例えば以下のサービスを作る事ができます。</p>
<ul>
<li>メールを送信する</li>
<li>セレブの向けの自動ツイート</li>
<li>サードパーティのAPIからデータを取得し、準備ができた時に（websockets）を通じてクライアントにプッシュする。</li>
</ul>
<p>サービスはこのディレクトリにある1つまたは複数の.jsファイルとして欠くことが出来ます。</p>
<h3>Example Email.js</h3>
<pre><code>module.exports = {
    send: function(to,from,body){
        // fancy code that sends an email
    }
}
</code></pre>
<p>You would call this service with <code>Email.send('rick','bill','lol')</code></p>
<blockquote>
<p>Mind your case.  Email.send !== email.send</p>
</blockquote>
<docmeta name="uniqueID" value="servicesmd572453">
<docmeta name="displayName" value="services">