<h1>myApp/views</h1>
<h3>目的</h3>
<p>このディレクトリはアプリケーションのカスタムビューの全てを格納するところです。</p>
<p>カスタムビューを作成するにはこのディレクトリの中に新しいディレクトリを作成し、あたらしい.ejsファイルを作成します。クライアントによってレンダリングされるようにするためには<code>myApp/config/routes.js</code>にルートを作成するか、カスタムコントローラアクションの中で<code>res.view()</code>メソッドを利用する必要があります。</p>
<docmeta name="uniqueID" value="viewsmd633977">
<docmeta name="displayName" value="views">