<h1>req.ips</h1>
<p>&quot;trust proxy&quot;が有効の時、この値にはリクエストの&quot;X-Forwarded-For&quot;の中身がIPアドレス文字列の配列として与えられます。そうでない時は空の配列を返します</p>
<h3>使い方</h3>
<pre><code class="language-js">req.ips;</code></pre>
<h3>例</h3>
<p>リクエストがヘッダー&quot;X-Forwarded-For: client, proxy1, proxy2&quot;を含むとき:</p>
<pre><code class="language-js">req.ips;
// -&gt; ["client", "proxy1", "proxy2"]`

// ("proxy2" is the furthest "down-stream" IP address)</code></pre>
<docmeta name="uniqueID" value="reqips78262">
<docmeta name="displayName" value="req.ips">