<h1>req.cookies</h1>
<p>リクエスト(<code>req</code>)に含まれる全ての<a href="https://github.com/balderdashy/sails-docs/blob/master/PAGE_NEEDED.md"><strong>サインされてないクッキー</strong></a> を含みます。</p>
<h3>使い方</h3>
<pre><code class="language-javascript">req.cookies;</code></pre>
<h3>例</h3>
<p>&quot;chocolatechip&quot;と名付けられ、&quot;Yummyの値を持つクッキーが含まれると仮定します。:</p>
<pre><code class="language-javascript">req.cookies.chocolatechip;
// "Yummy"</code></pre>
<docmeta name="uniqueID" value="reqcookies576909">
<docmeta name="displayName" value="req.cookies">