<h1>req.params</h1>
<p>URLパスから得られたパラメータ値を持ったオブジェクトです。</p>
<p>例えば、<code>/user/:name</code>がある場合、&quot;name&quot;は<code>req.params.name</code>としてURLパスから得ることが出来ます。このオブジェクトのデフォルト値は<code>{}</code>です。</p>
<h3>使い方</h3>
<pre><code class="language-javascript">req.params;</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li>ルートアドレスが正規表現を使って出来ていた場合、正規表現のそれぞれのマッチから得られた値は<code>req.params[0]</code>、<code>req.params[1]</code>のように得られます。この方法は<code>/file/*</code>のような命名されていないワイルドカードマッチにも使えます。</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="reqparams977271">
<docmeta name="displayName" value="req.params">