<h1>req.acceptedLanguages</h1>
<p>リクエスト(<code>req</code>)の<code>Accept-Language</code> ヘッダー (<a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.4">RFC-2616</a>をご覧下さい)にで指定された受け入れ可能な言語の配列を含みます。</p>
<h3>使い方</h3>
<pre><code class="language-js">req.acceptedLanguages;</code></pre>
<h3>詳細</h3>
<p><code>req.acceptedLanguages</code>はリクエストの<code>Accept-Language</code> ヘッダー (see <a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.4">RFC-2616</a>をご覧下さい)で指定された全ての言語を含みます。</p>
<p>このメソッドはSailsの内部で国際化やローカライゼーションのために使われます。<a href="http://sailsjs.jp/documentation/concepts/Internationalization">i18n</a>フックはリクエストに応じて自動的に別々のロケールに対して別々のコンテンツを提供します。</p>
<h3>例</h3>
<pre><code class="language-js">req.acceptedLanguages;
// -&gt; ['en-US', 'en']</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li>Sails/Express/Koa/Connectでのヘッダーパースアルゴリズムの詳細に関しては<a href="https://github.com/expressjs/accepts"><code>accepts</code> module</a>を御覧ください。</li>
<li>ブラウザはユーザの言語設定に基づいて自動的に&quot;Accept-Language&quot;ヘッダを送ります。</li>
<li>Webブラウザを出元とする多くのリクエストに関して&quot;Accept-Language&quot;ヘッダがあると期待できます。</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="reqacceptedLanguages311952">
<docmeta name="displayName" value="req.acceptedLanguages">