<h1>req.signedCookies</h1>
<p>リクエストに含まれる全てのサイン済クッキー含むオブジェクトです。サイン済クッキーはクライアントサイドでの変更を防ぎます。この保護はクッキー値のHMACハッシュをBase64エンコードしたもので提供されます。クッキーを取得した時、HMACシグネチャがクッキー値を元にしたものとマッチしない時、そのクッキーは<code>req.signedCookies</code>オブジェクトの一員としては使えません。</p>
<h3>目的</h3>
<p>リクエスト(<code>req</code>)のサイン済みのクッキーをすべて持つオブジェクト</p>
<h3>使い方</h3>
<pre><code class="language-javascript">req.signedCookies;</code></pre>
<h3>例</h3>
<p>&quot;chocolatechip&quot;という名前で&quot;Yummy&quot;の値を持つサイン済クッキーを追加:</p>
<pre><code class="language-javascript">res.cookie('chocolatechip', 'Yummy', {signed:true});</code></pre>
<p>クッキーを取得:</p>
<pre><code class="language-javascript">req.signedCookies.chocolatechip;
// "Yummy"</code></pre>
<docmeta name="uniqueID" value="reqsignedCookies113713">
<docmeta name="displayName" value="req.signedCookies">