<h1>Request (<code>req</code>)</h1>
<p>Sailsは<a href="http://nodejs.org/api/http.html">Node's HTTP server</a> 慣習のもと<a href="https://github.com/balderdashy/sails-docs/blob/master/PAGE_NEEDED.md">Express</a>上で構築されています。そのため、<code>req</code>がアクセス出来る場所からなら全て（すなわちコントローラやポリシー、カスタムレスポンス上から）その上にあるNodeとExpressのメソッドにアクセスすることが出来ます。</p>
<p>この互換性の良い副作用としては多くのケースで既存のNode.jsをSailsアプリケーションにペーストするだけで動作させることが出来ます。また、Sailsはトランスポートを気にしないリクエストインタプリタを実装していますのでSailsアプリケーションのコードはWeb Sockets対応なのです。</p>
<p>Sailsでは<code>req</code>オブジェクトに <a href="http://sailsjs.jp/documentation/reference/req/req.wantsJSON.html"><code>req.wantsJSON</code></a> や <a href="http://sailsjs.jp/documentation/reference/req/req.allParams.html"><code>req.params.all()</code></a> のような幾つかのプロパティとメソッドを追加しています。これらの機能は基礎となる実装の上の糖衣構文であり、同様にHTTP と WebSocketsをサポートします。</p>
<h3>プロトコルのサポート</h3>
<p>下記のチャートはSailsの<a href="http://sailsjs.jp/documentation/reference/req">Request</a>オブジェクトである (<code>req</code>)の各トランスポートメソッド間でのメソッドとプロパティの対応状況を表しています:</p>
<!-- TODO: add SPDY -->
<table>
<thead>
<tr>
<th></th>
<th>HTTP</th>
<th>WebSockets</th>
</tr>
</thead>
<tbody>
<tr>
<td>req.file()</td>
<td>:white_check_mark:</td>
<td>:white_large_square:</td>
</tr>
<tr>
<td>req.param()</td>
<td>:white_check_mark:</td>
<td>:white_check_mark:</td>
</tr>
<tr>
<td>req.route</td>
<td>:white_check_mark:</td>
<td>:white_check_mark:</td>
</tr>
<tr>
<td>req.cookies</td>
<td>:white_check_mark:</td>
<td>:white_large_square:</td>
</tr>
<tr>
<td>req.signedCookies</td>
<td>:white_check_mark:</td>
<td>:white_large_square:</td>
</tr>
<tr>
<td>req.get()</td>
<td>:white_check_mark:</td>
<td>:white_large_square:</td>
</tr>
<tr>
<td>req.accepts()</td>
<td>:white_check_mark:</td>
<td>:white_large_square:</td>
</tr>
<tr>
<td>req.accepted</td>
<td>:white_check_mark:</td>
<td>:white_large_square:</td>
</tr>
<tr>
<td>req.is()</td>
<td>:white_check_mark:</td>
<td>:white_large_square:</td>
</tr>
<tr>
<td>req.ip</td>
<td>:white_check_mark:</td>
<td>:white_check_mark:</td>
</tr>
<tr>
<td>req.ips</td>
<td>:white_check_mark:</td>
<td>:white_large_square:</td>
</tr>
<tr>
<td>req.path</td>
<td>:white_check_mark:</td>
<td>:white_large_square:</td>
</tr>
<tr>
<td>req.host</td>
<td>:white_check_mark:</td>
<td>:white_large_square:</td>
</tr>
<tr>
<td>req.fresh</td>
<td>:white_check_mark:</td>
<td>:white_large_square:</td>
</tr>
<tr>
<td>req.stale</td>
<td>:white_check_mark:</td>
<td>:white_large_square:</td>
</tr>
<tr>
<td>req.xhr</td>
<td>:white_check_mark:</td>
<td>:white_large_square:</td>
</tr>
<tr>
<td>req.protocol</td>
<td>:white_check_mark:</td>
<td>:white_check_mark:</td>
</tr>
<tr>
<td>req.secure</td>
<td>:white_check_mark:</td>
<td>:white_large_square:</td>
</tr>
<tr>
<td>req.session</td>
<td>:white_check_mark:</td>
<td>:white_check_mark:</td>
</tr>
<tr>
<td>req.subdomains</td>
<td>:white_check_mark:</td>
<td>:white_large_square:</td>
</tr>
<tr>
<td>req.method</td>
<td>:white_check_mark:</td>
<td>:white_check_mark:</td>
</tr>
<tr>
<td>req.originalUrl</td>
<td>:white_check_mark:</td>
<td>:white_large_square:</td>
</tr>
<tr>
<td>req.acceptedLanguages</td>
<td>:white_check_mark:</td>
<td>:white_large_square:</td>
</tr>
<tr>
<td>req.acceptedCharsets</td>
<td>:white_check_mark:</td>
<td>:white_large_square:</td>
</tr>
<tr>
<td>req.acceptsCharset()</td>
<td>:white_check_mark:</td>
<td>:white_large_square:</td>
</tr>
<tr>
<td>req.acceptsLanguage()</td>
<td>:white_check_mark:</td>
<td>:white_large_square:</td>
</tr>
<tr>
<td>req.isSocket</td>
<td>:white_check_mark:</td>
<td>:white_check_mark:</td>
</tr>
<tr>
<td>req.params.all()</td>
<td>:white_check_mark:</td>
<td>:white_check_mark:</td>
</tr>
<tr>
<td>req.socket.id</td>
<td>:heavy_multiplication_x:</td>
<td>:white_check_mark:</td>
</tr>
<tr>
<td>req.socket.join</td>
<td>:heavy_multiplication_x:</td>
<td>:white_check_mark:</td>
</tr>
<tr>
<td>req.socket.leave</td>
<td>:heavy_multiplication_x:</td>
<td>:white_check_mark:</td>
</tr>
<tr>
<td>req.socket.broadcast</td>
<td>:heavy_multiplication_x:</td>
<td>:white_check_mark:</td>
</tr>
<tr>
<td>req.transport</td>
<td>:white_large_square:</td>
<td>:white_check_mark:</td>
</tr>
<tr>
<td>req.url</td>
<td>:white_check_mark:</td>
<td>:white_check_mark:</td>
</tr>
<tr>
<td>req.wantsJSON</td>
<td>:white_check_mark:</td>
<td>:white_check_mark:</td>
</tr>
</tbody>
</table>
<h3>Legend</h3>
<ul>
<li>:white_check_mark: - 完全対応</li>
<li>:white_large_square: - 実装未完</li>
<li>:heavy_multiplication_x: - プロトコルの制約により未サポート</li>
</ul>
<docmeta name="uniqueID" value="req35837">
<docmeta name="displayName" value="Request (`req`)">
<docmeta name="stabilityIndex" value="3">