<h1>req.isSocket</h1>
<p>リクエスト (<code>req</code>)がSocket.ioのコネクションから来るかどうかを識別するフラグです。</p>
<h3>使い方</h3>
<pre><code class="language-js">req.isSocket;</code></pre>
<h3>例</h3>
<pre><code class="language-javascript">if (req.isSocket){
  // You're a socket.  Do cool socket stuff.
}
else {
  // Just another HTTP request.
}</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li>HTTPリクエストに対してSocket.ioリクエスト依存のpubsubや<code>subscribe()</code>や<code>watch()</code>などのWebSocket中心のメソッドをスキップさせるのに便利です。これによりHTTPリスエストとWebSocketリクエストに関してバックエンドのコードの再利用が出来ます。</li>
<li>お気付きの通り、<code>req.isSocket</code>はソケットに接続されている <strong>他者に送信する</strong> コードを実行する前に確認する必要がありません。それらのメソッドはリクエスト依存ではないので、どちらにせよ動作します。</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="reqisSocket87074">
<docmeta name="displayName" value="req.isSocket">