<h1>req.body</h1>
<p>リクエストボディをパースしたテキストパワメータが含まれ、デフォルトは<code>{}</code>です。</p>
<p>デフォルトで、リクエストボディはURLエンコードされているか、Json文字列です。シリアライズされたXMLなど、その他フォーマットのサポートは<a href="http://sailsjs.jp/documentation/concepts/Middleware">middleware</a>を設定を使って可能です。</p>
<h3>使い方</h3>
<pre><code class="language-js">req.body;</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li>リクエストが、一つまたは複数のファイルアップロードを含んでいる場合、文字列属性は<code>req.body</code>の中の最初のパラメータの <em><strong>前に</strong></em> あるもののみ取得可能です。</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="reqbody1481">
<docmeta name="displayName" value="req.body">