<h1>req.secure</h1>
<p>リクエストが<a href="http://en.wikipedia.org/wiki/Transport_Layer_Security">TLS</a>接続(すなわち<code>https://</code> または <code>wss://</code>)で送られたかを示します。</p>
<h3>使い方</h3>
<pre><code class="language-javascript">req.secure;</code></pre>
<docmeta name="uniqueID" value="reqsecure698791">
<docmeta name="displayName" value="req.secure">