<h1>req.subdomains</h1>
<p>リクエストのURLにある全てのサブドメインの配列</p>
<h3>使い方</h3>
<pre><code class="language-javascript">req.subdomains;</code></pre>
<h3>例</h3>
<p>リクエストされたURLが&quot;<a href="https://ww3.staging.ibm.com">https://ww3.staging.ibm.com</a>&quot;の場合:</p>
<pre><code class="language-javascript">req.subdomains;
// -&gt; ['ww3', 'staging']</code></pre>
<docmeta name="uniqueID" value="reqsubdomains686204">
<docmeta name="displayName" value="req.subdomains">