<h1>req.allParams()</h1>
<p>リクエストの中で送信された <em>全ての</em> パラメータを一つのオブジェクトにして送信します。URLパスに含まれるパラメータやクエリストリング、リクエストボディの内容もこれに含まれます。詳しくは<a href="http://sailsjs.jp/documentation/reference/req.param"><code>req.param()</code></a>を御覧ください。</p>
<h3>使い方</h3>
<pre><code class="language-js">req.allParams();</code></pre>
<h3>例</h3>
<p>特定の<code>sku</code>を持つ製品を与えられたパラメータの内容を使って編集します。:</p>
<pre><code class="language-javascript">var values = req.allParams();

// Don't allow `price` or `isAvailable` to be edited.
delete values.price;
delete values.isAvailable;

// At this point, `values` might look something like this:
// values ==&gt; { displayName: 'Bubble Trouble Bubble Bath' }

Product.update({sku: sku})
.set(values)
.then(function (newProduct) {
  // ...
});</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li>メソッドは<code>req.params.all()</code>としても呼び出せます - これらは同期されています。</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="reqallParams817828">
<docmeta name="displayName" value="req.allParams()">