<h1>req.accepts()</h1>
<p>リクエストが許容される<a href="http://www.iana.org/assignments/media-types/media-types.xhtml">media types</a> に特定の<code>type</code>が含まれるかどうかを確認します。TrueかFalseを返します。</p>
<h3>使いかた</h3>
<pre><code class="language-javascript">req.accepts(type);</code></pre>
<h3>例</h3>
<pre><code class="language-javascript">req.accepts('application/json');
// -&gt; true
req.accepts('json');
// -&gt; true</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li>Sails/Express/Koa/Connectでのヘッダーパースアルゴリズムの詳細に関しては<a href="https://github.com/expressjs/accepts"><code>accepts</code> module</a>を御覧ください。</li>
</ul>
</blockquote>
<docmeta name="displayName" value="req.accepts()">