<h1>req.acceptedCharsets</h1>
<p>このプロパティはリクエスト中でユーザエージェントから指定された受け入れ可能な文字コードの配列を持ちます。</p>
<h3>使い方</h3>
<pre><code class="language-js">req.acceptedCharsets;</code></pre>
<h3>詳細</h3>
<p>これはユニコード(utf-8)のような特定の文字コードをクライアントがサポートしているかいないかわからない時に高度なコンテンツネゴシエーションを行うのに便利です。これはリクエストの<code>Accept-Charset</code> ヘッダー (<a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.2">RFC-2616</a>をご覧ください)に含まれる全ての受け入れ可能な文字コードを返します。</p>
<h3>例</h3>
<pre><code class="language-js">req.acceptedCharsets;
// -&gt; ['utf-8', 'utf-16']</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li>Sails/Express/Koa/Connectでのヘッダーパースアルゴリズムの詳細に関しては<a href="https://github.com/expressjs/accepts"><code>accepts</code> module</a>を御覧ください。</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="reqacceptedCharsets230309">
<docmeta name="displayName" value="req.acceptedCharsets">