<h1>req.protocol</h1>
<p>リクエスト(<code>req</code>)に使われたプロトコルです。</p>
<h3>使い方</h3>
<pre><code class="language-javascript">req.protocol;</code></pre>
<h3>例</h3>
<pre><code class="language-js">switch (req.protocol) {
  case 'http':
    // this is an HTTP request
    break;
  case 'https':
    // this is a secure HTTPS request
    break;
}</code></pre>
<docmeta name="uniqueID" value="reqprotocol732076">
<docmeta name="displayName" value="req.protocol">