<h1>req.fresh</h1>
<p>このフラグはユーザエージェントがこのリクエスト(<code>req</code>)に関してデータをフラッシュすることを求めているということを意味します。（これは&quot;<a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.26">if-none-match</a>&quot;、&quot;<a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9">cache-control</a>&quot;、あるいは&quot;<a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.25">if-modified-since</a>&quot;リクエストヘッダーによって示されています。）</p>
<p>リクエストがデータをフラッシュして欲しい時には通常最新のデータをデータ・モデルから<code>.find()</code>してクライアントに送り返さなければなりません。</p>
<h3>使い方</h3>
<pre><code class="language-js">req.fresh;</code></pre>
<h3>例</h3>
<pre><code class="language-js">if (req.fresh) {
  // The user-agent is asking for a more up-to-date version of the requested resource.
  // Let's hit the database to get some stuff and send it back.
}</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li>Sails/Express/Koa/Connectの実際の実装に関しては<a href="https://github.com/visionmedia/node-fresh"><code>node-fresh</code></a> モジュールを御覧ください。</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="reqfresh718346">
<docmeta name="displayName" value="req.fresh">