<h1>req.acceptsLanguage()</h1>
<p>リクエスト(<code>req</code>)が特定の<code>language</code>を扱えるかを返します。</p>
<h3>使い方</h3>
<pre><code class="language-js">req.acceptsLanguage(language);</code></pre>
<h3>詳細</h3>
<p><code>req.acceptsLanguage()</code>はリクエストの<code>Accept-Language</code> ヘッダー (see <a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.4">RFC-2616</a>をご覧下さい)で与えられた<code>language</code>がサポートされていた場合Trueを返します。</p>
<p>このメソッドはSailsの内部で国際化やローカライゼーションのために使われます。<a href="http://sailsjs.jp/documentation/concepts/Internationalization">i18n</a>フックはリクエストに応じて自動的に別々のロケールに対して別々のコンテンツを提供します。</p>
<h3>Example</h3>
<p>リクエストが<code>"Accept-Charset: utf-8"</code>ヘッダーともに送信されていた場合:</p>
<pre><code class="language-js">req.acceptsCharset('utf-8');
// -&gt; true</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li>Sails/Express/Koa/Connectでのヘッダーパースアルゴリズムの詳細に関しては<a href="https://github.com/expressjs/accepts"><code>accepts</code> module</a>を御覧ください。</li>
<li>ブラウザはユーザの言語設定に基づいて自動的に&quot;Accept-Language&quot;ヘッダを送ります。</li>
<li>Webブラウザを出元とする多くのリクエストに関して&quot;Accept-Language&quot;ヘッダがあると期待できます。</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="reqacceptsLanguage170988">
<docmeta name="displayName" value="req.acceptsLanguage()">