<h1>req.headers</h1>
<p>リクエストの中の規定及びカスタムのヘッダー。</p>
<h3>使い方</h3>
<pre><code class="language-javascript">req.headers;</code></pre>
<h3>詳細</h3>
<p>しばしば現在のリクエストのヘッダーを確認したいことがありますが、Sailsではそれが簡単にできます。</p>
<h3>例</h3>
<p><code>req.headers</code>オブジェクトの出力例:</p>
<pre><code class="language-javascript">console.log(req.headers);

{ host: 'localhost:1337',
  connection: 'keep-alive',
  'cache-control': 'no-cache',
  'user-agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2272.89 Safari/537.36',
  accept: '*/*',
  'accept-encoding': 'gzip, deflate, sdch',
  'accept-language': 'en-US,en;q=0.8,hi;q=0.6',
  cookie: 'sdfkslddklfk; sails.sid=s%3skdlfjkj1231lsdfnsc,m' }</code></pre>
<h3>例</h3>
<p>規定及びカスタムのヘッダから特定のものにアクセスしたい場合はカッコを使ったノーテーションで行えます:</p>
<pre><code class="language-javascript">req.headers['custom-header'];</code></pre>
<p>あるいはドットを使ったノーテーションで:</p>
<pre><code class="language-javascript">req.headers.host;</code></pre>
<docmeta name="displayName" value="req.headers">