<h1>req.is()</h1>
<p>リクエストの&quot;Content-Type&quot;が指定されたmedia/mime <code>type</code>に合った時にTrueを返します。</p>
<p>細かく言うと、このメソッドは与えられた<code>type</code>と&quot;Content-Type&quot;ヘッダのマッチを確認します。</p>
<h3>使い方</h3>
<pre><code class="language-js">req.is(type);</code></pre>
<h3>例</h3>
<p>リクエストが&quot;Content-Type&quot; header, &quot;text/html; charset=utf-8&quot;を持っていると仮定すると:</p>
<pre><code class="language-javascript">req.is('html');
// -&gt; true
req.is('text/html');
// -&gt; true
req.is('text/*');
// -&gt; true</code></pre>
<docmeta name="uniqueID" value="reqis371514">
<docmeta name="displayName" value="req.is()">