<h1>req.query</h1>
<p>パース済みのクエリ文字列です。デフォルトは<code>{}</code>です。</p>
<h3>使い方</h3>
<pre><code class="language-js">req.query;</code></pre>
<h3>例</h3>
<p>リクエストが<code>GET /search?q=mudslide</code>だった場合:</p>
<pre><code class="language-js">req.query.q
// -&gt; "mudslide"</code></pre>
<docmeta name="uniqueID" value="reqquery553014">
<docmeta name="displayName" value="req.query">