<h1>req.method</h1>
<p>リクエストのメソッド（別名:動詞）です。</p>
<h3>使い方</h3>
<pre><code class="language-js">req.method;</code></pre>
<h3>例</h3>
<p>クライアントが<code>/product</code>に対してPOSTリクエストをした場合 :</p>
<pre><code class="language-js">req.method;
// -&gt; "POST"</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li>All requests to a Sails server have a &quot;method&quot;, even via WebSockets (this is thanks to the request interpreter)</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="reqmethod305728">
<docmeta name="displayName" value="req.method">