<h1>req.ip</h1>
<h3>目的</h3>
<p>リクエスト(<code>req</code>)の送信元のIPアドレス。</p>
<blockquote>
<p><strong>備考:</strong></p>
<p>Expressの<code>trust proxy</code>オプションが無効の際、これは「リモートアドレス」です。<code>trust proxy</code>オプションが有効の際、これは「アップストリームアドレス」です。
<a href="http://expressjs.com/api.html#app.set">app.set()</a>に関してはExpressドキュメントをご覧ください。
Sailsでは<code>config/bootstrap.js</code>で<code>sails.hooks.http.app.set('trust proxy', true);</code>の行を追加することで可能です。</p>
</blockquote>
<h3>使い方</h3>
<pre><code class="language-javascript">req.ip;</code></pre>
<h3>例</h3>
<pre><code class="language-javascript">req.ip;
// -&gt; "127.0.0.1"</code></pre>
<docmeta name="uniqueID" value="reqip681943">
<docmeta name="displayName" value="req.ip">