<h1>req.get()</h1>
<p>リクエスト(<code>req</code>)の指定された<code>header</code>フィールドの中身を返します。ヘッダー名は <em>大文字小文字を区別しない</em> ということにお気をつけ下さい。</p>
<h3>使い方</h3>
<pre><code class="language-js">req.get(header);</code></pre>
<h3>例</h3>
<p><code>req</code>が'myField'と名付けられ、'cat'の値を持つヘッダーを持つと仮定します。:</p>
<pre><code class="language-javascript">req.get('myField');
// -&gt; cat</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li><code>header</code>引数は大文字小文字を区別しません。</li>
<li>スペルの関係上、<code>header</code>引数は&quot;referrer&quot;と&quot;referer&quot;を同じく扱います。</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="reqget839626">
<docmeta name="displayName" value="req.get()">