<h1>req.acceptsCharset()</h1>
<p>リクエスト(<code>req</code>)が特定の<code>characterSet</code>を扱えるかを返します。</p>
<h3>使い方</h3>
<pre><code class="language-js">req.acceptsCharset(characterSet);</code></pre>
<h3>詳細</h3>
<p>これはユニコード(utf-8)のような特定の文字コードをクライアントがサポートしているかいないかわからない時に高度なコンテンツネゴシエーションを行うのに便利です。これは与えられた<code>characterSet</code>がリクエストの<code>Accept-Charset</code> ヘッダー (<a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.2">RFC-2616</a>をご覧ください)に受け入れ可能な文字コードとして含まれているかどうかを判断します。</p>
<h3>例</h3>
<p>リクエストが<code>"Accept-Charset: utf-8"</code>ヘッダーともに送信されていた場合:</p>
<pre><code class="language-js">req.acceptsCharset('utf-8');
// -&gt; true</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li>Sails/Express/Koa/Connectでのヘッダーパースアルゴリズムの詳細に関しては<a href="https://github.com/expressjs/accepts"><code>accepts</code> module</a>を御覧ください。</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="reqacceptsCharset303007">
<docmeta name="displayName" value="req.acceptsCharset()">