<h1>req.xhr</h1>
<p>リクエスト(<code>req</code>)がAJAXリクエストに見えるかどうかのフラグ。（すなわち、これは&quot;X-Requested-With&quot;に&quot;XMLHttpRequest&quot;が設定されているかによってもたらされます）</p>
<h3>使い方</h3>
<pre><code class="language-js">req.xhr;</code></pre>
<h3>例</h3>
<pre><code class="language-javascript">if (req.xhr) {
  // Yup, it's AJAX alright.
}</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li>可能な限り<code>req.wantsJSON</code>を使うことを選択すべきです。あなたのアプリケーションでカスタムのコンテントネゴシエーションを書くことは避けて下さい。それはあなたのコードをより冗長で脆弱なものにします。</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="reqxhr450203">
<docmeta name="displayName" value="req.xhr">