<h1>Records</h1>
<p>レコードはデータベースのエントリーと1対1の対応をする一意に特定できるオブジェクトです。例:Oracle/MSSQL/PostgreSQL/MySQLでの行、MongoDBでのドキュメント、Redisでのハッシュ</p>
<pre><code class="language-js">Order.findOne().exec(function (err, order){
  var record = order;
});</code></pre>
<p>多くの部分でレコードは単なるのJavaScriptオブジェクト（あるいはPOJOとも呼ばれます）です。しかしながら、<a href="http://en.wikipedia.org/wiki/Active_record_pattern">プログラム的な変更</a>をデータベースに永続化するための特別なメソッドである(<a href="http://sailsjs.jp/documentation/reference/waterline/records/save.html"><code>.save()</code></a>)のようにラップされたデータをフォーマットするための幾つかの数えきれないprotectedのメソッドがあります。</p>
<docmeta name="uniqueID" value="record890682">
<docmeta name="displayName" value="Records">