<h1>.toObject()</h1>
<h3>目的</h3>
<p>toObjectメソッドはクローンされたモデルインスタンス（レコード）を全てのインスタンスメソッドに分けて返します。</p>
<h3>概要</h3>
<h4>返り値</h4>
<table>
<thead>
<tr>
<th>#</th>
<th>説明</th>
<th>想定されるデータ型</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>クローンされたレコード</td>
<td><code>{}</code></td>
</tr>
</tbody>
</table>
<h3>仕様例</h3>
<p><em>.toJSON()</em> の使用例をご覧ください。</p>
<h3>備考</h3>
<blockquote>
<p>デフォルトの.toJSONインスタンスメソッドを上書きする時にのみ.toObjectを使うべきです。</p>
</blockquote>
<docmeta name="uniqueID" value="toObject330342">
<docmeta name="methodType" value="instance">
<docmeta name="importance" value="undefined">
<docmeta name="displayName" value=".toObject()">