<h1 id="sails-docs-reference">sails-docs-reference</h1>
<p>Reference Section of Sails.js documentation</p>
<h2 id="ideas-for-some-restructuring-" permalink="ideas-for-some-restructuring">ideas for some restructuring:</h2>
<pre><code data-language="javascript">|
 |- Usage
   |
   |- Request (req)
   |
   |- Response (res)
   |
   |- Config (sails.config)
   |
   |- Model (sails.models)
   |
   |- Sockets (sails.sockets)
   |
   |- Sails CLI
   |
   |- Blueprint API
   |
   |- Browser SDK (sails.io.js)

 |
 |- Concepts
    |
    |- Security
    |
    |- Deployment
       |
       |- FAQ
       |- Hosting
       |- Scaling
    |
    |- Testing
    |
    |- Internationalization
    |
    |- Logging
    |
    |- File Uploads
    |
    |- Assets &amp; Tasks
    |
    |- Middleware
    |
    |- Routes
    |
    |- Blueprints
    |
    |- Policies
    |
    |- Controllers
    |
    |- Custom Responses
    |
    |- Models
       |
       |- Attributes
       |- Validations
       |- Associations
       |- Lifecycle Callbacks
       |- Custom Schemas
       |- Migrations
    |
    |- Services
       |- todo: add example: Sending Email
    |
    |- Views

 |
 |- Advanced
    |
    |- Plugins
    |
    |- Programmatic Usage
    |
    |- Globals
    |
    |- .sailsrc
</code></pre><!-- __LANG=%%__ -->
<p><docmeta name="uniqueID" value="README541912"></docmeta></p>
<docmeta name="displayName" value="error">

</docmeta>
