<h1 id="websockets">WebSockets</h1>
<h3 id="overview" permalink="overview">Overview</h3>
<p>There are two main continents in the world of WebSockets- the client (e.g. browser) and the server (e.g. your routes, controllers, and so forth).</p>
<p><docmeta name="uniqueID" value="websockets293545"></docmeta></p>
<docmeta name="displayName" value="WebSockets">

</docmeta>