.anatomy-page {
	.clearfix();
	font-family: @mainFont;

	//The content of the anatomy section
	.anatomy-container {
		.container();
    .borderBox();
    .clearfix();
    z-index: 2;
		div.navigation {
			.borderBox();
      width: 25%;
      float: left;
			// background-color: @bgLtGray;
			height: 100%;
			padding: 15px 25px 25px 0;
			h2 {
				text-align: left;
				padding: 5px 0px 15px;
				color: @turquoise;
				font-size: 1.6em;
				font-weight: 300;
			}
			ul.file-list {
				li {
    			font-size: 15px;
					font-weight: 400;
					padding: 0px 0px 9px 12px;
					&:last-child {
						padding-bottom: 0px;
					}
        			&.folder {
    					background: url('/images/img_collapsedArrow@2x.png') no-repeat left 9px;
    					background-size: 6px;
    					span {
    						cursor: pointer;
							&:hover {
								color: @turquoise;
							}
    					}
    					ul {
    						display: none;
    						padding: 5px 0px;
    						&:last-child {
    							padding-bottom: 0px;
    						}
    					}
    					&.expanded {
	    					background: url('/images/img_expandedArrow@2x.png') no-repeat left 8px;
	    					background-size: 6px;
    						> ul {
    							display: block;
    						}
    					}
        			}
					&.file {
						cursor: pointer;
						&:hover {
							color: @turquoise;
						}
					}
    			&.active {
    				&.file {
    					color: @turquoise;
    				}
    				&.folder {
						span {
							color: @turquoise;
    						font-weight: 600;
						}
						.folder {
							span {
								color: @black;
								font-weight: 400;
							}
						}
    				}
    			}
				}
			}
		}
		.anatomy-content {
      .borderBox();
      padding-top: 50px;
      width: 75%;
      float: left;
    }
	}
}
