<h1 id="-message-models-data-request-">.message( <code>models</code>,<code>data</code>, [<code>request</code>] )</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>Publishes a custom message to a model&#x2019;s subscribers.</p>
<table>
<thead>
<tr>
<th></th>
<th>Description</th>
<th>Accepted Data Types</th>
<th>Required ?</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Record (or ID of record) to send message to</td>
<td><code>int</code>, <code>string</code>, <code>object</code></td>
<td>Yes</td>
</tr>
<tr>
<td>2</td>
<td>Message payload</td>
<td><code>object</code></td>
<td>Yes</td>
</tr>
<tr>
<td>3</td>
<td>Request</td>
<td><code>request object</code></td>
<td>No</td>
</tr>
</tbody>
</table>
<p><code>message()</code> emits a socket message using the model identity as the event name.  The message is broadcast to all sockets subscribed to the model instance via the <code>.subscribe</code> model method.</p>
<p>The socket message is an object with the following properties:</p>
<ul>
<li><strong>id</strong> - the <code>id</code> attribute of the model instance</li>
<li><strong>verb</strong>  - <code>&quot;messaged&quot;</code> (a string)</li>
<li><strong>data</strong> - the message payload</li>
</ul>
<h4 id="-data-" permalink="data"><code>data</code></h4>
<p>Arbitrary data to send to the subscribed sockets.</p>
<h4 id="-request-" permalink="request"><code>request</code></h4>
<p>If this argument is included then the socket attached to that request will <em>not</em> receive the notification.</p>
<p><docmeta name="uniqueID" value="message373731"></docmeta></p>
<p><docmeta name="methodType" value="pubsub"></docmeta></p>
<p><docmeta name="importance" value="undefined"></docmeta></p>
<docmeta name="displayName" value=".message()">

</docmeta>