<h1>.message( <code>models</code>,<code>data</code>, [<code>request</code>] )</h1>
<h3>目的</h3>
<p>モデルのサブスクライバに対してカスタムのメッセージを送信します。</p>
<table>
<thead>
<tr>
<th></th>
<th>説明</th>
<th>受け入れ可能なデータ型</th>
<th>必須か</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>メッセージを送るレコード（またはレコードのID）</td>
<td><code>int</code>, <code>string</code>, <code>object</code></td>
<td>はい</td>
</tr>
<tr>
<td>2</td>
<td>メッセージ内容</td>
<td><code>object</code></td>
<td>はい</td>
</tr>
<tr>
<td>3</td>
<td>リクエスト</td>
<td><code>request object</code></td>
<td>いいえ</td>
</tr>
</tbody>
</table>
<p><code>message()</code>はモデル識別子をイベント名として利用し、ソケットメッセージを送信します。メッセージは<code>.subscribe</code>モデルメソッドにを経由してサブ浮くライブをした全てのソケットに送信されます。</p>
<p>ソケットメッセージは以下のプロパティを含むオブジェクトです。:</p>
<ul>
<li><strong>id</strong> - モデルインスタンスの<code>id</code>属性</li>
<li><strong>verb</strong>  - <code>"messaged"</code> (文字列)</li>
<li><strong>data</strong> - メッセージの内容</li>
</ul>
<h4><code>data</code></h4>
<p>サブスクライブしているソケットに送信する任意のデータ</p>
<h4><code>request</code></h4>
<p>この引数が含まれていればそのリクエストに結びついているソケットは通知を<em>受け取りません</em>。</p>
<docmeta name="uniqueID" value="message373731">
<docmeta name="methodType" value="pubsub">
<docmeta name="importance" value="undefined">
<docmeta name="displayName" value=".message()">