<h1>.publishAdd( <code>{id}</code>,<code>attribute</code>, <code>idAdded</code>, [<code>request</code>], [<code>options</code>] )</h1>
<h3>目的</h3>
<p>関連付けられたレコードにモデルコレクションが追加された時に通知を発行します。例えば、<code>User</code>モデルが<code>Pet</code>モデルへの関連付けを持っていて、ユーザが１つまたは複数のペットを<code>pets</code>属性に持てるような場合で、<code>publishAdd</code>がコールされるユーザにペットが関連付けられた時にです。</p>
<table>
<thead>
<tr>
<th></th>
<th>説明</th>
<th>受け入れ可能なデータ型</th>
<th>必須か</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>更新されたレコードのID</td>
<td><code>int</code>, <code>string</code></td>
<td>はい</td>
</tr>
<tr>
<td>2</td>
<td>関連付けられたレコードの属性</td>
<td><code>string</code></td>
<td>はい</td>
</tr>
<tr>
<td>3</td>
<td>追加された関連レコードのID</td>
<td><code>int</code>, <code>string</code></td>
<td>はい</td>
</tr>
<tr>
<td>4</td>
<td>リクエスト</td>
<td><code>request object</code></td>
<td>いいえ</td>
</tr>
<tr>
<td>5</td>
<td>追加のオプション</td>
<td><code>object</code></td>
<td>いいえ</td>
</tr>
</tbody>
</table>
<p><code>message()</code>はモデル識別子をイベント名として利用し、ソケットメッセージを送信します。メッセージは<code>.subscribe</code>モデルメソッドにを経由してサブスクライブをした全てのソケットに送信されます。</p>
<p>ソケットメッセージは以下のプロパティを含むオブジェクトです。:</p>
<ul>
<li><strong>id</strong> - モデルインスタンスの<code>id</code>属性</li>
<li><strong>verb</strong>  - <code>"addedTo"</code> (文字列)</li>
<li><strong>attribute</strong> - 追加されたモデルあ属性の名前</li>
<li><strong>addedId</strong> - 追加されたレコードのID</li>
</ul>
<h4><code>request</code></h4>
<p>この引数が含まれていればそのリクエストに結びついているソケットは通知を<em>受け取りません</em>。</p>
<h4><code>options.noReverse</code></h4>
<p><code>options.noReverse</code>に関しては<code>publishUpdate</code>のドキュメントをご覧ください。一般的にモデルに対してど記事の<code>publishAdd</code>実装を行っていないかぎりはこの引数をっかうべきではありません。</p>
<docmeta name="uniqueID" value="publishAdd129964">
<docmeta name="methodType" value="pubsub">
<docmeta name="importance" value="undefined">
<docmeta name="displayName" value=".publishAdd()">