<h1>.unsubscribe(<code>request</code>,<code>records</code>,[<code>contexts</code>])</h1>
<h3>目的</h3>
<p>そのメソッド一つまたは複数のモデルインスタンスに対するソケットのサブスクライブを解除します。</p>
<table>
<thead>
<tr>
<th></th>
<th>説明</th>
<th>受け入れ可能なデータ型</th>
<th>必須か</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>リクエスト</td>
<td><code>Request object</code></td>
<td>はい</td>
</tr>
<tr>
<td>2</td>
<td>レコード</td>
<td><code>[]</code>, <code>object</code></td>
<td>はい</td>
</tr>
<tr>
<td>3</td>
<td>寒サブスクライブ解除をするコンテキスト</td>
<td><code>string</code>, <code>array</code></td>
<td>いいえ</td>
</tr>
</tbody>
</table>
<p><em>備考</em>:<code>unsubscribe</code>はsocket.ioでの接続 (例：<code>io.socket.get()</code>など)のみで有効であり、HTTPでの接続(例：<code>jQuery.get()</code>)では<em>無効</em>です。</p>
<h4><code>context</code></h4>
<p>Pubsubのコンテキストに関しての議論は<code>.subscribe()</code>を御覧ください。この引数を省略すると全てのコンテキストに関してサブスクライブを解除します。</p>
<h3>使用例</h3>
<p>コントローラコード</p>
<pre><code class="language-javascript">User.findOne({id: 123}).exec(function(err, userInstance) {
    User.unsubscribe(req.socket, userInstance);
});</code></pre>
<docmeta name="uniqueID" value="unsubscribe354769">
<docmeta name="methodType" value="pubsub">
<docmeta name="importance" value="undefined">
<docmeta name="displayName" value=".unsubscribe()">