<h1>.unwatch(<code>request</code>)</h1>
<h3>目的</h3>
<p>モデルのpublishCreateに対してクライアントをサブスクライブ解除します。</p>
<table>
<thead>
<tr>
<th></th>
<th>説明</th>
<th>受け入れ可能なデータ型</th>
<th>必須か</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>リクエスト</td>
<td><code>request object</code></td>
<td>はい</td>
</tr>
</tbody>
</table>
<p><em>備考</em>:<code>unwatch</code>はsocket.ioでの接続 (例：<code>io.socket.get()</code>など)のみで有効であり、HTTPでの接続(例：<code>jQuery.get()</code>)では<em>無効</em>です。</p>
<docmeta name="uniqueID" value="unwatch872661">
<docmeta name="methodType" value="pubsub">
<docmeta name="importance" value="undefined">
<docmeta name="displayName" value=".unwatch()">