<h1>.watch(<code>request</code>)</h1>
<h3>Purpose</h3>
<p>This subscribes a client to publishCreate events for the model.  Any connections that are &quot;watching&quot; the model class will be automatically subscribed to new model instances that are created using the blueprint <code>create</code> method.</p>
<table>
<thead>
<tr>
<th></th>
<th>Description</th>
<th>Accepted Data Types</th>
<th>Required ?</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Request</td>
<td><code>request object</code></td>
<td>Yes</td>
</tr>
</tbody>
</table>
<p><em>Note</em>: <code>watch</code> will only work when the request is made over a socket connection (e.g. using <code>socket.get</code>), <em>not</em> over an http connection (e.g. using <code>jquery.get</code>).</p>
<h3>Blueprints and .watch()</h3>
<blockquote>
<p>By default, the blueprint <code>find</code> and <code>findOne</code> actions will call <code>.watch()</code> on the model class.  This behavior can be changed for all models by setting the <code>sails.config.blueprints.autoWatch</code> to <code>false</code>, or for a specific model by setting <code>autoWatch</code> to <code>false</code> in the model's class file.</p>
</blockquote>
<docmeta name="uniqueID" value="watch67265">
<docmeta name="methodType" value="pubsub">
<docmeta name="importance" value="undefined">
<docmeta name="displayName" value=".watch()">