<h1>.watch(<code>request</code>)</h1>
<h3>目的</h3>
<p>モデルに対するpublishCreateイベントをサブスクライブさせます。モデルクラスを「ウオッチ」している全てのソケットはblueprintの<code>create</code>メソッドを利用して作成された新しいモデルインスタンスを自動的にサブスクライブします。</p>
<table>
<thead>
<tr>
<th></th>
<th>説明</th>
<th>受け入れ可能なデータ型</th>
<th>必須か</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>リクエスト</td>
<td><code>request object</code></td>
<td>はい</td>
</tr>
</tbody>
</table>
<p><em>備考</em>:<code>watch</code>はsocket.ioでの接続 (例：<code>io.socket.get()</code>など)のみで有効であり、HTTPでの接続(例：<code>jQuery.get()</code>)では<em>無効</em>です。</p>
<h3>Blueprintsと.watch()</h3>
<blockquote>
<p>デフォルトではblueprintの<code>find</code>と<code>findOne</code>アクションがモデルクラスの<code>.watch()</code>をコールします。この振る舞いはモデル設定で<code>sails.config.blueprints.autoWatch</code>を<code>false</code>にすることや、特定のモデルのモデルクラスファイルの<code>autoWatch</code>を<code>false</code>にすることで変更ができます。 </p>
</blockquote>
<docmeta name="uniqueID" value="watch67265">
<docmeta name="methodType" value="pubsub">
<docmeta name="importance" value="undefined">
<docmeta name="displayName" value=".watch()">