<h1 id="changelog-60-0-8-77">Changelog &lt;0.8.77</h1>
<ul>
<li>I wasn&apos;t keeping good notes, sorry. :(</li>
<li>Check out <a target="_blank" href="https://github.com/balderdashy/sails/commits/master" target="_blank">https://github.com/balderdashy/sails/commits/master</a> if you want to dive in.</li>
</ul>
<p><docmeta name="displayName" value="Pre-0.8.77 Changelog"></docmeta></p>
<docmeta name="version" value="0.8.0">

</docmeta>