<h1>アトリビュート</h1>
<h3>概要</h3>
<p>モデルアトリビュートはモデルにおける基本的な情報です。例えば<code>Person</code>と名付けられたモデルでは<code>firstName</code>, <code>lastName</code>, <code>phoneNumber</code>, <code>age</code>, <code>birthDate</code>や<code>emailAddress</code>のようなアトリビュートがあります。</p>
<!---
TODO: address sql vs. no sql and stuff like:
"""
In most cases, this data is _homogenous_, meaning each record has the same attributes,
"""
-->
<h3>アトリビュート・オプション</h3>
<p>これらのオプションを利用することでモデルアトリビュートに各種の制約や拡張を付加することが出来ます。</p>
<h6>type</h6>
<p>どんな型のデータがモデルアトリビュートに入るかを指定するもので以下のいずれかのものです:</p>
<ul>
<li>string</li>
<li>text</li>
<li>integer</li>
<li>float</li>
<li>date</li>
<li>datetime</li>
<li>boolean</li>
<li>binary</li>
<li>array</li>
<li>json</li>
</ul>
<h6>email</h6>
<p>入力が正しいEメールアドレスかを調べます。</p>
<pre><code class="language-javascript">attributes: {
  email: {
    type: 'string',
    email: true
  }
}</code></pre>
<h6>defaultsTo</h6>
<p>レコードが作成される時にデータが入っていなかった場合<code>defaultsTo</code>で指定した値を入れてレコードを作成します。</p>
<pre><code class="language-javascript">attributes: {
  phoneNumber: {
    type: 'string',
    defaultsTo: '111-222-3333'
  }
}</code></pre>
<h6>autoIncrement</h6>
<p>指定したアトリビュートをオートインクリメントに指定します。レコードが作成される時にこの値が指定されていなければ最終のデータにインクリメントする形で値を生成します。備考：<code>autoIncrement</code>に指定するアトリビュートのデータ型は<code>type: integer</code>でなければなりません。また、各データストアによってサポートの度合いは異なります。例えばMySQLで1つのテーブルに複数のオートインクリメントは許可されていません。</p>
<pre><code class="language-javascript">attributes: {
  placeInLine: {
    type: 'integer',
    autoIncrement: true
  }
}</code></pre>
<h6>unique</h6>
<p>指定されたアトリビュートに関して同じ値をも複数のレコードが存在しないことを保証します。これはアダプタレベルでの制約ですので多くのケースでは下部のデータベースレイヤーでこれを指定したアトリビュートには主キー制約がかかります。</p>
<pre><code class="language-javascript">attributes: {
  username: {
    type: 'string',
    unique: true
  }
}</code></pre>
<!--
Omitting `index` from docs for now.
###### index
Will create a simple index in the underlying datastore for faster queries if available. This is only for simple indexes and currently dosn't support compound indexes. For these you will need to create them yourself or use a migration.
There is currently an issue with adding indexes to string fields. Because Waterline performs its queries in a case insensitive manner we are unable to use the index on a string attribute. There are some workarounds being discussed but nothing is implemented so far. This will be updated in the near future to fully support indexes on strings.
javascript
attributes: {
  email: {
    type: 'string',
    index: true
  }
}
-->
<h6>primaryKey</h6>
<p>このキーをレコードの主キーとして利用します。たった一つのアトリビュートのみが<code>primaryKey</code>になりえます。備考：<a href="http://sailsjs.org/documentation/concepts/ORM/model-settings.html?q=autopk">autoPK</a>をfalseにしない限りこのオプションは動作しません。</p>
<pre><code class="language-javascript">attributes: {
  uuid: {
    type: 'string',
    primaryKey: true,
    required: true
  }
}</code></pre>
<h6>enum</h6>
<p>ホワイトリストとして渡した値のうちいずれかしか保存することが出来なくする特殊なオプションです。</p>
<pre><code class="language-javascript">attributes: {
  state: {
    type: 'string',
    enum: ['pending', 'approved', 'denied']
  }
}</code></pre>
<!--
These are not ready for prime-time yet, but listing them here so they're easy to reference and add to official docs later:
###### example
An example value for this attribute, e.g. "Albus Dumbledore".
###### validationMessage
A custom validation message to use when any validations fail for this attribute.
-->
<h6>size</h6>
<p>アダプタ側でサポートされていればアトリビュートのサイズを指定するために利用できます。<code>size</code>は例えばMySQLではMySQLでのデータ型<code>varchar(n)</code>を指定する際の<code>n</code>で指定することが出来ます。</p>
<pre><code class="language-javascript">attributes: {
  name: {
    type: 'string',
    size: 24
  }
}</code></pre>
<h6>columnName</h6>
<p>アトリビュートの設定の中で<code>columnName</code>を指定することでSails（Waterline）が設定された接続先（つまりデータベース）でそのアトリビュートを保存する際に利用するカラム名を指定することが出来ます。これはSQLに限定された話でなくMongoDBのフィールドなどにも利用できることをご留意ください。</p>
<p><code>columnName</code>プロパティは元々、既存のデータベースを利用する際に作られたのですが、いくつかのアプリケーションでテータベースを共有するときやデータスキーマを変更する権限がないときにもこの機能は便利です。</p>
<p>モデルの<code>numberOfWheels</code>アトリビュートを<code>number_of_round_rotating_things</code>に保管するには:</p>
<pre><code class="language-javascript">  // モデルの中のアトリビュートで:
  // ...
  numberOfWheels: {
    type: 'integer',
    columnName: 'number_of_round_rotating_things'
  }
  // ...</code></pre>
<p>それではもっと完璧で実用的な例を挙げましょう。</p>
<p>以下の様な<code>User</code>というモデルがあったとします。:</p>
<pre><code class="language-javascript">// api/models/User.js
module.exports = {
  connection: 'shinyNewMySQLDatabase',
  attributes: {
    name: 'string',
    password: 'string',
    email: {
      type: 'email',
      unique: true
    }
  }
};</code></pre>
<p>これでうまくいくいきます、しかしアプリケーションにおけるユーザデータを格納するはずの既存のデータベースを使う代わりに：</p>
<pre><code class="language-javascript">// config/connections.js
module.exports = {
  // ...

  // Existing users are in here!
  rustyOldMySQLDatabase: {
    adapter: 'sails-mysql',
    user: 'bofh',
    host: 'db.eleven.sameness.foo',
    password: 'Gh19R!?had9gzQ#Q#Q#%AdsghaDABAMR&gt;##G&lt;ADMBOVRH@)$(HTOADG!GNADSGADSGNBI@(',
    database: 'jonas'
  },
  // ...
};</code></pre>
<p>このような<code>our_users</code>というテーブルが古いMySQLデータベースにあったとします。:</p>
<table>
<thead>
<tr>
<th>the_primary_key</th>
<th>email_address</th>
<th>full_name</th>
<th>seriously_encrypted_password</th>
</tr>
</thead>
<tbody>
<tr>
<td>7</td>
<td>mike@sameness.foo</td>
<td>Mike McNeil</td>
<td>ranchdressing</td>
</tr>
<tr>
<td>14</td>
<td>nick@sameness.foo</td>
<td>Nick Crumrine</td>
<td>thousandisland</td>
</tr>
</tbody>
</table>
<p>この形式をSailsから使うために<code>User</code>モデルを以下のように編集する必要があります。:</p>
<pre><code class="language-javascript">// api/models/User.js
module.exports = {
  connection: 'rustyOldMySQLDatabase',
  tableName: 'our_users',
  attributes: {
    id: {
      type: 'integer',
      unique: true,
      primaryKey: true,
      columnName: 'the_primary_key'
    },
    name: {
      type: 'string',
      columnName: 'full_name'
    },
    password: {
      type: 'string',
      columnName: 'seriously_encrypted_password'
    },
    email: {
      type: 'email',
      unique: true,
      columnName: 'email_address'
    }
  }
};</code></pre>
<blockquote>
<p>この例で我々は<a href="http://sailsjs.org/documentation/concepts/ORM/model-settings.html?q=tablename"><code>tableName</code></a>も使っていることがお分かりになるでしょう。これでデータを格納するテーブル名を指定することが出来ます。</p>
</blockquote>
<docmeta name="uniqueID" value="Attributes951609">
<docmeta name="displayName" value="Attributes">