.get-started {
  background: url('/images/bkgd_bubbles01.png') repeat fixed;

  .get-started-container {
  	.container();
  	.clearfix();
    background: url('/images/bkgd_light.png');
    background-repeat: no-repeat;
    background-position: -400px 50px;
  	font-family: @mainFont;
  	padding: 100px 0 150px;

    // left-side navigation
  	.navigation {
  		.borderBox();
      margin-top: 150px;
  		float: left;
  		width: 20%;
      opacity: 1;
      li {
        line-height: 2;
        a {
          color: @turquoise;
          &:hover {
            font-weight: 600;
          }
        }
      }

  		h1 {
  			margin-top: 50px;
  			margin-bottom: 22px;
  			.pageHeader(@turquoise);
  		}
    } // left-side navigation


    // IMAGES
    .bubbles {
      position: absolute;
      z-index: 1;
      &.one {
        top: 2700px;
        left: 300px;
      }
      &.two {
        top: 3300px;
        right: 100px;
      }
      &.three {
        top: 3600px;
        left: 100px;
      }
      &.four {
        top: 600px;
        left: 300px;
      }
    }

    // .fish {
    //   background-color: red;
    //   height: 31px;
    //   width: 43px;
    //   position: absolute;
    //   top: 2800px;
    //   background: url('/images/bkgd_fish_small.png');
    //   z-index: 1;
    // }


    // CONTENT CONTAINER
    .get-started-content {
      .borderBox();
      background-color: rgba(255,255,255,0.4);
      border-radius: 10px;
      width: 70%;
      float: right;
      margin-top: 50px;
      padding: 20px 50px;
      position: relative;
    }


  	@media screen and (max-width: 900px) {
  		padding-top: 60px;

  		.navigation {
  			float: none;
  			width: 90%;
  			margin: auto;
  			text-align: center;
  		}

  		.get-started-content {
  			float: none;
  			width: 90%;
  			max-width: 90%;
  			padding-left: 0;
  			margin: auto;
  		}
  	}


  	@media screen and (max-width: 480px) {

  		h1 {
  			text-align: center;
  		}
  	}


    // ************************************************
    // we can probably move this to a global stylesheet:
    // ************************************************

  	// Rainbow styles:
  	// pre {
  	//     background: #272822;
  	//     word-wrap: break-word;
  	//     margin: 0px;
  	//     padding: 10px;
  	//     color: #fff;
  	//     font-size: 14px;
  	//     margin-bottom: 20px;
  	// }

  	// pre, code {
  	//     font-family: 'Monaco', courier, monospace;
  	// }

  	// pre .comment {
  	//     color: #75715E;
  	// }

  	// pre .constant {
  	//     color: #AE81FF;
  	// }

  	// pre .storage {
  	//     color: #66D9EF;
  	// }

  	// pre .string, pre .comment.docstring {
  	//     color: #E6DB74;
  	// }

  	// pre .support.tag {
  	//     color: #fff;
  	// }

  	// pre .keyword {
  	//     /* @todo some keywords use this light blue, most use the pink */
  	//     /*color: #66D9EF;*/
  	//     color: #F92672;
  	// }

  	// pre .selector {
  	//     color: #F92672;
  	// }

  	// pre .inherited-class {
  	//     font-style: italic;
  	// }

  	// pre .operator, pre .support.tag-name , pre .entity.tag {
  	//     color: #F92672;
  	// }

  	// pre .entity, pre .support.attribute, pre .entity.attribute {
  	//     color: #A6E22E;
  	// }

  	// pre .support, *[data-language="c"] .function.call {
  	//     color: #66D9EF;
  	// }

  	// *[data-language="html"] .support.operator {
  	//     color: #fff;
  	// }

  	// pre .css-property, pre .storage.function {
  	//     font-style: italic;
  	// }

  	// pre .variable.global, pre .variable.class, pre .variable.instance {
  	//     color: #A6E22E;
  	// }
  }
}
