<h1>Built with Love</h1>
<p>
The Sails framework was developed by <a target="blank" href="https://twitter.com/mikermcneil">Mike McNeil</a> with the support of <a target="blank" href="http://balderdash.co">Balderdash</a>.  We build realtime web apps as a service, and after much frustration with the lack of existing solutions, we created Sails to assist us on Node.js projects. Naturally we open-sourced it. We hope it makes your life a little bit easier!
</p>
<p class="c">&copy; 2012-2014 Mike McNeil. All Rights Reserved.
	<br/>
	Sails is free and open-source under the MIT License.
	<br/>
	The trademarks used herein are the property of their respective owners.
</p>
