<h3>Guides</h3>
<ul class="guides">
  <li><a class="nav-item" href="#!documentation/guides/new-to-nodejs">New to Node.js?</a></li>
  <li><a class="nav-item" href="#!documentation/guides/What-Is-Sails">What is Sails?</a></li>
  <li><a class="nav-item" href="#!documentation/guides/models">Models</a></li>
  <li><a class="nav-item" href="#!documentation/guides/controllers">Controllers</a></li>
  <li><a class="nav-item" href="#!documentation/guides/assets">Assets</a></li>
  <li><a class="nav-item" href="#!documentation/guides/asset-management">Asset Management</a></li>
  <li><a class="nav-item" href="#!documentation/guides/routes">Routes</a></li>
  <li><a class="nav-item" href="#!documentation/guides/policies">Policies</a></li>
  <li><a class="nav-item" href="#!documentation/guides/views">Views</a></li>
  <li><a class="nav-item" href="#!documentation/guides/custom-adapters">Custom Adapters</a></li>
  <li><a class="nav-item" href="#!documentation/guides/deployment">Deployment</a></li>
  <li><a class="nav-item" href="#!documentation/guides/Migration-Guide">Migration Guide</a></li>
</ul>
