<div class="topbar">

  <!--Mobile menu button-->
  <div class="menu"
    ng-click="menuVisible = !menuVisible"
    ng-class="{'menu-open': menuVisible === true}">
    <div class="menu-button-stripe"></div>
    <div class="menu-button-stripe"></div>
    <div class="menu-button-stripe"></div>
  </div>

  <!--Navigation list-->
  <div class="nav-container">
    <a href="#/">
      <img class="logo" src="/images/sails-logo.jpg" alt="Sails" />
    </a>
    <ul class="nav" ng-class="{'menu-open': menuVisible === true}">
      <li ng-click="menuVisible = false"><a class="sails-site"
          ng-class="{current: intent.isCurrentPage('/')}"
          href="#/">Home</a></li>
      <li ng-click="menuVisible = false"><a class="sails-site"
          ng-class="{current: intent.isCurrentPage('/features')}"
          href="#/features">Features</a></li>
      <li ng-click="menuVisible = false"><a class="sails-site"
          ng-class="{current: intent.isCurrentPage('/getStarted')}"
          href="#/getStarted">Get Started</a></li>
      <li ng-click="menuVisible = false"><a class="sails-site"
          ng-class="{current: intent.isCurrentPage('/documentation')}"
          href="#/documentation">Documentation</a></li>
     <!--  <li class="no-mobile">
        <a class="sails-site"
          ng-class="{current: intent.isCurrentPage('/logos')}"
          href="#/logos">Logos</a>
      </li> -->
      <li><a target="_blank" href="http://michaelmcneil.com">Blog</a></li>
    </ul>
  </div>
</div>
