<div class="topbar">
  
  <!--Mobile menu button-->
  <div class="menu">
    <div class="menu-button-stripe"></div>
    <div class="menu-button-stripe"></div>
    <div class="menu-button-stripe"></div>
  </div>

  <!--Navigation list-->
  <div class="nav-container">
    <a href="#!">
      <img class="logo" src="/images/sails-logo.jpg" alt="Sails" />
    </a>
    <ul class="nav">
      <!-- <li><a class="sails-site" data-page="HomePage" href="#!" id="home">Home</a></li> -->
      <li><a class="sails-site" data-page="GetStartedPage" href="#!getStarted">Get Started</a></li>
      <li><a class="sails-site" data-page="DocsSection" href="#!documentation">Documentation</a></li>
      <li class="no-mobile"><a class="sails-site" data-page="LogosPage" href="#!logos">Logos</a></li>
      <li><a target="_blank" href="http://michaelmcneil.com">Blog</a></li>
    </ul>
  </div>
</div>
