<h1>myApp/api/models</h1>
<h3>目的</h3>
<p>このフォルダはモデルを保存する場所です。SailsではモデルはあなたのSailsアプリケーションのデータを含む構造体です。</p>
<p>あなたのプロジェクトのルートディレクトリでコマンドラインから<code>sails generate api cats</code>を実行した時、Sailsは該当するコントローラともに<code>myApp/api/models/Cats.js</code>を生成します。<code>myApp/api/models/Cats.js</code>ではデータベースの中でデータがどのように保管されるのかを決める属性を指定することが出来ます。</p>
<docmeta name="uniqueID" value="modelsmd956381">
<docmeta name="displayName" value="models">