<h1>コレクションに追加する</h1>
<p>2つのレコードの間にアソシエーションを追加します</p>
<pre><code>POST /:model/:record/:association/:record_to_add?</code></pre>
<p>このアクションは何らかのレコードを(&quot;外部&quot;レコード)を自分のレコード(&quot;プライマリ&quot;レコード)のアトリビュートコレクションとして追加します。</p>
<ul>
<li>実在するレコードの<code>:record_to_add</code>が与えられた場合、それがプライマリレコードに関連付けられます。</li>
<li><code>:record_to_add</code>が何も提供されない場合で<strong>POST</strong>のBodyに新しいレコードの値が入っている場合、そのレコードが作成されプライマリレコードと関連付けられます。</li>
<li>すでにプライマリレコードのコレクションにすでに外部レコードが含まれる場合、そのアクションは無視されます。</li>
<li>アソシエーションが2方向（例:両サイドにviaが含まれる反射的な関係の場合）反対側となる外部レコードのアソシエーションも更新されます。</li>
</ul>
<h3>例</h3>
<p>購入#47をDolly (従業員 #7)が関わった購入に関連付ける場合。</p>
<p><strong><a href="http://jquery.com/">jQuery</a>を使う:</strong></p>
<pre><code class="language-javascript">$.post('/employee/7/involvedInPurchases/47', function (purchases) {
  console.log(purchases);
});</code></pre>
<p><strong><a href="https://angularjs.org/">Angular</a>を使う:</strong></p>
<pre><code class="language-javascript">$http.post('/employee/7/involvedInPurchases/47')
.then(function (purchases) {
  console.log(purchases);
});</code></pre>
<p><strong><a href="http://sailsjs.jp/documentation/reference/websockets/sails.io.js">sails.io.js</a>を使う:</strong></p>
<pre><code class="language-javascript">io.socket.post('/employee/7/involvedInPurchases/47', function (purchases) {
  console.log(purchases);
});</code></pre>
<p><strong><a href="http://en.wikipedia.org/wiki/CURL">cURL</a>を使う:</strong></p>
<pre><code class="language-bash">curl http://localhost:1337/employee/7/involvedInPurchases/47 -X "POST"</code></pre>
<p>プライマリレコードである&quot;Dolly&quot;を返すべきです。:</p>
<pre><code class="language-json">{
  "involvedInPurchases": [
    {
      "amount": 10000,
      "createdAt": "2014-08-03T01:50:33.898Z",
      "updatedAt": "2014-08-03T01:51:08.227Z",
      "id": 47,
      "cashier": 7
    }
  ],
  "name": "Dolly",
  "createdAt": "2014-08-03T01:16:35.440Z",
  "updatedAt": "2014-08-03T01:51:41.567Z",
  "id": 7
}</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li>このアクションは <em>複数の</em> (コレクションの)アソシエーションを扱います。<em>単一の</em> （モデルの）アソシエーションを追加・削除したい場合単に<a href="http://sailsjs.jp/documentation/reference/blueprint-api/Update.html">update</a>を使ってください。</li>
<li>
<p>上記の例では&quot;rest&quot;blueprintが有効であると仮定します。それに加えてあなたのプロジェクトが少なくともアソシエーション<code>involvedInPurchases: {collection: 'Purchase', via: 'cashier'}</code>を持った'Employee'モデルとアソシエーション<code>cashier: {model: 'Employee'}</code>を持った<code>Purchase</code>モデルを持っているべきです。 同様に空の<code>PurchaseController</code>と<code>EmployeeController</code>も必要です。これを簡単に行うには以下を実行します:</p>
<pre><code class="language-shell">$ sails new foo
$ cd foo
$ sails generate api purchase
$ sails generate api employee</code></pre>
</li>
</ul>
<p>...そして。<code>api/models/Purchase.js</code>と<code>api/models/Employee.js</code>を編集します。</p>
</blockquote>
<docmeta name="uniqueID" value="Add262514">
<docmeta name="displayName" value="add to">