<h1 id="destroy-a-record">Destroy a Record</h1>
<p>Deletes an existing record specified by <code>id</code> from the database forever and returns the values of the deleted record.</p>
<pre><code data-language="javascript">DELETE /:model/:record
</code></pre><!-- __LANG=%%__ -->
<p>Destroys the model instance which matches the <strong>id</strong> parameter. Responds with a JSON object representing the newly destroyed instance. If no model instance exists matching the specified <strong>id</strong>, a <code>404</code> is returned.</p>
<p>Additionally, a <code>destroy</code> event will be published to all sockets subscribed to the instance room.</p>
<p>Consequently, all sockets currently subscribed to the instance will be unsubscribed from it.</p>
<h3 id="parameters" permalink="parameters">Parameters</h3>
<table>
<thead>
<tr>
<th>Parameter</th>
<th>Type</th>
<th style="text-align:left">Details</th>
</tr>
</thead>
<tbody>
<tr>
<td> id<br><em>(required)</em></td>
<td><bubble type="number" colors="true"></bubble><br><em>-or-</em><br><bubble type="string" colors="true"></bubble></td>
<td style="text-align:left">The primary key value of the record to destroy. For <code>POST</code> (RESTful) requests, this can be supplied in the JSON body or as part of the route path. For <code>GET</code> (shortcut) requests, it must be supplied in the route path.</td>
</tr>
<tr>
<td> callback</td>
<td><bubble type="string" colors="true"></bubble></td>
<td style="text-align:left">If specified, a JSONP response will be sent (instead of JSON). This is the name of the client-side javascript function to call, passing results as the first (and only) argument<br> <br> e.g. <code>?callback=myJSONPHandlerFn</code></td>
</tr>
</tbody>
</table>
<h3 id="examples" permalink="examples">Examples</h3>
<h4 id="destroy-rest-" permalink="destroy-(rest)">Destroy (REST)</h4>
<p>Delete Pinkie Pie.</p>
<h5 id="route" permalink="route">Route</h5>
<p><code>DELETE /pony</code></p>
<h5 id="json-request-body" permalink="json-request-body">JSON Request Body</h5>
<pre><code data-language="json">{
  &quot;id&quot;: 4
}
</code></pre><!-- __LANG=%%__ -->
<h5 id="expected-response" permalink="expected-response">Expected Response</h5>
<pre><code data-language="json">{
  &quot;name&quot;: &quot;Pinkie Pie&quot;,
  &quot;hobby&quot;: &quot;kickin&quot;,
  &quot;id&quot;: 4,
  &quot;createdAt&quot;: &quot;2013-10-18T01:23:56.000Z&quot;,
  &quot;updatedAt&quot;: &quot;2013-11-26T22:55:19.951Z&quot;
}
</code></pre><!-- __LANG=%%__ -->
<h4 id="destroy-shortcuts-" permalink="destroy-(shortcuts)">Destroy (Shortcuts)</h4>
<h5 id="route" permalink="route">Route</h5>
<p><code>GET /pony/destroy/4</code></p>
<h5 id="expected-response" permalink="expected-response">Expected Response</h5>
<p>Same as above.</p>
<p><docmeta name="uniqueID" value="DestroyARecord867513"></docmeta></p>
<docmeta name="displayName" value="destroy">
</docmeta>