<h1>レコードを削除する</h1>
<p><code>id</code>で指定された既存のレコードをデータベースから永久に削除し、削除されたレコードを返す。</p>
<pre><code>DELETE /:model/:record</code></pre>
<p><strong>id</strong> パラメータに合致するモデルインスタンスを削除します。レスポンスには新たに削除されたインスタンスを返します。指定された <strong>id</strong> にマッチするインスタンスが存在しない場合、代わりに<code>404</code>を返します。</p>
<p>加えて、インスタンス空間サブスクライブしている全てのソケットに対して<code>destroy</code>イベントを発行します。</p>
<p>その結果、現在サブスクライブしている全てのインスタンスはこれからサブスクライブの解除をします。</p>
<h3>パラメータ</h3>
<table>
<thead>
<tr>
<th>パラメータ</th>
<th>型</th>
<th style="text-align: left;">詳細</th>
</tr>
</thead>
<tbody>
<tr>
<td>id<br/><em>(required)</em></td>
<td>((number))<br/><em>-or-</em><br/>((string))</td>
<td style="text-align: left;">削除したいレコードの主キー。<code>POST</code> (RESTful) リクエストではこれはJSONボディまたはルートパスの一部として与えられます。<code>GET</code> (ショートカット) リクエストではこれはルートパスの一部として与えられます。</td>
</tr>
<tr>
<td>callback</td>
<td>((string))</td>
<td style="text-align: left;">指定されていればJSONPレスポンスが（JSONの代わりに）送信されます。この名前のJavascript関数を、結果を一つ目の（そして唯一の）引数として実行します。<br/> <br/> 例:<code>?callback=myJSONPHandlerFn</code></td>
</tr>
</tbody>
</table>
<h3>例</h3>
<h4>Destroy (REST)</h4>
<p>Pinkie Pieを削除します。</p>
<h5>ルート</h5>
<p><code>DELETE /pony</code></p>
<h5>JSONリクエストボディ</h5>
<pre><code class="language-json">{
  "id": 4
}</code></pre>
<h5>期待されるレスポンス</h5>
<pre><code class="language-json">{
  "name": "Pinkie Pie",
  "hobby": "kickin",
  "id": 4,
  "createdAt": "2013-10-18T01:23:56.000Z",
  "updatedAt": "2013-11-26T22:55:19.951Z"
}</code></pre>
<h4>Destroy (ショートカット)</h4>
<h5>ルート</h5>
<p><code>GET /pony/destroy/4</code></p>
<h5>期待されるレスポンス</h5>
<p>同上。</p>
<docmeta name="uniqueID" value="DestroyARecord867513">
<docmeta name="displayName" value="destroy">