<h1>1件取り出す</h1>
<p>モデルからレコードを1件、JSONオブジェクトとして取り出す。</p>
<pre><code>GET /:model/:id</code></pre>
<!--
<table>
  <thead>
    <tr>
      <th colspan="2">Blueprint Routes</th>
    </tr>
    <tr>
      <th>Type</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>REST</td>
      <td>
        <code>GET /:modelIdentity/:id</code>
      </td>
    </tr>
    <tr>
      <td>Shortcut</td>
      <td>
        <code>GET /:modelIdentity/findOne/:id</code>
      </td>
    </tr>
  </tbody>
</table>
-->
<p><strong>findOne()</strong> blueprintアクションは(<code>:modelIdentity</code>として与えられた)モデルからレコードを1件JSONオブジェクトで取り出します。指定された<code>id</code>は欲しいレコードの<a href="http://en.wikipedia.org/wiki/Unique_key">主キー</a>です。</p>
<p>アクションがリクエストを通じて呼びされた場合、リクエストを行ったソケットは返されたレコードをサブスクライブします。レコードが付加的に編集、削除された場合その旨を伝えるメッセージがソケットのクライアントに送られます。詳しくは<a href="http://sailsjs.jp/documentation/reference/websockets/resourceful-pubsub/subscribe.html">.subscribe()のドキュメント</a>を御覧ください。</p>
<h3>パラメータ</h3>
<table>
<thead>
<tr>
<th>パラメータ</th>
<th>型</th>
<th style="text-align: left;">詳細</th>
</tr>
</thead>
<tbody>
<tr>
<td>id<br/><em>(required)</em></td>
<td>((number))<br/><em>-or-</em><br/>((string))</td>
<td style="text-align: left;">レコードの主キー値 <br/><br/>例: <code>/product/7</code></td>
</tr>
<tr>
<td>callback</td>
<td>((string))</td>
<td style="text-align: left;">指定されていればJSONPレスポンスが（JSONの代わりに）送信されます。この名前のJavascript関数を、結果を一つ目の（そして唯一の）引数として実行します。<br/> <br/> 例:<code>?callback=myJSONPHandlerFn</code></td>
</tr>
</tbody>
</table>
<h3>例</h3>
<p>IDが1の購入を検索する。例:<code>http://localhost:1337/purchase/1</code></p>
<h4>ルート</h4>
<p><code>GET /purchase/1</code></p>
<h4>想定されるレスポンス</h4>
<pre><code class="language-json"> {
   "amount": 49.99,
   "id": 1,
   "createdAt": "2013-10-18T01:22:56.000Z",
   "updatedAt": "2013-10-18T01:22:56.000Z"
 }</code></pre>
<docmeta name="uniqueID" value="FindOne259267">
<docmeta name="displayName" value="find one">