<h1 id="find-records">Find Records</h1>
<p>Returns a list of records from the model as a JSON array of objects.</p>
<pre><code data-language="javascript">GET /:model
</code></pre><!-- __LANG=%%__ -->
<p>Results may be filtered, paginated, and sorted based on the blueprint configuration and/or parameters sent in the request.</p>
<p>If the action was triggered via a socket request, the requesting socket will be &quot;subscribed&quot; to all records returned. If any of the returned records are subsequently updated or deleted, a message will be sent to that socket&apos;s client informing them of the change. See the <a href="https://github.com/balderdashy/sails-docs/blob/master/reference/ModelMethods.md#subscriberequestrecordscontexts" target="_blank">docs for Model.subscribe()</a> for details.</p>
<h3 id="parameters" permalink="parameters">Parameters</h3>
<p><em>All parameters are optional.</em></p>
<table>
<thead>
<tr>
<th>Parameter</th>
<th>Type</th>
<th style="text-align:left">Details</th>
</tr>
</thead>
<tbody>
<tr>
<td> *</td>
<td><bubble type="string" colors="true"></bubble></td>
<td style="text-align:left">To filter results based on a particular attribute, specify a query parameter with the same name as the attribute defined on your model. <br> <br> For instance, if our <code>Purchase</code> model has an <strong>amount</strong> attribute, we could send <code>GET /purchase?amount=99.99</code> to return a list of $99.99 purchases.</td>
</tr>
<tr>
<td> where</td>
<td><bubble type="string" colors="true"></bubble></td>
<td style="text-align:left">Instead of filtering based on a specific attribute, you may instead choose to provide a <code>where</code> parameter with a Waterline WHERE criteria object, <em>encoded as a JSON string</em>.  This allows you to take advantage of <code>contains</code>, <code>startsWith</code>, and other sub-attribute criteria modifiers for more powerful <code>find()</code> queries. <br> <br> e.g. <code>?where={&quot;name&quot;:{&quot;contains&quot;:&quot;theodore&quot;}}</code></td>
</tr>
<tr>
<td> limit</td>
<td><bubble type="number" colors="true"></bubble></td>
<td style="text-align:left">The maximum number of records to send back (useful for pagination). Defaults to 30. <br> <br> e.g. <code>?limit=100</code></td>
</tr>
<tr>
<td> skip</td>
<td><bubble type="number" colors="true"></bubble></td>
<td style="text-align:left">The number of records to skip (useful for pagination). <br> <br> e.g. <code>?skip=30</code></td>
</tr>
<tr>
<td> sort</td>
<td><bubble type="string" colors="true"></bubble></td>
<td style="text-align:left">The sort order. By default, returned records are sorted by primary key value in ascending order. <br> <br> e.g. <code>?sort=lastName%20ASC</code></td>
</tr>
<tr>
<td> callback</td>
<td><bubble type="number" colors="true"></bubble></td>
<td style="text-align:left">If specified, a JSONP response will be sent (instead of JSON).  This is the name of a client-side javascript function to call, to which results will be passed as the first (and only) argument <br> <br> e.g. ?callback=my_JSONP_data_receiver_fn</td>
</tr>
</tbody>
</table>
<h3 id="-find-example" permalink="find-example"><code>find</code> Example</h3>
<p>Find the 30 newest purchases in our database.</p>
<pre><code data-language="json">[
 {
   &quot;amount&quot;: 49.99,
   &quot;id&quot;: 1,
   &quot;createdAt&quot;: &quot;2013-10-18T01:22:56.000Z&quot;,
   &quot;updatedAt&quot;: &quot;2013-10-18T01:22:56.000Z&quot;
 },
 {
   &quot;amount&quot;: 99.99,
   &quot;id&quot;: 47,
   &quot;createdAt&quot;: &quot;2013-10-14T01:22:00.000Z&quot;,
   &quot;updatedAt&quot;: &quot;2013-10-15T01:20:54.000Z&quot;
 }
]
</code></pre><!-- __LANG=%%__ -->
<p><strong>Using <a href="http://jquery.com/" target="_blank">jQuery</a>:</strong></p>
<pre><code data-language="javascript">$.get(&apos;/purchase?sort=createdAt DESC&apos;, function (purchases) {
  console.log(purchases);
});
</code></pre><!-- __LANG=%%__ -->
<p><strong>Using <a href="https://angularjs.org/" target="_blank">Angular</a>:</strong></p>
<pre><code data-language="javascript">$http.get(&apos;/purchase?sort=createdAt DESC&apos;)
.then(function (res) {
  var purchases = res.data;
  console.log(purchases);
});
</code></pre><!-- __LANG=%%__ -->
<p><strong>Using <a href="http://sailsjs.org/documentation/reference/websockets/sails.io.js" target="_blank">sails.io.js</a>:</strong></p>
<pre><code data-language="javascript">io.socket.get(&apos;/purchase?sort=createdAt DESC&apos;, function (purchases) {
  console.log(purchases);
});
</code></pre><!-- __LANG=%%__ -->
<p><strong>Using <a href="http://en.wikipedia.org/wiki/CURL" target="_blank">cURL</a>:</strong></p>
<pre><code data-language="javascript">curl http://localhost:1337/purchase?sort=createdAt%20DESC
</code></pre><!-- __LANG=%%__ -->
<h3 id="notes" permalink="notes">Notes</h3>
<blockquote>
<ul>
<li><p>The example above assumes &quot;rest&quot; blueprints are enabled, and that your project contains a <code>Purchase</code> model and an empty <code>PurchaseController</code>.  You can quickly achieve this by running:</p>
<pre><code data-language="javascript">$ sails new foo
$ cd foo
$ sails generate api purchase
</code></pre><!-- __LANG=%%__ -->
</li>
</ul>
</blockquote>
<p><docmeta name="uniqueID" value="Find290807"></docmeta></p>
<docmeta name="displayName" value="find where">
</docmeta>