<h1 id="populate-where-">Populate Where...</h1>
<p>If the specified association is plural (&quot;collection&quot;), this action returns the list of associated records as a JSON array of objects.  If the specified association is singular (&quot;model&quot;), this action returns the associated record as a JSON object.</p>
<pre><code data-language="javascript">GET /:model/:record/:association
</code></pre><!-- __LANG=%%__ -->
<h3 id="example" permalink="example">Example</h3>
<p>Populate the <code>cashier</code> who conducted purchase #47.</p>
<p><strong>Using <a href="http://jquery.com/" target="_blank">jQuery</a>:</strong></p>
<pre><code data-language="javascript">$.get(&apos;/purchase/47/cashier&apos;, function (purchase) {
  console.log(purchase);
});
</code></pre><!-- __LANG=%%__ -->
<p><strong>Using <a href="https://angularjs.org/" target="_blank">Angular</a>:</strong></p>
<pre><code data-language="javascript">$http.get(&apos;/purchase/47/cashier&apos;)
.then(function (purchase) {
  console.log(purchase);
});
</code></pre><!-- __LANG=%%__ -->
<p><strong>Using <a href="http://beta.sailsjs.org/#/documentation/reference/websockets/sails.io.js" target="_blank">sails.io.js</a>:</strong></p>
<pre><code data-language="javascript">io.socket.get(&apos;/purchase/47/cashier&apos;, function (purchase) {
  console.log(purchase);
});
</code></pre><!-- __LANG=%%__ -->
<p><strong>Using <a href="http://en.wikipedia.org/wiki/CURL" target="_blank">cURL</a>:</strong></p>
<pre><code data-language="javascript">curl http://localhost:1337/purchase/47/cashier
</code></pre><!-- __LANG=%%__ -->
<p>Should return</p>
<pre><code data-language="json">{
  &quot;amount&quot;: 99.99,
  &quot;id&quot;: 47,
  &quot;cashier&quot;: {
    &quot;name&quot;: &quot;Dolly&quot;,
    &quot;id&quot;: 7,
    &quot;createdAt&quot;: &quot;2012-05-14T01:21:05.000Z&quot;,
    &quot;updatedAt&quot;: &quot;2013-01-15T01:18:40.000Z&quot;
  },
  &quot;createdAt&quot;: &quot;2013-10-14T01:22:00.000Z&quot;,
  &quot;updatedAt&quot;: &quot;2013-10-15T01:20:54.000Z&quot;
}
</code></pre><!-- __LANG=%%__ -->
<h3 id="notes" permalink="notes">Notes</h3>
<blockquote>
<ul>
<li><p>The example above assumes &quot;rest&quot; blueprints are enabled, and that your project contains at least an empty &apos;Employee&apos; model as well as a <code>Purchase</code> model with an association attribute: <code>cashier: {model: &apos;Employee&apos;}</code>.  You&apos;ll also need at least an empty <code>PurchaseController</code> and <code>EmployeeController</code>.  You can quickly achieve this by running:</p>
<pre><code data-language="shell">$ sails new foo
$ cd foo
$ sails generate api purchase
$ sails generate api employee
</code></pre><!-- __LANG=%%__ -->
</li>
</ul>
<p>...then editing <code>api/models/Purchase.js</code>.</p>
</blockquote>
<p><docmeta name="uniqueID" value="Populate838372"></docmeta></p>
<docmeta name="displayName" value="populate where">
</docmeta>