<h1>コレクションから取り除く</h1>
<p>2つのレコードの間のアソシエーションをコレクションから取り除きます。</p>
<pre><code>DELETE /:model/:record/:association/:record_to_remove</code></pre>
<p>このアクションは何らかのレコードを(&quot;外部&quot;レコード)を自分のレコード(&quot;プライマリ&quot;レコード)のアトリビュートコレクションから取り除きます。</p>
<ul>
<li>外部レコードが実在しない場合、まず作成します。</li>
<li>すでにプライマリレコードのコレクションにすでに外部レコードが含まれない場合、そのアクションは無視されます。</li>
<li>アソシエーションが2方向（例:両サイドにviaが含まれる反射的な関係の場合）反対側となる外部レコードのアソシエーションも更新されます。</li>
</ul>
<h3>例</h3>
<p>Dolly (従業員 #7)をストア#16の<code>employeesOfTheMonth</code>リストから取り除きます。</p>
<p><strong><a href="http://jquery.com/">jQuery</a>を使う:</strong></p>
<pre><code class="language-javascript">$.delete('/store/16/employeesOfTheMonth/7', function (purchases) {
  console.log(purchases);
});</code></pre>
<p><strong><a href="https://angularjs.org/">Angular</a>を使う:</strong></p>
<pre><code class="language-javascript">$http.delete('/store/16/employeesOfTheMonth/7')
.then(function (purchases) {
  console.log(purchases);
});</code></pre>
<p><strong><a href="http://sailsjs.jp/documentation/reference/websockets/sails.io.js">sails.io.js</a>を使う:</strong></p>
<pre><code class="language-javascript">io.socket.delete('/store/16/employeesOfTheMonth/7', function (purchases) {
  console.log(purchases);
});</code></pre>
<p><strong><a href="http://en.wikipedia.org/wiki/CURL">cURL</a>を使う:</strong></p>
<pre><code class="language-bash">curl http://localhost:1337/store/16/employeesOfTheMonth/7 -X "DELETE"</code></pre>
<p>プライマリレコードであるストア#16を返します。:</p>
<pre><code class="language-json">{
  "employeesOfTheMonth": [],
  "name": "Dolly",
  "createdAt": "2014-08-03T01:16:35.440Z",
  "updatedAt": "2014-08-03T01:51:41.567Z",
  "id": 16
}</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li>このアクションは <em>複数の</em> (コレクションの)アソシエーションを扱います。<em>単一の</em> （モデルの）アソシエーションを追加・削除したい場合単に<a href="http://sailsjs.jp/documentation/reference/blueprint-api/Update.html">update</a>を使ってください。</li>
<li>
<p>上記の例では&quot;rest&quot;blueprintが有効であると仮定します。それに加えてあなたのプロジェクトが少なくともアソシエーション<code>employeesOfTheMonth: {collection: 'Employee'}</code>を持った<code>Store</code>モデルと空の'Employee'モデルを持っているべきです。 同様に空の<code>PurchaseController</code>と<code>EmployeeController</code>も必要です。これを簡単に行うには以下を実行します:</p>
<pre><code class="language-shell">$ sails new foo
$ cd foo
$ sails generate api store
$ sails generate api employee</code></pre>
</li>
</ul>
<p>...そして。<code>api/models/Store.js</code>を編集します。</p>
</blockquote>
<docmeta name="uniqueID" value="Remove2294521">
<docmeta name="displayName" value="remove from">