<h1>レコードを編集する</h1>
<p>既存のレコードを編集します。
変更すべき属性はフォームエンコードされたHTTPボディまたはJSONで送ることが出来ます。</p>
<pre><code>PUT /:model/:record</code></pre>
<p><strong>id</strong>パラメータに一致するモデルインスタンスを更新します。新たに更新されたインスタンスをJSONオブジェクトとして返します。バリデーションエラーが起こった場合、不正な属性のJSONレスポンスとともに<code>400</code>ステータスコードを返します。<strong>id</strong>パラメータに一致するモデルインスタンスがない場合は<code>404</code>が返されます。</p>
<h3>属性</h3>
<table>
<thead>
<tr>
<th>属性</th>
<th>型</th>
<th style="text-align: left;">詳細</th>
</tr>
</thead>
<tbody>
<tr>
<td>id<br/><em>(required)</em></td>
<td>((number))<br/><em>-or-</em><br/>((string))</td>
<td style="text-align: left;">編集したいレコードの主キー値<br/><br/>例: <code>PUT /product/5</code></td>
</tr>
<tr>
<td>*</td>
<td>((string))<br/>((number))<br/>((object))<br/>((array))</td>
<td style="text-align: left;"><code>POST</code> (RESTful)リクエストに対しては編集したいレコードにセットしたい値をボディパラメータの中でモデルで定義されたものと同じ名前の属性で定義します。<code>GET</code> (shortcut)リクエストに関してはパラメータはクエリストリングに追加されます。</td>
</tr>
<tr>
<td>callback</td>
<td>((string))</td>
<td style="text-align: left;">指定されていればJSONPレスポンスが（JSONの代わりに）送信されます。この名前のJavascript関数を、結果を一つ目の（そして唯一の）引数として実行します。<br/> <br/> 例:<code>?callback=myJSONPHandlerFn</code></td>
</tr>
</tbody>
</table>
<h3>例</h3>
<h4>レコードを編集する (REST)</h4>
<p>AppleJackの趣味を&quot;kickin&quot;に変える。</p>
<h5>ルート</h5>
<p><code>PUT /pony/47</code></p>
<h5>JSONリクエストボディ</h5>
<pre><code class="language-json">{
  "hobby": "kickin"
}</code></pre>
<h5>期待されるレスポンス</h5>
<pre><code class="language-json">{
  "name": "AppleJack",
  "hobby": "kickin",
  "id": 47,
  "createdAt": "2013-10-18T01:23:56.000Z",
  "updatedAt": "2013-11-26T22:55:19.951Z"
}</code></pre>
<h4>レコードを編集する (Shortcuts)</h4>
<p><code>GET /pony/update/47?hobby=kickin</code></p>
<h5>期待されるレスポンス</h5>
<p>同上。</p>
<h4>既存の2つのレコード間のアソシエーションを加える。 (REST)</h4>
<p>Pinkie Pieに既存の&quot;Bubbles&quot;でIDが15のペットを与える。</p>
<h5>ルート</h5>
<p><code>POST /pony/4/pets</code></p>
<h5>JSONリクエストボディ</h5>
<pre><code class="language-json">{
  "id": 15
}</code></pre>
<h5>期待されるレスポンス</h5>
<pre><code class="language-json">{
  "name": "Pinkie Pie",
  "hobby": "kickin",
  "id": 4,
  "pets": [{
      "name": "Gummy",
      "species": "crocodile",
      "id": 10,
      "createdAt": "2014-02-13T00:06:50.603Z",
      "updatedAt": "2014-02-13T00:06:50.603Z"
    },{
      "name": "Bubbles",
      "species": "manticore",
      "id": 15,
      "createdAt": "2014-02-13T00:06:50.603Z",
      "updatedAt": "2014-02-13T00:06:50.603Z"
    }],
  "createdAt": "2013-10-18T01:23:56.000Z",
  "updatedAt": "2013-11-26T22:55:19.951Z"
}</code></pre>
<h4>既存の2つのレコード間のアソシエーションを加える。 (Shortcuts)</h4>
<p><code>GET /pony/4/pets/add/15</code></p>
<h4>アソシエーションを削除する (多対多) (REST)</h4>
<p>Pinkie Pieのペット&quot;Gummy&quot; (ID 12)を削除する。</p>
<h5>ルート</h5>
<p><code>DELETE /pony/4/pets</code></p>
<h5>JSONリクエストボディ</h5>
<pre><code class="language-json">{
  "id": 12
}</code></pre>
<h5>期待されるレスポンス</h5>
<pre><code class="language-json">{
  "name": "Pinkie Pie",
  "hobby": "ice skating",
  "pets": [{
      "name": "Bubbles",
      "species": "manticore",
      "id": 15,
      "createdAt": "2014-02-13T00:06:50.603Z",
      "updatedAt": "2014-02-13T00:06:50.603Z"
    }],
  "id": 4,
  "createdAt": "2013-10-18T01:22:56.000Z",
  "updatedAt": "2013-11-26T22:54:19.951Z"
}</code></pre>
<h4>アソシエーションを削除する (多対多) (Shortcuts)</h4>
<h5>ルート</h5>
<p><code>GET /pony/4/pets/remove/12</code></p>
<h5>期待されるレスポンス</h5>
<p>同上。</p>
<docmeta name="uniqueID" value="UpdateARecord421031">
<docmeta name="displayName" value="update">