<div class="page home-page" ng-class="{'animating-in': animatingIn, 'animating-out': animatingOut}">

  <!--Top Section with Mr. Squiddy-->
  <div class="banner home">
    <div class="banner-container">
      <div class="tagline">
        <h2>The web framework of your dreams.</h2>
        <h3 ng-if="!author">Built for developers by developers.</h3>
        <h3 ng-if="author">Built for developers by {{author}}.</h3>
        <a href="#!/getStarted" class="button">Get started</a>
      </div>
      <img class="light" src="/images/bkgd_light.png"/>
      <img class="squid" src="/images/bkgd_squiddy.png"/>
    </div>
  </div>
  <!-- White bar with github updates & social media -->
  <news-banner></news-banner>

  <!--'What is Sails?' section with video-->
  <div class="sails-about">
    <div class="about-container">
      <div class="what-is-sails">
        <h1>What Is Sails.js?</h1>
        <p>
        Sails makes it easy to build custom, enterprise-grade Node.js apps. It is designed to emulate the familiar MVC pattern of frameworks like Ruby on Rails, but with support for the requirements of modern apps: data-driven APIs with a scalable, service-oriented architecture. It's especially good for building chat, realtime dashboards, or multiplayer games; but you can use it for any web application project - top to bottom.
        </p>
      </div>
      <div class="video-link">
        <h2>Watch the original screencast
        <a href="http://www.youtube.com/watch?v=GK-tFvpIR7c&amp;feature=player_embedded">here</a>.
        </h2>
      </div>
      <div class="video">
        <iframe id="homepage-video" src="http://www.youtube.com/embed/GK-tFvpIR7c" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <!--Features list-->
  <div class="sails-features">
    <div class="features-container">
      <div class="features">
        <h1>Features</h1>
        <p>
        Sails is the most popular MVC framework for Node.js.  It is designed for building practical, production-ready Node.js apps in a matter of weeks - not months.
        </p>
      </div>
      <div class="feature-list">
        <ul>
          <li class="javascript">
            <img class="icon" src="images/icon_js_large.png"/>
            <h5>100% JavaScript</h5>
            <p>
              Building on top of Sails means your app is written entirely in JavaScript, the language you and your team are already using in the browser.
              <!-- Like other MVC frameworks, Sails is built with an emphasis on developer happiness and a convention-over-configuration philosophy. But Node.js takes this principle to the next level.Building on top of Sails means your app is written entirely in JavaScript, the language you and your team are already using in the browser.  Since you spend less time context-shifting, you're able to write code in a more consistent style, which makes development more productive and fun. -->
            </p>
          </li>
          <li class="database">
            <img class="icon" src="images/icon_database.png"/>
            <h5>Any database</h5>
            <p>
              Sails bundles a powerful ORM, Waterline, which provides a simple data access layer that just works, no matter what database you're using.
              <!-- In addition to a plethora of community projects, officially supported adapters exist for MySQL, MongoDB, PostgreSQL, Redis, and local disk (for development). -->
            </p>
          </li>
          <li class="associations">
            <img class="icon" src="images/icon_associations.png"/>
            <h5>Powerful associations</h5>
            <p>
              Sails offers a new take on the familiar relational model, aimed at making data modeling more practical.
              <!-- You can do all the same things you might be used to (one-to-many, many-to-many), but you can also assign multiple <em>named</em> associations per-model (for instance, a cake might have two collection of people: <em>"havers"</em> and <em>"eaters"</em>).  Better yet, you can assign different models to different databases, and your associations/joins will <strong>still work</strong>-- even across NoSQL and relational boundries.  Sails has no problem implicitly/automatically joining a MySQL table with a Mongo collection and vice versa. -->
            </p>
          </li>
          <li class="api">
            <img class="icon" src="images/icon_api.png"/>
            <h5>Auto-generate REST APIs</h5>
            <p>
              Sails comes with <em>blueprints</em> that help jumpstart your app's backend without writing any code.
              <!-- Just run <code>sails generate api dentist</code> and you'll get an API that lets you search, paginate, sort, filter, create, destroy, update, and associate dentists.  Since these <em>blueprint actions</em> are built on the same underlying technology as Sails, they also work with Websockets and any supported database out of the box. -->
            </p>
          </li>
          <li class="realtime">
            <img class="icon" src="images/icon_websocket.png"/>
            <h5>Easy WebSocket Support</h5>
            <p>
              Sails translates incoming socket messages for you, they're automatically compatible with every route in your Sails app.
              <!-- In the past, adding realtime/"comet" features meant maintaining two separate code bases. But since the request interpreter in Sails translates incoming socket messages for you, they're automatically compatible with every route in your Sails app, as well as any any existing Express routes/middleware.  Normalization of parameters, the session, and the streaming interface are all taken care of.  In other words, the code you write works with WebSockets <em>and</em> HTTP, without doing any extra work. -->
            </p>
          </li>
          <li class="security">
            <img class="icon" src="images/icon_security.png"/>
            <h5>Reusable security policies</h5>
            <p>
              Sails provides basic security and role-based access control by default.
              <!-- in the form of policies - simple, reusable middleware functions that run before your controllers and actions.  Writing policies encourages <a>encapsulation</a>, which dramatically simplifies your business logic and reduces the total amount of code you need to write.  Policies are interchangeable with Express/Connect middleware, which means you can plug in popular npm modules like <a>Passport</a>.  Finally, like most things in Sails, your policies work for both WebSockets and HTTP automatically. -->
            </p>
          </li>

          <li class="frontend">
            <img class="icon" src="images/icon_frontend.png"/>
            <h5>Front-end agnostic</h5>
            <p>
              Sails is designed to be compatible with any front-end strategy; whether it's Angular, Backbone, iOS/ObjC, Android/Java, Windows Phone, or something else entirely.
              <!-- Sails works great for HTML 5 and PhoneGap apps, but just because we can use JavaScript on the server doesn't mean everything in the world is now built on web standards.  Sails is designed to be compatible with any front-end strategy; whether it's Angular, Backbone, iOS/ObjC, Android/Java, Windows Phone, or something else that hasn't been invented yet. Plus it's easy to serve up the same API to be consumed by another web service or community of developers. -->
            </p>
          </li>

          <li class="asset">
            <img class="icon" src="images/icon_asset.png"/>
            <h5>Flexible asset pipeline</h5>
            <p>
              Sails ships with Grunt- which means your entire front-end asset workflow is completely customizable, and supports all of the great Grunt modules which are already out there.
              <!-- If you <em>are</em> building an app for the browser, you're in luck.  Sails ships with Grunt- which means your entire front-end asset workflow is completely customizable, and comes with support for all of the great Grunt modules which are already out there. That includes support for LESS, SASS, Stylus, CoffeeScript, JST, Jade, Handlebars, Dust, and many more.  When you're ready to go into production, your assets are minified and gzipped automatically. You can even compile your static assets and push them out to a CDN like CloudFront to make your app load even faster. -->
            </p>
          </li>

          <li class="foundation">
            <img class="icon" src="images/icon_foundation.png"/>
            <h5>Rock-solid foundation</h5>
            <p>
              Sails is built on <a href="http://nodejs.org">Node.js</a>, uses <a href="https://github.com/dougwilson">Express</a> for handling HTTP requests, and wraps <a href="http://socket.io">socket.io</a> for managing WebSockets.
              <!--  Sails is built on <a href="http://node.js">Node.js</a>, a popular, lightweight server-side technology that allows developers to write blazing fast, scalable network appliations in JavaScript.  Sails uses <a>Express</a> for handling HTTP requests,  and wraps <a>socket.io</a> for managing WebSockets. So if your app ever needs to get really low-level, you can access the raw Express or socket.io objects. Another nice side-effect is that your existing Express routes work perfectly well in a Sails app, so migrating an existing Node app is a breeze. -->
            </p>
          </li>
        </ul>
        <div class="features-link-wrapper">
          <a href="#!/features">
            <span class="long">Learn more about Sails's Features</span>
            <span class="short">Learn More</span>
          </a>
        </div>
        <div class="book-banner-wrapper">
          <div class="book-banner">
            <img class="meap-cover" src="/images/bookCover.png"/>
            <h3>We wrote a book!</h3>
            <p>Get early access to half the book<br/> with promotion code: <span>dotd50815</span></p>
            <a class="book-link" target="_blank" href="http://www.manning.com/mcneil/">Get the Book</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--section with tweets-->
  <div class="sails-social">
      <!-- <h1>What do users say about Sails?</h1> -->
      <div class="sails-reviews">
        <!-- switch out this template for different tweets-->
        <ul class="tweets-wrapper"
          ng-controller="TweetCtrl"
          ng-init="intent.startSlideshow()">
          <li ng-repeat="tweet in tweets"
            ng-class="{active: activeTweet === tweet.twitterHandle}"
            class="tweet">
            <h2><a target="_blank" href="{{tweet.twitterUrl}}">{{tweet.twitterHandle}}</a></h2>
            <p>{{tweet.text}}</p>
          </li>
        </ul>

        <h3>There's a party going on, and you're invited.</h3>
        <div class="follow-buttons">
          <a target="_blank" href="https://github.com/balderdashy/sails">
            <div class="github follow-button">
              <span>
                <img src="images/icon_octocat.png"/>
                Star the repo
              </span>
            </div>
          </a>
          <a target="_blank" href="https://twitter.com/sailsjs">
            <div class="twitter follow-button">
              <span>
                <img src="images/icon_twitter.png"/>
                Follow on twitter
              </span>
            </div>
          </a>
      </div>
    </div>
  </div>

  <!--Philosophy/Performance/Community section-->
  <!--
  <div class="three-column">
      <div class="column left-column">
        <h1>Philosophy</h1>
        <p>
        Like other MVC frameworks, Sails.js is built with an emphasis on developer happiness and a convention-over-configuration philosophy. But we took it a step further:
        </p>
        <p>
        Just like with Node.js, using Sails means your app is written entirely in JavaScript, the language you and your team are already using on the frontend. This makes development much speedier than it was in the past!
        </p>
      </div>
      <div class="column middle-column">
        <h1>Performance</h1>
        <p>
        Since Sails.js is written in Node.js, your servers reap the performance benefits of an event-driven, asynchronous architecture.
        </p>
      </div>
      <div class="column right-column">
        <h1>Community</h1>
        <p>
        Sails.js is built on the rock-solid foundation of Express (for routing), EJS (for templating)
        and Socket.io (for cross-platform WebSockets with graceful degradation), so you don't have
        to worry about reinventing the wheel.
        </p>
        <p>
        We also have an enthusiastic community of contributors, and the framework has had over one
        thousand downloads every month on NPM since July 2012.
        </p>
      </div>
  </div>
  -->

  <!--'What's Next?' section with links to get started page and docs-->
  <div class="sails-next-steps">
    <div class="container">
      <h1>What's Next?</h1>
      <p>
      Generate a <a href="#!/getStarted">new Sails project</a>, read the
      <a id="doc" href="#!/documentation">documentation</a>, or join the active community on <a href="https://github.com/balderdashy/sails">Github</a>, <a href="http://stackoverflow.com/questions/tagged/sails.js">StackOverflow</a>, <a href="https://groups.google.com/forum/?fromgroups#!forum/sailsjs">Google Groups</a>, and <a href="http://webchat.freenode.net/">#sailsjs</a>.
      </p>
      <div class="calls-to-action">
        <a href="#!/getStarted" class="button">Get started</a>
        <a class="doc" href="#!/documentation">Documentation</a>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="sails-footer-wrapper">
  <div skrollr style="position:relative;" data-0-bottom="top:0px;" data--500-bottom="top:-60px">
    <div ng-include src="'templates/pages/Reusable/Footer/Footer.html'"></div>
  </div>
</div>
