//Header for the documentation sections
.docs-main-header {
  font-family: @mainFont;
  width: 100%;
  // background-color: @turquoise;
  .footerGradient();
  // min-width: 1000px;
  z-index: 95;
  .clearfix();
  .nav-container {
    .container();
    min-width: 1000px;
    .clearfix();
    padding: 110px 0 45px;
    .nav-content {
      position: relative;
      .header-title {
        font-family: @headerFont;
        display: block;
        color: @white;
        font-weight: @light;
        font-size: 36px;
        padding-right: 350px;
      }
      ul.docs-header-nav {
        .clearfix();
        position: absolute;
        right: 0px;
        top: 0px;
        a {
          display: inline-block;
          float: left;
        }

        li {
          color: @white;
          font-weight: @normal;
          padding: 10px 20px;
          &:hover {
            color: @taglineBlue;
            .transition(all 300ms);
          }
          &.current {
            background-color: @darkTurquoise;
            font-weight: @semibold;
            &:hover {
              color: @white;
            }
          }
        }
      }
    }
  }

  .mobile-sub-nav-wrapper {
    .borderBox();
    display: none;
    z-index: 1000;
    padding-left: 260px;
    overflow: hidden;
    .mobile-sub-nav-veil {
      .borderBox();
      background: rgba(0,0,0,0.4);
      width: 100%;
      height: 100%;
    }
    .mobile-sub-nav {
      .borderBox();
      position: absolute;
      left: 0px;
      top: 0px;
      width: 260px;
      height: 100%;
      overflow-y: auto;
      background: rgba(25,25,25,0.95);
      border-right: 1px solid #000;
      .mobile-nav-item {
        .borderBox();
        >span {
          .borderBox();
          display: inline-block;
          width: 100%;
          height: 30px;
          position: relative;
          padding-left: 10px;
          padding-right: 29px;

          color: @white;
          font-size: 12px;
          line-height: 29px;
          vertical-align: middle;

          border-bottom: 1px solid #000;
          .expand-button {
            .borderBox();
            display: none;
            width: 29px;
            height: 29px;
            background-color: rgba(255,255,255, 0.1);
            position: absolute;
            right: 0px;
            top: 0px;
            cursor: pointer;
            >img {
              .borderBox();
              width: 29px;
              height: auto;
              padding: 12px 8px;
            }
          }
          a {
            color: @white;
            width: 100%;
            display: block;
          }
        }
        ul {
          .mobile-nav-item {
            background-color: rgba(255,255,255,0.2);
            display: none;
          }
        }

        &.folder {
          .expand-button {
            display: block;
          }
        }
        &.expanded {
          >span {
            .expand-button {
              background-color: @darkTurquoise;
              >img {
                .rotate(180deg);
              }
            }
          }
          >ul {
            >.mobile-nav-item {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .docs-main-header {
    .nav-container {
      min-width: 300px;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      // .header-title {
      //   width: auto;
      //   text-align: center;
      //   float: none;
      // }
      // ul.docs-header-nav {
      //   float: none;
      //   margin-top: 10px;
      //   a {
      //     width: 25%;
      //     text-align: center
      //   }
      // }
    }
  }
  //class to make the header skinny when we're scrolling
  &.juice-fast {
    .docs-main-header {
      .nav-container {
        padding: 85px 0 20px;
      }
    }
  }
}



div.docs-github-message {
  .container();
  .clearfix();
  display: none;
  padding: 125px 0 50px;
  img {
    width: 60%;
    margin: auto;
  }
  a {
    display: block;
    width: 70%;
    margin: auto;
    padding: 15px;
    font-size: 1.3em;
    background-color: @ltestGray;
    text-align: center;
    margin-bottom: 25px;
  }
  p {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .docs-main-header {
    .mobile-sub-nav-wrapper {
      display: block;
      position: fixed;
      left: 0px;
      top: 0px;
      height: 100%;
      width: 100%;
    }
  }
}

@media screen and (max-width: 500px) {
  min-width: 0px;
  .documentation-section-header, .documentation-section-content {
    display: none;
  }
  div.documentation-header div.documentation-header-container {
    text-align: center;
    .header-title {
      font-size: 2.3em;
    }
  }
  .main-container {
    display: none;
  }
  div.docs-github-message {
    display: block;
  }
}

