<h1>Amazon S3にアップロードする</h1>
<blockquote>
<p>Amazon S3 bucketが'US Standard'リージョンに生成するのを忘れないで下さい。
これを怠ると'TypeError('Uncaught, unspecified &quot;error&quot; event.')エラーが返ってきます。</p>
</blockquote>
<p>Sailsではとても僅かな設定の追加でAmazon S3へのストリームファイルアップロードが出来ます。</p>
<p>まず初めに<a href="https://github.com/balderdashy/skipper-s3">S3 Skipper adapter</a>をインストールします:</p>
<pre><code class="language-sh">$ npm install skipper-s3 --save</code></pre>
<p>次にコントローラで利用します:</p>
<pre><code class="language-javascript">  uploadFile: function (req, res) {
    req.file('avatar').upload({
      adapter: require('skipper-s3'),
      key: 'S3 Key'
      secret: 'S3 Secret'
      bucket: 'Bucket Name'
    }, function (err, filesUploaded) {
      if (err) return res.negotiate(err);
      return res.ok({
        files: filesUploaded,
        textParams: req.params.all()
      });
    });
  }</code></pre>
<docmeta name="displayName" value="Uploading to S3">