<h1>Mongo GridFSにアップロードする</h1>
<p>GridFSファイルシステムのおかげでMongoDBへのアップロードが可能です。Sailsでは<a href="https://github.com/willhuang85/skipper-gridfs">MongoDB's GridFS</a>のSkipperアダプタを使うことで、とても僅かな設定の追加でこれを実現できます。</p>
<p>以下のようにインストールします:</p>
<pre><code class="language-sh">$ npm install skipper-gridfs --save</code></pre>
<p>そしてコントローラ内で利用します:</p>
<pre><code class="language-javascript">  uploadFile: function (req, res) {
    req.file('avatar').upload({
      adapter: require('skipper-gridfs'),
      uri: 'mongodb://[username:password@]host1[:port1][/[database[.bucket]]'
    }, function (err, filesUploaded) {
      if (err) return res.negotiate(err);
      return res.ok();
    });
  }</code></pre>
<docmeta name="displayName" value="Uploading to GridFS">