<h1>myApp/assets/js/dependencies</h1>
<h3>目的</h3>
<p>このディレクトリは残りのjsファイルが読み込まれる前にgruntがindex.ejsにjavascriptファイルを読みこませるためのものです。</p>
<pre><code>js/
| main.js
| apple.js
| dependencies/
| | sails.io.js</code></pre>
<p>この状態では以下のようにセットアップされます。</p>
<pre><code>&lt;!--SCRIPTS--&gt;
&lt;script src="/js/dependencies/sails.io.js"&gt;&lt;/script&gt;
&lt;script src="/js/apple.js"&gt;&lt;/script&gt;
&lt;script src="/js/main.js"&gt;&lt;/script&gt;
&lt;!--SCRIPTS END--&gt;</code></pre>
<docmeta name="uniqueID" value="dependenciesmd334158">
<docmeta name="displayName" value="dependencies">