<h1>myApp/assets/js/dependencies/sails.io.js</h1>
<h3>目的</h3>
<p>このファイルはSailsに内蔵のwebsockets機能であるsocket.ioに幾つかの機能を追加するものです。</p>
<p>厳密に言うと、これらのメソッドはSocket.IOのうえでRESTクライアントインタフェースをシミュレーションすることでSailsとSocket.IOメッセージを送受信できるようにするものです。これはjQueryでお馴染みの$.ajaxパターンのAPIをモデルにしたものです</p>
<docmeta name="uniqueID" value="sailsiojs779166">
<docmeta name="displayName" value="sails.io.js">