<h1>myApp/api</h1>
<h3>目的</h3>
<p>このフォルダはあなたのSailsアプリケーションのバックエンドロジックのうち大部分を占めます。このフォルダは<a href="http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">MVC フレームワーク</a>における「M」と「C」のホームディレクトリに当たります。</p>
<p>この中に含まれるものとしては以下のものが挙げられます。</p>
<ul>
<li>コントローラ: コントローラはあなたのアプリケーションのバックエンドロジックのうち大部分を含みます。</li>
<li>モデル: モデルはあなたのSailsアプリケーションのデータを含む構造体です。</li>
<li>ポリシー: ポリシーは一般的にはクライアントを認可し、アプリケーション内の特定の部分へのアクセスを制限します。</li>
<li>レスポンス: サーバレスポンスロジック(404 - Not Found, 500 - Server Errorなど)</li>
<li>サービス: サービスはコントローラに似ています。これらは<code>.req()</code> と <code>.res()</code>に依存しないアプリケーション内のロジックを含みます。  </li>
</ul>
<docmeta name="uniqueID" value="apimd840000">
<docmeta name="displayName" value="api">