<h1>対応済みアダプタのリスト</h1>
<p>このファイルはSailsで利用可能なアダプタに関する最新の包括的なリストとなることを意図しています。もし忘れているものがあったりアダプタを書いた時にはリストに追加したうえでPullリクエストを送ってください。</p>
<h3>公式サポートしているアダプタ</h3>
<h5>sails-disk</h5>
<p><a href="https://github.com/balderdashy/sails-disk/">https://github.com/balderdashy/sails-disk/</a></p>
<p>コンピュータのハードディスクまたはマウントされたネットワークドライブに書き込みます。スケール化したデプロイ環境には適しませんがデータベースが常に準備されているとは限らない環境や小さなプロジェクトではとても役立ちます。このアダプタはSailsにバンドルされており、設定なしで簡単に使うことが出来ます。</p>
<h6>実装済インタフェース:</h6>
<ul>
<li>Semantic</li>
<li>Queryable</li>
<li>Streaming</li>
</ul>
<h5>sails-memory</h5>
<p><a href="https://github.com/balderdashy/sails-memory/">https://github.com/balderdashy/sails-memory/</a></p>
<p>ディスクととても似ていますが実際にディスクに書き込まれません、つまり保存されません。スケール化したデプロイ環境には適しませんがディスクが存在しなかったり容量が少ない環境のシステムを開発するには役立ちます。</p>
<h6>実装済インタフェース:</h6>
<ul>
<li>Semantic</li>
<li>Queryable</li>
<li>Streaming</li>
</ul>
<h5>sails-mysql</h5>
<p><a href="https://github.com/balderdashy/sails-mysql/">https://github.com/balderdashy/sails-mysql/</a></p>
<p>MySQLは世界中で最もポピュラーなリレーショナル・データベースです。
<a href="http://en.wikipedia.org/wiki/MySQL">http://en.wikipedia.org/wiki/MySQL</a></p>
<h6>実装済インタフェース:</h6>
<ul>
<li>Semantic</li>
<li>Queryable</li>
<li>Streaming</li>
<li>Migratable</li>
</ul>
<h5>sails-postgres</h5>
<p><a href="https://github.com/balderdashy/sails-postgresql/">https://github.com/balderdashy/sails-postgresql/</a></p>
<p><a href="http://en.wikipedia.org/wiki/PostgreSQL">PostgreSQL</a>はもう一つのポピュラーなリレーショナル・データベースです。</p>
<h6>実装済インタフェース:</h6>
<ul>
<li>Semantic</li>
<li>Queryable</li>
<li>Streaming</li>
<li>Migratable</li>
</ul>
<h5>sails-mongo</h5>
<p><a href="https://github.com/balderdashy/sails-mongo/">https://github.com/balderdashy/sails-mongo/</a></p>
<p><a href="http://en.wikipedia.org/wiki/MongoDB">MongoDB</a> は代表的なNoSQLデータベースです。</p>
<h6>実装済インタフェース:</h6>
<ul>
<li>Semantic</li>
<li>Queryable</li>
<li>Streaming</li>
</ul>
<h5>sails-redis</h5>
<p><a href="https://github.com/balderdashy/sails-redis/">https://github.com/balderdashy/sails-redis/</a></p>
<p><a href="http://redis.io/">Redis</a> はBSDライセンスのオープンソースで提供される先進的キーバリュー型ストアです。</p>
<h6>実装済インタフェース:</h6>
<ul>
<li>Semantic</li>
<li>Queryable</li>
</ul>
<h3>コミュニティーレベルでサポートされているアダプタ</h3>
<h5>sails-orientdb</h5>
<p><a href="https://github.com/appscot/sails-orientdb">https://github.com/appscot/sails-orientdb</a></p>
<p><a href="http://en.wikipedia.org/wiki/OrientDB">OrientDB</a> はドキュメントとグラフの両方のDBMS機能を持ったオープンソースのNoSQLなDBMSです。</p>
<h6>実装済インタフェース:</h6>
<ul>
<li>Semantic</li>
<li>Queryable</li>
<li>Associations</li>
<li>Migratable</li>
</ul>
<h5>sails-filemaker</h5>
<p><a href="https://github.com/geistinteractive/sails-filemaker">https://github.com/geistinteractive/sails-filemaker</a></p>
<p><a href="https://en.wikipedia.org/wiki/FileMaker">FileMaker</a> はクロスプラットフォームのでリレーショナルデータベースと開発プラットフォームです。1988年からアップルによって所有、公開されています。</p>
<h6>Interfaces implemented:</h6>
<ul>
<li>Semantic</li>
</ul>
<p>アダプタを書きましたか？ここに書き込んでPRしてください！</p>
<docmeta name="uniqueID" value="adapterList22829">
<docmeta name="displayName" value="Available Adapters">