<h1 id="list-of-available-adapters">List of Available Adapters</h1>
<p>This file is meant to be an up to date, comprehensive list of all of the adapters available for the Sails.js framework.  If we missed one or you would like to add an adapter you made, just submit a Pull Request to this file, adding to the list.</p>
<h3 id="officially-supported-adapters" permalink="officially-supported-adapters">Officially Supported Adapters</h3>
<h5 id="sails-disk" permalink="sailsdisk">sails-disk</h5>
<p><a href="https://github.com/balderdashy/sails-disk/" target="_blank">https://github.com/balderdashy/sails-disk/</a></p>
<p>Write to your computer&apos;s hard disk, or a mounted network drive.  Not suitable for at-scale production deployments, but great for a small project, and essential for developing in environments where you may not always have a database set up. This adapter is bundled with Sails and works out of the box with zero configuration.</p>
<h6 id="interfaces-implemented-">Interfaces implemented:</h6>
<ul>
<li>Semantic</li>
<li>Queryable</li>
<li>Streaming</li>
</ul>
<h5 id="sails-memory" permalink="sailsmemory">sails-memory</h5>
<p><a href="https://github.com/balderdashy/sails-memory/" target="_blank">https://github.com/balderdashy/sails-memory/</a></p>
<p>Pretty much like Disk, but doesn&apos;t actually write to disk, so it&apos;s not persistent.  Not suitable for at-scale production deployments, but useful when developing on systems with little or no disk space.</p>
<h6 id="interfaces-implemented-">Interfaces implemented:</h6>
<ul>
<li>Semantic</li>
<li>Queryable</li>
<li>Streaming</li>
</ul>
<h5 id="sails-mysql" permalink="sailsmysql">sails-mysql</h5>
<p><a href="https://github.com/balderdashy/sails-mysql/" target="_blank">https://github.com/balderdashy/sails-mysql/</a></p>
<p>MySQL is the world&apos;s most popular relational database.
<a href="http://en.wikipedia.org/wiki/MySQL" target="_blank">http://en.wikipedia.org/wiki/MySQL</a></p>
<h6 id="interfaces-implemented-">Interfaces implemented:</h6>
<ul>
<li>Semantic</li>
<li>Queryable</li>
<li>Streaming</li>
<li>Migratable</li>
</ul>
<h5 id="sails-postgres" permalink="sailspostgres">sails-postgres</h5>
<p><a href="https://github.com/balderdashy/sails-postgresql/" target="_blank">https://github.com/balderdashy/sails-postgresql/</a></p>
<p><a href="http://en.wikipedia.org/wiki/PostgreSQL" target="_blank">PostgreSQL</a> is another popular relational database. </p>
<h6 id="interfaces-implemented-">Interfaces implemented:</h6>
<ul>
<li>Semantic</li>
<li>Queryable</li>
<li>Streaming</li>
<li>Migratable</li>
</ul>
<h5 id="sails-mongo" permalink="sailsmongo">sails-mongo</h5>
<p><a href="https://github.com/balderdashy/sails-mongo/" target="_blank">https://github.com/balderdashy/sails-mongo/</a></p>
<p><a href="http://en.wikipedia.org/wiki/MongoDB" target="_blank">MongoDB</a> is the leading NoSQL database.</p>
<h6 id="interfaces-implemented-">Interfaces implemented:</h6>
<ul>
<li>Semantic</li>
<li>Queryable</li>
<li>Streaming</li>
</ul>
<h5 id="sails-redis" permalink="sailsredis">sails-redis</h5>
<p><a href="https://github.com/balderdashy/sails-redis/" target="_blank">https://github.com/balderdashy/sails-redis/</a></p>
<p><a href="http://redis.io/" target="_blank">Redis</a> is an open source, BSD licensed, advanced key-value store.</p>
<h6 id="interfaces-implemented-">Interfaces implemented:</h6>
<ul>
<li>Semantic</li>
<li>Queryable</li>
</ul>
<h3 id="community-supported-adapters" permalink="community-supported-adapters">Community Supported Adapters</h3>
<h5 id="sails-orientdb" permalink="sailsorientdb">sails-orientdb</h5>
<p><a href="https://github.com/appscot/sails-orientdb" target="_blank">https://github.com/appscot/sails-orientdb</a></p>
<p><a href="http://en.wikipedia.org/wiki/OrientDB" target="_blank">OrientDB</a> is an Open Source NoSQL DBMS with the features of both Document and Graph DBMSs. </p>
<h6 id="interfaces-implemented-">Interfaces implemented:</h6>
<ul>
<li>Semantic</li>
<li>Queryable</li>
<li>Associations</li>
<li>Migratable</li>
</ul>
<p>Have you written a Sails adapter? Submit a PR to this file and add it here!</p>
<p><docmeta name="uniqueID" value="adapterList22829"></docmeta></p>
<docmeta name="displayName" value="Available Adapters">
</docmeta>