<h1 id="custom-adapters">Custom Adapters</h1>
<h3 id="overview" permalink="overview">Overview</h3>
<p>Sails makes it fairly easy to write your own adapter.  Check out the <a href="https://github.com/balderdashy/sails-adapter-boilerplate" target="_blank">sails-boilerplate-repo</a> to learn how </p>
<p><docmeta name="uniqueID" value="customAdapters92223"></docmeta></p>
<docmeta name="displayName" value="Custom Adapters"></docmeta>