<h1>カスタムアダプタ</h1>
<h3>概要</h3>
<p>Sailsではとても簡単にアダプタを書くことが出来ます。やり方に関しては<a href="https://github.com/balderdashy/sails-adapter-boilerplate">sails-boilerplate-repo</a>をご確認ください。</p>
<docmeta name="uniqueID" value="customAdapters92223">
<docmeta name="displayName" value="Custom Adapters">