<h1 id="changelog-0-9-4">Changelog 0.9.4</h1>
<p><em>September 5, 2013</em></p>
<ul>
<li>Improved CSRF prevention support (thanks to <a href="https://github.com/sgress454" target="_blank">@sgress454</a>)</li>
<li>Support for CORS (thanks to <a href="https://github.com/sgress454" target="_blank">@sgress454</a>)</li>
<li>CoffeeScript supported client-side by default in gruntfile thanks to @reecelewellen</li>
<li>Improves/fixes internationalization (thanks to <a href="https://github.com/xdissent" target="_blank">@xdissent</a> and <a href="https://github.com/silvinci" target="_blank">@silvinci</a>)</li>
<li>Removed vanilla HAML support and tests since it was incomplete (jade is still supported)</li>
<li>Config: Sails core is no longer automatically copied as a dependency during <code>sails new</code>. This speeds up the process significantly and avoids occassional recursive copy death spirals.</li>
<li>Config: Added explicit <code>--port</code> option to <code>sails lift</code>.</li>
<li>Sockets: Added query string parsing to requests.</li>
<li>Sockets: Headers can now be specified in requests (<strong><em>This has implications on full compatibility w/ most Express middleware!</em></strong>)</li>
<li>Routing: Fixed issues with default 404 and 500 responses.</li>
<li>Other minor bug fixes/inconsistencies and documentation enhancements</li>
</ul>
<blockquote>
<p>And thanks a ton to anybody I left out! Send me a message on twitter and I&apos;ll add you.</p>
</blockquote>
<p><docmeta name="displayName" value="0.9.4 Changelog"></docmeta></p>
<docmeta name="version" value="0.9.4">
</docmeta>