<h1 id="changelog-0-9-7">Changelog 0.9.7</h1>
<p><em>October 10, 2013</em></p>
<ul>
<li>Complete improvement/refactoring of configuration loader (fixes bugs)</li>
<li>Complete improvement/refactoring of ORM loader (fixes bugs)</li>
<li>Continued improvements of tests</li>
<li>Include a modified version of consolidate to better support view engines</li>
<li>Blueprints are now configurable per-controller (thanks <a href="https://github.com/xdissent" target="_blank">@xdissent</a>, and everyone else who helped!)</li>
<li>(waiting to expose this and deprecate the old behavior in the docs until the next minor release to avoid causing any breaking changes)</li>
<li>New <code>prefix</code> option in global blueprint config, as well as per-controller.</li>
<li>New <code>jsonp</code> option in global controller config, as well as per-controller.</li>
<li><p>New <code>pluralize</code> option in global controller config, as well as per-controller.</p>
</li>
<li><p>Models can now easily use one or more custom named connections which use different adapters</p>
</li>
<li><p>(waiting to expose this and deprecate the old behavior in the docs until the next minor release to avoid causing any breaking changes)</p>
</li>
<li><p>Adds configurable default behavior for 403/404/500/400 HTTP status code error cases.</p>
</li>
<li><p>(waiting to expose this and deprecate the old behavior in the docs until the next minor release to avoid causing any breaking changes)</p>
</li>
<li><p>Properly namespace the io in bundled sails.io.js client in new projects (thanks <a href="https://github.com/drosen0" target="_blank">@drosen0</a>)</p>
</li>
<li>Better handle crash scenario, particularly in nodemon (thanks <a href="https://github.com/edy" target="_blank">@edy</a>)</li>
</ul>
<blockquote>
<p>Thanks to everyone else I missed, and to everyone else who helped out with this release!</p>
</blockquote>
<p><docmeta name="displayName" value="0.9.7 Changelog"></docmeta></p>
<docmeta name="version" value="0.9.7">
</docmeta>