<h1 id="changelog-0-9-16">Changelog 0.9.16</h1>
<p><em>December 16, 2013</em></p>
<ul>
<li><a href="https://github.com/sgress454" target="_blank">@sgress454</a> Hotfix for CORS issue when no Origin header is present. &#x2026; f42da3c</li>
<li><a href="https://github.com/mikermcneil" target="_blank">@mikermcneil</a> Update README.md 1bf1d15</li>
<li><a href="https://github.com/bicherele" target="_blank">@bicherele</a> Update es.json &#x2026; ddb9a07</li>
<li><a href="https://github.com/andyzhau" target="_blank">@andyzhau</a> Fix the join room variable reference error. 57783a3</li>
<li><a href="https://github.com/mikermcneil" target="_blank">@mikermcneil</a> Use npm version of linker 5459119</li>
<li><a href="https://github.com/mikermcneil" target="_blank">@mikermcneil</a> Update CHANGELOG.md aae737f</li>
<li><a href="https://github.com/devel-pa" target="_blank">@devel-pa</a> lodash library updated to last version available (2.4.1) c71ce81</li>
<li><a href="https://github.com/mikermcneil" target="_blank">@mikermcneil</a> Hot fix to protect connect cookie parsing. e181656</li>
<li><a href="https://github.com/mikermcneil" target="_blank">@mikermcneil</a> Rebased from #1012 as hotfix for windows view issue. 031ebe1</li>
</ul>
<p><docmeta name="displayName" value="0.9.16 Changelog"></docmeta></p>
<docmeta name="version" value="0.9.16">
</docmeta>