.sails-about {
	font-family: @mainFont;
	background-color: @seaGreen;
	position: relative;
	z-index: 10;

	.about-container {
		.container();
		.clearfix();
    position: relative;
    padding: 100px 525px 100px 0;
	}

	.what-is-sails {
		h1 {
			.sectionHeader(@turquoise);
			margin-bottom: 8px;
		}

		p {
			.paragraph(@black);
		}
	}

	.video {
    width: 450px;
    position: absolute;
    top: 75px;
    right: 0px;
		iframe {
			width: 450px;
			height: 282px;
		}
	}
	.video-link {
    .sectionSubHeader(@black);
		display: none;
    padding: 25px 0 0;
    text-align: center;
    a {
      color: @turquoise;
    }
	}

  @media screen and (max-width: 1000px) {
    .about-container {
      padding-right: 0;
    }
    .what-is-sails {
      text-align: center;
      max-width: 700px;
    }
    .video {
      padding-top: 50px;
      position: static;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 500px) {
    .about-container {
      padding: 50px 0;
    }
    .video {
      display: none;
    }
    .video-link {
      display: block;
    }
  }
}
