.sails-about {
	font-family: @mainFont;
	background-color: @seaGreen;
	position: relative;
	z-index: 10;

	.about-container {
		.container();
		.clearfix();
    position: relative;
    padding: 100px 525px 100px 0;
	}

	.what-is-sails {
		h1 {
			.sectionHeader(@turquoise);
			margin-bottom: 8px;
		}

		p {
			.paragraph(@black);
		}
	}

	.video {
    width: 450px;
    position: absolute;
    top: 75px;
    right: 0px;
		iframe {
			width: 450px;
			height: 282px;
		}
	}
	.video-link {
		display: none;
	}

	@media screen and (min-width: 481px) and (max-width: 952px) {
		background-color: @seaGreen;
			margin: 0 auto 0 auto;
			padding: 10px auto 10px !important;
			text-align: center;

		.what-is-sails {
			width: 90%;
			padding-right: 0;
			margin: auto;
			float: none !important;

			p {
				font-size: 1em;
			}
		}
		.video {
			width: 90%;
			float: none;
			margin: 15px auto;
			padding-top: 20px;
		}
	}

	@media screen and (max-width: 480px) {
			background-color: @seaGreen;
			margin: 0 auto 0 auto;
			padding: 10px auto 10px !important;
			text-align: center;

		.what-is-sails {
			width: 90%;
			margin: auto;
			float: none !important;

			p {
				font-size: 1em;
			}
		}
		.video {
			display: none!important;
		}

		.video-link {
			display: block;
			padding: 40px 0 10px 0;

			h2 {
				font-size: 1.5em;
				font-style: italic;
			}

			a:hover {
				color: black;
			}
		}
	}
}
