.banner.home {
  .borderBox();
  .footerGradient();
  .clearfix();
  font-family: @mainFont;
  width: 100%;
  height: 500px;

  .banner-container {
    .borderBox();
    position: relative;
    width: 100%;
    max-width: 1450px;
    margin: auto;
    padding: 160px 0 110px;
    .squid {
      height: 500px;
      position: absolute;
      top: 0px;
      right: 0px;
    }

		.tagline {
      .container();
			margin-top: 15px;
			position: relative;
      z-index: 15;

      @bannerTextWidth: 450px;

			h2 {
				color: @ltBlue;
				font: 44px @headerFont;
				margin-bottom: 5px;
				line-height: 100%;
				position: relative;
				z-index: 10;
        width: @bannerTextWidth;
			}

			h3 {
				color: @taglineBlue;
				font: 24px @headerFont;
				font-weight: @light;
				position: relative;
				z-index: 10;
        width: @bannerTextWidth;
			}

			.button {
        .borderBox();
				.lgButton(@black, @white);
        display: block;
        width: 230px;
				margin-top: 20px;
				z-index: 20;
				&:hover {
					color: @turquoise;
					.transition (all .25s);
				}
			}
		}
	}

	@media screen and (max-width: 1250px) {
	 .banner-container {
    .squid {
      height: 425px;
      left: 300px;
      top: 60px;
    }
   }
	}
  @media screen and (max-width: 1000px) {
    height: 410px;
    .banner-container {
      padding: 125px 0 115px;
      img.squid {
        height: 350px;
        left: 300px;
        top: 60px;
      }
    }
  }
  @media screen and (max-width: 800px) {
    height: auto;
    padding-bottom: 25px;
    .banner-container {
      padding-top: 110px;
      padding-bottom: 50px;
      background: url('/images/bkgd_seaweed.png') no-repeat 80% bottom;
      background-size: 100%;
      img.squid {
        display: none;
      }
      .tagline {
        h2, h3 {
          width: 100%;
          text-align: center;
        }
        h2 {
          font-size: 32px;
          padding-bottom: 5px;
        }
        h3 {
          font-size: 20px;
          padding-bottom: 25px;
        }
        .button {
          margin: 0 auto 35px;
        }
      }
    }
  }
}
