<h1>.exec(<code>callback</code>)</h1>
<h3>目的</h3>
<p>stringableなメソッドのチェーンの最後に実行されます。これがアダプタへクエリを発行するように知られます。</p>
<h4>パラメータ</h4>
<table>
<thead>
<tr>
<th>#</th>
<th>説明</th>
<th>受け入れられるデータ型</th>
<th>必須か</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>コールバック</td>
<td><code>function</code></td>
<td>はい</td>
</tr>
</tbody>
</table>
<h4>コールバックパラメータ</h4>
<table>
<thead>
<tr>
<th>#</th>
<th>説明</th>
<th>想定されるデータ型</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>エラー</td>
<td><code>Error</code></td>
</tr>
<tr>
<td>2</td>
<td>返されたデータ</td>
<td><code>{}</code>, <code>[{}]</code>, <code>int</code></td>
</tr>
</tbody>
</table>
<h3>使用例</h3>
<pre><code class="language-javascript">// refer to any of the examples above</code></pre>
<h3>備考</h3>
<blockquote>
<p>.find()メソッドはコールバックが与えられない時はチェーン可能なオブジェクトを返します。このメソッドはさらなるフィルタ結果のために.find()にチェーンすることが出来ます。</p>
<p>.exec()を実行しなければクエルは実行されません。</p>
</blockquote>
<docmeta name="uniqueID" value="exec550068">
<docmeta name="methodType" value="mcm">
<docmeta name="importance" value="undefined">
<docmeta name="displayName" value=".exec()">