<h1 id="-exec-callback-">.exec(<code>callback</code>)</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This is run at the end of a chain of stringable methods.  It signals the adapter to run the query. </p>
<h4 id="parameters" permalink="parameters">Parameters</h4>
<table>
<thead>
<tr>
<th></th>
<th>Description</th>
<th>Accepted Data Types</th>
<th>Required ?</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Callback</td>
<td><code>function</code></td>
<td>Yes</td>
</tr>
</tbody>
</table>
<h4 id="callback-parameters" permalink="callback-parameters">Callback Parameters</h4>
<table>
<thead>
<tr>
<th></th>
<th>Description</th>
<th>Possible Data Types</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Error</td>
<td><code>Error</code></td>
</tr>
<tr>
<td>2</td>
<td>Data Returned</td>
<td><code>{}</code>, <code>[{}]</code>, <code>int</code></td>
</tr>
</tbody>
</table>
<h3 id="example-usage" permalink="example-usage">Example Usage</h3>
<pre><code data-language="javascript">// refer to any of the examples above
</code></pre><!-- __LANG=%%__ -->
<h3 id="notes" permalink="notes">Notes</h3>
<blockquote>
<p>The .find() method returns a chainable object if you don&apos;t supply a callback.  This method can be chained to .find() to further filter your results.</p>
<p>If you don&apos;t run .exec(), your query will not execute.</p>
</blockquote>
<p><docmeta name="uniqueID" value="exec550068"></docmeta></p>
<p><docmeta name="methodType" value="mcm"></docmeta></p>
<p><docmeta name="importance" value="undefined"></docmeta></p>
<docmeta name="displayName" value=".exec()">

</docmeta>