<h1 id="-populate-foreignkey-query-">.populate( <code>foreignKey</code>, [<code>query</code>] )</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This chainable method is used between .find()/.update() and .exec() in order to retrieve records associated with the model being queried.  You must supply the Foreign Key specified in your model config.  </p>
<h3 id="overview" permalink="overview">Overview</h3>
<h4 id="parameters" permalink="parameters">Parameters</h4>
<table>
<thead>
<tr>
<th></th>
<th>Description</th>
<th>Accepted Data Types</th>
<th>Required ?</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Foreign Key</td>
<td><code>string</code></td>
<td>Yes</td>
</tr>
<tr>
<td>2</td>
<td>Query</td>
<td><code>object</code></td>
<td>No</td>
</tr>
</tbody>
</table>
<h3 id="example-usage" permalink="example-usage">Example Usage</h3>
<pre><code data-language="javascript">User.find({name:&apos;Mike&apos;}).exec(function(e,r){
  console.log(r[0].toJSON())
})

/* 
{ name: &apos;Mike&apos;,
  age: 16,
  createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  id: 7 }
*/

User.find({name:&apos;Mike&apos;}).populate(&apos;pets&apos;).exec(function(e,r){
  console.log(r[0].toJSON())
});

/*
{ pets: 
   [ { name: &apos;Pinkie Pie&apos;,
       color: &apos;pink&apos;,
       id: 7,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) },
     { name: &apos;Rainbow Dash&apos;,
       color: &apos;blue&apos;,
       id: 8,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) },
     { name: &apos;Applejack&apos;,
       color: &apos;orange&apos;,
       id: 9,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) } ],
  name: &apos;Mike&apos;,
  age: 16,
  createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  id: 7 }
*/

User.find({name:&apos;Mike&apos;}).populate(&apos;pets&apos;,{color:&apos;pink&apos;}).exec(function(e,r){
  console.log(r[0].toJSON())
});

/*
{ pets: 
   [ { name: &apos;Pinkie Pie&apos;,
       color: &apos;pink&apos;,
       id: 7,
       createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
       updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST) }],
  name: &apos;Mike&apos;,
  age: 16,
  createdAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  updatedAt: Wed Feb 12 2014 18:06:50 GMT-0600 (CST),
  id: 7 }
*/
</code></pre><!-- __LANG=%%__ -->
<h3 id="notes" permalink="notes">Notes</h3>
<blockquote>
<p>Any string arguments passed must be the primary key of the record.</p>
</blockquote>
<p><docmeta name="uniqueID" value="populate245634"></docmeta></p>
<p><docmeta name="methodType" value="association"></docmeta></p>
<p><docmeta name="importance" value="undefined"></docmeta></p>
<docmeta name="displayName" value=".populate()">

</docmeta>