<h1>.sort(<code>string</code>)</h1>
<h3>目的</h3>
<h4>パラメータ</h4>
<table>
<thead>
<tr>
<th>#</th>
<th>説明</th>
<th>受け入れられるデータ型</th>
<th>必須か</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>ソート文字列</td>
<td><code>string</code></td>
<td>はい</td>
</tr>
</tbody>
</table>
<h3>使用例</h3>
<pre><code class="language-javascript">var myQuery = User.find();

var sortString= 'name ASC';

// Sort strings look like this

// '&lt;Model Attribute&gt; &lt;sort type&gt;' 

myQuery.sort('name ASC');

myQuery.exec(function callBack(err,results){
    console.log(results)
    });
</code></pre>
<h3>備考</h3>
<blockquote>
<p>.find()メソッドはコールバックが与えられない時はチェーン可能なオブジェクトを返します。このメソッドはさらなるフィルタ結果のために.find()にチェーンすることが出来ます。</p>
<p>その他のソートの種類は</p>
<ul>
<li>ASC</li>
<li>DESC</li>
</ul>
</blockquote>
<docmeta name="uniqueID" value="sort822396">
<docmeta name="methodType" value="mcm">
<docmeta name="importance" value="undefined">
<docmeta name="displayName" value=".sort()">