<h1>.where(<code>criteria</code>)</h1>
<h3>目的</h3>
<h4>パラメータ</h4>
<table>
<thead>
<tr>
<th>#</th>
<th>説明</th>
<th>受け入れられるデータ型</th>
<th>必須か</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>条件オブジェクト</td>
<td><code>{}</code></td>
<td>はい</td>
</tr>
</tbody>
</table>
<h3>使用例</h3>
<pre><code class="language-javascript">var myQuery = User.find();
myQuery.where({'name':{startsWith:'W'}});

myQuery.exec(function callBack(err,results){
    console.log(results)
    });
</code></pre>
<h3>備考</h3>
<blockquote>
<p>.find()メソッドはコールバックが与えられない時はチェーン可能なオブジェクトを返します。このメソッドはさらなるフィルタ結果のために.find()にチェーンすることが出来ます。</p>
</blockquote>
<docmeta name="uniqueID" value="where700717">
<docmeta name="methodType" value="mcm">
<docmeta name="importance" value="undefined">
<docmeta name="displayName" value=".where()">