<h1>URLスラグ</h1>
<p>明示的なルートを設定する際の一般的な利用方法としてはスラグや<a href="http://en.wikipedia.org/wiki/Clean_URL#Slug">vanity URLs</a>があります。例えばGithubにある<a href="http://www.github.com/balderdashy/sailsjs"><code>http://www.github.com/balderdashy/sailsjs</code></a>レポジトリを考えてみましょう。Sailsではこのルートを <strong><code>config/routes.js</code>ファイルの最後で</strong>以下のように定義することで実現できます。:</p>
<pre><code class="language-javascript">'get /:account/:repo': {
controller: 'RepoController',
action: 'show',
skipAssets: true
}</code></pre>
<p><code>RepoController</code>の<code>show</code>アクションで<code>req.param('account')</code>や<code>req.param('repo')</code>の形で適切なレポジトリを選択するためのデータを取得でき、それを<a href="http://sailsjs.org/documentation/concepts/Views">ビュー</a> as <a href="http://sailsjs.org/documentation/concepts/Views/Locals.html">locals</a>に渡すことが出来ます。<a href="http://sailsjs.org/documentation/concepts/Routes/RouteTargetSyntax.html?q=route-target-options"><code>skipAssets</code>オプション</a> オプションを使うことで予期せず<a href="http://sailsjs.org/documentation/concepts/Assets">アセット</a> (例えば <code>/images/logo.png</code>)にルーティングされることを防げますのでその場合にもアクセスが可能です。</p>
<docmeta name="uniqueID" value="URLSlugs805236">
<docmeta name="displayName" value="URL Slugs">