<h1>myApp/tasks</h1>
<h3>Gruntタスク</h3>
<p>Sailsはアセット管理に<a href="http://gruntjs.com">Grunt</a>タスクを使います。このファイルはこの目的にSailsが使うGRUNTタスクに対する設定情報を含んでいます。</p>
<p>もし<code>sails new foo --linker</code>でSailsアプリケーションを作成していた場合、ここはアプリケーションがレンダリングしたビューに対して自動的に最小化され（順番通りに）挿入されるファイルの場所を指定するところでもあります。</p>
<p>このファイルの先頭には一般的に使われる幾つかの設定がありますが、SailsとGruntの統合は完全にカスタマイズ可能なものです。もしアセットに関して違うやり方を取りたければあなたの好きな動きをするようにこのファイルを書き換えてください。！</p>
<h3>さらなる情報</h3>
<blockquote>
<p>Gruntを静的アセットとして使うさらなる情報は: <a href="http://gruntjs.com/configuring-tasks">http://gruntjs.com/configuring-tasks</a></p>
</blockquote>
<docmeta name="uniqueID" value="tasksmd668626">
<docmeta name="displayName" value="tasks">