<h1>Clickjacking</h1>
<p><a href="https://www.owasp.org/index.php/Clickjacking">Clickjacking</a> (別名&quot;UI redress attacks&quot;) は攻撃者がユーザーが意図しないUIイベント（例えばDOMイベント等）を行うように仕向ける攻撃です。</p>
<h3>X-FRAME-OPTIONS</h3>
<p>Clickjacking攻撃を避けるためのシンプルな方法としてはX-FRAME-OPTIONSを有効化することです。</p>
<h5><a href="https://github.com/krakenjs/lusca#luscaxframevalue">lusca</a>を使う</h5>
<blockquote>
<p><code>lusca</code> は<a href="https://github.com/krakenjs/lusca/blob/master/LICENSE.txt">Apache license</a>で使えるオープンソースです。</p>
</blockquote>
<pre><code class="language-sh"># In your sails app
npm install lusca --save</code></pre>
<p>そして、<code>config/http.js</code>の中の設定オブジェクトで:</p>
<pre><code class="language-js">  // ...
  // maxAge ==&gt; Number of seconds strict transport security will stay in effect.
  xframe: require('lusca').xframe('SAMEORIGIN'),
  // ...
  order: [
    // ...
    'xframe'
    // ...
  ]</code></pre>
<h3>追加のリソース</h3>
<ul>
<li><a href="https://www.owasp.org/index.php/Clickjacking">Clickjacking (OWasp)</a></li>
</ul>
<docmeta name="uniqueID" value="Clickjacking879453">
<docmeta name="displayName" value="Clickjacking">
<docmeta name="tags" value="clickjacking,ui redress attack">