<h1 id="content-security-policy">Content Security Policy</h1>
<blockquote>
<p>TODO: flesh this section out
<a href="https://www.owasp.org/index.php/Content_Security_Policy" target="_blank">https://www.owasp.org/index.php/Content_Security_Policy</a></p>
</blockquote>
<p>stuff
stuff
stuff</p>
<p><docmeta name="uniqueID" value="ContentSecurityPolicy649437"></docmeta></p>
<docmeta name="displayName" value="Content Security Policy">

</docmeta>