<h1>コンテンツセキュリティポリシー</h1>
<p>コンテンツセキュリティポリシー (CSP)はクライアントブラウザにどんな場所からどんな種類のリソース読み込みが許可されているかを伝えるW3Cスペックです。このスペックはターゲットとなるリソースの種類に関するローをの振る舞いを規定するために「ディレクティブ」を利用します。ディレクティブはHTTPレスポンスヘッダーやHTMLメタタグで指定されます。</p>
<h4>HTTP ヘッダー</h4>
<table>
<thead>
<tr>
<th>ヘッダー</th>
<th>ブラウザ</th>
</tr>
</thead>
<tbody>
<tr>
<td>Content-Security-Policy</td>
<td>(W3C標準) Chrome バージョン25以降、Firefox バージョン23以降、 Opera バージョン19以降</td>
</tr>
<tr>
<td>X-Content-Security-Policy</td>
<td>Firefox バージョン23以前, IE バージョン 10</td>
</tr>
<tr>
<td>X-WebKit-CSP</td>
<td>Chrome バージョン25以前</td>
</tr>
</tbody>
</table>
<h4>サポートするディレクティブ</h4>
<table>
<thead>
<tr>
<th>ディレクティブ</th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td>default-src</td>
<td>検知されたリソースタイプに関するディレクティブが提示がされいない時（フォールバック）</td>
</tr>
<tr>
<td>script-src</td>
<td>保護対象のリソースがどのスクリプトを実行可能かを定義します。</td>
</tr>
<tr>
<td>object-src</td>
<td>保護対象のリソースがどこからプラグインを読み込めるかを定義します。</td>
</tr>
<tr>
<td>style-src</td>
<td>保護対象のリソースがどのCSSを適用できるかを定義します。</td>
</tr>
<tr>
<td>img-src</td>
<td>保護対象のリソースがどこから画像を読み込めるかを定義します。</td>
</tr>
<tr>
<td>media-src</td>
<td>保護対象のリソースがどこからビデオとオーディオを読み込めるかを定義します。</td>
</tr>
<tr>
<td>frame-src</td>
<td>保護対象のリソースがどこから埋め込みフレームを読み込めるかを定義します。</td>
</tr>
<tr>
<td>font-src</td>
<td>保護対象のリソースがどこからフォントを読み込めるかを定義します。</td>
</tr>
<tr>
<td>connect-src</td>
<td>保護対象のリソースがスクリプトインタフェースを使ってどのURI読み込めるかを定義します。</td>
</tr>
<tr>
<td>form-action</td>
<td>どのURIがHTMLのフォーム部品の送信先として利用できるかを定義します。</td>
</tr>
<tr>
<td>sandbox</td>
<td>保護対象のリソースに対して適用されるブラウザのSandboxポリシーを定義します。</td>
</tr>
<tr>
<td>script-nonce</td>
<td>スクリプトエレメントにおいてスクリプト実行に指定された使い捨て乱数を持つことを要求します。</td>
</tr>
<tr>
<td>plugin-types</td>
<td>保護対象のリソースから呼び出される事のできるプラグインのセットを組み込み可能なリソースの種類を限定することで定義します。</td>
</tr>
<tr>
<td>reflected-xss</td>
<td>XSS攻撃をフィルタしたりブロックしたりするためのヒューリスティックを有効化あるいは無効化するようユーザエージェントに指示する、非標準のX-XSS-Protectionヘッダに相当するものです。</td>
</tr>
<tr>
<td>report-uri</td>
<td>ポリシー違反に関してユーザエージェントが通報できるIRLを指定します。</td>
</tr>
</tbody>
</table>
<blockquote>
<p>さらなる情報は<a href="https://w3c.github.io/webappsec/specs/content-security-policy/">W3C CSP Spec</a>をご覧ください。</p>
</blockquote>
<docmeta name="uniqueID" value="ContentSecurityPolicy649437">
<docmeta name="displayName" value="Content Security Policy">