<h1>DDOS</h1>
<p><a href="https://www.owasp.org/index.php/Application_Denial_of_Service">DDOS攻撃</a>への対応はネットワークの上から下まで様々なレイヤーでの対策を含んだ<a href="http://en.wikipedia.org/wiki/Denial-of-service_attack#Handling">複雑な問題</a> です。
この種の攻撃はここ数年Anonymousのようなグループの勢いが増したことで<a href="http://www.darkreading.com/vulnerabilities-and-threats/10-strategies-to-fight-anonymous-ddos-attacks/d/d-id/1102699">悪名高t</a>ものになっています。</p>
<p>APIレイヤーでできる防護策はあまり多くありません。しかしながらSailsではDDOS攻撃を和らげる幾つかの設定を用意しています。:</p>
<ul>
<li>Sailsのセッションは別々のセッションストレージ(<a href="http://redis.io/">Redis</a>のような)が利用可能なように<a href="http://sailsjs.jp/documentation/reference/sails.config/sails.config.session.html">設定</a>することができ、これによって一つのAPIサーバのメモリー状態に依存することなく実行することができます。これはトラフィックに応じた複数のサーバのコピーをデプロイすることが出来るということです。これは<a href="http://en.wikipedia.org/wiki/Load_balancing_(computing)">ロードバランサ</a>を使ってリクエストを空いているサーバに振り分け、単一障害点を排除する事ができるということです。</li>
<li>Socket.ioコネクションは別々の<a href="https://github.com/balderdashy/sails-docs/blob/master/PAGE_NEEDED.md">ソケットストア</a> (例えばRedis)を使ってpub/subステートやメッセージキューを管理できるように<a href="http://sailsjs.jp/documentation/reference/sails.config/sails.config.sockets.html">設定</a>することができます。これはロードバランサーでの固定的なセッションを避けることができ攻撃者と思われる人が何度も何度もサーバを同じサーバにアクセスするのを防ぐことができます。</li>
</ul>
<h3>追加資料</h3>
<ul>
<li><a href="http://engineering.voxer.com/2013/09/16/backpressure-in-nodejs/">Backpressure and Unbounded Concurrency in Node.js</a> (<a href="http://voxer.com/">Voxer</a>)</li>
<li><a href="https://hacks.mozilla.org/2013/01/building-a-node-js-server-that-wont-melt-a-node-js-holiday-season-part-5/">Building a Node.js Server That Won't Melt</a> (<a href="https://hacks.mozilla.org/">Mozilla</a>)</li>
<li><a href="https://www.harrytorry.co.uk/node-js/security-flaws-in-node-js/">Security in Node.js</a> - &quot;Denial of Service&quot;のセクションをご覧ください。 (<a href="https://www.harrytorry.co.uk">Harry Torry</a>)</li>
<li><a href="http://www.ddosattacks.biz/attacks/slowloris-ddos-attack-aka-slow-and-low/">Slowloris DDoSAttacks</a></li>
</ul>
<docmeta name="uniqueID" value="DDOS139869">
<docmeta name="displayName" value="DDOS">