<h1 id="security">Security</h1>
<h3 id="overview" permalink="overview">Overview</h3>
<p>Sails and Express provide built-in, easily configurable protection against most known types of web-application-level attacks.</p>
<p><docmeta name="uniqueID" value="Security59375"></docmeta></p>
<docmeta name="displayName" value="Security">

</docmeta>