<h1>セキュリティ</h1>
<h3>概要</h3>
<p>SailsとExpressにはよく知られているほとんどのWebアプリケーションでレベルでの攻撃から防御することのできる、簡単に設定可能な防御策を内蔵しています。</p>
<blockquote>
<p><strong>備考</strong>: もしSailsに脆弱性を見つけたと思う場合、<a href="https://github.com/balderdashy/sails-docs/blob/master/security/SAILS-SECURITY-POLICY.md">security policy</a> を参考の上ご報告ください。</p>
</blockquote>
<docmeta name="displayName" value="Security">