<h1>myApp/assets/images</h1>
<h3>目的</h3>
<p>このフォルダはアプリケーションの中で静的にホストされたいイメージファイルの置き場所です。</p>
<p>アプリケーションをliftするにあたって<code>omgCat.jpg</code>と呼ばれるファイルは<code>http://localhost:1337/images/omgCat.jpg</code>でアクセス可能です。</p>
<docmeta name="uniqueID" value="imagesmd510380">
<docmeta name="displayName" value="images">