<h1>グローバルを無効化する</h1>
<p>Sailsではどのグローバルを有効化するかを通常 <a href="http://beta.sailsjs.org/#/documentation/anatomy/myApp/config/globals.js.html"><code>config/globals.js</code></a>に配置される<a href="http://beta.sailsjs.org/#/documentation/reference/sails.config/sails.config.globals.html"><code>sails.config.globals</code></a>で判断しています。</p>
<p>全てのグローバル変数を無効化するにはこの設定を単に<code>false</code>と設定してください:</p>
<pre><code class="language-js">// config/globals.js
module.exports.globals = false;</code></pre>
<p><em>いくつかの</em> グローバル変数を無効化するには、その代わりに以下のようにオブジェクトを指定してください。:</p>
<pre><code class="language-js">// config/globals.js
module.exports.globals = {
  _: false,
  async: false,
  models: false,
  services: false
};</code></pre>
<h3>備考</h3>
<blockquote>
<ul>
<li><code>sails</code>を含むいずれのグローバルもSailsが <em>ロードされてから</em> のみ有効ということを覚えておいてください。別の言い方をすると<code>sails.models.user</code> や <code>User</code> は（<code>sails</code>が読み込みを完了していないので）ファンクションの外では使えません。</li>
</ul>
</blockquote>
<!-- もう真実ではありません:
ドキュメントのこの節の大部分はあなたのSailsアプリケーションを代表するシングルトンオブジェクトである`sails`のメソッドとプロパティを紹介することにフォーカスしています。
-->
<docmeta name="displayName" value="Disabling Globals">