<h1>io.socket.request()</h1>
<p>Socket.ioを使ってSailsサーバに仮想的なリクエストを送信します。</p>
<p>リクエストのヘッダーやパラメータ、メソッド、URLへの低レベルなアクセスが提供されているところ以外は<code>io.socket.get()</code>や<code>io.socket.post()</code>などと極めて似ています。</p>
<p>この関数は<code>sails.io.js</code>のJavaScriptクライアントによって提供されており、<strong>ブラウザ</strong> からアクセス可能です。</p>
<h3>使い方</h3>
<pre><code class="language-js">io.socket.request(options, function (data, jwr)){
  // ...
  // jwr.headers
  // jwr.statusCode
  // jwr.body === data
  // ...
});</code></pre>
<h3>使用例</h3>
<pre><code class="language-javascript">io.socket.request({
  method: 'get',
  url: '/user/3/friends',
  params: {},
  headers: {}
})</code></pre>
<docmeta name="uniqueID" value="socketrequest682488">
<docmeta name="displayName" value="io.socket.request()">