<h1>myApp</h1>
<h3>目的</h3>
<p>これはSailsプロジェクトのルートディレクトリです。モデルとコントローラの例外を除き、<code>sails new</code>を実行した時に生成される全てのファイルとフォルダはこの中に入っています。</p>
<docmeta name="uniqueID" value="myAppmd870358">
<docmeta name="displayName" value="myApp">