<h1 id="myapp">myApp</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This is your Sails project&apos;s root directory.  With the exception of your model and controller, all the files and folders that are in it were generated upon running <code>sails new</code> .</p>
<p><docmeta name="uniqueID" value="myAppmd870358"></docmeta></p>
<docmeta name="displayName" value="myApp">

</docmeta>