<h1>myApp/README</h1>
<h3>目的</h3>
<p>これはあなたのアプリケーションに関して記述するために編集できる一般的なREADMEです。</p>
<docmeta name="uniqueID" value="READMEmd869459">
<docmeta name="displayName" value="README">

```
# myApp

[Sails](http://sailsjs.org)で作られたアプリケーションです。

```