<h1 id="myapp-sailsrc">myApp/.sailsrc</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This file is useful for setting configuration for ALL Sails apps on a computer.  You can also use it to extend the functionality of the Sails CLI tool. </p>
<p><a href="http://beta.sailsjs.org/#!documentation/reference/Configuration/Configuration.html" target="_blank">Reference docs for .sailsrc</a></p>
<p><docmeta name="uniqueID" value="sailsrc6419"></docmeta></p>
<docmeta name="displayName" value=".sailsrc">

<pre><code data-language="javascript">{
  &quot;generators&quot;: {
    &quot;modules&quot;: {}
  }
}
</code></pre><!-- __LANG=%%__ -->
</docmeta>