<h1>myApp/.sailsrc</h1>
<h3>目的</h3>
<p>このファイルはコンピュータにある全てのSailsアプリケーションを設定するのに便利です。SailsのCLIツールを拡張するのにも使えます。</p>
<p><a href="http://sailsjs.org/documentation/reference/Configuration/Configuration.html">.sailsrcのドキュメントお読みください</a></p>
<docmeta name="uniqueID" value="sailsrc6419">
<docmeta name="displayName" value=".sailsrc">

```
{
  "generators": {
    "modules": {}
  }
}
```