<h1>ジェネレータ</h1>
<h2>ステータス</h2>
<h5>状態: <a href="http://nodejs.org/api/documentation.html#documentation_stability_index">2</a> - 非安定的</h5>
<p>APIは安定途上にありますがまだ安定していると判断できるほど実世界でテストされていません。</p>
<p>後方互換性は、それが合理的であると判断した場合維持されます。</p>
<h3>目的</h3>
<p>この目的は何でしょうか？</p>
<h3>old partial content from when spec was an itty bitty baby</h3>
<p>ジェネレータは<code>sails new</code>や<code>sails generate</code>コマンドを簡略化し、異なるGruntfilesや設定ファイル、ビューオプション、coffeescriptなどに対してより良いサポートを提供します。</p>
<h4>構造</h4>
<p>ジェネレータは以下のうちいずれかを持っています。:</p>
<p>(1) <code>generate</code>メソッド、または</p>
<p>(2) <code>configure</code> + <code>render</code> メソッド (簡単なケースではrenderは省略可能。)</p>
<p>Sails </p>
<pre><code>    app (appPath + name)
        &lt;- view
        &lt;- folder
        &lt;- jsonfile
        &lt;- file

    api (appPath + name)
        &lt;- controller
        &lt;- model

    controller (appPath + template + name)
        &lt;- file

    model (appPath + template + name)
        &lt;- file

    view (appPath + template + name)
        &lt;- file

    file (destination + name + template + data)

    jsonfile (destination + name + data)

    folder (destination + name)</code></pre>
<docmeta name="uniqueID" value="Generators82739">
<docmeta name="displayName" value="Generators">
<docmeta name="stabilityIndex" value="2">