<h1>利用可能なジェネレータリスト</h1>
<p>このファイルはSailsで利用可能なジェネレータに関する最新の包括的なリストとなることを意図しています。もし忘れているものがあったりジェネレータを書いた時にはリストに追加したうえでPullリクエストを送ってください。</p>
<h3>公式サポートされているジェネレータ</h3>
<h4>sails-generate-generator</h4>
<h6>Githubレポジトリ</h6>
<p><a href="https://github.com/balderdashy/sails-generate-generator/">https://github.com/balderdashy/sails-generate-generator/</a></p>
<h6>NPMで</h6>
<p>'npm install sails-generate-generator`</p>
<h6>内容</h6>
<p>自作のジェネレータを作るためのボイラーテンプレートを生成します。</p>
<h3>コミュニティーレベルでサポートされているアダプタ</h3>
<docmeta name="uniqueID" value="generatorList11719">
<docmeta name="displayName" value="Available Generators">