<h1 id="list-of-available-adapters">List of Available Adapters</h1>
<p>This file is meant to be an up to date, comprehensive list of all of the generators available for the Sails.js framework.  If we missed one or you would like to add a generator you&apos;ve made, just submit a Pull Request to this file, adding to the list.</p>
<h3 id="officially-supported-generators" permalink="officially-supported-generators">Officially Supported Generators</h3>
<h4 id="sails-generate-generator" permalink="sailsgenerategenerator">sails-generate-generator</h4>
<h6 id="github-repo">Github Repo</h6>
<p><a href="https://github.com/balderdashy/sails-generate-generator/" target="_blank">https://github.com/balderdashy/sails-generate-generator/</a></p>
<h6 id="on-npm">On NPM</h6>
<p>&apos;npm install sails-generate-generator`</p>
<h6 id="description">Description</h6>
<p>Generate the boilerplates to make your own generator.</p>
<h3 id="community-supported-generators" permalink="community-supported-generators">Community Supported Generators</h3>
<p><docmeta name="uniqueID" value="generatorList11719"></docmeta></p>
<docmeta name="displayName" value="Available Generators">
</docmeta>