<h1>パーシャル</h1>
<p>Sailsはビューのレンダリングコードで<code>ejs-locals</code>を利用します。そのためビューでは次のようなことが出来ます:</p>
<pre><code>&lt;%- partial ('foo.ejs') %&gt; </code></pre>
<p>これで<code>/views/foo.ejs</code>に配置されているパーシャルをレンダー出来ます。全てのローカルは自動的にパーシャルに受け渡されます。</p>
<p>パスはパーシャルを読み込もうとしているビューに対して相対的です。そのため、ビューが<code>/views/users/view.ejs</code>にあり、<code>/views/partials/widget.ejs</code>を読み込もうとしているときは以下のようにすべきです：</p>
<pre><code>&lt;%- partial ('../../partials/widget.ejs') %&gt; </code></pre>
<p>もう一つ、備考：パーシャルは同期的にレンダリングされます。そのため、ロードが終了するまでの間Sailsが別のリクエストに対応するのをブロックしていしまいます。これは特に多くのコネクションに対応すべきアプリケーションを開発する際には気に留めておいてください。</p>
<p>備考：ejs以外のテンプレート言語を使う場合、使用する言語のパーシャルやブロックなどの文法が適用されます。それぞれのやり方や構文に関しては各言語のドキュメントでご確認ください。</p>
<docmeta name="uniqueID" value="Partials610916">
<docmeta name="displayName" value="Partials">