<h1>ビューエンジン</h1>
<p>Sailsのデフォルトのビューエンジンは<a href="https://github.com/visionmedia/ejs">EJS</a>です。</p>
<h5>ビューエンジンを取り替える</h5>
<p>別のビューエンジン使うにはnpmを使ってインストールし、<code>sails.config.views.engine</code>(<a href="http://sailsjs.org/documentation/anatomy/myApp/config/views.js.html"><code>config/views.js</code></a>にあります。)を設定する必要があります。</p>
<p>例えばjadeに切り替えるには<code>npm install jade --save-dev</code>を実行し、<a href="http://sailsjs.org/documentation/anatomy/myApp/config/views.js.html"><code>config/views.js</code></a>に<code>engine: 'jade'</code>を設定します。</p>
<h5>サポートしているビューエンジン</h5>
<ul>
<li><a href="https://github.com/soywiz/atpl.js">atpl</a></li>
<li><a href="https://github.com/akdubya/dustjs">dust</a> <a href="http://akdubya.github.com/dustjs/">(website)</a> (.dust)</li>
<li><a href="https://github.com/sstephenson/eco">eco</a></li>
<li><a href="https://github.com/baryshev/ect">ect</a> <a href="http://ectjs.com/">(website)</a></li>
<li><a href="https://github.com/visionmedia/ejs">ejs</a> (.ejs)</li>
<li><a href="https://github.com/visionmedia/haml.js">haml</a> <a href="http://haml.info/">(website)</a></li>
<li><a href="https://github.com/9elements/haml-coffee">haml-coffee</a> <a href="http://haml.info/">(website)</a></li>
<li><a href="https://github.com/wycats/handlebars.js/">handlebars</a> <a href="http://handlebarsjs.com/">(website)</a> (.hbs)</li>
<li><a href="https://github.com/twitter/hogan.js">hogan</a> <a href="http://twitter.github.com/hogan.js/">(website)</a></li>
<li><a href="https://github.com/visionmedia/jade">jade</a> <a href="http://jade-lang.com/">(website)</a> (.jade)</li>
<li><a href="https://github.com/shinetech/jazz">jazz</a></li>
<li><a href="https://github.com/kof/node-jqtpl">jqtpl</a> <a href="https://github.com/kof/jqtpl">(website)</a></li>
<li><a href="https://github.com/baryshev/just">JUST</a></li>
<li><a href="https://github.com/chjj/liquor">liquor</a></li>
<li><a href="https://github.com/bestiejs/lodash">lodash</a> <a href="http://lodash.com/">(website)</a></li>
<li><a href="https://github.com/janl/mustache.js">mustache</a></li>
<li><a href="https://github.com/jepso/QEJS">QEJS</a></li>
<li><a href="https://github.com/Rich-Harris/Ractive">ractive</a></li>
<li><a href="https://github.com/paularmstrong/swig">swig</a> <a href="http://paularmstrong.github.com/swig/">(website)</a></li>
<li><a href="http://archan937.github.com/templayed.js/">templayed</a></li>
<li><a href="https://github.com/malgorithms/toffee">toffee</a></li>
<li><a href="https://github.com/documentcloud/underscore">underscore</a> <a href="http://documentcloud.github.com/underscore/">(website)</a></li>
<li><a href="https://github.com/jeremyruppel/walrus">walrus</a> <a href="http://documentup.com/jeremyruppel/walrus/">(website)</a></li>
<li><a href="https://github.com/gsf/whiskers.js">whiskers</a></li>
</ul>
<h5>カスタムのビューエンジンを追加する</h5>
<p>上記のリストに無いビューエンジンを追加するには<a href="https://github.com/visionmedia/consolidate.js/blob/master/Readme.md#api">consolidate project</a> レポジトリをご確認ください。</p>
<docmeta name="uniqueID" value="ViewEngines339501">
<docmeta name="displayName" value="View Engines">